[2018-08-17 11:08] gvmani commented on #348
Tried relief camps and person search, not returning results. Not sure if there is data added.

[2018-08-17 11:09] bobinson commented on #337
duplicate of  #125 #225 #232 #248 #249 #252

[2018-08-17 11:09] #337 closed

[2018-08-17 11:10] xaneem commented on #348
Data is not added. Please be patient.

[2018-08-17 11:13] camaheshv commented on #325
Do you know where we get the name of camps ? I have names of 42 camps in Kakkanad and Trippunuthura. Working on it to get more details about it

[2018-08-17 11:25] irshadshalu commented on #240
@criscod The discrepancies in data is caused by making the GPS and Accuracy Field editable for a short time. (Users could enter almost anything as mentioned in #225 . This was fixed later and a PlacePicker is being implemented.

[2018-08-17 11:28] criscod commented on #240
Great to hear that. Thanks for the info :)

[2018-08-17 11:28] Vijayabhaskar96 opened #351 "inconsistent latlong format in /data"
### Subject of the issue
The latlong data in https://keralarescue.in/data/ has an inconsistent format

Some look like this: Neeleeswaram temple
(This isn't even helpful)
Some look like this: 9°20'39.0" N 76°36'04.8"E
Others look like this: 8.5605784,76.8813206
(I think this is how every record should be)

[2018-08-17 11:28] tusharpl opened #352 "Name field on Contact Us Page on rescuekerala should be in malayalam and english"
### Subject of the issue
Most of the Name field in "Contact Us" page on keralarescue.in are in english. The ones for malappuram and thrissur have most of the names in malayalam. To make it easy, all of them should be malayalam and english.

### Your environment
* Python 3
* Chrome v66
* Llnux - Fedora

### Steps to reproduce
Click on Contact Us image on main page of keralarescue.in and select any

[2018-08-17 11:32] devvb commented on #348
Any chance data can be pumped in? I am sure there are sources... the site is meant to be the mouth piece of the Kerala Gov, so would really help.

[2018-08-17 11:35] dhananjaipai opened #354 "Rescue Nearby functionality missing"
### Subject of the issue
If I have excess food/water/cloth, I should be able to geo-locate requests from places nearby for specific resources and be able to provide them the same easily.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
It is a feature request

### Expected behaviour
I should have an endpoin

[2018-08-17 11:42] rajeeshr-punathil commented on #284
A quick PR with a couple of changes to improve some of the DB queries: https://github.com/IEEEKeralaSection/rescuekerala/pull/356

[2018-08-17 11:43] #248 closed

[2018-08-17 11:43] yaseralivp commented on #320
![img1](https://user-images.githubusercontent.com/16204646/44264401-180e5800-a240-11e8-8c44-5cc25c1ddb31.png)

I think this will give a better view,
Provide a max-height to the div `<div id="requests-table" class="table-responsive">` and place the div `<div class="pagination">` as a sibling of `<div id="requests-table" class="table-responsive">`

[2018-08-17 11:45] abhilal007 commented on #307
@sanjuwdr   I think modal is a good idea it is responsive enough to work on both Mobile and PC

[2018-08-17 11:50] bohemianjock opened #357 "District needs and collection points not updated"
### Subject of the issue
The link for district needs and collection points returns an empty table.

### Your environment
* Python 3
* Chrome 68
* Linux Mint

### Steps to reproduce
Gather data and display it

### Expected behaviour
Table showing the district,items requires and collection point
### Actual behaviour
Blank table

[2018-08-17 11:51] DivyaRaviDivya opened #358 "Page title need to be displayed."
### Subject of the issue
Page Title is not available for pages like "Registered request","Request for help" etc

### Your environment
* version of your python : NA
* which browser and its version : Chrome
* OS Type (iOS/Android/Linux/Windows) : Android

### Steps to reproduce

1.Go to https://keralarescue.in
2. Click on menu options available in the page.(eg: request for help )
3.Navigate to pages

[2018-08-17 11:57] camaheshv commented on #325
https://drive.google.com/file/d/0B87GnrHsMIX0OXZEZVp0SkVBV3ROOXNNdkw1UW5tb3VuV1Y4/view?usp=drivesdk

[2018-08-17 12:01] kurianbenoy commented on #348
I had tested by adding relief camps in my local server and it works perfectly fine @bobinson

[2018-08-17 12:01] kurianbenoy commented on #348
You can close this issue

[2018-08-17 12:07] zahlekhan commented on #357
![screenshot 18](https://user-images.githubusercontent.com/27266434/44265439-23638280-a244-11e8-807d-537e07b6c042.png)
Seems to be working on my side.

[2018-08-17 12:08] realslimshanky opened #360 "PEP8 should be followed"
### Subject of the issue
A major part of the entire codebase doesn't follow [PEP8](https://pep8.org/) guidelines which should be refactored. This is necessary because it increases code readability and the existence of Python depends on this fundamental principle.

### Your environment
Irrespective of the environment. Style guide is necessary.

[2018-08-17 12:10] subins2000 commented on #358
I'll work on this

[2018-08-17 12:12] bohemianjock commented on #357
![needs](https://user-images.githubusercontent.com/26796930/44265585-d59b4a00-a244-11e8-9922-4ca07e31297d.png)

For me It's not.@zahlekhan

[2018-08-17 12:17] bohemianjock commented on #357
Seems to be a problem with my server

[2018-08-17 12:17] #357 closed

[2018-08-17 12:23] bobinson opened #361 "enable caching for /data"
### Subject of the issue
auto generate  keralaresruce.in/data

[2018-08-17 12:25] #360 closed

[2018-08-17 12:25] bobinson commented on #360
can't look into this now.

[2018-08-17 12:28] bobinson commented on #354
will be added support via #20

[2018-08-17 12:28] batpad commented on #361
Just to try and throw colour on exactly what (I think) is needed here:

Every 1 minute or so, we need to query the database, and output the JSON that should be available at `/data` to a static file. Then, `/data` can always be served as a static file, so will not hit the database for every request, etc.

So, however we do this - every 1 minute (or so), we want something to trigger a python functio

[2018-08-17 12:30] sreevenkat commented on #305
Created a pull request [here](https://github.com/IEEEKeralaSection/rescuekerala/pull/362). Need to remove the listing dots in the picture below for the checkboxes. If anyone knows to make it look better please comment here.
![screen shot 2018-08-17 at 5 54 16 pm](https://user-images.githubusercontent.com/6355926/44266238-6bd06f80-a247-11e8-9a8f-0c01add98daa.png)

[2018-08-17 12:32] criscod commented on #240
It is possible to query [Wikidata](https://www.wikidata.org/) and visualize in a map types of Points of Interest around the coordinates in the rescue requests. See the map I generated with this query as an example:
[code]
(Query executed at: ```https://query.wikidata.org/```).

Would this be of any help, if we create map visualizations that show e.g., schools, malls, metro stations to concentrate

[2018-08-17 12:37] bobinson commented on #351
data cleansing effort is on. Closing.

[2018-08-17 12:37] #351 closed

[2018-08-17 12:44] bobinson commented on #318
#20

[2018-08-17 12:44] #318 closed

[2018-08-17 12:45] DivyaRaviDivya opened #364 "Application gets hang when switch between options - show rescue needed,request made for other,show all request."
### Subject of the issue

Application gets hang when switch between options - show rescue needed,request made for other,show all request.

### Your environment
* version of your python : NA
* which browser and its version : chrome
* OS Type (iOS/Android/Linux/Windows) : Android

### Steps to reproduce
1. Go to Request Map page
2.Switch b/w options show rescue needed,request made for other,show all

[2018-08-17 12:47] sreejithc321 opened #365 "Server Error (500)"
### Subject of the issue
https://keralarescue.in/request/ is down now?

6:17 PM
Friday, 17 August 2018 (IST)

[2018-08-17 12:48] shan-vm opened #366 "Server Error (500) cannot access website"
Server Error (500)

[2018-08-17 12:48] subins2000 commented on #361
Why not have a CRON job to remake the /data every minute or so ?

[2018-08-17 12:48] cijo7 commented on #364
This is because a lot of data need to be downloaded and processed. Data fetch takes about 1 sec and then it must be processed. Mobile devices will hang. There must be more efficient end points to fetch near by data only.

[2018-08-17 12:50] shan-vm commented on #366
![screen shot 2018-08-17 at 3 49 12 pm](https://user-images.githubusercontent.com/6676205/44266978-2efb7d00-a235-11e8-832c-dc6bd40a4c25.png)

[2018-08-17 12:51] shan-vm commented on #366
OK. Now.

Some kind of glitch...

[2018-08-17 12:51] #366 closed

[2018-08-17 12:51] namboodiri commented on #365
It has been fixed now.

[2018-08-17 12:52] MansoorMajeed commented on #361
On a different note, we don't really have to do that. We can cache the `/data` end point for a few seconds using Nginx or varnish. That way, each request won't hit the DB and instead will be served from the cache

[2018-08-17 12:54] #365 closed

[2018-08-17 12:54] tusharpl commented on #343
Thanks. Anybody else working on reviewing the entries. Lot of entries are in malayalam so crowdsourcing should help in addition to the sheet created by adamshamsudeen.

[2018-08-17 12:54] cibingeorge commented on #361
Do this really need to be exposed? Can we pagenate this?

[2018-08-17 12:55] subins2000 commented on #361
Enabling caching for /data specifically in CloudFlare will help too

[2018-08-17 12:55] remedcu commented on #352
Can you please list the links so that someone can work on that ASAP.

[2018-08-17 12:57] realslimshanky commented on #365
@sreejithc321 please close the issue is you are not having any more trouble.

[2018-08-17 12:59] batpad commented on #361
I think this would be the ideal solution. However, right now, the app is running with `gunicorn` with Heroku (which I think has some sort of load balancer in front) - hence setting this up may require deeper infrastructural changes.

I think that's exactly the current plan.

It is currently being used by the map page. I would agree though, paginating it and having the map page fetch separate pages

[2018-08-17 13:01] MansoorMajeed commented on #361
@subins2000 Yes, that should work too
@cibingeorge I'm with you. This is a single json with the phone numbers and addresses of a lot of people. Any malicious party will be able to simply download it and use it for whatever they need.
We should not be exposing this.

As a hack, we can host it on a different port and allow only the mapping app to connect to it through firewall

[2018-08-17 13:07] remedcu commented on #297
This issue can be closed I believe.

[2018-08-17 13:10] batpad commented on #361
The mapping app is just another URL that will need to fetch this URL anyway and anyone with malicious intent would be able to call the URL directly, whether on a port or not.

If there is a concern about sensitive data being exposed via the API, this is being exposes in more places than just the `/data` end-point. I think it is a valid issue, but I think we should make a separate issue for this an

[2018-08-17 13:10] saraann opened #367 "Can a facilty to add the GPS coordinates manually be added?"
It can help people who post request on behalf of others to add their gps coordinates manually.

[2018-08-17 13:13] advaithhl opened #368 "Minor typo in popup box on clicking 'Request for help'"
### Subject of the issue
Dialog box misspells keralarescue.in as keralaresue.in
(Misses 'c' in rescue)

### Your environment
* Python 3
* Firefox 61.0.1
* macOS

### Steps to reproduce
Go to keralarescue.in/request
keralarescue.in in point # 1 is misspelled.

### Expected behaviour
Change spelling in the dialogue box

### Actual behaviour
keralarescue.in in point # 1 is misspelled.
![screen shot 2

[2018-08-17 13:13] advaithhl commented on #368
I'm on it

[2018-08-17 13:14] remedcu commented on #311
I believe that is being done in #305

[2018-08-17 13:14] gladiatorvarg commented on #295
The way I would approach this is by getting first X records within the bounding box of the map. If the map shows whole of Kerala, get the first 1000 records. But as user zooms in bounding box changes.

[2018-08-17 13:15] saraann opened #369 "Can a list for foodavailable here, alocalsupplies here be added?"
This can help to connect with people who already have food prepared and ready. They might need to know where to give it, or whom to connect with for transport.
A list of already available places for food, tools, supplies, boats, rescue, etc.

[2018-08-17 13:16] realslimshanky commented on #350
I'm working on this issue.

[2018-08-17 13:16] johnsamuelwrites commented on #367
It's already there. Please check the screenshot below: https://keralarescue.in/request/. Are you talking about this?
![screenshot_2018-08-17 kerala rescue](https://user-images.githubusercontent.com/8275121/44267918-48e69100-a230-11e8-87c4-5060cc417f97.png)

However, there is an issue https://github.com/IEEEKeralaSection/rescuekerala/issues/225

[2018-08-17 13:18] saraann commented on #367
That is not working. When I click requesting for others, the text boxes goes off and if I dont tick the requesting for others, the gps coordinates text boxes are greyed off and disabled. It cannot be added manually. That is the problem

[2018-08-17 13:19] salmanulfarzy commented on #350
Multiple PRs exist to add UPI into contributing pages.

[2018-08-17 13:25] MansoorMajeed commented on #361
@batpad Fair enough. There is an issue already here https://github.com/IEEEKeralaSection/rescuekerala/issues/308

[2018-08-17 13:29] johnsamuelwrites commented on #367
You can mark this as a duplicate of https://github.com/IEEEKeralaSection/rescuekerala/issues/304. It seems to be handled in https://github.com/IEEEKeralaSection/rescuekerala/pull/289. However, the merge is causing issues.

[2018-08-17 13:30] advaithhl commented on #368
Oh, but I had been working on that.

[2018-08-17 13:32] saraann commented on #367
Ok, thank you.

[2018-08-17 13:33] saraann commented on #367
Thank you. Duplicate of #304

[2018-08-17 13:33] #367 closed

[2018-08-17 13:33] #287 closed

[2018-08-17 13:34] pranavashok commented on #352
https://keralarescue.in/contactus/?district=

[2018-08-17 13:35] remedcu commented on #352
That needs database access to edit the names.

[2018-08-17 13:38] pranavashok commented on #352
If someone can transliterate it, then we can ask those who have database access to update it.

[2018-08-17 13:43] realslimshanky commented on #358
I'm working on resolving this issue.

[2018-08-17 13:52] johnsamuelwrites commented on #348
The list is still empty: https://keralarescue.in/relief_camps/?district=

[2018-08-17 13:55] shanavas786 opened #376 "Add filters to tables"
### Subject of the issue
Add javascript based filters to tables
This would make tables more accessible and reduce some load on server

[2018-08-17 13:59] bobinson opened #379 "filtering map - show only camps and collection centers to map them to supply stuff"
### Subject of the issue

Kerala Flood Resources - Updated Live - Google My Maps
Kerala Flood Resources - Updated Live
https://www.google.com/maps/d/thumbnail?mid=19pdXYBAk8RyaMjazX7mjJIJ9EqAyoRs5

Basically we need a way to see only camps and collection centers to map them to supply stuff

### Expected behaviour
we need a way to see only camps and collection centers to map them to supply stuff

#

[2018-08-17 14:06] bodhish commented on #379
Possible to add makers in our map, if we have list of locations

[2018-08-17 14:08] devvb commented on #348
Sure, there may not be a bug. However, there is no information on who is administering the site. If you do, can you chase them to have the data populated. This is about making the most of the tool. Right now, there is nowhere (as far as I know) where relief camps are being listed and its surely impeding work on the ground!

[2018-08-17 14:08] cyriac opened #380 "Unable to run migration"
### Subject of the issue
Unable to run migrations

### Your environment
* python 3.6
* Chrome (not applicable to the issue)
* Mac OS

### Steps to reproduce
Clone the repo and run `./manage.py migrate`

### Expected behaviour
Migration runs

### Actual behaviour
Fails with following error.
[code]

[2018-08-17 14:08] ajaykanayil commented on #379
Adding to this, location points are misplaced... Pointers are showing all over the world and location links are not navigating to actual location... Check the screenshot -
<img width="1920" alt="screenshot 2018-08-17 19 35 12" src="https://user-images.githubusercontent.com/7960725/44270420-1f8c2c00-a255-11e8-8a61-5a39904bdd18.png">

[2018-08-17 14:11] biswaz commented on #380
Fixed in https://github.com/IEEEKeralaSection/rescuekerala/commit/139f704bd669a6393762862baab1919246fe3f2f

[2018-08-17 14:11] #380 closed

[2018-08-17 14:11] bodhish commented on #379
@ajaykanayil its problem with the data.

[2018-08-17 14:12] harish2704 commented on #379
If we have the data, may be we can use fusiontables https://support.google.com/fusiontables/answer/2527132?hl=en to display data in map quickly . ( I m Not sure . )

[2018-08-17 14:13] tusharpl opened #382 "For self requesting option GPS Coordinates are not updated for Safari browser"
### Subject of the issue
For iOS safari, for self requesting option (https://keralarescue.in/request/) i.e. when allow location is set to "OK"  and requesting for others option is unchecked then the GPS coordinates are not picked up.

The same page on Chrome works fine on iOS.

### Your environment
* iPhone 8, IOS
* Safari
* iOS  11.4

### Steps to reproduce
Open https://keralarescue.in/request/,

[2018-08-17 14:13] cyriac opened #383 "Unused font loaded"
### Subject of the issue
Unused font Montserrat loaded from Google fonts

### Your environment
* Python 3.6
* Chrome 68.0.3440.106
* Mac OS High Sierra

### Steps to reproduce
Run the server and check for fonts loaded via Dev Tools.

### Expected behaviour
Does not load the font from google fonts.

### Actual behaviour
Loads the font from google fonts even though it is not used.

[2018-08-17 14:14] harish2704 commented on #379
We may need to manually remap locations from admin panel after checkig the descriptions.

Is any one co ordinating this task or is this in our plan?

[2018-08-17 14:14] midhunkrishna commented on #361
If this is running on heroku, then we have used https://devcenter.heroku.com/articles/scheduler with high reliability in the past. @batpad

[2018-08-17 14:16] harish2704 commented on #379
This happened because we were collextig locations of reporting devices. There was no way to provide location manually

[2018-08-17 14:17] AparnaJW commented on #20
Can requestee phone number be the basis of closing /updating a case?

[2018-08-17 14:17] harisvsulaiman commented on #312
Hi, im developing an app with react native https://github.com/harisvsulaiman/keralarescueapp

[2018-08-17 14:19] visakhsuku commented on #251
can i add translation to other pages too?

[2018-08-17 14:25] Vijayabhaskar96 commented on #379
@ajaykanayil the data has wrong information about coords because they are people reporting for people in Kerala from abroad. but reporting as themselves in danger mistakenly.

[2018-08-17 14:25] mnbvcxz010308 commented on #379
https://www.google.org/our-work/crisis-response/

[2018-08-17 14:31] bodhish commented on #379
@all if someone can make a db/list with {name, location, category}

I can plot it in 'keralarescue.in/map'

[2018-08-17 14:33] a-thomas-ny commented on #379
request is to see only camp and collection centers... but not seeing any coordinate option in the admin side...
![image](https://user-images.githubusercontent.com/7717754/44271756-f9d93580-a208-11e8-820e-45386ac27224.png)

[2018-08-17 14:35] mnbvcxz010308 commented on #379
@ajaykanayil  @bobinson  Why can't we simple check on the data points before mapping ? It will avoid mapping out of Kerala geo location.

[2018-08-17 14:38] harish2704 commented on #379
@bodhish  You can download the data from that map using download KML file option
![image](https://user-images.githubusercontent.com/1652903/44272004-3e8cbd00-a259-11e8-9cfb-43eab7fa5c82.png)
 Will it help?

[2018-08-17 14:38] bodhish commented on #379
Any way we could crowd source this data?

[2018-08-17 14:39] vkmrishad opened #390 "Location not opening in new tab."
Please check URL: https://keralarescue.in/map/#
![screen shot 2018-08-17 at 8 06 15 pm](https://user-images.githubusercontent.com/18536460/44271956-1bfaa400-a259-11e8-99e6-7628d44e4892.png)

Anyone already working maps. Please do the required changes in JS file.
https://github.com/IEEEKeralaSection/rescuekerala/blob/master/static/js/map.js

[2018-08-17 14:41] bodhish commented on #379
Can you make a list and share in slack?

[2018-08-17 14:44] mnbvcxz010308 commented on #379
Exactly. Or we can embed it

[2018-08-17 14:44] var23rav commented on #317
Feature available https://keralarescue.in/find_people/

How the user can post the rescued people details.

[2018-08-17 14:45] mnbvcxz010308 commented on #379
Also, crisis map from google.org would also help. We need to check it out.

[2018-08-17 14:46] bismillakhans opened #391 "enter location manually data goes on field " others needs""
![screenshot from 2018-08-17 20-10-47](https://user-images.githubusercontent.com/28209728/44272368-3da85b00-a25a-11e8-89e6-9ab315fccbb0.png)
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo

[2018-08-17 14:46] #317 closed

[2018-08-17 14:48] pranavashok commented on #383
This was handled in #222, but it's yet to be merged.

[2018-08-17 14:49] MansoorMajeed commented on #361
An update on cloudflare caching: Cloudflare's minimum cache expiry for free account is 2 hours. To get 1 minute expiry, we will need the business account. This is not feasible.

[2018-08-17 14:49] KuttanMalayali opened #393 "Relief Camp details are not available"
### Subject of the issue
The list of Relief camps are not available on search, this should be taken care as to identify the nearest safe place.

[2018-08-17 14:50] johnsamuelwrites commented on #393
Check https://github.com/IEEEKeralaSection/rescuekerala/issues/325. This is currently in progress.

[2018-08-17 14:51] camaheshv commented on #379
bros please tell if this will help. Centres in Kakkanad, Thripunithura, Kalamassery along with Google map link

https://docs.google.com/spreadsheets/d/1qJq7IrrpTP3YkKJMrNRAdwOiq0BE4LY86iS7USdNU_s/edit#gid=1185028958

[2018-08-17 14:51] anandkp92 opened #394 "Have a new field to enter approximate number of people"
this will help rescue operations to plan and organize.

Make it optional

[2018-08-17 14:52] var23rav opened #395 "Find people feature not giving any result"
### Subject of the issue
Find people feature not giving any result
https://keralarescue.in/find_people/?name__icontains=&phone__icontains=&address__icontains=kollam&district=&notes__icontains=&gender=0&camped_at=

### Your environment

### Steps to reproduce
Search people by adding any value to find people form

### Expected behaviour
Putting any value to any of the text field, wont give any resul

[2018-08-17 14:55] anandkp92 commented on #240
@kannankumar I agree, I've raised an issue to have a field to input approx number of people at location. More than urgency, it might help planning the evacuation

[2018-08-17 14:55] bodhish commented on #379
@bobinson I got the data. Can map this in our maps.
Working on it

[2018-08-17 14:59] renjithraj2005 commented on #382
@tusharpl I tried to reproduce, but it is working fine on iPhone 7. Can you recheck ?

[2018-08-17 15:09] sivaramankh commented on #343
Is this working well? Can I share this on whatsapp groups?

[2018-08-17 15:10] renjithraj2005 commented on #382
https://stackoverflow.com/questions/3791442/geolocation-in-safari-5

[2018-08-17 15:15] bobinson commented on #379
@bodhish  - which is the source of the data ?

This i used to ship supply from the logistic control room in tvm

[2018-08-17 15:16] bodhish commented on #379
@Bobinson, Google maps

[2018-08-17 15:18] mkakash commented on #379
how to add a new mark in google rescue map

[2018-08-17 15:42] riginoommen commented on #376
@shanavas786 i see there are tables on the https://keralarescue.in/requests/ can you please  share where you can see it

[2018-08-17 15:45] tusharpl commented on #382
Thanks I re-checked. It works on iphone 7 but does not work on iphone 8 (both on wifi and on airtel 4G network).  The moderators could put the priority as low.

[2018-08-17 15:54] rohithrkrk opened #399 "Please try to bring registered request status also for each request-"
Please try to bring registered request status also for each request-
--Whether it is rescued or Not

[2018-08-17 15:57] #361 closed

[2018-08-17 16:02] harish2704 commented on #379
@bodhish : I was unable to get the data from KML file as I said in my prev comment. KML file only have GPS cordinates for just one point. I don't know why

[2018-08-17 16:05] nithin19888 opened #402 "QR code to display in https://keralarescue.in/reg_contrib/"
### Subject of the issue
CM relief fund redirection (https://donation.cmdrf.kerala.gov.in/) loading too slow and hence recommended to display the QR codes directly in this page,  https://keralarescue.in/reg_contrib/ for easy transfer

[2018-08-17 16:05] harish2704 commented on #379
But, I understand that, we can do bulk geo coding using fusion tables. that is , import csv with location ( as string ) in fusiontables, and google will mark the points on map after doing geocoding

[2018-08-17 16:29] dipukp opened #404 "In the "Person Search Page", camp list should be shown based on District selected"
### Subject of the issue
In the "Person Search Page", camp list should be shown based on District selected. If no district is selected, all camps should be shown in the pull down. If a district is selected, only camps in that district should be shown. The pull down list is going to be very large as more are more camps are going to be added.

### Your environment
All Browsers

### Steps to reproduc

[2018-08-17 16:31] shan-vm opened #405 "Suggestion : To reduce Icon & English font size and Malayalam little bigger.Other state people residing in Kerala"
Suggestion :
1. To reduce Icon & English font size and Malayalam little bigger.
2. How to address other state people residing in Kerala(Can we user google builtin translator or something like that)

![screen shot 2018-08-17 at 7 28 08 pm](https://user-images.githubusercontent.com/6676205/44277534-b5bf5280-a253-11e8-9b37-e8d6d2fa6d37.png)

[2018-08-17 16:33] bodhish commented on #379
@harish2704 try that

[2018-08-17 16:35] biswaz opened #407 "Need to add a license file"
We require a license file.

Anyone with knowledge of opensource licensing please suggest a suitable one.

[2018-08-17 16:36] barrenmoor commented on #407
I guess we should use MIT license - https://en.wikipedia.org/wiki/MIT_License

[2018-08-17 16:38] dipukp commented on #395
I think it is because the data has not been entered yet. Please test later and check if there is really an issue.

[2018-08-17 16:38] salmanulfarzy commented on #402
Duplicate of #25
Duplicate of #36
Duplicate of #52
Duplicate of #90
Duplicate of #141
Duplicate of #350

[2018-08-17 16:38] xaneem commented on #325
![requirements](https://user-images.githubusercontent.com/4448331/44277953-093c9b00-a26a-11e8-9891-55efa3d0234e.png)

<img width="1217" alt="coordinator" src="https://user-images.githubusercontent.com/4448331/44277954-0b065e80-a26a-11e8-8827-d3630ec984d7.png">

Done in PR #406

[2018-08-17 16:40] gauravsaini commented on #402
SOUTH INDIAN BANK PAYMENT GATEWAY SERVICES
Internet Banking - 50 banks supported
Domestic Credit and Debit Cards supported

payment charges: Nil ACCOUNT DETAILS
A/c Number : 0721053000002584
A/c Name: Chief Minister’s Distress Relief Fund
Branch : Corporate Branch, Thiruvananthapuram
IFSC : SIBL0000721

https://donation.cmdrf.kerala.gov.in//assets/images/upi-southindianbank.png

FEDERAL BANK PAYME

[2018-08-17 16:41] #220 closed

[2018-08-17 16:42] vmwsree opened #408 "Why are we still using char feild to store latlng,"
### Change charfield
We should be using an extra field store them as two floats or polyfield because to find nearest people through Django queries. other wise it has to be processed in frontend

[2018-08-17 16:44] tittuvarghese opened #409 "Collecting group photos from rescue shelters and publishing"
### Identifying people after the rescue is hard.
Rather than collecting names why can't we take group photos and publish the same in the website with shelter location and contact? So that their relatives and friends can easily track down.

[2018-08-17 16:45] SavioMenifer commented on #379
@harish2704 @bobinson it is possible to make a copy of the map and delete the unwanted categories from the copy, as i have done [here.](https://www.google.com/maps/d/viewer?mid=1MUx585eNKKbiWoMdKi1-Hs0dRO9iOSiZ&ll=10.131576801923242%2C76.09216694682618&z=8) Just select the unwanted category and use the backspace key to delete.

[2018-08-17 16:45] remedcu commented on #407
According to open source license, if we don't use any license page in open source programming, that means it doesn't have open access to anyone.

Please mention the level of access you intend to give to others, so that others also can recommend you some license type.

Source: https://stackoverflow.com/a/13669816/7520013
https://choosealicense.com/no-permission/

[2018-08-17 16:47] batpad commented on #408
+1 to this. Can we outline the work involved to do this? As I see it:

 - add dependencies required for GeoDjango
 - Add a PointField column to the Request model
 - write a management command / script to parse existing lat-lngs and where parseable, populate the PointField for existing Requests.
 - switch to saving to this PointField in the Request form submission
 - switch out all APIs to return J

[2018-08-17 16:47] namboodiri commented on #409
That sounds a lot more easy and effective. +1

[2018-08-17 16:48] tachyons commented on #408
Backward compatibility

[2018-08-17 16:49] remedcu commented on #405
Resource: https://translate.google.com/manager/website/

[2018-08-17 16:49] gauravsaini commented on #350
https://github.com/IEEEKeralaSection/rescuekerala/issues/402#issuecomment-413922583

[2018-08-17 16:50] Lijo050 commented on #407
As this is a crowd sourced open platform, please use MIT license

[2018-08-17 16:50] batpad commented on #408
This would be for data consumers, right? So the lat-lngs should be returned the same way as they currently are - this is on the `/data` end-point .. anywhere else?

[2018-08-17 16:54] remedcu commented on #407
If we are adding an any License, please don't forget to add a clause about #308 as after this chaos, another chaos can start based on the data available.

We need another volunteer group equipped with mobile and a certain level of database access to contact those who are listed in the website and call them and ask for their whereabouts and if they are saved or not and if they have reached a safe h

[2018-08-17 16:55] riginoommen commented on #407
@biswaz MIT makes sense to this project

[2018-08-17 16:56] tachyons commented on #408
For the data which is already present in the database, there will be corrupted or non standard records in var char field. It is to be cleaned up before changing the field type, otherwise data will be lost

[2018-08-17 16:56] arjun23496 commented on #272
If it is still not fixed, I can take this up. We can use a simple "levenstein distance" to find similar names. [https://en.wikipedia.org/wiki/Levenshtein_distance](https://en.wikipedia.org/wiki/Levenshtein_distance)

[2018-08-17 17:00] gauravsaini commented on #346
@adamshamsudeen Can you also add the donation images in another tab in the sheet.
Refer to https://github.com/IEEEKeralaSection/rescuekerala/issues/402#issuecomment-413922583

[2018-08-17 17:01] syam3526 commented on #407
we can use MIT licence

[2018-08-17 17:02] barrenmoor commented on #407
Raised #410

[2018-08-17 17:02] mkurian opened #412 "Publish requests and donations available to help connect the demand and supply as much as we can"
### Subject of the issue
I'm trying to channelize all requests for supplies and provider info for relief camps in one place: @CampKerala twitter handle and spreadsheet http://goo.gl/ScQAD.

Feature request: Can we add this on the homepage? Right now the info is ephemeral in nature and there is timeliness to the requests. Can you request people to post details to @CampKerala twitter handle? I'll po

[2018-08-17 17:02] shan-vm commented on #405
@remedcu I did your suggestion

[2018-08-17 17:02] syam3526 commented on #407
@biswaz lets go with MIT

[2018-08-17 17:03] SajinSabu commented on #348
Data's are added and link is working now.

[2018-08-17 17:03] SajinSabu commented on #348
It is under testing.

[2018-08-17 17:03] gauravsaini opened #413 "Create Telegram channel instead of Slack"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-17 17:04] nithin19888 commented on #350
+1

[2018-08-17 17:04] kevin-madhu commented on #214
Anyone working on this? If it's needed I'm ready to help with this. But I need more info to get started. We need to finalize the kind of data we should collect as people sending SMS/USSD cannot be asked to provide an overwhelming amount of data.

[2018-08-17 17:05] syam3526 commented on #413
we already have 900+ people in slack so another movement is not possible.

[2018-08-17 17:05] ManuGMathew commented on #240
Hi all, I just came across this discussion. If it helps, the number of days they have been stuck on a rooftop would be an important factor to determine urgency. if we use the notebook code given by @anandkp92 to search for "days" in the description field, we end up with 2 kinds of entries.
a. People stuck in a place since N days. (This group would be close to running out of provisions if any)
b. N

[2018-08-17 17:06] syam3526 commented on #413
closing this issue as its a wont fix

[2018-08-17 17:06] #413 closed

[2018-08-17 17:06] aravindkrishnanmit commented on #407
yup MIT works better.

[2018-08-17 17:11] batpad opened #414 "Implement efficient full text search in postgres"
### Subject of the issue

This is related to https://github.com/IEEEKeralaSection/rescuekerala/issues/309 but I think warrants a separate issue, since naive `btree` indexes will not work to do `icontains` / `%ILIKE%` queries in the db.

There's a reasonable `contrib.search` module in django that implements Postgres full text search capabilities and I propose we use it for fields where we need to d

[2018-08-17 17:11] batpad commented on #414
cc @cibingeorge

[2018-08-17 17:12] anurajvalliyil opened #415 "Relif Camp not listing"
Search with Eranakulam ..No relie camp listing

Select District to see Relief Camps
District:
No relief camps listed for this district yet.

[2018-08-17 17:13] xssChauhan opened #416 "Add Fixtures for initial data"
### Add fixtures
Add fixtures to provide initial data to the models.
This is necessary for testing. More importantly, it is handy for testing the search functionality and other core features.

[2018-08-17 17:17] riginoommen commented on #407
#410 - Created merge Requests

[2018-08-17 17:25] dipukp commented on #415
See also #395
Data not made available yet is the cause for many such stuff. Need to contact the right people with this data to get it populated.

[2018-08-17 17:26] Sreelal-c opened #418 "Feature Request: Stock And Requirements Listings"
It would be so helpful if we can list and show all available stocks excess stocks and request for requirements in each each relief center

[2018-08-17 17:28] bobinson commented on #408
any performance impact due to incorrect data type ?

[2018-08-17 17:28] bobinson commented on #418
#20

[2018-08-17 17:28] #418 closed

[2018-08-17 17:29] bobinson commented on #405
@shan-vm  - please get it tested

[2018-08-17 17:33] whiletruelearn opened #419 "Make the mobile number a primary key to avoid duplicate entries"
### Subject of the issue
Make the mobile number a primary key to avoid duplicate entries

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

- At current state a volunteer or someone can enter duplicate entries

### Expe

[2018-08-17 17:35] batpad commented on #414
Fair enough - let's keep the scope of this to "for the text search queries, ensure an index in postgres is being hit" - does that sound right?

[2018-08-17 17:39] yeaske commented on #419
@whiletruelearn Instead of primary key, it can be an unique constraint. Even then, there is an edge case where same person creating two+ requests with his phone number for separate items. The trade off seems skewed compared to the implications. A warning of duplicate phone number rather than a restriction might be a workaround.

[2018-08-17 17:41] batpad commented on #408
This will need some manual cleaning. Also, I would recommend keeping the existing field so the data can be extracted if needed.

So the reason to do this as I see it is to enable proximity / bounding box filtering for the map view. This will allow optimizations on the map page that would allow it to avoid having to fetch ALL data like it currently does. So, it's not an immediate impact - and refac

[2018-08-17 17:42] anithark21 commented on #402
![qrcode](https://user-images.githubusercontent.com/37607672/44280639-f7132a80-a272-11e8-82bc-6ca62210df45.png)

[2018-08-17 17:43] bodhish commented on #379
@bobinson
Maps as of your requirement.

https://drive.google.com/open?id=1DtDap-r23FTq1ns7xdsEHIiYe63SvGVl&usp=sharing

Will take time for this to showup on `/map`

[2018-08-17 17:44] Albin-John commented on #419
@yeaske ya it makes sense.

[2018-08-17 17:46] akshaim opened #421 "Relief Camp Maps with camp details"
### Subject of the issue
Relief camp tagged and viewed in google maps with following details:

1. Title/Address of relief camp.
2. Image(s) of/from Relief Camp.
3. Contact Number(s).
4. Number of People Accommodated.
5. Food Availability.
6. Food in transit status [Estimated time of arrival]
6. Requirements, with priority tags.

It seems control room will take a bit more time to collect exact deta

[2018-08-17 17:46] arjun-pp commented on #212
Its a CreateView Generic. So the request body should be same as the Request in serialized format.

`{
  'dateadded': '2018-08-16T09:17:58.895Z',
  'detailcloth': '',
  'detailfood': '',
  'detailkit_util': '',
  'detailmed': '',
  'detailrescue': '',
  'detailtoilet': '',
  'detailwater': '',
  'district': 'ekm',
  'id': 6765,
  'is_request_for_others': False,
  'latlng': '10.0021295,76.3230197',

[2018-08-17 17:48] remedcu opened #422 "Manually Updating the DB"
### Updating DB
We are getting many inputs in the website from different people but how many are being updated with respect to the current situation?

For that, I believe we need to have a small team of volunteer to call these people and ask about their current situation and if they are still having problem, then we can contact the respective helpline based on what their issues are. Ideally every

[2018-08-17 17:49] riginoommen opened #423 "[Critical] - Find Relief camp drop down button returns no data"
### Subject of the issue & Steps to reproduce
Describe your issue here.
1) Visit  Relief Camps | ദുരിതാശ്വാസ ക്യാമ്പുകൾ  Page
2) Select a district name
3) No data is shown on template

### Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.
<img width="1792" alt="screen shot 2018-08-17 at 11 13 34 pm" src="https://user-images.githubusercontent.com/3840244/4428

[2018-08-17 17:49] bhumilharia opened #424 "Add a link to /find_people (with preset camp filter) from the /coordinator_home page."
### Subject of the issue
Currently, it is possible for Relief Camp coordinators to register people and update requirements from `$SERVER_NAME/coordinator_home/`. The way to view all the people in the camp is via the `/find_people` page. It would be very handy for coordinators to be able to simply view all the people registered under their camps.

This is likely a low priority, but something conven

[2018-08-17 17:50] shan-vm commented on #405
@bobinson
I did test on my side with other web pages.
I am not familiar with Django/Python

[2018-08-17 17:50] riginoommen commented on #423
I believe this page is accessed many people at a time.

[2018-08-17 17:55] sachushaji commented on #409
Its a nice idea +1

[2018-08-17 17:55] remedcu commented on #423
I can only see data when selecting Thrissur. I guess it is not a programmatic problem, rather a lack of data problem.

[2018-08-17 17:56] cyriac opened #426 "Remove whitespace characters from rendered html pages"
### Subject of the issue
Remove whitespace in the rendered html pages to save bandwidth.

### Your environment
* Python 3.6.5
* Chrome
* Mac OS High Sierra

### Steps to reproduce
Open any page and check the source.

### Expected behaviour
Non-rendering whitespace characters removed from all the pages.
This is easy to fix by using `spaceless` template tag. https://docs.djangoproject.com/en/2.1/ref

[2018-08-17 17:57] barrenmoor opened #427 "Need CMDRF donations' account info to be updated"
### Subject of the issue
The Chief Ministers Distress Relief Fund donation page does not carry some important details like name on account, account type, SWIFT code etc. This needs to be updated especially since we will also have NRIs trying to contribute who will use SWIFT code for transfers.

### Your environment
N/A

### Steps to reproduce
Go to: https://keralarescue.in/reg_contrib/

### Expect

[2018-08-17 17:59] whiletruelearn commented on #419
@yeaske A warning sounds like a good feature .

I am sorry , but i can't wrap my head around why  anyone trying to look out for help would make multiple requests with the same number. Ideally one person among a group of people who are together and stuck in a location would be requesting right? What am i missing here?

Also  `request on the behalf of someone` is a field for doing something similar

[2018-08-17 18:02] barrenmoor commented on #427
Raised #429

[2018-08-17 18:04] bobinson commented on #415
#20 and inventory listing.

[2018-08-17 18:05] asimqt commented on #85
@sengar23 We removed that font in some PR. NOt sure whether it's merged or not.

[2018-08-17 18:06] bobinson commented on #416
need more info

[2018-08-17 18:08] bobinson commented on #408
+1

[2018-08-17 18:09] bobinson commented on #422
need to address via #20

[2018-08-17 18:09] #422 closed

[2018-08-17 18:10] #426 closed

[2018-08-17 18:11] pyup-bot opened #432 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2018-08-17 18:12] #325 closed

[2018-08-17 18:15] anurajvalliyil opened #435 "Push notification for the website"
Hi I have created a push notification registration for the site ..
So that we can send messages through site easily ..
Can any one add the following code for push notification and provide the official messages to me I can publish it.
1. Include PushEngage Code
Please include any one of the types - Async or Legacy code, but don't add both the types.

Async Version

Include the following code in the

[2018-08-17 18:15] adityakuppa26 opened #436 "update contributor table"
add blood group field in case they wish to donate blood.

[2018-08-17 18:16] bobinson commented on #435
submit a PR

[2018-08-17 18:17] shan-vm commented on #405
@vrthra Can you help

[2018-08-17 18:19] itssujeeth opened #438 "Probable Data Issue"
### Subject of the issue
Submitted a request for another person -

1. Entered details manually and location was disabled as the request was being made for another person.
2. Waited for 20+ mins
3. The details entered can’t be seen on map.
4. Used https://keralarescue.in/data/ to fetch completed data.  The entered details are not present.

### Your environment
Not applicable

### Steps to reproduce

[2018-08-17 18:21] #438 closed, assigned to nobody

[2018-08-17 18:22] dipukp opened #439 "Dev Improvement: Instructions for setting up Docker environment for development/testing"
### Subject of the issue
People who use docker may find it easy to setup the dev/test environment in Docker, instead of installing multiple software on their machines.

### Steps to reproduce
Not an issue, but an improvement

### Expected behaviour
Instructions are added to setup the Docker environment

[2018-08-17 18:25] itssujeeth commented on #438
Thanks - How do we track the request?

[2018-08-17 18:27] benjoseph commented on #350
If information is available for how to make international donations, please add that too.

[2018-08-17 18:28] adityakuppa26 commented on #436
@vigneshhari it would be the contributor who donates blood right , so adding blood group there would be helpful to sort out the samples.

[2018-08-17 18:28] #427 closed

[2018-08-17 18:28] bobinson commented on #329
#439

[2018-08-17 18:30] jose2007kj commented on #423
how shall i help @bobinson

[2018-08-17 18:31] dipukp commented on #439
Someone with docker environment, please test out the steps and confirm if things are working fine as expected. Thanks!

[2018-08-17 18:31] bobinson commented on #423
fixing the issue

[2018-08-17 18:32] jose2007kj commented on #423
ok @bobinson

[2018-08-17 18:32] mritunjaygoutam12 opened #442 "No need of district drop down option in request form"
### No need of district drop down option in request form

 if we are hitting  $.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=' + crd.latitude + '&lon=' + crd.longitude + '&zoom=18&addressdetails=1')

we can extract more data from response which avoid unnecessary filling of data.

[2018-08-17 18:34] vigneshhari commented on #436
try to make for both then

[2018-08-17 18:37] #242 closed

[2018-08-17 18:38] bobinson commented on #442
please give more details

[2018-08-17 18:40] bobinson commented on #435
kept as low priority now

[2018-08-17 18:41] #432 closed

[2018-08-17 18:42] bobinson commented on #394
#20 will handle this.

[2018-08-17 18:42] #394 closed

[2018-08-17 18:43] lijoantony commented on #423
@jose2007kj Are you working on this?

[2018-08-17 18:44] bobinson commented on #409
#20 can handle this.

[2018-08-17 18:44] #409 closed

[2018-08-17 18:44] yeaske commented on #419
@whiletruelearn

There is no predicting user behavior in crisis situation. Hence warning rather than restriction is the compassionate approach, considering all the unknown edge cases involved. Again, this is just an opinion.

[2018-08-17 18:44] barrenmoor commented on #423
@remedcu - Wondering how can Thrissur have like 15 relief camps registered and no other district has anything listed!

[2018-08-17 18:44] jose2007kj commented on #423
no shall i test this

[2018-08-17 18:44] #270 closed

[2018-08-17 18:45] bobinson commented on #364
closing as this may be a sporadic issue.

[2018-08-17 18:45] #364 closed

[2018-08-17 18:45] bobinson commented on #399
#20 will handle this

[2018-08-17 18:45] #399 closed

[2018-08-17 18:47] adityakuppa26 commented on #436
@vigneshhari  could you please figure out why the pull request has been failing.

[2018-08-17 18:47] lijoantony commented on #423
@jose2007kj No pull request yet, I am afraid.

[2018-08-17 18:48] bobinson commented on #390
PR #403 tested and verified.

[2018-08-17 18:49] riginoommen commented on #423
@jose2007kj Please share the fix lets test it if it goes well we can go ahead

[2018-08-17 18:50] lijoantony commented on #423
Looks like data needs to be populated.
Can anyone help with that?

[2018-08-17 18:54] malgamves commented on #402
Anyone working on this?

[2018-08-17 18:57] namboodiri commented on #442
That we can use an open streetmap api with the lat and long to get the details like place, district, postcode etc rather than making the user input them.
eg: https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=9.324561&lon=76.580721&zoom=18&addressdetails=1

[2018-08-17 18:58] namboodiri commented on #442
<img width="686" alt="screen shot 2018-08-18 at 12 27 50 am" src="https://user-images.githubusercontent.com/2396024/44283968-950bf280-a27d-11e8-8048-1dff76444ffb.png">

[2018-08-17 18:59] zahlekhan commented on #421
![whatsapp image 2018-08-18 at 12 27 32 am](https://user-images.githubusercontent.com/27266434/44284020-c2f13700-a27d-11e8-8521-a200ffa42693.jpeg)

[2018-08-17 19:00] zahlekhan commented on #421
![whatsapp image 2018-08-18 at 12 27 32 am](https://user-images.githubusercontent.com/27266434/44284065-e74d1380-a27d-11e8-96df-dd31f7746c45.jpeg)

[2018-08-17 19:01] zahlekhan commented on #415
![whatsapp image 2018-08-18 at 12 27 32 am](https://user-images.githubusercontent.com/27266434/44284108-0cda1d00-a27e-11e8-97fb-d73862fdec6e.jpeg)

[2018-08-17 19:02] ananthuma opened #447 "Resource/Food Management Required. Food getting wasted some places."
### Subject of the issue
Resource/Food Management option Required
### Your environment
NA
### Steps to reproduce
Some places food is excess and some places are not getting enough. We need a target based food donation platform. So that the contributors will pledge amout of food they can provide
If any camps achieved the target they can select nearby camps. In that way we can reduce the food wastage

[2018-08-17 19:06] riginoommen commented on #279
Please see websockets also while on this issue  - https://www.fullstackpython.com/websockets.html

[2018-08-17 19:06] dipine commented on #240
Maybe clustering with a decision tree will help to better serve them.
Step 1. Clustering people based on number of days (N1Cluster)
Step 2.  Group Clusters(N1Cluster) which are nearby (geofencing with radius x km) will speed up the process

Decision Tree -> running which clusters has to be given high prioritises by (medic,food, airlift) so that each further nodes we can serve critical; mean while

[2018-08-17 19:07] a-thomas-ny opened #449 "TWO NEW OPTIONS MAY SAVE PEOPLE"
### Subject of the issue
https://www.youtube.com/watch?v=pGYtk8tmZyc&feature=youtu.be  I HAVE AN IMPORTANT REQUEST. THERE ARE 60 PAGES OF REQUESTS UNDER ALAPPUZHA https://keralarescue.in/requests/?district=alp&requestee__icontains=&requestee_phone=&location__icontains=. CAN WE GIVE A QUICK CHECK BOX OPTION OR DROP DOWN TO LIST THE RESCUE REQUESTS? ALSO, GIVE THE OPTION TO THE PUBLIC TO CHANGE THE

[2018-08-17 19:07] riginoommen commented on #435
https://www.fullstackpython.com/websockets.html web sockets are also good here

[2018-08-17 19:07] bobinson commented on #447
inventory management. Needs extensive work including scheduling and routing

[2018-08-17 19:08] camaheshv commented on #412
@mkurian unable to access your spreadsheet, can you please give the link again ? I am looking for camps in Ernakulam district

[2018-08-17 19:08] jerrydon commented on #439
#37

[2018-08-17 19:09] nravic commented on #415
Do they need to be populated manually?

[2018-08-17 19:10] theryecatcher commented on #279
There is a PR #296 under testing. Please work on websockets if it won't put extra load on the server. Priority would be to serve the pages as soon as possible seieng low connection speeds.

[2018-08-17 19:10] naveenpf commented on #221
In production now

[2018-08-17 19:10] #221 closed

[2018-08-17 19:12] ananthuma commented on #447
I will do this.

[2018-08-17 19:13] nravic commented on #447
I'll take a look at this

[2018-08-17 19:16] bobinson commented on #449
understand the importance and we are working on this. will be addressed with #20

[2018-08-17 19:16] #449 closed

[2018-08-17 19:17] namboodiri commented on #423
Is there some way to copy the data from here?
[Kerala Flood Resource - Google Map](https://www.google.com/maps/d/u/0/viewer?mid=19pdXYBAk8RyaMjazX7mjJIJ9EqAyoRs5&shorturl=1&ll=11.33307747196499%2C76.11276631206056&z=10)
I was able to export the kml file and convert it to csv. But the lat_long data was not available.

[2018-08-17 19:19] bobinson commented on #447
@nravic - marked as working on it

[2018-08-17 19:24] devakumar opened #450 "Request status and seriousness - sorting and resource distribution"
### Request status and seriousness - sorting and resource distribution
Some of the issues might not be applicable now or may be resolved. We need to have tags for different needs and sort the requests accordingly. Based on the descriptions tags can be auto generated and may be give preference while presenting. With this we can have analytics as to how much of food, water, clothes or rescue are req

[2018-08-17 19:26] bobinson commented on #450
will be addressed in #20

[2018-08-17 19:26] #450 closed

[2018-08-17 19:26] pranavashok commented on #57
Issue still reproducible.

[2018-08-17 19:27] bobinson commented on #391
issue not clear.

[2018-08-17 19:27] #391 closed

[2018-08-17 19:28] gvmani commented on #415
#393

[2018-08-17 19:31] nandit123 commented on #436
i am working on this and will report as soon as possible.

[2018-08-17 19:32] adityakuppa26 commented on #436
@vigneshhari  @syam3526  done and ready to be merged .

[2018-08-17 19:33] drtechie opened #453 "[Enhancement] GPS location selection is a bit confusing"
### GPS location selection enhancement

PR #266 and #289 addressed a similar issue.
Dev work on 266 was stopped in favour of 289 which was merged.

I clicked the GPS coordinates field multiple times but it is not editable. The enter location manually button is at the end of the form which I noticed later. Feel it's better to be keep the button next to the gps field.

289 had loaded open maps for p

[2018-08-17 19:33] pranavashok commented on #63
PR #268 seems to have fixed this issue. Probably it could be closed.

[2018-08-17 19:35] dipine opened #455 "Maps showing invalid locations outside the effected zones"
### Maps showing invalid locations outside the effected zones
In the live website based on the request types the information shown should be correct.

### Browser
* Chrome
* OS Type (Windows)

### Steps to reproduce
1. Go to https://keralarescue.in/map/#
2. Click on Rescue needed
         Shows even request made for others which are not part of effected zone (ex : Bangalore)

### Expected behaviou

[2018-08-17 19:35] naveenpf commented on #423
Not a issue. Yet to add data from ground

[2018-08-17 19:35] #423 closed

[2018-08-17 19:36] pranavashok commented on #72
This issue can be closed now.

[2018-08-17 19:39] pranavashok commented on #133
This issue is still reproducible.

[2018-08-17 19:40] riginoommen commented on #423
@namboodiri can we use Google APIs to pull the information https://cloud.google.com/maps-platform/products/

[2018-08-17 19:40] neelkrish opened #456 "Add people finder as a widget in home page"
### Subject of the issue
The person search (currently in relief camp)should be its own widget in the home page
### Your environment
* python3
*firefox
*Ubuntu

### Steps to reproduce
Open https://keralarescue.in
click on Relief Camp widget
You will see a blue button for Person search

### Expected behaviour
A user friendly option would be to have this in the home page as its own widget or search b

[2018-08-17 19:40] aravindharinair commented on #402
I'm not experienced in Django but I'm comfortable with HTML/CSS. I'll see what I can do.

[2018-08-17 19:43] vrthra commented on #72
Closing this since https://keralarescue.in/map/ is available.

[2018-08-17 19:43] #72 closed

[2018-08-17 19:44] biswaz commented on #212
Waiting for Dev from Google to join. License was added by their request.

[2018-08-17 19:45] bobinson commented on #453
There too many issues around it starting from #125

Badly need someone to fix the validations. If this not working by tomorrow, we will switch to https://www.ushahidi.com/

[2018-08-17 19:46] bobinson commented on #455
duplicate of #453 #125 etc ---> request to send a PR if possible.

[2018-08-17 19:46] a-thomas-ny opened #457 "NGO Registration error"
### Subject of the issue
Phone number field is not accepting the international number. Without country code number can become a local India number

### Your environment
All browsers

### Steps to reproduce
Just try to register as a real NGO

### Expected behaviour
Phone number should accept different international formats instead of changing the end user behaviour and UX

### Actual behaviour
Givi

[2018-08-17 19:46] r3dsm0k3 commented on #439
I've sent a PR fixing this issue #445

[2018-08-17 19:48] nravic commented on #457
fixing rn

[2018-08-17 19:52] nworden commented on #212
Hi,
Does anyone know where the code in progress for this is? It doesn't look like Jobin's pushed commits up to GitHub yet.

[2018-08-17 19:56] #455 closed

[2018-08-17 19:57] johnsamuelwrites commented on #436
Also take a look at this issue: https://github.com/IEEEKeralaSection/rescuekerala/issues/308 (personal information).

[2018-08-17 19:57] bobinson commented on #457
given high priority as this will help a lot of people

[2018-08-17 20:00] nravic commented on #457
Considering the circumstances, I'm changing the model field. We don't *need* it to be a number, so I'm going to store it as a charField

[2018-08-17 20:02] johnsamuelwrites commented on #393
Currently, there are results for Thrissur: https://keralarescue.in/relief_camps/?district=tcr

[2018-08-17 20:03] arjunkomath commented on #402
Working on it.

[2018-08-17 20:03] muraleedharanm opened #459 "Google integration"
### Integration with Google to leverage findaperson and google maps
Integration between google and Keralarescue.in to collaborate and share information across for effective volunteering activities.
1) Share findaperson details to keralarescue.in and create a request for help. SImilarly, share the request for help related to rescue operation with google
2) Capture and publish the location of camps

[2018-08-17 20:05] galahad commented on #276
https://documenter.getpostman.com/view/182878/RWToQdF1 from Saifur Rahman Mohsin

[2018-08-17 20:06] bobinson commented on #459
This will impact #20

[2018-08-17 20:07] bobinson commented on #456
We will take this up little later as adding widgets etc will slow down the page load and we are trying to keep the page size as minimum as possible also #459 will get some of this working

[2018-08-17 20:07] ghosthawkone commented on #404
Not working on it any more.

[2018-08-17 20:12] naveenpf commented on #421
Not all are updating gps co-ordinates. We have to manually fix this
https://keralarescue.in/relief_camps/?district=

[2018-08-17 20:12] aravindharinair commented on #402
@arjunkomath , I'm also working on it.
I think I have it but I don't know how to test it...

[2018-08-17 20:13] Neonkraft opened #462 "Testing PR instructions in Readme do not work for clones of forks"
The instructions assume that the repository is cloned directly from IEEEKeralaSection/rescuekerala
Must add note to change `origin` to `upstream` in case of clones of forks.

[2018-08-17 20:14] arjunkomath commented on #402
Follow the instruction shows [here](https://github.com/IEEEKeralaSection/rescuekerala) to setup and test locally.

[2018-08-17 20:16] aravindharinair commented on #402
Ok. Thank you. I'll test it out and let you know.

[2018-08-17 20:16] riginoommen commented on #404
this issue looks duplicate of #423

[2018-08-17 20:17] riginoommen commented on #404
Data has added in production environment

[2018-08-17 20:25] alokbabu opened #463 "SMS Module for updating rescue information via SMS"
Can we build a SMS sender module which sends enquiry to all requested numbers -> get response from them via SMS -> process it programatically and check if they are rescued and update status?

Also can be used for passing information.

[2018-08-17 20:30] answerquest commented on #421
We've started a channel called #relief-center-site towards this in the slack network. For initial work a group of us felt that going lower-tech and just making shared google spreadsheets could be something to start with. One file per district, and in each file, one worksheet per camp. The camp's sheet's write access would be given to lead volunteers at the relief camp or volunteers keeping in cons

[2018-08-17 20:42] aravindharinair commented on #402
I was late, apparently. :/
Anyway, this is how it looks.
Is it fine?
@colonelrascals has already submitted a PR, so I'm not repeating it...

![qr added](https://user-images.githubusercontent.com/19900170/44287872-123e6400-a28c-11e8-84d9-50f3a225aaa3.png)

[2018-08-17 20:47] malgamves commented on #463
We can use Twilio for that.

[2018-08-17 20:49] lunaroyster commented on #343
@sivaramankh Yeah, things seem to be holding up.

[2018-08-17 20:49] lunaroyster commented on #343
Data's available here: https://us-central1-keralarescue-fef8e.cloudfunctions.net/getUrgencies

[2018-08-17 20:57] var23rav opened #469 "Dummy Data to fill the database"
### Subject of the issue
It will be better to have dummy data to see how the system works in a flow.

### Your environment

### Steps to reproduce
Now after you do the local setup, most of the  link gives warning messages.

### Expected behaviour
Expected to have see the basic functionality with some dummy data.
eg: Volunteer, Issues, Camp..

### Actual behaviour
Warning in most of the place

[2018-08-17 21:06] arjunkomath commented on #402
@aravindharinair I've added the full info:

![donations-info](https://user-images.githubusercontent.com/2555067/44288856-dc48b200-a282-11e8-860a-56155d87aea3.png)

[2018-08-17 21:14] ragsagar commented on #469
Please check if you are able to download it from here https://keralarescue.slack.com/archives/CCASHFV2B/p1534485614000100

[2018-08-17 21:15] karikkan opened #471 "GPS coordinates field is disabled."
### GPS field is not active while request for others..

[2018-08-17 21:18] roginthomas opened #472 "Map showing help request outside kerala."
Use this code to filter the map outside kerala. I added a regex fuction to filter data,

def mapdata(request):
    district = request.GET.get("district", "all")
    data = cache.get("mapdata:" + district)
    if data:
        return JsonResponse(list(data) , safe=False)
    if district != "all":
        data = Request.objects.exclude(latlng__exact="").filter(district=district,latlng__regex=r'^[7,8

[2018-08-17 21:18] ssat335 commented on #471
Can you please elaborate a bit. Reproduce the error. Thanks.

[2018-08-17 21:24] ssat335 opened #473 "Convert phone number field to international format"
Phone number field is not accepting the international number. Without country code number can become a local India number
Your environment

All browsers
Steps to reproduce

Just try to register as a real NGO
Expected behaviour

Giving message " Please enter a number" Screenshot below. (Also, ICNA reported this issue to me when I informed them to use this portal. Screenshot below)
image

[2018-08-17 21:27] yeaske commented on #469
Please use this as a workaround until you have valid test data:
https://github.com/IEEEKeralaSection/rescuekerala/wiki/Create-Dummy-data

[2018-08-17 21:28] johnsamuelwrites commented on #471
Already discussed in https://github.com/IEEEKeralaSection/rescuekerala/issues/304.

[2018-08-17 21:29] binithb commented on #240
Does this requirement ( making sense of data) need to be on the same website/platform(keralarescue.in itself) or can it  be on a different platform? I mean it will be good to have everything on the same platform but then it might be easier to export this data on other tools and generate whatever visualizations we need..

[2018-08-17 21:29] johnsamuelwrites commented on #473
Refer https://github.com/IEEEKeralaSection/rescuekerala/issues/457

[2018-08-17 21:35] ssat335 commented on #457
Skip Person model? They can be null.

[2018-08-17 21:36] amalmurali47 commented on #240
@binithb I don't think it needs to be on the same platform. The data analysis can be carried out on a different machine/server/platform, and after processing the data, the results can be presented on the website.

[2018-08-17 21:39] lunaroyster commented on #240
@binithb I think a closely developed network of tools is a good idea for these kind of projects.

I've created a [website](http://kerala-crowdsource.itsarnavb.me) that's trying to categorize requests from keralarescue.in on the basis of their urgency. Creating a separate project is a good idea, since you can move faster and roll out new features quickly.

[2018-08-17 21:39] akshaim opened #474 "Feature Request - SMS Acknowledgement after form submission"
Priority - Low
Acknowledge FORM data, Limited to 160 Characters, after form submission.
#463

[2018-08-17 21:40] sks444 commented on #473
Would be great if you could fix it in https://github.com/IEEEKeralaSection/rescuekerala/pull/470 and have a single migration file for all the Altered Field.

[2018-08-17 21:42] ranjur opened #475 "Request for others, issue with location"
### Subject of the issue
Request for others, if checked and unchecked remove the location details

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to

[2018-08-17 21:44] securitydaemon opened #476 "Feature request please - integrate a real-time/crowd-sourced map?"
Can we integrate a real-time/crowd sourced map showing flooded roads and areas?
A good example of such a map/location service is the following:
https://www.microid.in/keralaflood/#6.47/10.55/77.701

[2018-08-17 21:49] alokbabu commented on #463
@malgamves  I am not familiar with Twiliio. But if this can help we are happy with it. could @naveenpf @biswaz some acknowledges and set it to high priority.

[2018-08-17 21:53] roginthomas commented on #472
URL : https://keralarescue.in/map/

This map showing location outside the state kerala. If you what to filter the list of points outside kerala, you can modify the fuction mapdata() in view.py.

[2018-08-17 21:55] #475 closed

[2018-08-17 22:04] giju commented on #20
Guys , What is the status of this one . If this feature is not implemeted , you can use this .

https://keralafights.com/manage/

We have pulled the data from keralarescue.in and created a ticketing system here.
As of now we have 30K tickets there .  Right now , we can make use of community to do a dedupe check , call and confirmation and corresponding status updates and resolved , the Govt offici

[2018-08-17 22:04] arjunkomath commented on #463
Twilio might not be suitable as it doesn't have Indian numbers for programmable SMS capability.

https://support.twilio.com/hc/en-us/articles/223183068-Twilio-international-phone-number-availability-and-their-capabilities?_ga=2.145032564.1360996784.1534542834-166318080.1534542834

Currently India number only supports Toll free incoming calls. I didn't find support for SMS. If we send SMS from inte

[2018-08-17 22:08] ahumblenerd commented on #459
@muraleedharanm Awaiting confirmation.

[2018-08-17 22:09] sandeep-ps commented on #471
There is a button "Enter location manually" at the bottom to add the location manually. It can be used when requesting help on behalf of others. This was merged in https://github.com/IEEEKeralaSection/rescuekerala/pull/289. I think this issue can be closed.

[2018-08-17 22:12] alokbabu commented on #463
@arjunkomath  I am not familiar with Twilio. Could you take a look at this please https://www.twilio.com/sms/pricing/in looks to me like it supports in India. If not we could try msg91. Please check this https://www.quora.com/Which-companies-provide-two-way-send-and-receive-SMS-API-for-India

[2018-08-17 22:12] #457 closed

[2018-08-17 22:13] r3dsm0k3 opened #481 "Test data for development"
### Subject of the issue
To make the test data available for local dev, we could create a small dump (the bare minimum) and load it in the docker container for db (only after merging #445 though)

It can done easily by done by mounting a volume into the container and rest is taken care.

### Sample setup
[code]

and in the `dev-files` folder

[code]

Lets hear the thoughts on this one, triage it a

[2018-08-17 22:15] binithb commented on #240
![image](https://user-images.githubusercontent.com/1933844/44290921-6856db80-a27b-11e8-9b19-803af8c2a069.png)

That's a quick prototype of what can by done using Tableau public. It can also be embedded on web pages. I am assuming data privacy is not a concern right now. If this is good enough and there are no other concerns we can discuss how to get this data automatically. This prototype is creat

[2018-08-17 22:15] arjunkomath commented on #463
@alokbabu I've used Twilio before, It is possible to send SMS to India, but the problem is that the **from** number will be international. So, people will have to respond by replying to an international number, I'm not sure if that is an ideal solution. Let me check alternatives.

[2018-08-17 22:18] sourceflakes commented on #439
@dipukp Any particular reason why you are not using a separate feature branch to develop?

[2018-08-17 22:24] batpad opened #482 "Post request data to Ushahidi instance"
We want to push data about requests to our Ushahidi instance as well, to aid in visualizing and giving a ticketing system.

The way this would (probably) work:

 - Setup a `post-save` signal handler in the django code, which will take the data for a newly created `Request` and push it to the Ushahidi instance.

Below is some sample code to make a request to the Ushahidi instance with some data. Th

[2018-08-17 22:26] sourceflakes commented on #439
@dipukp Refer how PL# 445 the forked repo has a clean feature branch(just an example).

[2018-08-17 22:27] mkurian commented on #412
You can simply link to http://keralafloodrescue.com/

[2018-08-17 22:28] ssat335 commented on #473
Closing as some other commit has been pulled.

[2018-08-17 22:28] #473 closed

[2018-08-17 22:30] arjun-pp commented on #463
https://www.gupshup.io/developer/messaging-apis is a good vendor for Indian numbers. SMS Template approval can take some time. Mention emergency situation in email.

[2018-08-17 22:30] batpad commented on #481
Similar to #469

[2018-08-17 22:31] batpad commented on #416
Similar to #481 #469

[2018-08-17 22:38] nikhildev4nk commented on #20
@giju  Great Work bro...

One suggestion. Can you make an open portal(page) where somebody can just come in and put their mobile number and mark safe. No need to display the request or anything. Just capture mobile number and allow them to mark safe. This we can share to relief centers(+) and ask them to update.

And then we can use these mobile numbers to put a separate status for the related req

[2018-08-17 22:57] droidmanspace opened #485 "Add Phone Number Field Validation to avoid incorrect informations"
### Subject of the issue
Many people entering a place or other alphabet characters in the field of **"Phone"**. Please add phone number validation to the input field.
--
### Your environment
* Python 3.6.5
* Chrome
* Android/Linux/Windows

### Steps to reproduce
Apply some condition checks. After only it must be stored in DB.

### Expected behavior
Check for input whether it is number and length a

[2018-08-17 23:04] a-thomas-ny commented on #457
Is this pushed to production? https://keralarescue.in/NGO/ Still not working

[2018-08-17 23:06] nworden commented on #212
All right, I don't know what the status of existing efforts here is, but I don't know where to find the code that's been written, so I'll start fresh. One obstacle is that Person Finder data is structured differently (has some fields Kerala Rescue doesn't and vice-versa). Two questions:
a) Would it be all right to add a free text field, so that we could at least include the data Person Finder from

[2018-08-17 23:33] ssat335 commented on #457
I am working on this.

[2018-08-17 23:36] binithb commented on #212
@nworden If I understand correctly you are looking to push GPF data to KR? If so how are you planning to do that? I guess there is no rest interface in KR that you can push to (or is there)? Would you like to have a REST interface at KR side so that you can POST GPF data easily?

[2018-08-17 23:38] r3dsm0k3 opened #488 "Phone Input should pop up a phone keyboard on mobile browsers"
### Subject of the issue
Right now in the [request page](https://keralarescue.in/request/) the requestee's phone number has a number keyboard. It would be better to have it as a phone number input type so the typing can be a tad faster

### Your environment
* Mobile Safari
* iOS

### Steps to reproduce
* Go to [request page](https://keralarescue.in/request/)
* Focus on the Requestee Phone input fi

[2018-08-17 23:40] nworden commented on #212
My plan is to pull from KR, since Person Finder already has an API implemented that lets other apps read from it. Someone from KR has already requested a key for that API (and it was granted earlier today I believe), so we just need to add code to KR to use that API key to read from PF periodically.

[2018-08-17 23:43] amits97 opened #489 "Minify/Compress static CSS and JS Files"
### Subject of the issue
Currently, the static CSS and JS files: style.css and placepicker.js are not minified before sending to the client side. This could help us shave off valuable KBs to send over the network.

### Your environment
* Python 3
* Chrome 68
* MacOS Sierra 10.12.6

### Steps to reproduce
Load page in browser, the static CSS and JS files: style.css and placepicker.js are not minifi

[2018-08-17 23:44] amits97 commented on #489
I have started working on this using [Django Compressor](https://django-compressor.readthedocs.io/en/latest/)

[2018-08-17 23:49] binithb commented on #212
OK. I think it will be a few more hours till the people who are working on this can join. I am afraid I cant give definitive information on this topic. But generally what I saw is people have been forking and submitting PRs. So if you need to make changes please fee free to fork and the admins can comment on how to take it forward. Thank you again :)

[2018-08-18 00:05] Neonkraft commented on #488
Is this only reproducible in Mobile Safari? The number pad pops up in my Android (Chrome)

[2018-08-18 00:15] ssat335 commented on #472
People from overseas can make requests. I think this is acceptable and fair. It should be fixed in the user interface, that from within views.py

[2018-08-18 00:26] nworden commented on #212
Ok, thanks a lot Binith. I'll give it a shot and hopefully send out a pull request before I go to sleep myself.

[2018-08-18 00:32] jinoytommanjaly commented on #472
okk

[2018-08-18 00:55] r3dsm0k3 commented on #488
Thats the only device I have access at the moment. I'm no web developer, but just looking at the [compatibility chart](https://caniuse.com/#feat=input-email-tel-url) it seems to be fine

[2018-08-18 01:01] cibingeorge commented on #309
i built some indexes manually for now.

[code]

Someone neeed to convert this to a proper django migration

[2018-08-18 01:06] cibingeorge commented on #309
pls coordinate with me when  yu deploy this..you neeed to probably write raw sql migration..and if it fails ignore the failure..(rescue error and ignore)

[2018-08-18 01:08] haristech03 commented on #463
I have tried out TextLocal. Created an account and wrote the. python script to send messages and looks like straight forward. I couldn't send the message because of Trai regulations it. can only be between 9AM to 9PM.
Basic steps is.
1) Create a Paid Account. Need an Email ID  and Phone number. I think we can negotiate with them for this cause.
2) Create an API Key.
3) Call python API with the mes

[2018-08-18 01:26] gladiatorvarg commented on #453
@bobinson @drtechie have a look at this pull request. It sort of fixes this issue. https://github.com/IEEEKeralaSection/rescuekerala/pull/479

[2018-08-18 01:34] Neonkraft commented on #476
Duplicate of #243

[2018-08-18 01:44] gladiatorvarg opened #493 "Integrate altitude map with Request map"
### This is an enhancement
It is important people/volunteers know high altitude areas near by their location.

[2018-08-18 01:49] gladiatorvarg commented on #243
I am working on this. Ping me if someone else is doing it.

[2018-08-18 02:01] neelkrish opened #494 "[Feature Request] Populate District and Location based on the GPS location under Request for Help"
### Subject of the issue
When a User is requesting for help, it would be easier if the district and location is automatically updated based on gps info. This way if the person is in emergency, information gathering is easier

### Your environment
* python3
* all browsers
* Ubuntu

### Steps to reproduce
1 Go to https://keralarescue.in/request/
2. Enter "ok" for location access

### Expected behavi

[2018-08-18 02:21] mmgeo opened #495 "Remove Phone number from Mandatory field, as there are several people whose phones are dead."
Remove Phone number from Mandatory field, as there are several people whose phones are dead.
Encountered this problem while data entry, as there are several people who needs rescue whose phone batteries are dead.
I suggest to remove phone number from Mandatory field and add option to provide reason for not entering the phone number.

[2018-08-18 02:23] neelkrish opened #496 "[Feature Request] Ability to send SMS via a single press "Request for help" interface"
### Subject of the issue
Incorporate the ability to request help via SMS  with a single button press, from the submit request interface in https://keralarescue.in/request

### Your environment
* python3
* all
* Ubuntu

### Steps to reproduce
Go to https://keralarescue.in/request/.

### Expected behaviour
A user in distress will not have the ability to enter all the information and choose from the

[2018-08-18 02:28] giju commented on #20
Thanks @nikhildev4nk - Will do and update everyone.

[2018-08-18 02:30] neelkrish commented on #496
This is being tracked by #463. Duplicate issue.

[2018-08-18 02:30] #496 closed

[2018-08-18 02:47] manishbhatias commented on #488
To display a telephone keypad, use the tel for the type attribute on input. To display a numeric keyboard, you can also set the value of the pattern attribute to "[0-9]*" or "\d*".

[2018-08-18 02:59] jinadcruz opened #499 "Add status update of requests"
Add a status update field so that requests that had been triaged and responded to can be marked closed. There is duplication of requests happening now

[2018-08-18 03:06] ssat335 opened #500 "Google Maps Relief Resources Page Link"
### Subject of the issue
Currently no way to access google relief resources page link

[https://www.google.com/maps/d/u/0/viewer?mid=19pdXYBAk8RyaMjazX7mjJIJ9EqAyoRs5&ll=10.58818077013663%2C76.59135823100587&z=8](url)

### Your environment
Python3
Mozilla

### Steps to reproduce
NA

### Expected behaviour
Ideally, an ICON in the homepage directing towards the google maps page

[2018-08-18 03:18] aswinrajeev opened #503 "Google maps preview of the obtained location on request page."
It would be good to show a preview render of the obtained location in the rescue request page, as the place name suggested by openstreetmap is often wrong and users may get confused.

[2018-08-18 03:20] tusharpl opened #505 "Once a request is logged on the request page, a confirmation SMS to be sent with contact info details for requested district"
### Subject of the issue
This is an enhancement.Now, once a request is raised on https://keralarescue.in/request/ , there is a web confirmation. However it will be more useful if there is also confirmation SMS which shows the contact numbers from the "Contact Info" page for the selected district. We know that not all people would be reaching out to all sources for help including this website. This

[2018-08-18 03:29] haristech03 commented on #505
TextLocal. Created an account and wrote the. python script to send messages and looks like straight forward. I couldn't send the message because of Trai regulations it. can only be between 9AM to 9PM.
Basic steps is.

This can be easily done using TextLocal. Create a Paid Account. Need an Email ID and Phone number. I think we can negotiate with them for this cause.
Create an API Key.
Call python A

[2018-08-18 03:35] voidspacexyz commented on #463
Is this issue still there ? If so we can reachout to TextLocal and get the integration ASAP

[2018-08-18 03:36] nworden commented on #212
I have some code for importing from GPF here:
https://github.com/nworden/rescuekerala/tree/gpersonfinder

It's far from perfect and there's a few things to be aware of:
- GPF is for people, not exclusively rescues. A lot of records are people trying to connect with family/friends, posting messages saying they're ok, stuff like that. We're trying to figure out a way to have volunteers identify the

[2018-08-18 03:41] voidspacexyz commented on #395
I am not sure if production has the latest code. I have tested with the most common names and I didnt get any at all

Possible issues :
1. Not updated code
2. Migrations ?

[2018-08-18 03:46] nworden commented on #212
Oh, another very important note: I was not able to get SSL working locally, which meant I could not test the bulk data change (you need SSL for that page). It's a simple change, but obviously it needs to be tested before being brought into the master branch. I didn't even want to make a pull request without being able to test it.

[2018-08-18 03:46] saifali40 opened #508 "Not able to update Co ordinates while requesting for other"
### Subject of the issue
Not able to update Geo cordinates for other person while updating manually, the field is in read-only.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and

[2018-08-18 03:47] avp1984 opened #509 "Add paypal payment option"
### Subject of the issue
Please add a paypal payment option as this is widely used in western countries as payment platform and Indian diaspora in US, EU or Oceania can contribute with much ease.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working d

[2018-08-18 03:48] haristech03 commented on #463
I am getting an error related to login details, seems to be an issue with APIKey as mine is a free account. If we can contact them and get a paid or real account it should work fine

[2018-08-18 03:51] biswaz commented on #453
@bobinson No. No promises please

[2018-08-18 03:59] haristech03 commented on #463
I just called them....they have separate schemes for sending and receiving messages.. cost is likeRS. 5000 for 20000 messages.

[2018-08-18 04:05] shamonshan commented on #463
Hi folks AWS have SMS service is available we can try that solution

[2018-08-18 04:07] yeaske commented on #308
First and foremost, the data is already out there, so only action that can be taken now is to minimize the impact and ward of any future legal liabilities. You might already be doing most of them, but just for posterity:

**Few standard recommendations:**
- Stop giving out real data as bulk extracts for testing. There are other ways to generate test data.
- Restrict the PROD DB read access to a li

[2018-08-18 04:09] shamonshan commented on #463
I am not familiar with django but I can develop the API for the SMS module in nodejs

[2018-08-18 04:11] haristech03 commented on #463
Its python. You just need to develop it in python. But do we have an AWS account.

[2018-08-18 04:14] ssat335 commented on #508
There is a button "Enter location manually" at the bottom to add the location manually. It can be used when requesting help on behalf of others. This was merged in #289 . I think this issue can be closed.

[2018-08-18 04:16] tusharpl commented on #505
This seems to be a good idea about verifying through SMS . I am just testing some of the stuff on the website. You can reach one of devs probably @bobinson on slack.

[2018-08-18 04:25] prashanthkondedath commented on #463
Is anyone still working on this ?

[2018-08-18 04:30] ajitsen commented on #290
I have not yet completed  - Solr + React UI  to give search results.

https://recipe-solr.websurfed.com/solr/#/krescue10/query
https://krescue-search.websurfed.com/#/search?query=ernakulam&_k=a8h97y
but I am stuck at the react ui, something went bad . huh

https://github.com/IEEEKeralaSection/rescuekerala/issues/414

[2018-08-18 04:31] syam3526 commented on #509
Thats a very good suggestion.
cc @vigneshhari  @biswaz

[2018-08-18 04:35] yeaske commented on #509
This is out of scope for this git repo, as this project is just for coordinating rescue effort and distributing donations of consumer goods. This site does not handle financial donations.

[2018-08-18 04:38] a-thomas-ny commented on #20
I have opened this https://github.com/IEEEKeralaSection/rescuekerala/issues/449 and got linked to this...
https://keralafights.com/manage/ - This looks great.
Option to filter the records with location is important.
My parents were rescued from Chengannur 2 days ago after 2 days in water... No Electricity, Network Coverage in any of these critical areas.. Can there be a status like "UNKOWN" or som

[2018-08-18 04:40] syam3526 commented on #509
but we can recommend it to cmo .. to integrate in his portal

[2018-08-18 04:40] mojogeorge opened #511 "Make home buttons smaller to accommodate buttons in two rows (in bigger screens)"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-18 04:41] prashanthkondedath commented on #463
Join #sms_based_update slack channel to work on this

[2018-08-18 04:42] mojogeorge commented on #511
current view:
![image](https://user-images.githubusercontent.com/8993650/44295850-4b63dd80-a266-11e8-8299-5e15201c7b26.png)

proposed view:
![image](https://user-images.githubusercontent.com/8993650/44295858-67677f00-a266-11e8-9c1a-5c8a31f928a6.png)

[2018-08-18 04:43] Varnan commented on #505
All the sms make it as shared task using celery .

[2018-08-18 04:44] a-thomas-ny commented on #20
please consider the criticality, There is already questions from national/international media to Major Kishore how the location is passed to them. soon things will come back to this request and in my openion, this should be rolled to production immediately so that relatives can start mark/change the status and pin the locations of their lowed ones

[2018-08-18 04:44] riginoommen commented on #509
@syam3526 this should be taken in priority. can you add prioritize thos

[2018-08-18 04:45] Varnan commented on #505
from celery import shared_task
import requests
@shared_task
def send_sms_using_service(params):
    params['gateway'] = settings.SMS_GATEWAY
    headers = {'Authorization': settings.SMS_SERVICE_KEY}
    final_url = settings.SMS_SERVICE_URL
    try:
        resp = requests.post(final_url, data=json.dumps(params), headers=headers, timeout=5)
        return resp.text
    except requests.exceptions.Ti

[2018-08-18 04:46] syam3526 commented on #509
cc @IEEEKeralaSection/moderators

[2018-08-18 04:47] DextersHub commented on #488
@Neonkraft It's reproduced on iphones, no matter what browser is being used.
Android shows only numeric pad. Which can be seen from my comment earler

[2018-08-18 04:49] DextersHub commented on #488
Pics can be seen at https://github.com/IEEEKeralaSection/rescuekerala/pull/490

[2018-08-18 04:58] Richu98 opened #512 "Update the Relief camp page"
Try to get the details where all Relief camps are located.

[2018-08-18 05:03] shubhamgoyal42 commented on #511
I'm picking it up.

[2018-08-18 05:04] biswaz commented on #212
I'm worried about the differences in the data structure. Should look deeper into it

[2018-08-18 05:06] eapen opened #513 "Add PostGIS extension to Postgres to add geospatial indexes"
### Subject of the issue
Add the PostGIS extension to Postgres which will allow you to create geospatial indexes which will speed up lat/lng + radius queries

### Your environment

### Steps to reproduce
This will likely have to be done via CLI and can be verified on a spare instance first

### Expected behaviour
Will speed up queries and enable better location-based searches
I believe the current

[2018-08-18 05:06] mojogeorge commented on #511
I am working on it actually.

[2018-08-18 05:06] rparjun commented on #489
@amits97  please have a look at #216

[2018-08-18 05:12] DextersHub commented on #495
Some people might have their phones dead. So we might need to cater towards them.
Page: https://keralarescue.in/request/

[2018-08-18 05:15] biswaz commented on #495
That should be not reason to leave out a would-function-in-the-future contact number. We should think about adding a message from them. This is already done via "other needs". Should think about a model change at his point

[2018-08-18 05:16] kuism commented on #421
What is the status of this issue? Any help needed on this

[2018-08-18 05:17] sarath263 opened #516 "Add road Flood map"
### Subject of the issue
To link road flood/blocked info map from [Microid keralaflood map](https://www.microid.in/keralaflood/#11.6/8.5404/76.9514)

[2018-08-18 05:27] shidhincr commented on #516
@sarath263 There is already a button to check the road status on this link.

https://keralarescue.in/map/

![kerala flood map 2018-08-18 10-56-45](https://user-images.githubusercontent.com/452711/44296118-75a0b400-a2d5-11e8-99fe-c937c75fb23a.png)

Do you mean something else ? or if this is same as the above link, let's close this issue.

[2018-08-18 05:33] sarathxm commented on #516
Ohh k fine.

[2018-08-18 05:45] dipukp commented on #439
Closing this issue as #445 makes this one obsolete

[2018-08-18 05:45] #439 closed

[2018-08-18 05:49] ssat335 commented on #512
Is fixed in #501

[2018-08-18 05:56] shubhamgoyal42 commented on #513
Working on it.

[2018-08-18 05:56] sudevschiz commented on #343
@lunaroyster

1. Are the volunteers supposed to just read the entries and prioritize the request OR call the concerned person and note the current situation [If this is the case, there should be an option to mark the request "Resolved" with comments from the volunteer] ?

2. Can you please add instructions on how exactly a person should classify the entries so that there is consistency?

3. Can yo

[2018-08-18 06:10] geohacker commented on #482
We've been using the following CSV structure:

`district,id,location,Latitude,Longitude,latlng_accuracy,dateadded,is_request_for_others,status,needrescue,needwater,needfood,needcloth,needmed,needkit_util,needtoilet,needothers,detailrescue,detailwater,detailfood,detailcloth,detailmed,detailkit_util,detailtoilet,requestee,requestee_phone`

It's important the number fields like lat, lon, phone are In

[2018-08-18 06:10] sarath263 commented on #516
Closes #516

[2018-08-18 06:12] sarath263 commented on #516
Closes #516

[2018-08-18 06:12] lalkrishna commented on #20
If the status can change only by authorities, we may didn't get correct status. Let relatives or friends can update status, and only authorised person can verify that post.

In person i have requested for my friend who's in aarattupuzha, and now he's safe. But the request still there.

[2018-08-18 06:13] sudevschiz opened #518 "[Feature Req] Add QR code to the Donation page"
### Subject of the issue
Can a UPI payment QR code be added alongside the table where bank details of CMRF is provided? That's a good call for action. Donors can quickly scan and pay.
### Your environment
Feature.

### Expected behaviour
![capture2](https://user-images.githubusercontent.com/4298868/44296402-f793db80-a2db-11e8-8346-6906a281836e.PNG)

[2018-08-18 06:15] mjzac opened #519 "Sql query duplication"
### Subject of the issue
Sql queries are being duplicated to fetch `RescueCamp` query set and to set the initial one.

### Your environment
* Python3.6
* Firefox 62.0
* MacOS

### Expected behaviour
The `initial` value of `camped_at` can be derived from the already fetched query set.

### Actual behaviour
Two sql queries are fired.

[2018-08-18 06:30] amits97 commented on #216
Taking a look at this

[2018-08-18 06:32] vishnuprasadb commented on #485
Guys!

I don't know much about git.! Worked on svn.

So I am just giving a suggestion.

Db level RegexValidator for Phone Number Validations can help.! Hereby giving the phone number validation. Model
` phone_regex = RegexValidator(regex=r'^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$', message="Phone number must be entered in the format: '+999999999'. Up to 15 di

[2018-08-18 06:34] malgamves commented on #518
It's being worked on! on  #510

[2018-08-18 06:45] Demisane commented on #421
We have geocoded most of the data from googlemaps for this https://docs.google.com/spreadsheets/d/1Ch-i5bFZdfOF_5HEI49_Vwf85yEQhm5a6MczBh6S3FY/edit#gid=1843822411

geojson has been provided to #72

[2018-08-18 06:48] shasts commented on #513
@eapen
Just in case if you haven't noticed, the [coordinates are captured as text](https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/models.py#L64) and I went through the data set, so it contains google maps URLs and even handwritten text.

The first step would be to clean up that data and run migration to convert to (lat,lon) coordinates.

[2018-08-18 06:50] aswin-jose commented on #512
when it will be reflecting on the site ? Also district wise requirements also needs to be updated.

[2018-08-18 06:51] SajinSabu opened #522 "REDIS_URL in settings.py"
### Subject of the issue
django exit with error
django.core.exceptions.ImproperlyConfigured: Set the REDIS_URL environment variable

### Your environment
python: Python 3.7.0
browser: Chrome 68.0.3440.106
* OS Type : Windows 10 64bit

### Steps to reproduce
Add redis-server installation instructions

### Expected behavior
Error occurs when no redis-server installation in system.

### Actual behavi

[2018-08-18 07:00] bhumilharia commented on #522
If this is only for test purposes, you don't need a Redis installation on your machine (unless of course you're testing caching). This error is not because there is no Redis, it just that you haven't added `REDIS_URL` to your `.env` file

[2018-08-18 07:04] sajithmohan commented on #393
currently results are coming, but there is no rescue camps added for most of the districts in system.database entry should be short code for state field (eg: ekm for Ernakulam).
is there any backend page for adding Relif Camps?

[2018-08-18 07:09] abhin-k opened #525 "Table Broken"
### Subject of the issue
Registered Request table is broken

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce

Go to Registered Requests
Select Ernakulam District
Click view Requests

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happens inst

[2018-08-18 07:10] vmwsree opened #526 "OutCall Feature To Call Help Requested People and Update their Status."
### MyOperator Partnered with us
We are setting up OUtcall/IVR with help of myOperator where they can do automated calls to all our people in our database and ask them to press 1,2, or 3 for 1.Reached a safe place. 2. Isolated help still not received, if help is not received ask 1. internet connectivity 2. some other survey question about what are their requirements and how many people are there.

[2018-08-18 07:10] remedcu commented on #358
#373 has already solved this. Please merge that commit.

[2018-08-18 07:12] SajinSabu commented on #522
Ok. Thank you.

[2018-08-18 07:12] #522 closed

[2018-08-18 07:14] ashwinrajeev commented on #304
manually added location is getting saved in `needothers` field

`<input type="text" name="needothers" maxlength="500" class="form-control" placeholder="Enter location manually" title="" id="pac-input">`

[2018-08-18 07:16] ssat335 commented on #526
keen

[2018-08-18 07:24] ashwinrajeev opened #528 "manually added location is getting saved in others needs field"
### Subject of the issue
Input field for location is `needothers`

<input type="text" name="needothers" maxlength="500" class="form-control" placeholder="Enter location manually" title="" id="pac-input">

### Steps to reproduce
* add location manually.
* check newly created request

### Actual behaviour
location data is getting saved in wrong field

[2018-08-18 07:25] jilvin commented on #320
@biswaz @vigneshhari

[2018-08-18 07:25] #272 closed

[2018-08-18 07:28] Neonkraft commented on #526
This is brilliant!

[2018-08-18 07:28] abhin-k commented on #525
@Neonkraft looks fine now

[2018-08-18 07:28] #525 closed

[2018-08-18 07:29] vishal-nayak commented on #528
@ashwinrajeev are you working on fixing this?

[2018-08-18 07:31] ashwinrajeev commented on #528
@vishal-nayak no

[2018-08-18 07:32] aswinmohanme opened #530 "Integrate KeralaFights Instead of Urshahidi"
The Volunteer platform https://keralafights.com/ is almost done and uses our data. It has all the provisions we need and if we could update the status of our data based on their feedback.
![screenshot from 2018-08-18 12-33-32](https://user-images.githubusercontent.com/20600674/44296998-f320f000-a2e6-11e8-965e-810ed2412390.png)
![screenshot from 2018-08-18 12-36-42](https://user-images.githubuserco

[2018-08-18 07:33] mjzac opened #531 "Wrong indentation blocks"
### Subject of the issue
The class `PersonForm` in `views.py` has indentation of 3 spaces. The whole `views.py` is lit up if you run `flake8` linter. (This is more of a cosmetic issue and has nothing to do with performance )

Adding linting checks to Travis CI may hinder faster development, but it would help to catch such issues.

### Your environment
* 3.6
* Firefox 62.0
* MacOS

### Steps to rep

[2018-08-18 07:33] vishal-nayak commented on #528
Alright, I'm working on this

[2018-08-18 07:36] #320 closed

[2018-08-18 07:41] #251 closed

[2018-08-18 07:43] #462 closed

[2018-08-18 07:44] msrshahrukh100 commented on #528
@vishal-nayak are you working on this, it was a bug from myside, just remove the name attribute form the placepicker_form.html

[2018-08-18 07:50] aliaseldhose opened #532 "Design breaking in desktop mode"
### Subject of the issue
Few large location entries are causing the table width to grow beyond the viewable screen area.

### Your environment
* which browser and its version
Chrome v 68
* OS Type (iOS/Android/Linux/Windows)
Mac Os

### Steps to reproduce
Please go to this URL to reproduce the issue.
https://www.keralarescue.in/requests/?district=alp&requestee__icontains=&requestee_phone=&location

[2018-08-18 07:50] vishal-nayak commented on #528
I have validated the issue.
#### Case 1: Add GPS based location with `Other Needs` data.
- Expected Behavior: `lt lng` and `needothers` to be populated
- Observed Behavior: `needothers` not populated

#### Case 2: Add location manually with `Other Needs` data.
- Expected Behavior: `lt lng` and `needothers` to be populated
- Observed Behavior: `needothers` populated with Manual Location input field

[2018-08-18 07:52] aliaseldhose commented on #532
To update please change these in mainapp/templates/mainapp/request_list.html

line: 26

		#requests-table td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
/*force break the line and set a minimum width as well*/
      word-wrap: break-all;
      min-width: 100px;
		}

[2018-08-18 07:52] SajinSabu commented on #532
No issues on Chrome v68 (Windows)

[2018-08-18 07:53] MansoorMajeed commented on #63
@batpad if you can confirm that the tests are good enough to test the core functionalities, we can close this issue

[2018-08-18 07:55] aliaseldhose commented on #532
It depends on the page, few pages have large entries for location without line breaks, that is causing the issue. The url now changed to

https://www.keralarescue.in/requests/?page=2&district=alp&requestee__icontains=&requestee_phone=&location__icontains=

[2018-08-18 07:57] agzuniverse commented on #495
Even if the phone is dead they can enter the contact number since there is often no other way to contact them. If they manage to charge their phone somehow they can be contacted through that.

I guess this issue can be closed now.

[2018-08-18 08:00] DextersHub opened #536 "Do not accept Request for Help when the location is not India"
The GPS Coordinates is not checked, if the location is outside of India. Especially when people are using the system from overseas to help stranded family members back at home.

[2018-08-18 08:02] SajinSabu commented on #532
We can add table-layout: fixed; in table properties. But the second column is not properly aligned.

[2018-08-18 08:03] SajinSabu commented on #532
We can change it in the second column too.

[2018-08-18 08:03] gowtham-sai commented on #526
Let's do this?

[2018-08-18 08:04] vmwsree commented on #526
Join #outcall channel

[2018-08-18 08:05] #528 closed

[2018-08-18 08:05] amits97 commented on #216
- I combined the GOK, IEEE and IT mission images into a sprite for now: so that only one image would be needed to load. Saving us to use just one network call of `~11KB` instead of 3 network calls adding up to `14KB`.
- Moved JQuery and Bootstrap CDN urls to `cdnjs.com`
- DNS prefetch `cdnjs.cloudflare.com`
- Added tag to prerender `/request`

[2018-08-18 08:08] SajinSabu commented on #532
add 'word-wrap: break-word;' in td field.

[2018-08-18 08:11] Demisane commented on #536
Bipin is working towards extracting addresses provided within the rescue requests outside India and Gopikrishna is cleaning up the data here #housekeeping_database in slack.

[2018-08-18 08:13] DextersHub commented on #536
Gr8. Good to know.

If you need a bogus entry already in the system to kick out, here you go:
https://keralarescue.in/request_details/32574/

[2018-08-18 08:30] cibingeorge commented on #536
There are people submiting requests for their friends/relatives etc. So this is probably ok. Closing this for now,

[2018-08-18 08:30] #536 closed

[2018-08-18 08:33] SajinSabu commented on #532
Verify, whether it fix the issue.

[2018-08-18 08:40] #279 closed

[2018-08-18 08:41] saifali40 opened #543 "Can't search with Full phone number"
### Subject of the issue
I tried to search with the full phone number it is not showing any result if I remove one number it is kind of working, and if enter or copy paste full number getting 503 timeout exception

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Enter or copy paste the phone number complete

[2018-08-18 08:42] saifali40 commented on #543
<img width="1280" alt="screen shot 2018-08-18 at 2 08 46 pm" src="https://user-images.githubusercontent.com/20187465/44297520-ae01bb80-a2f0-11e8-9914-8d595a87b490.png">
![Uploading Screen Shot 2018-08-18 at 2.08.39 PM.png…]()

[2018-08-18 08:42] saifali40 commented on #543
<img width="1264" alt="screen shot 2018-08-18 at 2 08 39 pm" src="https://user-images.githubusercontent.com/20187465/44297527-c07bf500-a2f0-11e8-920d-31e1c6bc2501.png">

[2018-08-18 08:47] Richu98 commented on #512
Yes, There is no information available on the site

[2018-08-18 08:49] #358 closed

[2018-08-18 08:50] ssat335 commented on #512
It needs to be reviewed and merged. Seems reviewed, will be merged soon.

[2018-08-18 08:56] arjunkomath commented on #393
Results are still missing for the following districts:
- Alappuzha https://keralarescue.in/relief_camps/?district=alp
- Idukki https://keralarescue.in/relief_camps/?district=idk
- Kasargod https://keralarescue.in/relief_camps/?district=ksr
- Kottayam https://keralarescue.in/relief_camps/?district=ktm
- Palakkad https://keralarescue.in/relief_camps/?district=pkd
- Trivandrum https://keralarescue.in

[2018-08-18 08:58] riginoommen opened #546 "[Feature Request] - Need Pagination and Search Filters for the Releif Camp Page"
This feature will be a great time saving for the users.

### Steps to reproduce
<img width="1792" alt="screen shot 2018-08-18 at 2 25 48 pm" src="https://user-images.githubusercontent.com/3840244/44297663-c65be100-a2c4-11e8-992e-ca953c0728da.png">

[2018-08-18 09:00] vikaskyadav opened #547 "Update the font size everywhere in the templates"
### Subject of the issue\
The font size is little less on some of the pages which is hard to read. It would be great if someone could take this issue up and change the font size so that it is easily visible.

### Your environment
* Firefox Quantum 60
* Linux Ubuntu 16.04 LTS 64 bit

### Expected behaviour
Font-size easily visible

[2018-08-18 09:04] nikhilgeo commented on #494
Working on this:

address.state_district can be used for district selection.
address can be populated to the location.

`{"place_id":"181412185","licence":"Data © OpenStreetMap contributors, ODbL 1.0. https:\/\/osm.org\/copyright","osm_type":"way","osm_id":"495356296","lat":"10.0972532","lon":"76.3068069","place_rank":"26","category":"highway","type":"unclassified","importance":"0.1","addresstype"

[2018-08-18 09:06] saifali40 commented on #543
Issue resolved

[2018-08-18 09:06] #543 closed

[2018-08-18 09:08] SajinSabu commented on #547
Can you send me the pages where the issue occurs?

[2018-08-18 09:11] riginoommen commented on #532
Similar Issue #546 Consider the relief camp page on working on this issue

[2018-08-18 09:11] aliaseldhose commented on #532
Verified, 'table-layout' ('fixed' for the TABLE) along with the 'word-wrap' ('break-word' for TD) solves this issue.

[2018-08-18 09:12] #519 closed

[2018-08-18 09:12] riginoommen commented on #532
@aliaseldhose Use Basic Bootstrap pagination on this https://getbootstrap.com/docs/4.1/components/pagination/

Pagination also bloken

[2018-08-18 09:16] riginoommen commented on #393
Related to #423, #348, #325

[2018-08-18 09:16] #405 closed

[2018-08-18 09:18] #516 closed, assigned to nobody

[2018-08-18 09:20] AkkoliPottammal opened #549 "'Request ID' & 'Status of Request' should be displayed in ‘Registered Requests’ Page"
### Subject of the issue
'Request ID' & 'Status of Request' should be displayed in ‘Registered Requests’ Page .

"Request ID" column helps to identify, report & clean repeated/redundant issue details
"Status" column (OPEN, INPROGRESS& CLOSED).) helps the public to address ‘OPEN’ issues .
So please update ‘Registered Requests’ page with  ‘Request ID’ & ‘Status’

### Your environment
* version of yo

[2018-08-18 09:25] riginoommen commented on #512
Related to #423, #348, #325

[2018-08-18 09:28] SajinSabu commented on #532
Ok I am making an update on that relief_camps also.

[2018-08-18 09:30] a-thomas-ny opened #552 "Location link not displaying"
### Subject of the issue
Location tagged by the user is not accessible

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
https://keralarescue.in/request_details/37978/
called the user, he confirmed the location link was entered but not listed in the details. 3 families and children stuck there but without lo

[2018-08-18 09:31] AdityaGiri11 commented on #549
Sir though i am not much experienced with contributing in open source , but i think we need to add new request id and status in the original schema.?
Can you tell me how to progress with it?

[2018-08-18 09:33] darkdefender27 commented on #549
@AkkoliPottammal Is there a mechanism by which we know if the request is served (CLOSED) or is being served (INPROGRESS)? If not, then we'll need to have that first in place and then inclusion of Status column on the requests page shall make sense. Thoughts?

[2018-08-18 09:33] darkdefender27 commented on #549
@AdityaGiri11 Start with the project setup if not completed already.

[2018-08-18 09:40] batpad commented on #63
We probably won't have "full test coverage" for a while, but that's totally fine. I think the current tests are great and give a fair degree of confidence. I'm +1 to closing this.

[2018-08-18 09:42] nitishnagar commented on #495
//For current Input

<script>
  $(document).ready(function () {
    $("#identificationForm").submit(function (e) {
      var required=document.getElementById("PhoneNumber").required;
      console.log(required);
      // e.preventDefault();
     });
  });
</script>

//Change Script code as shown below:

<input type="text" id="PhoneNumber" required>
<script>
if(somecondition is true){
    document.

[2018-08-18 09:45] vikaskyadav commented on #547
That will be a great help. Just visit some of the pages. I guess we are
using the same styling everywhere.

[2018-08-18 09:50] AkkoliPottammal opened #556 "Relief Camp Strength is not available in ‘Relief Camp’ Screen."
### Subject of the issue
Relief Camp Strength is not available in   to ‘Relief Camp’ Screen.
Actual Registration count display in the ‘camp screen’ will help local people to  make effective contribution of  resources to ‘Relief Camp’.
Resource quality (food/materials etc..) needed for a 50 member camp is different from 500 member camp.So Relief Camp Strength will help the people to make effective

[2018-08-18 09:55] SajinSabu commented on #532
If the issue can be fixed with PR. please verify immediately.

[2018-08-18 09:58] riginoommen commented on #532
@SajinSabu can you please look into #546

[2018-08-18 09:59] alokbabu commented on #463
Could you send me the link @prashanthkondedath if there is a slack channel for this?

[2018-08-18 10:01] #63 closed

[2018-08-18 10:06] aliaseldhose commented on #532
@SajinSabu Verified the PR, fixes this one and issue #546 for the table layout.
@riginoommen the app is using BS 3.3.7. But will check the pagination styles for both the pages.

[2018-08-18 10:08] ssat335 opened #558 "[High Priority] Map fails to load"
### Subject of the issue
Request Map fails to load. It shows a white screen after some initial processing

### Your environment
* Mozilla firefox
* Ubuntu 16.04

### Steps to reproduce
Click on Request Map

### Expected behaviour
Expected to see actual request mapped geospatially

### Actual behaviour
Shows white screen

[2018-08-18 10:11] SajinSabu commented on #546
Did you mean the table design?

[2018-08-18 10:12] AkkoliPottammal opened #559 "Effective Utilization of collected resources - “Excess/Need” in column Relief Camp Screen for each ‘Camp’ (Camp specific requirements)"
### Subject of the issue
Add new column Relief Camp Screen for ‘Camp’ specific requirements.
It should show “Excess/Need” . This is for Effective Utilization of collected resources

Now some of the Relief camps are overloaded with resources(food/materials etc..). But other side, we don’t have  enough items in certain camps ,as per social media comments/Lives.  Let’s effectively utilize the resourc

[2018-08-18 10:15] athimannil commented on #532
I would like to fix this bug, Is this issue fixed ?

[2018-08-18 10:21] vmwsree opened #560 "Create and update api for request"
We need a rest endpoint for request update and create

[2018-08-18 10:28] riginoommen commented on #560
@vmwsree can you please elaborate this issue

[2018-08-18 10:31] riginoommen commented on #559
Related to #423, #348, #325

[2018-08-18 10:31] riginoommen commented on #559
Related to #423, #348, #325

[2018-08-18 10:31] sarathsasidharan commented on #240
@binithb , would it not be the case to ask the rescue teams to mark the field as done which will help us to filter better  since there are many districts where people are stuck for multiple days , so that approach of filtering on the present day could be a problem

[2018-08-18 10:32] SajinSabu opened #561 "Relief Camp contact info"
### Subject of the issue
Relief camps information are displayed without contact number. This will make it hard for delivering food or materials.
###Solution
Make it mandatory to add any contact number along with other relief camp information.

[2018-08-18 10:34] riginoommen commented on #561
Related to #423, #348, #325

[2018-08-18 10:35] ridha commented on #485
I have started working on this issue- Server side validation for phone number

[2018-08-18 10:40] darkdefender27 commented on #549
@AkkoliPottammal Sorry went through the code now. It seems it can be implemented

[2018-08-18 10:42] ja8zyjits opened #562 "Tests for views"
### Subject of the issue
We need tests for Views

### Expected behaviour
Create sub issues for each `tests` that you would like to write and submit pr for each of them.
Thanks

[2018-08-18 10:44] salmanulfarzy commented on #485
Multiple PRs exists using Django Validators, @ridha

[2018-08-18 10:44] a-thomas-ny commented on #494
real situation is, most of the requests are logged by the relatives or friends because most cases there is no network/electricity on emergency situation

[2018-08-18 10:48] athimannil commented on #307
@indrajith23 I would like to work on it. Could you please let me know in which URL it happen ?

[2018-08-18 10:51] lunaroyster commented on #343
@sudevschiz

1. On kerala-crowdsource.itsarnavb.me, volunteers are supposed to read entries and categorize by priority. I added the phone number when some people requested me to do it, since they wanted to call up the requesters and check on them. Perhaps the 'Resolved' marking system might be useful to implement, although I assumed that the dataset I'm using to populate requests would do it, and

[2018-08-18 10:57] AdityaGiri11 commented on #549
while setting up in the step 4 , while running the command it shows error. Can you help me with it?
![screenshot from 2018-08-18 16-27-00](https://user-images.githubusercontent.com/20241160/44298599-97b12b00-a303-11e8-9e01-f8b612c80dc4.png)

[2018-08-18 10:59] #512 closed

[2018-08-18 11:04] SajinSabu commented on #532
Yes

[2018-08-18 11:05] vmwsree commented on #560
Requests  Model is very important lot of people has segregated data in order to combine them like updating the status of a request if he is safe or not , we can use api call from this excel sheets data to reflect on database.

[2018-08-18 11:06] athimannil commented on #532
@SajinSabu Please let me know if there any frontend open ticket

[2018-08-18 11:08] SajinSabu commented on #532
Take look at #546
A search feature is what he may asking. Need clarification on this.

[2018-08-18 11:09] riginoommen commented on #546
I meant table pagination with a limit of 20 records per page
https://getbootstrap.com/docs/4.1/components/pagination/

Also additional search box for the data search

[2018-08-18 11:09] lunaroyster commented on #240
@sarathsasidharan yes. There's already a field called status on the data at keralaresuce.in/data. It doesn't appear as if it's being used:
![image](https://user-images.githubusercontent.com/6189367/44298696-40ac5580-a305-11e8-9db8-5e99c238ae27.png)

Most still say 'new'.

[2018-08-18 11:10] darshit8983 commented on #560
how can i know more about this api work so that i can understand and contribute??

[2018-08-18 11:12] SajinSabu commented on #558
Yes. There is an issue with https://keralarescue.in/map/

[2018-08-18 11:14] riginoommen commented on #560
@darshit8983 https://github.com/IEEEKeralaSection/rescuekerala/blob/master/README.md

[2018-08-18 11:14] athimannil commented on #546
@riginoommen It would be nice to add label **frontend** or **backend**

[2018-08-18 11:15] darkdefender27 commented on #549
@AkkoliPottammal Raised a PR. Can you please review #568  and test it?

[2018-08-18 11:16] lunaroyster commented on #560
There's a field called 'status' on the data:
![image](https://user-images.githubusercontent.com/6189367/44298744-2161f800-a306-11e8-8b02-35ccc9a45d89.png)

It doesn't seem to be getting much use. At least in my last snapshot, only 42 requests have a status that's not 'new':
![image](https://user-images.githubusercontent.com/6189367/44298749-45bdd480-a306-11e8-8a4c-a5169718c57c.png)

[2018-08-18 11:18] ajrnair opened #569 "Ushahidi? Health needs/resources mapping"
### Subject of the issue
Doctor/Public health guy here, not an engineer - I am working with a few others like myself to figure out if we can implement something with a realtime crisis map like Ushahidi and some other ways to help based on experience in other disasters. Repo owner or anyone co-ordinating with govt - Please ping me back at ajrnair[at] gmail

[2018-08-18 11:25] ajrnair commented on #569
Thanks!

[2018-08-18 11:26] AdityaGiri11 commented on #549
python3 manage.py makemigrations --merge
python3 manage.py migrate
these command worked for me.
Now i am looking forward to test and help with whatever i can.
Thank you.

[2018-08-18 11:29] bobinson commented on #569
@ajrnair - we are glad to see the support. We working to make this live all your help is welcome. We are on Slack and also me on telegram t.me/bobinson

[2018-08-18 11:29] darkdefender27 commented on #549
@AdityaGiri11 Can you please review the PR #568 and test it on your local machine?
It has the changes requested in this issue #549

[2018-08-18 11:30] arjunkomath commented on #558
@SajinSabu @ssat335 I believe this issue has been resolved, please verify and confirm.

[2018-08-18 11:32] ajrnair commented on #569
Thanks - can you add me to the slack workspace please? Will message you.

[2018-08-18 11:32] bobinson commented on #561
This needs to cross referenced during sahana deployment.

[2018-08-18 11:34] ajrnair commented on #569
Email ajay [at] meradoctor.com

[2018-08-18 11:36] bobinson commented on #569
http://bit.ly/keralarescueslack

[2018-08-18 11:37] sarathsasidharan commented on #240
Would it be possible to automatically update this flag to completed/processing as soon as it picked up by the authority , so in this case we dont depend on them to change this to completed , so on click by agent -->change the flag to processing

[2018-08-18 11:38] AkkoliPottammal commented on #549
@darkdefender27 Sure

[2018-08-18 11:39] bobinson commented on #558
For those who are working with /map

- Every time the map is loaded large amount of data is pulled from /data
- Please try to cache at the OSM layer / Browser side and only pull delta (not an expert in maps)
- Do not pull entire /data : PLEASE
- also third party developers and apps etc please do not scrap and create apps instead join the effort by fixing the bugs or atleast fixing the PRs.

[2018-08-18 11:53] athimannil opened #575 "Form & Table with white background"
### Apply Grid & White form
Apply white background colour will be really helpful for mobile users

![screen shot 2018-08-18 at 1 46 32 pm](https://user-images.githubusercontent.com/4364227/44298951-22d2f680-a2ed-11e8-9bbd-799380619638.png)
### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
White background and ap

[2018-08-18 12:10] sarathsasidharan opened #577 "Change the Status Flag from new to In Progress / Addressed when picked up by Authority"
### Subject of the issue
Right now the status flag in the dataset appears as new , instead of this change this to In Progress / Addressed as soon as it is picked up / clicked by authorities , this would help us to filter data based on this flag to get open requests into the dashboard

### Your environment
* python :3.6.5
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### St

[2018-08-18 12:12] johnsamuelwrites commented on #577
This is being tracked by the issue https://github.com/IEEEKeralaSection/rescuekerala/issues/549

[2018-08-18 12:15] #577 closed

[2018-08-18 12:25] arunkrishnan commented on #500
This has been implemented https://github.com/IEEEKeralaSection/rescuekerala/pull/566

[2018-08-18 12:39] vkmrishad opened #580 "Can't navigate from Flood map to Homepage"
https://keralarescue.in/map/

There is no go back / homepage navigation button.
![screen shot 2018-08-17 at 8 06 15 pm](https://user-images.githubusercontent.com/18536460/44299357-cafab680-a311-11e8-8004-e14435ac4006.png)

[2018-08-18 12:39] ajitsen commented on #290
https://krescue-search.websurfed.com/#/search?query=aluva&_k=hbuosg

[2018-08-18 12:41] ajitsen commented on #290
Direct  api

https://recipe-solr.websurfed.com/solr/krescue10/select?q=aluva%20old&rows=10&sort=last_modified%20desc

[2018-08-18 12:43] vkmrishad commented on #500
https://keralarescue.in/map-view/

[2018-08-18 12:44] AkkoliPottammal opened #582 "UI ISSUE | Alignment issue if ‘location’ column content length exceeds in ‘Registered Requests’ screen."
### Subject of the issue
Usability issue in  ‘Registered Requests’ [screen.]
If Location column content length exceeds ,then Registered Requests’ Screen shows only “District”, “location” by default .

3 options
1)	Provide tinyurl for URL for Location content (if its URL)
2)	or make location as last column
3)	Or Provide Scroll bar for the table
Registered Requests’ Screen should display  “District”

[2018-08-18 12:51] bobinson opened #583 "[doc] User manual for volunteers"
### Subject of the issue
User manual for volunteers

https://docs.google.com/document/d/1R5TphBF5D-0dRBCBNyrRdWy2uOejV4WXzo7Wu_TPr2g/

[2018-08-18 13:00] Rohanr007 commented on #569
Integrate KeralaFights Instead of Urshahidi!!!

[2018-08-18 13:15] sarathsasidharan commented on #240
Latest summary from the sample , but with a few blanks for the districts for newly introduced status types
![image](https://user-images.githubusercontent.com/9977936/44299570-4ef47480-a2f9-11e8-9a03-d6b0eb65b8b5.png)

[2018-08-18 13:26] dsamanmishra commented on #558
Map seems to load perfectly on my system.

[2018-08-18 13:28] shreyasgaonkar commented on #558
Seems to be working perfectly on Chrome Version# 68.0.3440.106 (Official Build) (64-bit)

[2018-08-18 13:35] Rohanr007 commented on #243
Highly unlikley results!
NOGO PULL

[2018-08-18 13:42] nikhilgeo commented on #494
Any workarounds for making it work in HTTP ?

`(index):91 [Deprecation] getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.
`

[2018-08-18 13:48] jkhere opened #586 "Option to mark completed request"
### Subject of the issue
Currently we can see all the requests. But there is no provision to close the registered requests which are processed/completed.

### Your environment
Browser

### Steps to reproduce
Search for a registered request. You can see the requests but no way to mark it as complete. This will reduced the count of open requests.

[2018-08-18 13:50] ajrnair commented on #569
@Rohanr007 What is that - share a link?

[2018-08-18 14:01] Rohanr007 commented on #558
Seems to be working perfectly on Chrome! Please mark fixed issues from the tracker

[2018-08-18 14:03] nworden commented on #212
We estimate that over 10k of the records in our DB are rescue requests. We understand that it would be a problem to have a lot of duplicates in the KR database, but right now there's a lot of data stuck in the PF database and that's a problem too. How good does the deduplication need to be to be a good balance between solving those two problems? Could we just look for exact name matches? Are most

[2018-08-18 14:05] athimannil commented on #575
I have start working on it. Please put label

[2018-08-18 14:07] csbasil opened #587 "New Feature to Add Survivor Details and Survivor Searching"
### Subject of the issue
An option to enter and search the details of the people rescued or safe now. It will be helpful to calculate district/area base survival status. Also people in different relief camps/places will get an information about their relatives/friends which will also help to track missing people. Survivors or Volunteers in the relief camp can enter this details in the site
### You

[2018-08-18 14:13] jaleelmpm commented on #586
This issue is very important as duplicate request are coming

[2018-08-18 14:13] lijoantony commented on #304
Working on it

[2018-08-18 14:14] ashwinrajeev commented on #304
this issue is fixed

[2018-08-18 14:14] #304 closed

[2018-08-18 14:15] LilliputGuliver opened #589 "Using current or Last Mobile Location status"
### Subject of the issue
Rather than prompting the user to enter their location info is it possible to gather it from the N/w operators using the numbers entered on the "https://www.keralarescue.in" website. Even if the mobile is switched off or discharged the last active location can be checked to find the location.
This location if superimposed with the flooded area map from google can help is t

[2018-08-18 14:16] ja8zyjits opened #590 "NGO registration `phone`"
### Subject of the issue
NGO registration has `phone` field which is not set to `required`.
Was that purposeful?

### Expected behaviour
form submission should fail and ask for phone number

### Actual behaviour
It does not require `phone` field

[2018-08-18 14:20] ja8zyjits opened #591 "NGO registration `area`"
### Subject of the issue
NGO registration area can be any absurd data

### Expected behaviour
NGO area of work must have been limited to same areas as for volunteers [area](https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/models.py#L33)

### Actual behaviour
it accepts even `asdf` as area. Is that purposeful decision. Shall we update it?

[2018-08-18 14:20] alvinbush opened #592 "Help to integrate https://whatsbroadcast.com to feed the requests through WhatsApp and Facebook"
### Subject of the issue
We currently have around 100 requests every hour,  currently we are validating each request on your database and updating the requests manually.

We would like to integrate our system into keralarescue.in via API so that the information can be pull/pushed via REST.

### Your environment
* PAS system
* API available
* Cloud

### Steps to reproduce
Here is the information ho

[2018-08-18 14:29] leenasn commented on #556
I think its a data issue, that the foreign key issue between the RescueCamp and Person tables. I checked by adding data manually in my local DB and the count is displayed correctly.

Is there a way I can get the production dump so that I can the issue locally too?

[2018-08-18 14:29] bobinson commented on #592
this will be handed via #569

[2018-08-18 14:30] #592 closed

[2018-08-18 14:31] bobinson commented on #589
We need API and necessary access to the Telco NBI APIs. Once The access is available create another issue with the details of access, API end points and documentation.

[2018-08-18 14:31] #589 closed

[2018-08-18 14:36] bobinson commented on #587
Please do and submit a PR

we need all the help

[2018-08-18 14:36] SajinSabu commented on #582
Will fix that.

[2018-08-18 14:37] bobinson commented on #587
keep in mind that the search will  impact our db and will need to atleast have provision for Solr / Elasticsearch

[2018-08-18 14:41] jilvin opened #594 "Add linter, tests coverage reporting, and code review service."
Linter will ensure better quality code.

Code review service will enable easy review of pull requests.
https://www.codacy.com/

Test coverage reporting will enable the developers to understand how much of the code is actually covered by tests. Though this is not enough for complete confidence, it generally helps in writing more test cases(white box testing).

[2018-08-18 14:51] SajinSabu commented on #582
#540 fixes the issue. Please verify.

[2018-08-18 14:53] csbasil commented on #587
@bobinson Ok I will work on that.
Mentioning any attributes I missed in Survivor Model should be helpful.

[2018-08-18 14:54] anuragagrawal0430 commented on #590
will fix it!

[2018-08-18 14:54] sr56 opened #596 "New Feature Request: An option for Listing and validating fake news"
### Subject of the issue
New Feature Request: An option for Listing and validating fake news

- The public can upload or search for authenticity of rumors.
- Volunteers can mark it as confirmed / fake / probable / invalid or junk  etc.

### Advantages
This would help the flood victims and well wishers to get direct confirmation about fake-news and avoid panic.  Furthermore people can take better d

[2018-08-18 14:54] midhunkrishna commented on #586
I can take this up.

[2018-08-18 14:55] DextersHub commented on #536
What I meant was don't accept a request(popup an error msg) if the "GPS Coordinates - GPS നിർദ്ദേശാങ്കങ്ങൾ" is not an address in India and they haven't checked "Requesting for others - മറ്റൊരാൾക്ക് വേണ്ടി അപേക്ഷിക്കുന്നു"

Not block the page based on ip.

[2018-08-18 14:58] SajinSabu commented on #552
Is it fixed by now?

[2018-08-18 14:58] shanavas786 opened #598 "Fix pagination links in requests page"
### Subject of the issue
requests page has about 480 pagination links which eats up lot of spaces.

Show only some links right and left to the selected page

![pagination-before](https://user-images.githubusercontent.com/5337197/44300486-38fca900-a325-11e8-8ef9-3a2fadf7be18.png)

[2018-08-18 14:59] arunthomas2213 commented on #590
@anuragagrawal0430 are you working on it?

[2018-08-18 14:59] #376 closed

[2018-08-18 14:59] anuragagrawal0430 commented on #590
yep!

[2018-08-18 14:59] Gotham13121997 commented on #590
`phone = models.CharField(validators=[phone_regex], max_length=17, blank=True) # validators should be a list`

It has been done purposefully I guess

[2018-08-18 15:14] ja8zyjits commented on #590
@anurag  I didn't edit it since I was not sure if it was done by purpose..I thought it needed a wider discussion.

[2018-08-18 15:27] arunthomas2213 commented on #591
i think this should be left as is, because, NGOs can help in more than one area. Or we can change it to checkboxes.

[2018-08-18 15:29] #532 closed

[2018-08-18 15:33] SajinSabu commented on #582
Issue fixed.

[2018-08-18 15:34] sudev opened #601 "Maintain information about collection points(NGOs/Corporates)."
### Subject of the issue

Many NGOs and government/corporates are currently crowdsourcing items for relief across the country, but currently there is no single place for anyone to find the information about collection centers around them. It will good for us to maintain a list of collection centres information in the website, currently, we only have information for[ government collection points wi

[2018-08-18 15:35] cvrajeesh commented on #598
Could anyone share data dump to test this

[2018-08-18 15:41] shanavas786 commented on #598
You can generate random data. Please refer project wiki

On August 18, 2018 9:05:04 PM GMT+05:30, Rajeesh C V <notifications@github.com> wrote:

--
ഷാനവാസ്
Sent from my Android device with K-9 Mail.

[2018-08-18 15:43] anuragagrawal0430 commented on #590
@prasadgujar I'm already working on it!! Dude, please check all the comments before jumping on any issue

[2018-08-18 15:50] prasadgujar commented on #601
1. We can also add option any wants to volunteer for that collection point.
2. Data Analysis to find where collection point required or any other to find a point where collection center required.

[2018-08-18 15:50] MariyaRonald opened #604 "Pagination in registered request"
### Pagination issue
https://keralarescue.in/requests/?district=ekm&requestee__icontains=&requestee_phone=&location__icontains=
### Your environment

* Chrome browser and its version
* OS Type (iOS/Android/Linux/Windows)

![error](https://user-images.githubusercontent.com/15645432/44300926-70bb1f00-a32c-11e8-9efe-b1d2dca6802b.png)

### Expected behaviour
Scroll in the lower page

### Actual behavi

[2018-08-18 15:53] pranavashok commented on #552
This is still not fixed. See https://github.com/IEEEKeralaSection/rescuekerala/pull/600#issuecomment-414067721

[2018-08-18 16:10] namboodiri commented on #604
Pagination is available on the page. #598 is fixing the number of pages shown in pagination view.
If it is something else, could you explain the issue?

[2018-08-18 16:16] namboodiri commented on #586
Discussed in #20

[2018-08-18 16:16] pranavashok opened #607 "Manually entered location not displayed in request details page"
### Subject of the issue
Location entered manually in the /request autocomplete form is not displayed on the /request_details page.

### Your environment
* Python3
* Firefox
* Linux

### Steps to reproduce

![x1](https://user-images.githubusercontent.com/930537/44301179-ca165480-a312-11e8-87ee-50ffcf53f3d3.png)

![x2](https://user-images.githubusercontent.com/930537/44301180-cc78ae80-a312-11e8-953

[2018-08-18 16:27] jaleelmpm commented on #586
@midhunkrishna   great

[2018-08-18 16:30] anoopnarayanan opened #611 "Enhance map to add food information"
### Subject of the issue
Enhance keralarescue.in/map to add food needed/ food ready information. This will help the rescure teams to coordinate.

### Expected behaviour
Map should show the Food Needed /Food ready info

[2018-08-18 16:30] bibinantony009 opened #612 "Should we build an option to export the all requests in to an excel file? so that rescuers can make use of this filtered data by location."
### Subject of the issue
Enhancement suggestion to add capability to export the data based on filters

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Export button in the View all requests page, with capability to filters (eg- district)

### Expected behaviour
Export button in the View all requests page, w

[2018-08-18 16:34] pranavashok commented on #607
#600 and #608 fixes this.

[2018-08-18 16:35] msrshahrukh100 commented on #612
i am adding django  import export to the requests model

[2018-08-18 16:45] rajeevravindran commented on #559
Hi @AkkoliPottammal , I'm thinking of working on this issue.

Just to confirm if I understand the issue correctly, the requirement is to add a new column in the "Relief Camps" screen called "Excess/Need".
In the backend (admin/mainapp/rescuecamp/), one more TextField will be added which will store the excess resources.

Am I correct in my assumptions?

[2018-08-18 16:47] ankithjoseph opened #613 "de-cluttering data: avoid possible duplication by showing warning like /request already registered/."
### Subject of the issue
avoid possible duplication by showing warning lyk /request already registered/.

### Your environment
* Chrome  Version 68.0.3440.106 (Official Build) (64-bit)
* Windows

### Steps to reproduce
https://keralarescue.in/requests/?district=ekm&requestee__icontains=&requestee_phone=&location__icontains=

### Expected behaviour
avoid possible duplication by showing warning lyk

[2018-08-18 16:51] bibinantony009 commented on #612
Is this the plug-in to export the data from datatables?

[2018-08-18 16:57] rajeevravindran commented on #559
Something like this?
![image](https://user-images.githubusercontent.com/10564476/44301504-b5978380-a335-11e8-9865-898c61948e8e.png)

In backend
![image](https://user-images.githubusercontent.com/10564476/44301512-e5468b80-a335-11e8-9c32-b26295042b42.png)

[2018-08-18 17:00] bibinantony009 commented on #612
can we use data table plugin to offer export options? this could solve pagination issues too..
https://datatables.net/extensions/buttons/examples/html5/outputFormat-function.html

[2018-08-18 17:00] #558 closed

[2018-08-18 17:01] cvrajeesh commented on #598
@shanavas786 looks good to me

[2018-08-18 17:05] JithinPavithran commented on #598
I'm working on this.

[2018-08-18 17:05] xaneem commented on #559
@rajeevravindran Please consult with @naveenpf (on slack) before you start on this.

We also have this page to view entered data:
https://keralarescue.in/camp_requirements/

[2018-08-18 17:06] msrshahrukh100 commented on #612
yes it'll allow the data to be imported or exported as csv, xls etc formats, but the problem is it is giving issues with django 2.1. I am on it

[2018-08-18 17:14] var23rav commented on #556
https://github.com/IEEEKeralaSection/rescuekerala/wiki/Create-Dummy-data

[2018-08-18 17:15] LilliputGuliver opened #615 "Voting for freshness/validity of a Demanded Comodity"
### Subject of the issue
 Currently we are not able to identify if a need cited 3 hrs back is still valid or not and hence mobilizing forces towards meeting that demand may prove futile in the end

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working

[2018-08-18 17:26] rajeevravindran commented on #559
I've added the two columns to /camp_requirements endpoint as well.
![image](https://user-images.githubusercontent.com/10564476/44301731-ef6a8900-a339-11e8-899f-2959903d2439.png)

Should I create a PR?

[2018-08-18 17:29] ssat335 opened #617 "We need something for analysing all the data and making it easier for rescuers"
### Subject of the issue
Currently, we are doing nothing on the data that we are recording. We are geo-mapping it, but they can be obsolete, and rescuers are unable to make a quick decision.

I have created a Dash (Plotly) based application for dynamic interaction, see skeleton in https://processkeralarescue.herokuapp.com/

Proposed plans:
* Summarise the rescue requirements by location.
* Analyse

[2018-08-18 17:30] shanavas786 commented on #598
#597 is already there. please don't duplicate work

[2018-08-18 17:32] ssat335 commented on #612
Proposed a solution in https://github.com/IEEEKeralaSection/rescuekerala/issues/617

See skelt implementation in https://processkeralarescue.herokuapp.com/

[2018-08-18 17:34] ssat335 commented on #240
Shall we try work on https://processkeralarescue.herokuapp.com/

I have created a repo in https://github.com/ssat335/processkeralarescue

[2018-08-18 17:36] var23rav commented on #481
@r3dsm0k3 @batpad what the plan to close the duplicated issue..
Seems like the issue counts keep increasing..
Authors Pls go forward and close it when you find its duplicated

[2018-08-18 17:36] #469 closed

[2018-08-18 17:37] var23rav commented on #416
@xssChauhan  @bobinson  @batpad what the plan to close the duplicated issue..
Seems like the issue counts keep increasing..
Authors Pls go forward and close it when you find its duplicated

[2018-08-18 17:38] ankithjoseph commented on #613
@gauthams09  as you mentioned "What we can do is take multiple fields such as location, name, phone and then check the duplication"
 adding to it

- also the time of report and user session // as seen in screenshot attached(may caused due to delayed feedback after submitting request , network issues ,  user clicking submit multiple times)

[2018-08-18 17:39] bobinson commented on #617
@ssat335 - this Python or something else ?

can you Provide a storyline of how you developed this and I think we can integrate this to the app

[2018-08-18 17:40] var23rav commented on #416
@xssChauhan  @bobinson  @batpad what the plan to close the duplicated issue..
Seems like the issue counts keep increasing..
Authors Pls go forward and close it when you find its duplicated

[2018-08-18 17:42] bobinson commented on #613
This will increase the number of queries to the db (especailly LIKE/SELECT etc) as we don't have a Solr /Lucene / ES indexing. So this has to be implemented carefully.

[2018-08-18 17:43] mithunmanohar commented on #613
Suggestion: Existing help request data can be periodically indexed in a service like [algolia](https://www.algolia.com/)(free for opensource) which provides a scaleable api we can use out of box in the help request page of kerala rescue. A full text search can bring the matching results to the page- which allows user to decide whether to post the request again.
https://github.com/algolia/algoliase

[2018-08-18 17:44] sainalshah opened #620 "Place holder for filter input boxes in requestee list page."
### Subject of the issue
Describe your issue here.
add place holder for filter input boxes in requestee list page.

### Your environment
NA

### Steps to reproduce
NA

### Expected behaviour
show place holder for filter input boxes in requestee list page.

### Actual behaviour
No placeholder currently

[2018-08-18 17:45] bobinson opened #621 "Ushahidi"
Tracking task for crowd sourced (volunteer driven) relief operations including verification of data, verification of the relevance / freshness of a request.

user manual #583

[2018-08-18 17:46] ankithjoseph commented on #240
#617

[2018-08-18 17:46] bibinantony009 commented on #620
This is tested good, good to push to Prod

[2018-08-18 17:46] bobinson commented on #615
good idea and #621

[2018-08-18 17:47] #615 closed

[2018-08-18 17:47] cvrajeesh commented on #604
Please close this as a duplicate of #598

[2018-08-18 17:48] ssat335 commented on #617
This is using Plotly Dash library and is a flask based application - https://plot.ly/products/dash/

Unfortunately, Django apps cannot integrate Dash application and have to be run as a separate dyno.

[2018-08-18 17:48] bobinson commented on #604
duplicate of#598

[2018-08-18 17:48] #604 closed

[2018-08-18 17:48] ideepakkrishnan commented on #613
Instead of restricting the duplicate entry altogether, we can use this as a way to figure out the relevance of each request.
What I mean is if we have a request which was logged, say, yesterday and someone is trying to add a duplicate one today, we can pull the old request to the top of the list.

[2018-08-18 17:50] bobinson commented on #598
@JithinPavithran You can help to test the PR (#597)

[2018-08-18 17:52] bobinson commented on #617
please reach me on slack

[2018-08-18 17:55] gauthams09 commented on #598
PR has been marked as tested, we need to merge it

[2018-08-18 17:55] bobinson commented on #607
@pranavashok just confirming, this issue is fixed right ?

[2018-08-18 17:56] bobinson commented on #612
#621 will provide this feature.

[2018-08-18 17:56] #612 closed

[2018-08-18 17:56] ankithjoseph commented on #613
@bobinson instead of validating duplicate entry at the entry stage.. can the data available be refreshed at certain time intervals to check for duplication externally....

[2018-08-18 17:57] kracekumar opened #623 "Add S3 support for Announcements Model"
### Subject of the issue
- Announcement model has an image and file field. All these data should be stored in S3 bucket.

### Expected behaviour
- Announcement list page should link images and uploads to S3 URL.

[2018-08-18 17:57] kannankumar commented on #240
@ssat335  -The plotly app looks good as a quick interface for officials to look at.

What are the other things we can to the site?
If we could group the data based on city instead of just District level that would be give a more granular info for the relief materials to reach correct locations.
eg - In Allapuzha district, how much request is coming from Chengganur and Thiruvalla, etc.

Will it be

[2018-08-18 17:58] bobinson commented on #596
#621 will provide this.

[2018-08-18 17:58] #596 closed

[2018-08-18 17:58] pranavashok commented on #607
@bobinson No, its not fixed. #600 made the GPS location come in the DB and #608 will display it on the /request_details page.

[2018-08-18 17:58] ankithjoseph commented on #613
de-cluttering data is essentially at this stage.

[2018-08-18 18:00] bobinson commented on #594
unfortunately we can't take up this right now. We will add this along with CD and reopen this later.

[2018-08-18 18:00] #594 closed

[2018-08-18 18:00] kannankumar commented on #240
@lunaroyster - I liked the quick Urgent request filtering app you created.
"I've created a website that's trying to categorize requests from keralarescue.in on the basis of their urgency. "
How are you categorizing urgency?? I'm asking because keralafights.com is trying to crowdsource urgent request categorization by volunteers marking a request as urgent or not. If your approach is automated, tha

[2018-08-18 18:02] bobinson commented on #582
@ashwinrajeev ashwinrajeev merged commit 7ec0625 into IEEEKeralaSection:master 3 hours ago
1 check passed

[2018-08-18 18:02] #582 closed

[2018-08-18 18:03] bobinson commented on #575
done - but not sure whether this PR will be accepted.

[2018-08-18 18:05] ankithjoseph commented on #613
closing #621 may solve this

[2018-08-18 18:07] ssat335 commented on #240
@kannakumar yes, prepro essing of the lats and lon can be possible. Please see the repo for some existing issues and we may start from there.

[2018-08-18 18:10] namboodiri commented on #390
Close this issue.

[2018-08-18 18:10] lunaroyster commented on #240
That's exactly what I've done. I'm providing several levels of urgency. The same requests are shown to several people, and I use wilson score (takes into account the number of votes) to determine urgent requests.

I'm working on categorizing new requests as soon as they arrive. I think it'll make sense for keralafights.com to integrate the crowdsourcing tool at https://kerala-crowdsource.itsarnavb

[2018-08-18 18:11] lunaroyster commented on #240
I'd love to get in touch with the keralafights.com folks. Reach me at https://twitter.com/itsarnavb

[2018-08-18 18:14] anroopak commented on #601
Is anyone working on this? I can contribute.

[2018-08-18 18:14] jkhere commented on #586
Great. If it is not a big change can you add an optional comment/remarks column. It will be useful to state any reasons or a link to FB post or twitter where this is confirmed.

[2018-08-18 18:26] ankithjoseph commented on #583
Is this feature up?
this may enable anyone at a safe location with internet to volunteer and can provide assistance or like validate request received by calling the requested number.

[2018-08-18 18:27] kannankumar commented on #240
@lunaroyster Yes you are right, the free text fields lead to very noisy data which is proving difficult to clean using NLP scripts. Manual intervention is required to sift through the 11K datapoints.
Wilson score is credible if there are more number of votes.

However the integration details can only be clarified by others. Since you've already got a site up and running with Wilson score for urgen

[2018-08-18 18:28] naveenpf commented on #559
Not required

[2018-08-18 18:28] #559 closed

[2018-08-18 18:29] akshayjoyinfo commented on #623
I am testing this one.

[2018-08-18 18:29] naveenpf commented on #559
Modules are currently designed for IT mission requirements .

[2018-08-18 18:29] kannankumar commented on #240
Im not sure who is working on keralafights.com but you could check with them here:
**"for any feedback on changes / data / api please mail your feedback to keralafights@ceegees.in"**

[2018-08-18 18:29] bobinson commented on #613
yes and thus closing.

Also we would need help with #621 - especially search/caching etc. if anyone here has expertise, please ping via slack

@mithunmanohar #621 is LAMP stack. help needed in any case. Also relief module needs help. do help by submitting PRs

[2018-08-18 18:29] #613 closed

[2018-08-18 18:30] bobinson commented on #623
Do we have cloudfront ?

[2018-08-18 18:32] bibinantony009 commented on #612
@bobinson Just realized that this case has been closed, we have created this enhancement and it's working.. could we raise a PR and push this?

[2018-08-18 18:33] shanavas786 opened #626 "[Question] why summary of request was removed from request page ?"
I guess its due to rendering issues.
If we can manage rendering in frontend, we can save a bunch of requests to server.
Also we can generate csv of the rendered data with javascript.

[2018-08-18 18:35] kracekumar commented on #623
No cloudfront setup @bobinson

[2018-08-18 18:35] jinojossy93 commented on #556
Hi @AkkoliPottammal ,

I am also getting the value as expected.

[2018-08-18 18:42] JithinPavithran commented on #556
I'm also getting the expected output after creating the dummy data.
I think this issue can be closed.

[2018-08-18 18:42] and opened #627 "RSS Feed/API access of incoming requests"
### RSS Feed/API access of requests
Can we release incoming requests data as an RSS feed or as an api?
This can be used to:
1. Move incoming requests to another tracker or to a service like ifttt.com to trigger some event.
2. For others to build on top of this data like: #617

[2018-08-18 18:59] liginv commented on #607
wouldn't  django-geoposition library can fix this?

[2018-08-18 19:00] liginv commented on #607
This is modified to fit django 2.X
[django-geoposition-0.3.1.tar.gz](https://github.com/IEEEKeralaSection/rescuekerala/files/2299803/django-geoposition-0.3.1.tar.gz)

[2018-08-18 19:28] lunaroyster commented on #240
Yep, I'm talking to the keralafights folks right now.

I want to integrate with the keralarescue.in database. I've already got an endpoint with the urgency results here: https://us-central1-keralarescue-fef8e.cloudfunctions.net/getUrgencies

Also, the /data endpoint was taken down. I know it was a heavy load, and I was using excessive caching on my end to not burden the keralarescue servers.

I re

[2018-08-18 19:28] salmanulfarzy commented on #583
Started working on a Malayalam translation of the above document.

[2018-08-18 19:29] #623 closed

[2018-08-18 19:36] and commented on #627
Just saw a thread about ticketing system - #20

[2018-08-18 19:39] yeaske opened #630 "Update readme with steps to generate migration files"
### Subject of the issue
Readme should be updated to show steps to generate migration files after adding/modifying model fields. Many PR are failing build because they don't generate migration scripts or manually create a conflicted one.

### Your environment
N/A

### Steps to reproduce
N/A

### Expected behaviour
Readme should be updated to show steps to generate migration files

### Actual behav

[2018-08-18 19:45] #607 closed

[2018-08-18 19:46] and commented on #627
For future reference. The data endpoint:
https://keralarescue.in/data
(down as of now)

[2018-08-18 19:48] #182 closed

[2018-08-18 19:52] lunaroyster commented on #627
Yeah the /data endpoint wasn't going to scale. It was serving an excessively large file.

I hope the replacement is built soon, since I was making use of the data at https://kerala-crowdsource.itsarnavb.me. I was being super careful (caching the data, and updating only once an hour) but alas, /data is dead

[2018-08-18 20:08] lunaroyster opened #634 "The death of /data"
The endpoint at keralarescue.in/data provided all the requests made on the website. It was extremely convenient to build tools using that, so I built a tool to [crowdsource the urgency of requests](https://kerala-crowdsource.itsarnavb.me/). It took off and many people are using it right now to triage requests. I made sure to cache it on my end, so I wasn't burdening keralarescue.in.

Since /data h

[2018-08-18 20:10] and opened #635 "Display 'status' field data on request page"
### Subject of the issue
I understand that status of an issue is being captured under mainapp_request.status table. Can we display it on each request page?

[2018-08-18 20:10] akshayjoyinfo commented on #623
There are couple of issues in this PR.

1. When we make pinned announcements
   Then the pinned announcement won't shown in the list ( but shows in Red color as priority, but no hyperlink for anouncements
![s3 aaaa](https://user-images.githubusercontent.com/1292985/44302908-51ce8400-a350-11e8-95e5-8d7fe727b974.PNG)

2. What if the annoucement team uploads file (with same name, chances are there) i

[2018-08-18 20:18] kurianbenoy opened #636 "Announcements page file not found"
### Subject of the issue
A file not found error is show when I am trying to download page requirements for next 30 days
![screenshot from 2018-08-19 01-46-13](https://user-images.githubusercontent.com/24592806/44302962-b0e0c880-a351-11e8-9ce6-cb8e30a2f422.png)

### Your environment
* Firefox 61
* Linux

### Steps to reproduce
https://keralarescue.in/announcements/
Go to https://keralarescue.in/ann

[2018-08-18 20:27] sebinbenjamin commented on #636
Not duplicate. Reproduced the issue.

[2018-08-18 20:32] and opened #638 "Protecting user information"
### Subject of the issue
Just a thought. How do we plan to protect user details. Name and phone numbers are visible for everyone to see. I understand the urgency of the situation but at some point we would have to remove it from public source.

One suggestion, is to hide a request from the website the moment it is resolved.
Thus completely removing the user details (name, phone, address) from the

[2018-08-18 20:54] IngridMorstrad commented on #638
Ideally we should allow only rescuers/admins to see this information.

[2018-08-18 21:03] dshreyas11 commented on #583
Guys can we have any ivr alternative where people can press there phone's buttons to answer simple questions?

[2018-08-18 21:04] lunaroyster commented on #634
Tools using /data:

https://kerala-crowdsource.itsarnavb.me
https://keralafights.com
https://processkeralarescue.herokuapp.com/

[2018-08-18 21:05] Sarathshasikumar commented on #638
Authorisation and authentication is the solution from front end. Database side we can encrypt the data.

[2018-08-18 21:33] dshreyas11 commented on #638
Well, I do think like creating a :--subdomain/section or page/ populating a Google sheet :-- of someone who is safe can enable people to check out who is safe and we can also manage a simple portal which can result names from this list as safe.

[2018-08-18 21:37] dshreyas11 commented on #580
@bobinson it's not clear to me in what way exactly testing is required?

[2018-08-18 21:51] salmanulfarzy commented on #583
Uploading PDF of above document updated till IST 03:20 AM. Please checkout and let me know if there is anything missing.

[പ്രളയ ബാധിത പ്രദേശങ്ങളിലെ  വോളണ്ടിയർസിനുള്ള സഹായ പുസ്തകം.pdf](https://github.com/IEEEKeralaSection/rescuekerala/files/2299875/default.pdf)

[2018-08-18 22:05] biswaz commented on #634
/data nearly killed our db

[2018-08-18 22:05] biswaz commented on #634
Solutions at work

[2018-08-18 22:09] r-tock commented on #636
This seems to have been fixed

[2018-08-18 22:15] #402 closed

[2018-08-18 22:25] biswaz commented on #587
Added by rescue camps

[2018-08-18 22:35] nithinis commented on #601
I was thinking on the same lines as @ssat335. There is a surplus of resources at some relief centers and scarcity in others. Collection centers are also working on broad estimates. Something to track the supply and demand would be very useful, especially in the difficult days ahead.

I can contribute too.

[2018-08-18 22:37] ashuthoshgowda commented on #634
Can we close this?
I think this is resolved

[2018-08-18 22:40] ssat335 commented on #500
Merged. Closed

[2018-08-18 22:40] #500 closed

[2018-08-18 22:49] ssat335 commented on #638
Probably no, as the general public are essentially the volunteers. May not be feasible at this point!

[2018-08-18 23:02] ashuthoshgowda commented on #634
Sorry, /data
crashed again!!!!

[2018-08-18 23:03] ja8zyjits opened #642 "NGO registration district"
### Subject of the issue
NGOs while registering do not have an option to mention their districts. But we provide an endpoint to download the ngo list with `district` filter

### Expected behaviour
The ngo registration form must have a compulsory required `district` field to enable district filtering. Else downloading ngo_list with `district` filter will always return an empty csv file.

What to do

[2018-08-18 23:22] r-tock opened #643 "Visual bugs for the search UI"
Here are some visual bugs
- all the inputs must have a minimum height of 48px on mobile. Minimum apple touch guidelines says a touch area needs to be 44px or larger
- all inputs should be 100% width on mobile
- when you mix English and Malayalam it is unreadable, so have input labels be multiple.line one for each language.
- That goes for all the text on the page
- Use html5 input types on all ele

[2018-08-19 00:05] lunaroyster commented on #634
@biswaz @ashuthoshgowda Is there an alternative yet? I think #637 adds a paginated version that would be nicer on the database.

[2018-08-19 00:49] kurianbenoy commented on #636
You are right @r-tock . I am closing this issue

[2018-08-19 00:49] #636 closed

[2018-08-19 01:06] nworden commented on #212
As discussed on Slack, I've written a new import script in a different branch (has a 2 at the end):
https://github.com/nworden/rescuekerala/tree/gpersonfinder2
It writes to a separate table. I'll add some basic filtering and dupe-checking later tonight (mid-morning IST).
There is still an open question of what is going to happen to this data once it's in these separate tables. @biswaz can you comm

[2018-08-19 01:07] ridha commented on #485
This is fixed  in #581

[2018-08-19 01:23] keerthanpg opened #644 "Feature Request: raise requests for food/medicines/potable water/priority pick up for emergency health conditions(pregnancy/attacks etc) and to track the same."
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-19 01:34] arunpc1711 commented on #580
@dshreyas11 I think he is referring to placing a "Home" button to navigate back instead going to the previous page on the Browser.

[2018-08-19 01:46] swetakum commented on #352
What's the status on this? I can pick this up , if not already picked up.

[2018-08-19 01:47] shajith commented on #634
Note that /data was only showing requests with a valid lat/lng, intended to support the map page.

We had to take it down because it wasn't going to scale with our data growth. you can get a SQL dump in slack - we have one pinned in #devops, and you can ask if you want a more fresh one. Come talk in slack if you'd like something different to get to the data.

[2018-08-19 01:50] swetakum opened #646 "Adding Hyperlinks to Other Contacts on Contact Us page."
### Subject of the issue
Adding Hyperlinks to Other Contacts on Contact Us page. Currently, the primary contact made a link, but not the other contacts, which contains mostly mail id or additional phone numbers

### Your environment
* Python 3.6
* Chrome
* OS Type Windows

### Steps to reproduce
https://keralarescue.in/contactus/?district=alp

### Expected behaviour
Other contacts should also be h

[2018-08-19 01:55] renjupaul opened #647 "Error while saving requests under https://volunteers.keralarescue.in/view/data - Validation ErrorStage 'Review' is required before publishing"
### Subject of the issue
some users are reporting errors while saving the requests here -> https://volunteers.keralarescue.in/views/data. It says

  Are we aware of any such problem? He was trying to save from a status "Under Review" to "Published".

I got it from a whatsapp user.
![whatsapp image 2018-08-18 at 22 27 44](https://user-images.githubusercontent.com/375841/44304627-dbbe2300-a337-11e8-

[2018-08-19 02:12] preethit opened #648 "Duplicate records in requests"
### Subject of the issue
Searching by requests per district, there duplicate records for requests.

### Your environment
* version of your python

* which browser and its version
Safari
* OS Type (iOS/Android/Linux/Windows)
iOS
### Steps to reproduce

1. Search request
2. Select Pathanamthitta
3. See duplicate records for

Achankunju cg | 9656777023 .
Achankunju cg | 9656777023

### Expected behav

[2018-08-19 02:12] vkmrishad commented on #580
@dshreyas11 exactly....

[2018-08-19 02:47] aakashaggarwal commented on #648
@ajaypc Are you working on it? Or can I pick it up?

[2018-08-19 02:49] ajaypc commented on #648
I am not able to reproduce this issue. Not working on it. You can pick up if possible

[2018-08-19 02:51] SanjaySG commented on #642
Working on this

[2018-08-19 02:58] preethit commented on #648
![image](https://user-images.githubusercontent.com/3870366/44304965-2476db80-a33a-11e8-9680-79712c5f6226.png)

[2018-08-19 02:59] aakashaggarwal commented on #648
Sure, picking it up.

[2018-08-19 03:04] PrinceShaji commented on #638
I think the best way would be to prevent scraping. Maybe limit the number of requests per minutes or something?

[2018-08-19 03:06] syam3526 opened #649 "Filter for rescuecamp"
we need a filter for https://keralarescue.in/admin/mainapp/rescuecamp/ . by district level.

[2018-08-19 03:10] mahesh5u commented on #647
if the user mark the task as complete by selecting the button this error disappears while saving..please advise if that is the additional step required , otherwise please mark it a high priority defect required immediate fix.

[2018-08-19 03:11] syam3526 opened #650 "[important from KSITM] Data Collection"
We are going to launch a massive field data collection on camps. however, the volunteers going there may not have data in proper format (it may be in paper as well) can we have a provision to upload scanned images (of that paper) on to our system and have it available in backend (web) somewhere . I will have operations team in backend going through each such paper reports and convert them onto our

[2018-08-19 03:14] lunaroyster commented on #634
@shajith Awesome. Thanks!

[2018-08-19 03:20] naveenpf opened #651 "Send sms"
#578

[2018-08-19 03:21] naveenpf opened #652 "Relief camp mobile app"
#639

[2018-08-19 03:25] arunkrishnan commented on #649
I am working on it

[2018-08-19 03:35] LilliputGuliver commented on #652
Visualize it this way as everyone stranded is an uber traveler and every rescue team is a uber driver plus the food provider is also a driver and the food requester is like a traveller.
Also to track people that are picked up , its like me dropping a pin manually / through GPS etc but the Pin has got in addition to coordinates the mobile number of the people as the key , and then the rescue person

[2018-08-19 03:38] naveenpf commented on #652
We have the requirements from IT mission. Just implement that.

[2018-08-19 03:41] arunkrishnan commented on #650
I am working on it

[2018-08-19 03:44] jojyva opened #654 "Phone number validation failing for land line numbers in https://keralarescue.in/request/"
Phone number validation failing for land line numbers in https://keralarescue.in/request/

Live- Prod
### Steps to reproduce
enter phone number 04772222222 in phone number field of  https://keralarescue.in/request/

### Expected behaviour
Phone number should be accepted

### Actual behaviour
Getting error message "Please Enter 10 digit mobile number"

[2018-08-19 03:47] SanjaySG commented on #642
Please mark the issue as open for testing

[2018-08-19 03:50] aakashaggarwal commented on #654
Can add a proper validation for landline phones, but the error says mobile number. Is that on purpose?

[2018-08-19 03:51] tvek opened #656 "New Feature to update the existing requests"
### Subject of the issue
New Feature to update the existing requests with new time or more description without editing number or name etc.

### Your environment
Production System - Keralarescue.in

### Steps to reproduce

1. Visit the "Registered Request" section
2. Search with phone number 7559032758.
3. You can see that same details is getting duplicated only by time being updated. they want the

[2018-08-19 03:53] Kavit900 commented on #654
Working on it, we can say invalid phone number.

[2018-08-19 04:00] edayan commented on #580
![image](https://user-images.githubusercontent.com/4129151/44305329-79464080-a392-11e8-91b1-09a6b36b0c55.png)

pull request https://github.com/aswinmohanme/kerala-flood-map/pull/36 will do the same

[2018-08-19 04:21] #652 closed, assigned to nobody

[2018-08-19 04:25] BenoyStephen commented on #647
<img width="1280" alt="screen shot 2018-08-19 at 08 33 52" src="https://user-images.githubusercontent.com/42506902/44305483-dd1e3880-a395-11e8-894c-2c90bc7020aa.png">
This is how my screen was. We need to forward this case immediately he has been stuck for the last couple of days and all that people are doing are calling and collecting information. Need to move this quickly

[2018-08-19 04:30] xaneem commented on #646
Adding something like this should work. We already have it on Relief Camps list page. Please raise a PR.

[code]

[2018-08-19 04:38] swetakum commented on #646
Thanks @xaneem. I will do the needful.

[2018-08-19 04:39] cijo7 commented on #634
@biswaz it is not just DB. The client side was also experiencing lag due to huge amount of data. You need to serve a filtered static resource that may be updated every few minutes.Use django-cron for that. Somebody told me that data was already being cached. Who is working on it?

[2018-08-19 04:45] csbasil commented on #587
Your are Mentioning about this one https://keralarescue.in/find_people/  right?

[2018-08-19 04:49] Ketcomp opened #658 "Organize README for fast ramp up for new contributors."
### Organize README for fast ramp up for new contributors.
Structure the README for easy understanding of the requirements and steps to get the Django app running locally.

Changes include:
- Add a table of contents
- Nest content as appropriate.
- Some minor typo fixes.

[2018-08-19 04:50] ayushudaipur opened #659 "Server Error"
### Subject of the issue
The server wasn't responding and shows can't connect.

### Your environment
* 3.6
* Chrome
* Android

### Steps to reproduce

### Expected behaviour
Must respond faster.

### Actual behaviour
This isn't responding.

[2018-08-19 05:29] techsavd commented on #635
I am looking into this.

[2018-08-19 05:30] #649 closed

[2018-08-19 05:38] bobinson commented on #647
looking into this on priority

[2018-08-19 05:42] riginoommen commented on #648
I saw some duplicate issue related to this. Let me link it

[2018-08-19 05:43] RiyaMRoy04 opened #665 "Feature Enhancement: Option to update the registered requests after successful completion"
NGO should have an option to update the request after it has been successfully completed.
Also, a comment box should be provided on the individual registered request page if NGO needs to add more details to the same request.

[2018-08-19 05:44] techsavd commented on #635
The PR for this is https://github.com/IEEEKeralaSection/rescuekerala/pull/666

[2018-08-19 05:51] #658 closed

[2018-08-19 05:53] AkkoliPottammal commented on #559
@naveenpf  @xaneem
This page has no data
https://keralarescue.in/camp_requirements/

How can I enter details about Camp specific details ??? Excess/ needed items specific camps
Through "back end" or "front end" ?

[Please Reply - URGENT]
NB : We have data in Excel sheet. How to feed to DB now??????

[2018-08-19 05:54] sudev commented on #601
This [crowdsourced google map](https://www.google.com/maps/d/u/0/viewer?mid=19pdXYBAk8RyaMjazX7mjJIJ9EqAyoRs5&ll=10.588180770136644%2C76.59135823100587&z=8) with all relevant information seems to be more useful than what we are trying to implement here.

@nithinis @ssat335
The inventory management tools are hard to implement and Sahana seems to have a good implementation. I think there has been so

[2018-08-19 05:56] ferricfury commented on #650
is this done? can we add emergency contact number/name and relation to the file

[2018-08-19 05:58] #665 closed

[2018-08-19 05:59] ferricfury commented on #648
hi, we need to normalize names ie. all upper and remove special characters excluding Malayalam script. then we can clearly identify duplicates and mark 1st record with an inactive/duplicate flag. I am assuming the last record will be more accurate. also issue with requests is that multiple requests can come from the same person. we can only deal with this if we know that the previous request was f

[2018-08-19 06:02] bobinson commented on #659
which was the URL ? and domain ?

[2018-08-19 06:03] bobinson commented on #650
I need more information on this as we will be using Ushahidi for the data import / export etc. Also there is someone working on data export for 2 days.

[2018-08-19 06:04] bobinson commented on #638
we will be addressing this

[2018-08-19 06:05] riginoommen commented on #648
#173 its status in progress

[2018-08-19 06:06] akshayjoyinfo commented on #620
anyone is working on this? should I pick this up?

[2018-08-19 06:12] gbhobe commented on #647
Looks like this requires
1. User to be logged in
2. The `task complete` button to be toggled.

This is a validation step. Perhaps we can take a look at the settings to turn this review step off. But it might increase chances of spam.

[2018-08-19 06:25] jobinlawrance commented on #212
@bobinson @arjun-pp do take a look and let me know how we can use this data. Should i start with analytics and deduplication.

[2018-08-19 06:41] bobinson commented on #659
no relevant info. closing.

[2018-08-19 06:41] #659 closed

[2018-08-19 06:59] #650 closed

[2018-08-19 07:08] Gotham13121997 commented on #654
We also need to truncate the 0 in case a number is entered. This is what is causing the problem.

[2018-08-19 07:10] rmdso commented on #656
Also, when viewing a 'Registered Request' we should show other requests made from the same phone number below the request that is currently being viewed.

[2018-08-19 07:26] AkkoliPottammal commented on #559
Yes. Got it.
https://keralarescue.in/add_camp_data/

[2018-08-19 07:29] AkkoliPottammal commented on #559
This page has no data
https://keralarescue.in/camp_requirements/

How can I enter details about Camp specific details ??? Excess/ needed items specific camps
Through "back end" or "front end" ?

[2018-08-19 07:39] riginoommen opened #670 "Please Correct the Message on the tiles of the keralakescue.in"
### Subject of the issue
Message on the Blocks looks confusing and it misleads users
<img width="255" alt="screen shot 2018-08-19 at 1 07 26 pm" src="https://user-images.githubusercontent.com/3840244/44306670-329d1a00-a383-11e8-99b9-32ecdde599b7.png">

[2018-08-19 07:45] #648 closed

[2018-08-19 07:48] r-tock opened #671 "Constant spikes of request handlers in Django taking 4-5 seconds"
You can see it here
https://dashboard.heroku.com/apps/keralarescue/logs

There is no equivalent spike in DB query latencies, slowest query there is still < 100ms

Currently the two conjectures are
- N+1 selects problem happening in Django ORM
- Untuned connection pooling in Django

[2018-08-19 07:48] #670 closed

[2018-08-19 07:49] shubhamgoyal42 commented on #670
![homepage](https://user-images.githubusercontent.com/22051142/44306736-6a6f8600-a3b2-11e8-962c-ebdc7ad881fa.png)
Looks fine on my system

[2018-08-19 07:52] riginoommen commented on #546
@kurianbenoy Thanks Kudos

[2018-08-19 08:06] riginoommen commented on #583
@salmanulfarzy Please add this to readme.md

[2018-08-19 08:06] shubhamgoyal42 commented on #630
I've added this in wiki page.
https://github.com/IEEEKeralaSection/rescuekerala/wiki/Contribution-Guidelines#creating-migration-files

Let me know if I should write this somewhere else.

[2018-08-19 08:14] Ranjandas commented on #638
duplicate #308 ?

[2018-08-19 08:16] ferricfury opened #673 "Duplications in lists - Camps/Volunteers/Requests/etc"
### Duplication in current lists.
6k duplicates in volunteers list and 300 invalid phone numbers in dump (https://s3.amazonaws.com/keralarescue-datadump/20180818_0600/mainapp_tables.sql)

*#de-dupe volunteer data*
[code]

[2018-08-19 08:26] anivar commented on #583
Lets close this

[2018-08-19 08:30] arunkrishnan commented on #651
This has been fixed

[2018-08-19 08:35] salmanulfarzy commented on #583
Will send PR ASAP.

[2018-08-19 08:48] #481 closed

[2018-08-19 08:50] GitHub4Harish opened #676 "Donate to Chief Minister's Fund Online on the "To Contribute" page is not working"
### Subject of the issue
Donate to Chief Minister's Fund Online on the "To Contribute" page is not working

### Your environment
Chrome & IE
OS Type Windows

### Steps to reproduce
Redirects to https://donation.cmdrf.kerala.gov.in/ and gives the below error:

_Forbidden
You don't have permission to access / on this server.
Additionally, a 403 Forbidden error was encountered while trying to use an

[2018-08-19 08:50] saifali40 commented on #676
@GitHub4Harish It is working

[2018-08-19 09:04] amiteshP commented on #676
@GitHub4Harish  works fine!

[2018-08-19 09:05] #643 closed

[2018-08-19 09:13] salmanulfarzy commented on #352
I will try to translate as much as possible, How do you want the data ?

[2018-08-19 09:15] satheesht0 commented on #676
@GitHub4Harish unable to reproduce this issue. Probably a temporary issue at https://donation.cmdrf.kerala.gov.in/ ?

[2018-08-19 09:28] amiteshP commented on #499
Is there anyone working on it? If not, can you give me a few starter tips, i would like to do this.

[2018-08-19 09:43] zubairkumbla opened #679 "Create direct donation payment to CMDRF account in home page with paypal integration."
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-19 09:47] zubairkumbla opened #680 "find nearest rescue home."
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-19 09:48] #228 closed

[2018-08-19 09:49] riginoommen commented on #680
Please see https://keralarescue.in/relief_camps_list

[2018-08-19 09:50] #680 closed

[2018-08-19 09:50] arpit7714 commented on #499
I think it's already closed

[2018-08-19 09:56] riginoommen commented on #679
Thanks for filing the Issue

But seems to be duplicate of #509

[2018-08-19 09:57] riginoommen commented on #679
Please forward the communication at #509

[2018-08-19 09:58] #679 closed

[2018-08-19 09:59] aravindharinair commented on #676
CMDRF site occasionally crashes. Solution proposed and awaiting merge at PR #614

[2018-08-19 10:00] aravindharinair commented on #679
Solution proposed and awaiting merge at PR #614

[2018-08-19 10:02] amiteshP commented on #499
Ok, i just didn't see any status update field on the requests page so i thought maybe noone has looked it up yet!

[2018-08-19 10:27] arish007 commented on #676
looks like it is down... accessing from US.
<img width="962" alt="screen shot 2018-08-19 at 3 24 56 am" src="https://user-images.githubusercontent.com/8380162/44307895-a0374f00-a35f-11e8-9f79-09d71ebbec6a.png">

[2018-08-19 10:52] shiv19 commented on #646
@swetakum
That's because the data in other category was supposed to be emails
https://github.com/IEEEKeralaSection/rescuekerala/blob/c08347ed52bc1643728172e11498f3d1853cfdaa/mainapp/templates/mainapp/districtmanager_list.html#L24

Take a look here 🤔

[2018-08-19 10:53] anuragkollam commented on #676
https://donation.cmdrf.kerala.gov.in not working

[2018-08-19 10:57] shiv19 commented on #676
seems to be working just fine here. this issue can be closed.

[2018-08-19 10:58] biswaz commented on #671
This might be the file upload (admin feature) using boto, added synchronously

[2018-08-19 10:59] biswaz commented on #671
@cibingeorge

[2018-08-19 11:01] anuragkollam commented on #676
Now its working.

[2018-08-19 11:14] #630 closed

[2018-08-19 11:14] shiv19 commented on #598
#597 has been merged.
Please close this issue.

[2018-08-19 11:31] jojyva commented on #654
Looks like the code is yet to be fixed to prod/live.

[2018-08-19 11:48] anuragkollam opened #685 "Add relief camp data"
https://keralarescue.in/add_camp_data/

Validation not working.  While pressing submit button without filling any details showing success page,  please check and update

[2018-08-19 12:02] #598 closed

[2018-08-19 12:11] dijeesh opened #687 "Need a solution to mark reported issues as resolved once solved."
### Subject of the issue
Need a solution to mark reported issues as resolved once solved.

We are working on SOS / Data Collection Team but unable to mark rescued/resolved items in the site.

Duplicates are coming into the queue.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this

[2018-08-19 12:27] bensonkb opened #688 "Need to add Required filters in camp_requirements"
Kindly add filters that can be used to search for camp_requirements easily.

Now case is that need search for each champ what is required for.

Kindly add priority also. Like urgently needed or need with in few something like that.

[2018-08-19 12:27] AnirudhKishan opened #689 "UI Distortion in "Register as a volunteer or NGO""
Issue
------

![distorted text](https://user-images.githubusercontent.com/3175221/44308755-ff857580-a3d8-11e8-9438-21ecdce631ca.png)

Expectation
---------------

The dotted line should separate the English and Malayalam text.

[2018-08-19 12:27] AnirudhKishan commented on #689
I'll take this up.

[2018-08-19 12:30] bobinson commented on #671
@biswaz - anything in the Heroku/  django logs at this point in time ?

[2018-08-19 12:33] bobinson opened #690 "HTTPS redirection for volunteers.keralarescue.in"
### Subject of the issue
http://volunteers.keralarescue.in should redirect to https://volunteers.keralarescue.in

### Your environment
everywhere.

[2018-08-19 12:38] anshprat commented on #690
wip

[2018-08-19 12:47] anshprat commented on #690
curl -I volunteers.keralarescue.in
HTTP/1.1 301 Moved Permanently
Content-Length: 191
Content-Type: text/html
Date: Sun, 19 Aug 2018 12:47:36 GMT
Location: https://volunteers.keralarescue.in/
Server: openresty/1.11.2.5
Connection: keep-alive

[2018-08-19 12:47] arjun-pp opened #693 "Enhancement: Implement breadcrumbs"
The site has grown and I think we should add breadcrumbs to the site for faster navigation.

[2018-08-19 12:52] bobinson commented on #690
verified and closing.  @anshprat

CC: @cibingeorge

[2018-08-19 12:52] #690 closed

[2018-08-19 12:52] johnsamuelwrites commented on #687
Which issues are you talking about? Github issues? Or status of a rescue effort? The latter is being discussed here: https://github.com/IEEEKeralaSection/rescuekerala/issues/549

[2018-08-19 12:53] dsamanmishra opened #694 "Place icon not appearing on the request for help page"
### Subject of the issue
On opening the request for help page, https://keralarescue.in/request/ , Click on Enter Location Manually button, after that a small box is formed below the manual location box which seems to be there for showing the place icon, when a location is selected manually. But if no location is selected, still an empty box is being shown.

### Your environment
* Firefox 61.0.1
*

[2018-08-19 12:57] dsamanmishra commented on #694
I am working on this.

[2018-08-19 13:11] #689 closed

[2018-08-19 13:12] vinayhegde1990 commented on #214
**[Email2SMS](https://email2sms.info/)** has useful information that could be referred to & possibly used here :)

[2018-08-19 14:27] #583 closed

[2018-08-19 14:44] binithb commented on #240
I made some visualizations hosted at http://206.189.139.183:8000/stats/requests and http://206.189.139.183:8000/stats/volunteers

sample screenshot -
![image](https://user-images.githubusercontent.com/1933844/44309959-f68fa680-a3ce-11e8-81a9-0361a1af759c.png)

Some of the charts are interactive.
I havent raised a pull request for this yet. Please comment if this is inline with what we are looking

[2018-08-19 15:23] cyriac opened #703 "Running django dev server with SSL requires editing code"
### Subject of the issue
Running SSL server now requires editing code and removing the edits from code before committing. This might be something that developers might miss.

### Your environment
* Python 3.6.5
* Chrome
* Mac OS High Sierra

### Steps to reproduce
Follow instructions in the [Enable HTTPS connections](https://github.com/IEEEKeralaSection/rescuekerala#enable-https-connections) secti

[2018-08-19 15:39] arpit7714 commented on #693
how i can help ?

[2018-08-19 15:48] arjun-pp opened #706 "Feature: Export data as PDF."
Export filtered requests/camp details/volunteer data as PDF. Limit count of data to avoid huge transactions.

The documents maybe used for official purposes and offline access.

[2018-08-19 16:46] old-M0nk commented on #706
@arjun-pp One of my team members has experience with this. Can you give some more detail about this?

[2018-08-19 16:48] vigneshhari commented on #706
The data can be already accessed as excel files, we can use any spreadsheet tool to then convert that to PDF's.

[2018-08-19 16:49] AkshJain99 opened #709 "change in settings.py file"
changes need to be done in settings.py
Add ALLOWED HOST [127.0.0.1]
###
 python 3.5
* mozilla firefox
* OS linux

Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happens instead or what went wrong

[2018-08-19 17:00] satm opened #710 "Add request number in the /request page table as first column"
### Subject of the issue
Show the request number in the table in https://keralarescue.in/requests page . Currently there is no way to mark the requests as closed by the data collection and verification teams . Currently what we are doing is using call the person using the contact in one ticket , search with the mobile number in rescue site to get all duplicates and note down all the duplicates tic

[2018-08-19 17:01] arjun-pp commented on #706
I saw only NGO list as csv. Rest details like requests/camp lists/requirements I could not find from where to export.

[2018-08-19 17:01] biswaz commented on #671
Officials are downloading csv's of complete tables! This is the most likely cause

[2018-08-19 17:03] Unniks-here opened #711 "Inventory Tracking and management in Relief Camps"
**Inventory management**

1) Category wise items arrangement/management
2) Camp wise requirement finding
3) Food/Other items _inward/outward register_
4) Camp wise food items _requirement register_ should be publically available.
5) Main camp (center warehouse) to all other camps inventory tracking and management.

After implementing this feature will help us to prevent wastage of food and live tr

[2018-08-19 17:05] vigneshhari commented on #709
We already have added localhost in the environment file provided in the repo.

[2018-08-19 17:05] #709 closed

[2018-08-19 17:06] vigneshhari commented on #634
/data is alive with pagination now, closing this isue

[2018-08-19 17:06] #634 closed

[2018-08-19 17:13] #694 closed

[2018-08-19 17:27] msrajesh opened #713 "not able to create new request - phone number entry issue"
### Subject of the issue
Describe your issue here.

### Your environment
Production site ,  used chrome

### Steps to reproduce
create a new req

This is hampering the triage for the rescue reqs

[2018-08-19 17:32] satheesht0 commented on #713
@msrajesh can you please add more details on the issue? (There are some fixes with phone number entry  already in progress such as #654.)

[2018-08-19 17:35] AkshJain99 commented on #709
But when we create localhost it doesn't create as it has two lines changes
In allowed host list

On Sun, 19 Aug 2018, 10:48 pm Vignesh Hari, <notifications@github.com>
wrote:

[2018-08-19 17:41] msrajesh commented on #713
@satheesht0 ,  got the issue in production while trying to add following

District : Alappuzha
Area : Near Edathua Brethren Church, Alappuzha (Edathua-Parathoide-Thiruvalla road)
Name of the person : Soman
Phone number : 9526698070

Location  - https://goo.gl/maps/9A9NnVwBdJQ2

[2018-08-19 17:43] amiteshP commented on #693
I can help too. How to start?

[2018-08-19 17:48] salmanulfarzy commented on #713
Tested on production and can confirm.

![image](https://user-images.githubusercontent.com/10276208/44311487-18585000-a406-11e8-99c1-6f976bbf0c43.png)

[2018-08-19 17:49] satheesht0 commented on #713
Thanks @msrajesh  and @salmanulfarzy . Checking if its working after the fix for #654

[2018-08-19 17:50] amiteshP commented on #711
I can contribute to this with someone. Where to start?

[2018-08-19 17:50] salmanulfarzy commented on #713
Tested #657 and its working.

[2018-08-19 17:51] arjun-pp commented on #673
Could you please explain your approach?

[2018-08-19 17:53] r-tock commented on #671
I am closing this, not as urgent now, we have a handle on the behavior.

[2018-08-19 17:53] #671 closed

[2018-08-19 17:55] satheesht0 commented on #713
Yes, fix for #654 fixes this issue as well.

[2018-08-19 17:58] salmanulfarzy commented on #713
@biswaz @ashwinrajeev @vigneshhari

[2018-08-19 18:01] cosmicAsymmetry commented on #693
Please add label.

[2018-08-19 18:03] cosmicAsymmetry commented on #546
Add label for in progress please.

[2018-08-19 18:24] cyriac opened #715 "/map-view icons are same"
### Subject of the issue
/map-view icons are the same and can be confusing.

### Your environment
* Python 3.6.5
* Chrome
* Mac OS High Sierra

### Steps to reproduce
Open /map-view

### Expected behaviour
Different icons that make sense to the title. Flooded streets can use `road` icon.

### Actual behaviour
Both ```Relief Resouce``` and ```Flooded Streets``` show the same icon.

[2018-08-19 18:25] iFlameing opened #717 "Gps field is not taking any input in REQUEST FOR HELP form."
### Subject of the issue
Gps field is not taking any input in REQUEST FOR HELP form.
### Your environment
* version of your python 3.7
* which browser and its version any browser
* OS Type (iOS/Android/Linux/Windows)any os

### Steps to reproduce
Tell us how to reproduce this issue.
Go to official website and check .

### Expected behaviour
It should take input

### Actual behaviour
Not taking any

[2018-08-19 18:25] bobinson commented on #654
#713 also has the same issue. closing this and working on #713

[2018-08-19 18:25] #654 closed

[2018-08-19 18:28] msrajesh commented on #713
Could some one post a msg to -  https://chat.whatsapp.com/9Tz2hteY0og1H4fgmC9vmW    ,   Once its working .    Triaging of the cases to close once req is fullfilled  & priority  marking  of req is happening  there

[2018-08-19 18:28] cosmicAsymmetry commented on #715
Once reviewed and appropriate tags added may I claim this?

[2018-08-19 18:29] salmanulfarzy commented on #713
Pinged @bobinson and this will be resolved asap.

[2018-08-19 18:42] mantlecurve commented on #717
GPS coordinates are auto filled when given access to request for location. It works in official website and works in development mode if you enable ssl

[2018-08-19 19:00] and opened #718 "Disable 'Allow Location' Pop-up if the user has already opted to 'Allow'"
### Disable the 'Allow Location' Pop-up if the user has already opted to 'Allow'.
If a user has opted to 'Allow' sharing his location with the browser, let us disable displaying the pop-up.

It will make testing/local development easier as well.

[2018-08-19 20:05] IkbenJee commented on #240
@kannankumar are you connecting to a live data source?

[2018-08-19 20:06] mantlecurve opened #721 "Instructions for the location denied user"
### Subject of the issue
Currently the the popup for the location shows how to allow the location access. It doesn't have instructions to show how a denied user(or mistakenly denied) can enable it again, for both desktop and mobile.

[2018-08-19 20:15] AkshJain99 commented on #715
want to work on this issue please put a tag there

[2018-08-19 20:16] naveenpf opened #723 "[New feature] Have crowd source collection centres."
### Subject of the issue
Have crowd source collection centres.

### Expected behaviour
1. Have crowdsourced collection centres in this page
https://keralarescue.in/relief_camps/
2. One form to Register with two tabs inside kerala and outside kerala
       Name of collection centre.
       Address
       Integrate geolocation from mapview.(if possible pop-up google map to select the location)

[2018-08-19 20:42] and commented on #721
@mantlecurve, could you please type the message that needs to be displayed?
I will integrate it in the code.

[2018-08-19 21:50] SHAFIT opened #726 "[Feature request] add www.tawk.to (live chat support ) to home page for user support."
### Subject of the issue - new feature request. Live chat support

Adding new live chat support feature on website using tawk.to plugin.
We can assign few volunteers to support users on how to use this site.
Can be used with a mobile app as the moderator end.

[2018-08-19 21:51] shajith commented on #713
eventually fixed via https://github.com/IEEEKeralaSection/rescuekerala/pull/724 merged and deployed now

[2018-08-19 21:51] #713 closed

[2018-08-19 22:40] binithb commented on #240
I also saw some excel based data being shared around. If that's too much of a hassle that kind of work also can be done using this (read only, not for editing) provided the data is in a database/dump

[2018-08-19 22:56] securitydaemon opened #729 "Improve phone number validation defect fix/patch #724"
@shajith
@Kavit900

Currently in the fixed version (patch #724) the regex is:
`((\+91|91|0)[\- ]{0,1})?[456789]\d{9}`

Here is a couple of suggestions:

1. The following should also do to cover case "0091"
`((\|+91|0091|91|0)[\- ]{0,1})?[456789]\d{9}`

2. We need to also filter out premium rate numbers, not sure what those are in India. Any thoughts?
For example, the following passes, but they sho

[2018-08-19 23:50] IkbenJee commented on #240
Guys, i have been able to extract the data from sql reports and have created a visual, you all can access it from Tableau public.

Since its an extract a lot of time is spent on cleaning the data, if you can let me know, how i can connect to a live dashboard, we can try to make a live connection.

I have set few filters on the dashboard, based on date, medical help required and location.

The phon

[2018-08-20 00:33] naveenpf commented on #651
Done

[2018-08-20 00:33] #651 closed

[2018-08-20 00:57] sourabh1024 commented on #729
Try this
`^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789](\d{8,9})$`

[2018-08-20 01:01] gitLee47 opened #730 "The docker setup doesn't work out of the box for Windows 10 Home Edition"
### Subject of the issue
The docker setup doesn't work out of the box for Windows 10 Home Edition. Slight modifications need to be done to make the repo run using docker-toolkit

### Your environment
* Python 3
* All Browsers
* OS Type: Windows

### Steps to reproduce
1. Clone the repo to a Windows 10 Home Edition machine with docker-toolkit installed.
2. Follow the steps mentioned in the Readme.m

[2018-08-20 01:03] gitLee47 commented on #730
I have found the solution for this and am updating the Readme.md with steps to run the site using docker-toolkit on Windows 10  Home Edition.

[2018-08-20 01:29] naveenpf commented on #723
From backend we should have option to mark as verified/unverified and open and closed

[2018-08-20 02:06] npari opened #732 "Feature - Add section for Animal Rescue in Kerala Floods"
### Subject of the Feature

1. There are many keralites who have left behind their precious pets and need a way to ask for help to rescue their pets.
2. There are animal rescue groups actively working to rescue them.
3. There is a need for people to report these pets and their location so that animal rescue teams can go rescue them.

### Expected behavior
We need an icon in the homepage that would

[2018-08-20 02:10] npari commented on #732
Organizations Supporting animal rescue:
**Humane Society International - India**
- [Facebook](https://www.facebook.com/IndiaHSI/)
- Helpline: _**+91 89433 22808**_

[2018-08-20 03:06] sourabh1024 commented on #729
@securitydaemon any reason you want to filter them out ?

[2018-08-20 03:09] gitLee47 commented on #732
I can start and add the card linking to the FB page and also the helpline number in the card

[2018-08-20 03:16] kannankumar commented on #240
@binithb No I'm not connecting to the live data source. The keralarescue.in/data endpoint is Out of Bounds , Limited at 300 records and only used for /map.
I got a database dump from @lunaroyster yesterday . They are working on crowdsourced urgency mapping at (https://kerala-crowdsource.itsarnavb.me)

It would be awesome if we keep pushing DB dumps to Json every few hours for data guys to explore

[2018-08-20 03:31] naveenpf commented on #240
we should be doing that hourly in both csv and json
And keep it on right top corner of this page.
https://keralarescue.in/requests/?district=

[2018-08-20 03:32] #726 closed

[2018-08-20 03:36] npari commented on #732
Thanks @gitLee47! I will get more information and add to it.

[2018-08-20 04:08] yeaske commented on #693
@amiteshP

https://getbootstrap.com/docs/4.0/components/breadcrumb/ is the easiest way do static. I guess it can be done as part of django template/views too.

[2018-08-20 04:38] a-thomas-ny commented on #252
This issue still exists in the new system.
![image](https://user-images.githubusercontent.com/7717754/44320648-527b1f00-a411-11e8-9724-e19f4795e137.png)

[2018-08-20 05:09] amiteshP commented on #693
@yeaske  thanks! I will start on it.

[2018-08-20 05:13] vigneshhari commented on #706
@arjun-pp only admin users can download such csv files

[2018-08-20 05:16] vigneshhari commented on #626
The summary was too huge and the tables were becoming hard to manage and read from

[2018-08-20 05:59] shanavas786 commented on #626
Well, I think we can hide it and show a modal or something when show details clicked.

[2018-08-20 06:11] bobinson opened #736 "Fix ELB sticky session - Ushahidi deployment"
### Round Robin DNS related issues at the load balancer.

This is a tracking issue.

[2018-08-20 06:11] bobinson commented on #736
fixed and verified.

[2018-08-20 06:11] #736 closed

[2018-08-20 06:36] kptikku opened #737 "Feature - Add expiry to each 'Registered Request' post"
### Subject of the issue
Currently there are hundreds of requests available in the 'Registered Request'. Many of them would have already been met. Inorder to avoid surplus of stock, there is a need to set an expiry for the same.

### Expected behaviour
There should be an expiry to each post set to a 24 hour period from post creation. After 18 hours, an sms should be send to the owner of the post,

[2018-08-20 06:38] #737 closed

[2018-08-20 06:38] naveenpf commented on #729
Not required

[2018-08-20 06:38] #729 closed

[2018-08-20 06:40] naveenpf commented on #685
removed the page

[2018-08-20 06:40] #685 closed

[2018-08-20 06:45] kptikku commented on #737
@naveenpf Mentioning the reason for closing this will be helpful. :)

[2018-08-20 06:50] naveenpf commented on #737
We have seen similar issues multiple times . sorry. We are not deleting the request. status tracking not easy to track on the ground during a disaster .

[2018-08-20 06:56] mantlecurve commented on #721
On Desktop (Chrome)
1. Go to 'settings'
2. Click on 'Advanced' on the bottom
3. Click on 'Content Settings'.
4. Click on 'Location'
5. From 'Block' section delete "https://keralarescue.in:443"

On Mobile (Chrome)
1. Go to 'Settings'
2. Click on 'Content Settings'.
3. Click on 'Location' (enable location services)
4. From 'Blocked' section click on "https://keralarescue.in:443"
5. Click on 'Clear a

[2018-08-20 07:00] bobinson commented on #711
There is an initiative going on. I will revert with more details.

[2018-08-20 07:11] bobinson commented on #676
This is working intermittently AFIK IT mission is not running this.

[2018-08-20 07:28] binithlighting commented on #240
@IkbenJee Nice dashboard. Once there is decision on whether or not we have live access to DB we can work together. If the decision is to only work based on offline dumps I can setup another postgres DB and share you access.
The t/f you are referring to must be true/false values(boolean). They should be readily populated with correct type if you are connecting to the live table. It must be because

[2018-08-20 07:33] SaifurRahmanMohsin commented on #706
A good solution for this would be to make an open API node to download the data in a specified format (maybe support csv alone for now since coding a PDF generator would take longer).

[2018-08-20 07:39] securitydaemon commented on #729
@sourabh1024 without such filtering volunteers or authorities may end up dialling premium rate number if they are accepted in request.

[2018-08-20 07:43] biswaz opened #740 "Disable editing dup/inactive camps in admin"
Rescue camps should only be editable for admin if its status is active

[2018-08-20 07:44] IkbenJee commented on #240
@binithlighting ! Yes, If I am able to connect to the data dump also, it would be handy.

The dashobard is ofany use, if the information is UPTO date and have a normal refresh schedule with the latest status. Otherwise no point in working on something like this.

Question: How are we going to roll this out a wide coummunity? I know we can publish it to Tableau and people can access this using a ur

[2018-08-20 07:50] Unniks-here commented on #711
I'm not familier coding with python and Django. But I can provide flow diagrams and wireframes of idea. Please let me know if it required.

[2018-08-20 07:55] gauthams09 opened #741 "Typo in Download text (Announcements page)"
Typo in announcements page
https://github.com/IEEEKeralaSection/rescuekerala/blob/master/templates/announcements.html#L30

[2018-08-20 07:57] binithb commented on #240
@IkbenJee  I made the mistake of last comment using my official account (@binithlighting ). Please use the handle @binithb if you need to contact me

[2018-08-20 08:01] SaifurRahmanMohsin commented on #673
Looks like he's creating a new empty column **normalized_name** to copy the names and then also keeping a backup called **alternate_name** (except it's all saved as the upper case now). Now he's removing all the special characters using regex and I think trimming down multi-spaces in between to a single space. (although I think it should be `\s{2,}` than `( ){2,}`. Still, his approach should work