[2018-08-20 08:21] naveenpf opened #743 "Filter for needs"
if you are free just add  a filter for  needwater	needfood	needcloth	needmed	needtoilet	needkit_util	needrescue

https://keralarescue.in/requests/?district=

[2018-08-20 08:25] #710 closed

[2018-08-20 09:05] realslimshanky opened #747 "Adding person to camp is taking invalid age value"
### Subject of the issue
`camp/<int:camp_id>/add_person/` is taking invalid age value.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Visit `camp/<int:camp_id>/add_person/` for any `camp_id` and try to add a negative value to the age. It'll successfully validate and respond with a success message.

### Ex

[2018-08-20 09:07] #743 closed

[2018-08-20 09:35] biswaz commented on #723
Not required anymore

[2018-08-20 09:37] cyriac commented on #740
@biswaz working on it

[2018-08-20 10:17] deepusnath opened #754 "Data synchronisation of Demand and Supply"
As of now, there is a multiple teams working on demand and supply applications but nothing is in a usable state to centrally manage. A common consensus in Supply data is required to solve this issue. It is a high need to use a common data structure by whoever working on the system so that everyone could be on the same page. Attached the data structure to use so that we can slowly eliminate free-fo

[2018-08-20 11:40] syam3526 opened #759 "add slack link to dashboard"
slack  is being widely used.  we need to put slack joining link in the dashboard.

[2018-08-20 11:56] rupalimits opened #760 "Add Map in "Request For Help" Page"
### Add Map in "Request For Help" Page
With the help of the gps coordinates, We could display a map to the viewer for better visualisation.

[2018-08-20 12:10] dijeesh commented on #687
@johnsamuelwrites  : Status of rescue efforts, we are getting lots of duplicates and the site itself now got more than 400+ pages.

[2018-08-20 12:33] bobinson commented on #754
@deepusnath - I want to focus on medical as well. Can you also add a sheet for medicines ?

[2018-08-20 13:07] ferricfury commented on #673
as mentioned by Saifur, alternate name is maintained since we have names in Malayalam and we don't want to lose that with the regex

before applying normalization, there is a need to de-dupe full table records

i have tried this on local db by making a stg table and a field to track flag for duplicate

[code]

[2018-08-20 14:08] amiteshP commented on #711
@bobinson  That will be great! If we can come up with a clean structure for relief camp inventory management.

[2018-08-20 14:38] akshaim opened #767 "[Feature Request] - SMS Integration to gather consent from volunteers"
### Subject of the issue
SMS to be sent to all volunteers. SMS contents
1. Acknowledge the help with volunteer name.
2. Unique Shortened URL to seek an opinion from volunteer to find his current status.

URL should be unique and should direct to a poll page to indicate the status of the volunteer. The status may be tagged as Active /Inactive. The poll may work in such a way that once a volunteer c

[2018-08-20 14:43] haxzie commented on #711
@amiteshP feels good finding a fellow devrant user here. 😊

[2018-08-20 14:55] deepusnath commented on #754
@bobinson IMA was against a collection of Medicines by the public.  Hope you are in connect with them on that.  Here is the categorisation of medicines

https://docs.google.com/spreadsheets/d/1_j0O_9KdVsdkZPK5qx4q7QEaSiP9aaQ_vcwk7wVkuBo

[2018-08-20 15:15] syam3526 commented on #767
@IEEEKeralaSection/moderators

[2018-08-20 15:28] aravindharinair commented on #759
@arpit7714 , The home page is at [Home.html](https://github.com/IEEEKeralaSection/rescuekerala/blob/master/templates/home.html)
You working on it?

[2018-08-20 15:31] vvazhayil opened #769 "Ability to Mark Requests as Flagged/ Resolved"
### Subject of the issue
Need a screen that will interact with a new table where issues can be tagged as flagged/ resolved
Original table will not be updated
Volunteers can enter the data on a screen which is only available for logged in volunteers.
- Status (Flagged/ Resolved/ Duplicate etc.)
- Reason (Text)
- Updated by
- Auto capture original ticket number, logged in user and timestamp in the t

[2018-08-20 15:33] cibingeorge commented on #769
Maybe we dont care about logged in user..bt text field abt who is updating..hopefully wont be abused. that way we open this up the the world..easier for all the teams who hve the data to update

[2018-08-20 15:34] cibingeorge commented on #769
add a reference/link to a related/subsequent request made?

[2018-08-20 15:43] bobinson commented on #754
ack

[2018-08-20 15:43] vvazhayil commented on #769
@cibingeorge - Ticket number for subsequent ticket? Original ticket should be referenced. Would someone know the future ticket when updating this status?

[2018-08-20 15:45] cibingeorge commented on #769
Maybe i was too crazy..ignore that related thing suggestion

[2018-08-20 15:48] remedcu commented on #676
Can close this issue as this is not related to this repo.

@syam3526 @vigneshhari @biswaz @vrthra @bobinson

[2018-08-20 15:50] #740 closed

[2018-08-20 15:50] remedcu commented on #509
Quoting @biswaz

"Officials want just a link to the official portal. Sorry KSITM requirements are our first priority. I know exactly what it feels like be on the contributor side. Been there, done that."

So, I believe this can be closed.

@syam3526 @vigneshhari @vrthra @bobinson

[2018-08-20 15:53] remedcu commented on #350
Related PR's & Issues : #36 #52 #90 #141 #350 #402 #468 #510 #614

Quoting @biswaz

"Officials want just a link to the official portal. Sorry KSITM requirements are our first priority. I know exactly what it feels like be on the contributor side. Been there, done that."

So, I believe this can be closed.

@syam3526 @vigneshhari @vrthra @bobinson

[2018-08-20 15:59] arpit7714 commented on #759
yes!

[2018-08-20 16:07] vinyasmusic commented on #590
Is this still open ?

[2018-08-20 16:15] theryecatcher commented on #769
So would we be designing a new table for this referencing the original requests table?

[2018-08-20 16:18] vvazhayil commented on #769
Yes, that;'s the plan.

[2018-08-20 16:28] weather81 commented on #20
clearly of the topic here but can you also include an option or as a seperate thread to add cleaning materials to a specified list of panchayats where the flood has receeded but left a great aftermath.i think it would be good for cleaning up and stuff

[2018-08-20 16:35] lunaroyster commented on #769
Would this reflect in the data from the /data endpoint?

[2018-08-20 16:35] haseebpvt opened #774 "Link not clickable"
### Unable to click link
The links in https://keralarescue.in/district_needs are not not clickable

### Steps to reproduce
1. Go to https://keralarescue.in/district_needs
2. Notice there are three columns namely 'District', 'Items required' and 'Contacts & Collection points'
3. In the column 'Contacts & Collection points' google map address links are included
4. Hover the mouse over those links

#

[2018-08-20 16:42] biswaz commented on #769
That or ushahidi, that is the qn now

[2018-08-20 16:53] theryecatcher commented on #769
The ushahidi one seems to be taking a lot of time. I believe we could work on a quick fix on a different table as suggested so that the work can move on. The solution suggested by @vvazhayil could be done in a short time. What do you guys suggest?

[2018-08-20 17:00] amiteshP commented on #711
@haxzie  Guess we all go down this road! :D Good to see you too!

[2018-08-20 17:04] angrysumit94 commented on #774
Need to write @property for map_link field containing "<a href=" + self.map_link + "</a>". Anyone ready to do it now ?

[2018-08-20 17:10] angrysumit94 commented on #747
Sorry for being grumpy, but using PositiveIntegerField instead would have saved you from writing  a validator

[2018-08-20 17:14] haseebpvt commented on #774
@syam3526 Added more details on how to reproduce the issue

[2018-08-20 17:29] SajinSabu commented on #774
Somebody working on this?

[2018-08-20 17:37] ladvine commented on #774
Yes, there are hyperlink available among the content under section "Contacts & Collection points" in the page [district needs](https://keralarescue.in/district_needs/).
All such markups has to be automatically detected and converted for the ease of user.

[2018-08-20 18:02] shajith commented on #769
@theryecatcher or anyone else available with Django dev capability, pls ping me on slack. same handle as here.

[2018-08-20 18:05] vvazhayil commented on #769
Can someone with the real on the ground experience state what resolutions should each ticket get?
- Resolved
- Pending
- Duplicate
- Flagged
? I don't know who can tell us that clearly.

[2018-08-20 18:48] samzer commented on #617
Took inspiration from here and created this one on Django. You can check it out here https://bit.ly/2MCcSwF.

![kerala_rescue_gif](https://user-images.githubusercontent.com/1539703/44360140-8fa9e480-a4d7-11e8-8aed-3034fc648ac1.gif)

This is mainly done, just need to weed out 2 minor bugs. If this is okay then will send in a pull request.

[2018-08-20 18:55] ladvine opened #783 "Register missing cases"
### Description
Provision to register man missing cases and prepare xls sheet etc. Better if there is a provision to pass information to Kerala police.

Please note that this is not a person finder.

[2018-08-20 18:57] ladvine commented on #711
This is actually an urgent requirement. Please mark it accordingly.

[2018-08-20 19:12] vvazhayil opened #785 "Add "time since" ticket logged field"
### Subject of the issue
On this view -
https://keralarescue.in/requests/?district=
The end users will find having .a "Time since logged" field.
It should be in the format
(0 hours, 1 hour, 2 hours. ... 23 hours)
(1 day , 1 day 1 hour .... 2 days 2 days 1 hour etc..)

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to r

[2018-08-20 19:46] saba83rish commented on #785
what is the malayalam for "Time since logged"?

[2018-08-20 19:52] mnbvcxz010308 commented on #688
This is doable. We can make use of plots and diagrams.

[2018-08-20 19:52] vvazhayil commented on #785
'Elapsed Time' in English and Malayalam  'അപേക്ഷ നൽകിയ സമയം' ?

[2018-08-20 19:57] bobinson commented on #767
quick plan:

1. setup sub domain r.keralarescue.in to act as the unique shortened URL
2. Python + Redis for data storage.

need to figure out how to do the web server.

[2018-08-20 20:41] saba83rish commented on #785
I can pick this up if no one else has yet

[2018-08-20 20:55] saba83rish commented on #785
infact created a PR https://github.com/IEEEKeralaSection/rescuekerala/pull/788

[2018-08-20 21:37] rakemen opened #789 "Vertical Scrollbar in District needs and Collection Centers"
A vertical scrollbar appears in the District needs section

Chrome Browser on Windows

![image](https://user-images.githubusercontent.com/6099915/44368089-b5b39280-a49f-11e8-9532-972b08e6842b.png)

[2018-08-20 21:48] bobinson commented on #617
@samzer - this looks helpful.

[2018-08-20 22:46] nithinis commented on #601
@sudev tried to contact some of the numbers from the map markers last night. Couldn’t get anyone, but it was late night, so Will try again today morning.

Regarding sahana, their implementation is good. But I felt it too sophisticated for rapid response mode.
I have been cooking this idea at the back of my mind for some time now. Will try to post some flow diagram in a few hours.

I believe it has

[2018-08-21 01:38] NCzar commented on #706
I have a Live API used for creating PDF Files. Can i know what form is the data available?

[2018-08-21 01:43] nithinis commented on #601
![request flow](https://user-images.githubusercontent.com/6873994/44375328-b6a4ee00-a4b8-11e8-9f00-dcd7dff48a1d.jpg)

* To ensure data sanity:
  * requests should be tagged to registered camps or collection centers
  * items could come from a lookup table

[2018-08-21 02:16] deepusnath opened #794 "Data consolidation and sanitization from different data entry points"
As of now, different people at different locations are trying to collect data of relief camps in multiple means. Many are using google spreadsheets. We need to bring all such data to a central point to consolidate, remove duplicates and sanitize so that it will be complete. Can we have a section in keralarescue.in for data synchronization where anybody who has data can share their link to it. By t

[2018-08-21 02:37] vvazhayil opened #795 "Add Privacy Text to Disclaimer Page"
Add the following text to the Disclaimer Page. Change the Disclaimer Link to "Disclaimer, Terms and Privacy"

_**By providing your personal information, you consent to making such information accessible to persons who visit this website. You further acknowledge and agree that in order to serve the specific purposes for which personal information is volunteered by you, such information needs to be

[2018-08-21 03:09] abhisrphoenix commented on #795
working on it.
which is the html file for volunteer signup screen,

[2018-08-21 03:45] ssat335 opened #799 "Dashboard for visualising the camp details and its distribution."
### Subject of the issue
There is currently no way to visualise how the camps are distributed throughout the districts

### Actual behaviour
Developed a dashboard for visualising the camp details. Currently, the data is largely sparse with many info not added properly. Child counts, male/female counts may not match up to the total.
Please see, https://process.keralarescue.in/relief

Request improv

[2018-08-21 04:13] syam3526 opened #800 "[urgent ] KSITM"
there are a lot of private collection centres and relief centres operational in the state. Can we have listing to show those relief centres and collection centres and open it to public , so that they can go and obtain help or offer help - public can enter their centre name, a drop down to choose if it is collection centre or relief centre, address (from which we should geotag ) , poc name, poc num

[2018-08-21 04:25] naveenpf commented on #800
update.

[2018-08-21 04:36] bensonkb commented on #688
Important Announcements page Launched: - https://keralarescue.in/announcements/
So closing this Issue.

[2018-08-21 04:36] #688 closed

[2018-08-21 04:55] gauthams09 opened #801 "DB of cleaning/repair/construction companies"
### DB of cleaning/repair/construction companies
A lot of companies in various districts have come up with free cleaning, repair as well as construction works for flood affected houses. A database of such companies would be helpful for the public.

### What we need to have?
A curated database of companies that provide service for free (or maybe reduced price).

### Basic workflow (Just a suggestio

[2018-08-21 05:05] syam3526 opened #802 "urgent requirement. for having options for private relief camps and collection centres"
private relief camps and collection centres

1.  register private relief camps
2.     view private relief camps
3.    register private collection camps
4.    view private collection centres

3 and 4 will be done by @naveenpf

1 and 2 to be done similar to government relief camps

[2018-08-21 05:12] ragsagar commented on #802
Task 1 and 3 looks same

[2018-08-21 05:13] rajeevrmenon97 commented on #802
I think 3 is register private collection centres?

[2018-08-21 05:27] #800 closed

[2018-08-21 05:34] ragsagar commented on #802
Are there difference in fields? If it is the same I think it is enough to add new field `type`

[2018-08-21 05:39] syam3526 commented on #802
@naveenpf please comment
yes without making conflicts in the model.

[2018-08-21 05:42] ja8zyjits commented on #802
I can write tests, once the functionality is ready.

[2018-08-21 05:56] ragsagar commented on #802
How do you want to see this? With the same relief camp listing we just add column to show if it is pblic or private? Or a separate page itself?

[2018-08-21 06:05] biswaz commented on #642
Workaround should be: if district is None, consider it all kerala

[2018-08-21 06:07] ja8zyjits commented on #642
then presently all NGOs are all kerala, which is not practically true.

[2018-08-21 06:07] samzer commented on #617
👍

[2018-08-21 06:08] biswaz commented on #642
That needs to be addressed indeed

[2018-08-21 06:09] biswaz commented on #642
@IEEEKeralaSection/code-reviewers Mark stuff likes this which are bugs on critical stuff with bug label

[2018-08-21 06:11] ja8zyjits commented on #642
[ngo registration](https://www.keralarescue.in/NGO/) no `district` field to register.

[2018-08-21 06:31] naveenpf commented on #802
@vignesh is working on 1 and 2

[2018-08-21 06:59] amiteshP commented on #611
How can we proceed to work on this? @anoopnarayanan @bobinson
We can take help from existing GPS coordinates picker and reverseCoordinateMapping functionality to create a provision for adding Food needed/ Food ready markers on a different map.
Can be extended to mark various necessities.(with legend included).

[2018-08-21 07:02] #732 closed

[2018-08-21 07:31] biswaz opened #809 "Tidy up /ngoview/"
### Subject of the issue
Tidy up keralarescue.in/ngoview/
1. Add a details page like in /requests/
2. Move the descriptions to there
3. Other prettifying stuff done on /requests

[2018-08-21 07:59] biswaz commented on #801
https://keralarescue.in/ngo-volunteer/

We added this as NGO/Company
/home needs update

[2018-08-21 08:08] ja8zyjits commented on #809
related to #642

[2018-08-21 08:21] yashness opened #811 "[Improvement] Add 404 page & Link it to homepage"
### Add 404 page & Link it to homepage & other menus
Describe your issue here.

[2018-08-21 08:34] vchacko opened #812 "NGO cant be searched by district"
### NGO cant be searched by district
The model NGO has 'District' in the model, but the form https://keralarescue.in/NGO/ doesn't have field to enter district. The view https://keralarescue.in/ngoview/ has search by district, but since we can't enter district, we can't search by district.

### Steps to reproduce
Go to  https://keralarescue.in/ngoview/ and search by district, there is no data
Go to

[2018-08-21 08:34] vchacko commented on #801
It (https://keralarescue.in/ngo-volunteer/) doesnt have district
https://github.com/IEEEKeralaSection/rescuekerala/issues/812

[2018-08-21 08:42] vchacko commented on #812
Duplicate of https://github.com/IEEEKeralaSection/rescuekerala/issues/642

[2018-08-21 08:49] bobinson commented on #812
thus closing.

[2018-08-21 08:49] #812 closed

[2018-08-21 08:50] bobinson opened #814 "[https://donation.cmdrf.kerala.gov.in/ task] Paypal Global - payment gateway integration - Help requested from CDIT"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-21 08:51] #767 closed

[2018-08-21 09:06] shidhincr opened #815 "Automatic deployment using now.sh"
### Automatic deployment using now.sh for pull requests
How about adding automatic deployments to now.sh -- so we can easily test the new pull requests.

Integration details given here:

https://zeit.co/github

[2018-08-21 09:34] amiteshP commented on #815
Automatic Tests Integration pipeline will be more helpful, one which automatically tests the PR once it is pushed against our testcases(similar to travis), I think we will need manual deployments in the end.

[2018-08-21 09:35] ntsreejith commented on #642
I can help by updating existing NGO list with district and return back as an excel. Download shows 300+ rows.
Now also NGO can't be searched by district.

[2018-08-21 09:42] girishkurup commented on #240
[Work done so far in visualization.docx](https://github.com/IEEEKeralaSection/rescuekerala/files/2305721/Work.done.so.far.in.visualization.docx)
Please finalize the Tools and Graphics for different metrics and Who is the owner for each metrics/graphics

[2018-08-21 10:09] iKshitiz commented on #795
This issue is closed.

[2018-08-21 10:18] naveencode commented on #809
working on this

[2018-08-21 10:32] ntsreejith commented on #642
21-08-2018
List downloaded at 2.30 PM.  So between 2.30 PM and 4 PM any new records added not included.[ngo_list with district updated as of 3 PM IST 21-Aug-2018.xlsx](https://github.com/IEEEKeralaSection/rescuekerala/files/2305892/ngo_list.with.district.updated.as.of.3.PM.IST.21-Aug-2018.xlsx)

[2018-08-21 11:04] xaneem commented on #809
I don't see district data for the list, due to which choosing a district in filters returns empty results.

Need to either fill in districts or remove the filter.

[2018-08-21 11:06] biswaz commented on #642
cool dude

[2018-08-21 11:28] binobose commented on #795
Unable to push updates

[2018-08-21 11:45] vchacko commented on #783
I can work on this with following information of missing person and reporter

1. Name
2. Approximate Age
3. Gender
4. Missing from location
5. Missing from date
6. Description of missing person
7. Reporter Name
8. Reporter Number
9. Police station
10. Assigned To Volunteer - Admin can assign a volunteer and ask him to verify if missing case is true and hecan report bact if found
11. is active - By

[2018-08-21 11:54] ntsreejith commented on #783
@vchacko  Person's photo,  Reporting person's relationship

[2018-08-21 12:00] vchacko commented on #783
@ntsreejith Will add them too.

I am working on this issue

[2018-08-21 12:06] vchacko commented on #783
Adding field District as # 4.a

[2018-08-21 12:11] naveenpf commented on #783
16, photo of missing person.

[2018-08-21 12:47] vchacko commented on #783
@naveenpf Sure

[2018-08-21 13:40] ja8zyjits opened #830 "Collection Centres missorganized"
### Subject of the issue
[code]
spotted in slack

### Expected behaviour
the contents must match the headers

### Actual behaviour
![screenshot_2018-08-21 kerala rescue](https://user-images.githubusercontent.com/10775161/44404988-d4845880-a575-11e8-8148-9ccca1f6bd3a.png)

[2018-08-21 14:02] #830 closed

[2018-08-21 14:39] SanjaySG commented on #642
The db has field name 'district' based on which the search takes place.

[2018-08-21 14:44] vjayakumar opened #833 "Website accessibility issues for people who use screenreaders"
### Subject of the issue
Both people with vision impairment and people with dyslexia use TTS by way of screenreaders like **NVDA** (FOSS) or **JAWS** (commercial) in addition to mobile platforms equivalents like **Talkback** on Android and **VoiceOver** in iOS.

So it's important that the [WCAG 2.1 principles](https://www.w3.org/WAI/standards-guidelines/wcag/) are followed so that blind citizens c

[2018-08-21 14:56] naveenpf commented on #814
Help request from donation website. Nothing on kerala rescue site

[2018-08-21 14:57] naveenpf commented on #802
Done

[2018-08-21 14:57] laxman954 commented on #799
Anyone confirm this DMO portal populated, from any 3rd party ?

[2018-08-21 14:57] #802 closed

[2018-08-21 14:58] #723 closed

[2018-08-21 14:58] cgninan commented on #814
ok looks like this already been worked upon by bobinson. I didn't notice this was assigned.

[2018-08-21 15:38] vvazhayil commented on #801
Please add  email, contact person name, website

[2018-08-21 15:46] ja8zyjits commented on #802
@naveenpf  can you tag the PR?

[2018-08-21 15:52] #811 closed

[2018-08-21 15:52] dsamanmishra commented on #646
The text entries for other contact field are highly variable, containing email ids at some places, multiple phone numbers with helper texts, phone numbers with spaces and hyphens at some places; so adding an href tag from code wont be the best idea. Instead as @prahaladbelavadi pointed out, the db has to be sanitized or else the fields can remain as they are. I believe this issue can be marked as

[2018-08-21 16:01] bjacobt opened #835 "Hide Volunteer Details"
### Subject of the issue
- Hide Volunteer Details (address, phone and org)
- Display hidden fields for authenticated users

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how e

[2018-08-21 16:02] joeldeleep opened #836 "Public NGO details"
### Details of the volunteers registered are available for anyone
Personal details such phone number , address are available without any authentication. Anyone can access the details can copy the entire list within minutes.

### Steps to reproduce
go to https://keralarescue.in/volunteerdata/ and choose any district and click view request
### Expected behaviour
Tell us what and how exactly is it su

[2018-08-21 16:10] joeldeleep opened #838 "Confirmation link never expiring"
### Confirmation link never  @biswaz
The confirmation link that is send to mobile for confirming the participation of volunteer never expire , even after cancelling
### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
The csrf token should expire after performing the confirmation

### Actual behaviour
Csrf token ne

[2018-08-21 16:10] #835 closed

[2018-08-21 16:29] ntsreejith commented on #836
Yes.  Address and phone number information should be available for authorities only.  Can we have this request  as a high priority one ?

[2018-08-21 16:29] dsamanmishra opened #840 "Non standard design in one of the boxes on homepage."
### Subject of the issue
The private relief center and collection center box is not following the standard design of other boxes i.e. icon, english word, then horizontal line and then translation.

### Expected behaviour
Private relief center and collection center box should follow the standard design like other boxes.

### Actual behaviour
It follows design where horizontal line comes after icon

[2018-08-21 16:29] dsamanmishra commented on #840
Am working on this.

[2018-08-21 16:32] TribeAsteraea opened #841 "International Telephone numbers are not accepted"
### Subject of the issue
International Telephone numbers are not accepted in the phone field
![2018-08-21_18-22-42](https://user-images.githubusercontent.com/42574806/44415348-8587f480-a570-11e8-98d6-1c9709982862.jpg)
![2018-08-21_18-30-06](https://user-images.githubusercontent.com/42574806/44415357-8882e500-a570-11e8-9aa4-ff4b7aa0e61a.jpg)

This discourages NRI's from registering in the portal

[2018-08-21 16:38] syam3526 commented on #836
#837

[2018-08-21 16:38] shajith commented on #836
is this similar to https://github.com/IEEEKeralaSection/rescuekerala/issues/835, resolved by https://github.com/IEEEKeralaSection/rescuekerala/pull/837 ?

[2018-08-21 16:40] #836 closed

[2018-08-21 16:49] TribeAsteraea opened #843 "Malayalam Text missing in the Add Private camp"
The malayalam text on the tabs on https://keralarescue.in/pcampadd are missing
![image](https://user-images.githubusercontent.com/42574806/44416368-fcbe8800-a572-11e8-9927-eec542824c3a.png)

[2018-08-21 16:50] TribeAsteraea commented on #840
Also the malayalam translation on this box is missing.

[2018-08-21 16:52] dsamanmishra commented on #840
Yes, have added that as well in my PR.

[2018-08-21 16:52] #718 closed

[2018-08-21 16:53] joeldeleep commented on #836
i initially pointed this issue in slack , i was slow in creating issue in github , sorry for the duplicate issue

[2018-08-21 17:10] arpit7714 commented on #843
its missing on heading . can i work?

[2018-08-21 17:11] sudarshansudarshan opened #844 "Social Computing Lab from IIT Ropar"
Dear all,

I am Dr. Sudarshan, a professor from IIT Ropar running a social computing lab at the CSE dept of our IIT. We are desined a web portal to collect all information on who is ready to help and who are the seekers of help and how to assign a virtual volunteer per camp. We have collected 500+ volunteers who are ready to help by taking part in the crowdsourced portal. Please let us know if we

[2018-08-21 17:19] TribeAsteraea commented on #843
arpit7714 - pls do

[2018-08-21 17:45] naharp opened #845 "Add requests dashboard"
### Subject of the issue
Add link to http://kerala.invothink.com so that volunteers can call and find directions to requests easily.

[2018-08-21 17:56] shajith commented on #836
@joeldeleep no worries! thanks for the detailed report

[2018-08-21 18:02] Gotham13121997 commented on #841
Just made changes for the volunteer model for now. Will change rest on furthur discussion

[2018-08-21 18:07] #769 closed

[2018-08-21 18:45] WarFox opened #851 "Add link to https://www.afterflood.in/"
After flood.in is a website that provides information about every Do's and don'ts, waste management, personal hygiene and every other aspect to keep in mind while moving back to home after flood.
It'll be of great use to people.

https://www.afterflood.in/

[2018-08-21 18:57] muraleedharanm commented on #844
Thanks, please call me ( Murali ) at 8086335855 / Santhosh at 8592994200

[2018-08-21 19:05] syam3526 opened #852 "google analytics tracking"
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124193959-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124193959-1');
</script>

[2018-08-21 19:14] thelostone-mc commented on #789
@abhisrphoenix I went another route and reduced the font-size just a bit without compromising on the the emphasis on the heading.
Disable vertical scroll -> might get content hidden which IMHO was not ideal.
Mind taking a look at it?

cc @rakemen

[2018-08-21 19:27] abhisrphoenix commented on #789
@thelostone-mc Yeah that too solves the problem. Am fine with that.

[2018-08-21 19:28] thelostone-mc commented on #348
Looks like this has been resolved ! Can we close this out ?

[2018-08-21 19:28] biswaz commented on #852
We have all the info we want in cloudflare. Even more now with the business paln

[2018-08-21 19:30] syam3526 commented on #852
#854

[2018-08-21 19:30] and commented on #627
How does the pagination work?
https://keralarescue.in/data/?page=1
https://keralarescue.in/data/?page=2
etc.. gives the same result.

[2018-08-21 20:17] ja8zyjits commented on #851
I believe a new card like the 10 others would be good.

[2018-08-21 20:17] bobinson commented on #844
Thank you for reaching out @sudarshansudarshan we need all the support help to

- identify the short term action items
- 1 month to 3 month action items
- long term

in the Relief and Rehabilitation of the state and its people.

I believe, the volunteer co-ordination can help various Government departments to co-ordinate the volunteers on ground and from call centers.  Linking of the call centers,

[2018-08-21 20:18] swetakum commented on #646
I agree with @dsamanmishra  @prahaladbelavadi . Closing this issue.

[2018-08-21 20:18] #646 closed

[2018-08-21 20:18] vigneshhari commented on #852
Analytics might slow down our website and we already have cloudfare based analytics

[2018-08-21 20:26] ja8zyjits commented on #833
looks good, some one holding expertise in Accessibility Compliance shall check out and do the necessary modifications. Thanks for pointing it out.

[2018-08-21 20:28] shajith commented on #656
we merged a request update feature earlier today, screenshots etc here:
https://github.com/IEEEKeralaSection/rescuekerala/pull/803

also has API support: https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/api_docs.md

[2018-08-21 20:28] ja8zyjits commented on #815
manual with heroku.

[2018-08-21 21:10] #656 closed

[2018-08-21 21:17] #20 closed

[2018-08-21 21:29] ssat335 commented on #799
@laxman954 based on the data from https://www.keralarescue.in/camp_requirements/?district=&name__icontains=&taluk__icontains=&village__icontains=

[2018-08-21 21:33] TribeAsteraea opened #858 "Preview pane before submitting the data"
### Subject of the issue
A preview pane for the user to review the data before entering the submit button

### Your environment
Windows/ iOs/ android

When a user types a data, it would be useful to have a preview data with options to edit before the submit button is pressed.  I see duplicate entries where the user has come back and corrected/ added a missing data. This can be prevented if we have

[2018-08-21 22:39] vvazhayil opened #860 "Change to Volunteer Signup Screen for Terms acceptance"
Following changes are needed for the volunteer screen - https://keralarescue.in/volunteer/

- add a checkbox before the disclaimer which exists after the submit button today
- move the disclaimer and checkbox above the submit button and align it with the rest of the form
- disable the submit button by default
- only enable it when checking the disclaimer
- If someone tries to click the button with

[2018-08-21 22:40] vvazhayil opened #861 "Update GDPR Text on Disclaimer Page"
Update the GDPR text to

[2018-08-21 23:56] ALonelyTower opened #862 ""Join our slack" link has expired."
### "Join our slack" link has expired
Clicking on the link results in this page:
![slack_unavailable](https://user-images.githubusercontent.com/42524361/44435061-18ba2d80-a563-11e8-8387-096703864f44.PNG)

[2018-08-21 23:59] gitLee47 commented on #861
what is the reason for the change?

[2018-08-22 00:08] vvazhayil commented on #861
Just some lawyer recommendations to update.

[2018-08-22 00:09] gitLee47 commented on #862
Are you talking about the one on the github page

[2018-08-22 00:39] gitLee47 commented on #861
Added a PR. Let the reviewers accept/reject.

[2018-08-22 03:05] abhisrphoenix commented on #862
@gitLee47
This slack link is in the website Home Page
Our Collaboration Platform (Slack) "Join" - link is not working.

[2018-08-22 03:15] arpit7714 commented on #843
Dome please check @TribeAsteraea
https://github.com/IEEEKeralaSection/rescuekerala/pull/864

[2018-08-22 03:28] abhisrphoenix opened #865 "Enhancement: Add Filter Condition to "Open / Close" in Relief Camps"
### Subject of the issue
Add Relief Camps Status as Filter Condition to Identify - Open or Closed camps
https://www.keralarescue.in/relief_camps_list

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Go to https://www.keralarescue.in/relief_camps_list
### Expected behavior
Users should be able to filter Open

[2018-08-22 03:57] vchacko commented on #841
Please merge Missing persons branch https://github.com/IEEEKeralaSection/rescuekerala/pull/847
P placed a TODO to move phone validation regex outside model classes.

[2018-08-22 04:00] shidhincr commented on #815
My point is, we can create a staging kind of environment in **heroku** or **now.sh** just for testing the pull requests. The **now.sh** creates a unique url for each deployment -- so it will be easier to test different branches/PRs

Let the live deployment to be whichever it is currently using.

[2018-08-22 04:27] syam3526 commented on #862
@gitLee47 @abhisrphoenix the link expired.  here is a new link http://bit.ly/Keralarescuechat . i have updated the link in the readme as well.
Closing this since the issue has been fixed

[2018-08-22 04:27] #862 closed

[2018-08-22 04:28] syam3526 commented on #852
closing this considering we don't want the site to slow down. .

[2018-08-22 04:28] #852 closed

[2018-08-22 04:46] bobinson commented on #852
not needed more analytics as we have cloudflare. If needed IMHO we can go with Opensource Piwik to avoid leaking out any personal data. Closing considering - performance impact and privacy impact and because of low priority.

[2018-08-22 06:17] sreenadh commented on #85
Good work guys 👍

[2018-08-22 07:18] #860 closed

[2018-08-22 07:53] Gotham13121997 commented on #843
@arpit7714 also tag this issue #843 in your pull request by commenting

[2018-08-22 07:56] laxman954 commented on #801
Refer this for Design and Architecture  and please confirm on that
![image](https://user-images.githubusercontent.com/3854084/44450536-da7a4800-a60e-11e8-9e41-045a10a6754e.png)
![image](https://user-images.githubusercontent.com/3854084/44450545-e36b1980-a60e-11e8-86ca-5a51bfc40769.png)

Please check above design and confirm?

@syam3526 @biswaz

[2018-08-22 07:59] Gotham13121997 commented on #841
@vchacko Will do if changes are confirmed.

[2018-08-22 08:19] laxman954 commented on #799
@ssat335 do you have an idead of how these page constructed?

[2018-08-22 08:30] laxman954 commented on #861
@gitLee47 can you update the fixed  grammatical  issues mentioned here https://github.com/IEEEKeralaSection/rescuekerala/pull/863/files#r211812536

[2018-08-22 08:39] ntsreejith commented on #642
@biswaz https://github.com/IEEEKeralaSection/rescuekerala/issues/642#issuecomment-414637497

This is not updated in DB.  This attached xls has the District populated .  But some rows are kept as 'All Kerala' as ready to server any where.
 If district info is necessary, need to do get primary key based update into DB by someone. Assuming this is of low priority as workaround exists to search with k

[2018-08-22 08:45] naveenpf commented on #865
It is already there in back emd

[2018-08-22 08:45] #865 closed

[2018-08-22 09:08] ntsreejith commented on #809
https://github.com/IEEEKeralaSection/rescuekerala/issues/642  related @naveencode

[2018-08-22 09:15] realslimshanky commented on #747
@angrysumit94 changing the model at this time can be troublesome given the migrations and live database one has to take care. The solution which I've proposed is backward compatible.

[2018-08-22 09:15] vmwsree opened #873 "Hide The name of the person who raised the Request from all the public ui."
### For Avoiding any privacy misuse.
In order for volunteer s for follow up the case the name is not required, Let the name be shown if the person has specified it on another field. bunch of phone number doesn't make any sense to anyone. it's better if we do not share the name of the person on the site.

[2018-08-22 09:30] bobinson commented on #814
This was a duplicate of #509 and we have not heard anything from CDIT or anyone regarding the paypal global integration.

- the payment page also had a low uptime yesterday and we are helpless regarding the same too though we have companies and technical volunteers ready to willing.

[2018-08-22 09:30] #814 closed

[2018-08-22 09:31] bobinson commented on #509
helpless :-(

[2018-08-22 09:31] #509 closed

[2018-08-22 09:34] bobinson commented on #679
#509

[2018-08-22 09:48] bobinson commented on #841
@TribeAsteraea One of the challenges with international volunteers is that we do not have a SMS gateway that supports international SMS. It doesn't prevent us from allowing registration and let me check with the team and revert.

[2018-08-22 10:16] naveenpf opened #877 "[IT MISSION] Need a district and taluk filter in Relief: Inmates page"
### Subject of the issue
In backend we need a filter.  district and taluk
https://keralarescue.in/admin/mainapp/person/

[2018-08-22 10:38] namboodiri commented on #877
am working on this

[2018-08-22 10:56] vvazhayil commented on #795
I see the updates now

[2018-08-22 10:56] #795 closed

[2018-08-22 11:14] shashwat1002 opened #880 "Feature request: The update option should also be available in the the detail page of any request."
### Subject of the issue
When any user hits the 'More details' for a particular request, the update request button is not available on that page, it'll be nice to have.

### Your environment
*python 3.6
* Chrome
* Windows 10

### Steps to reproduce
git the 'More details button' of any request

### Expected behaviour
 The update option should also be available in the the detail page of any request.

[2018-08-22 11:31] shashwat1002 commented on #880
Wish to be assigned to this.

[2018-08-22 13:19] #877 closed

[2018-08-22 14:32] TribeAsteraea opened #883 "Request Update page displays Metadata as text"
### Subject of the issue
The Request Update page displays Text

Looks like the meta element is displayed as text

![image](https://user-images.githubusercontent.com/42574806/44469842-a3189500-a628-11e8-899e-9eea75051e85.png)

[2018-08-22 14:33] TribeAsteraea commented on #858
A way to edit the already submitted data would be nice to have to, but guess this would first need a user profile feature

[2018-08-22 14:40] gauthams09 commented on #883
please add malayalam text here https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/templates/mainapp/request_update.html#L86

[2018-08-22 14:41] gauthams09 commented on #883
you might need to modify here as well https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/templates/mainapp/request_update_success.html#L7

Please raise a PR

[2018-08-22 15:12] TribeAsteraea commented on #841
Thakns @bobinson , I still recieve SMS to my intnl number when linked to the Indian bank account,any idea what are they using there ?

[2018-08-22 15:32] TribeAsteraea commented on #883
I can see that it is reflecting in the portal

[2018-08-22 15:39] #840 closed

[2018-08-22 15:51] WarFox commented on #851
How can we get govt approval?

[2018-08-22 18:15] ladvine commented on #873
@vmwsree
The person name is removed from the main page of registered requests, but is available on "more details" section.

[2018-08-22 20:03] securitydaemon opened #887 "[security defect] Personal information disclosure due to no authentication and authorisation"
### Subject of the issue
Although disclosure of sensitive information has been highlighted in several PRs #835, #836, #837, and in https://github.com/IEEEKeralaSection/rescuekerala/issues/836#issuecomment-414864199 any registered requestor's personal information is **still** available without any authentication and authorisation. Therefore, I am opening this PR to address this **security defect**

[2018-08-22 22:28] #844 closed

[2018-08-23 02:47] naveenpf opened #888 "[Fix required]Add gps co-ordinate text box for private collection center"
Add gps co-ordinate text box for private collection center

https://keralarescue.in/collection_center/

[2018-08-23 02:50] naveenpf opened #889 "[Fix required] View of private collection center."
Have two pages for view of private collection center.
Currently inside kerala and outside kerala are on same page.
We need two pages, one for inside kerala and other one for outside kerala.
https://keralarescue.in/collection_centers/

Change the respective filters accordingly

[2018-08-23 02:55] naveenpf opened #890 "[Fix required] Changes required in add private relief camps"
Following changes are required for below page https://keralarescue.in/pcampadd

Add LSG dropdown in private relief camps. (whatever implemented in private collection centers.)
Remove LSG Type
Remove Center inside kerala? - കേന്ദ്രം കേരളത്തിലാണോ
Remove City - നഗരം
Remove Status from front page needed in backend

[2018-08-23 02:56] naveenpf opened #891 "[Fix required]View of private relief camps"
Add ID for each private relief camps.
Display phone no on private relief camps.

[2018-08-23 03:01] arpit7714 commented on #890
can i work on this?

[2018-08-23 03:48] naveenpf commented on #890
Yes

[2018-08-23 04:12] vjayakumar commented on #833
Best to avoid the blinking text in announcements too. Seizure trigger at worst,. Eye strain at best. It's eye-catching enough without the blinking.

[2018-08-23 04:55] 7vikpeculiar commented on #883
Can I take this up ??

[2018-08-23 04:57] TribeAsteraea commented on #883
@7vikpeculiar Issue is closed and the fix is live

[2018-08-23 04:57] #883 closed

[2018-08-23 05:49] shajith commented on #887
we should hide identifying info behind authentication, now that the rescue phase is more or less over. @securitydaemon are you able to make a patch?

[2018-08-23 06:30] rpanand opened #892 "[Feature Request]Section for Rehabilitation Phase - Verified information about steps to reapply for lost documents and IDs"
### Subject of the issue
-- This is not an issue or bug, but a feature request--
As we are in rehabilitation phase now , one requirement from the victims will be the instructions that they should follow to reapply the proofs and documents they lost. Can you guys add a section for that with verified information on how to apply for ids, documents and other governmental proofs.

Some of them coming t

[2018-08-23 06:33] arpit7714 commented on #890
ok !

[2018-08-23 06:46] securitydaemon commented on #887
@shajith  sorry, got limited time and not upto speed with Django dev. We need sign-up (incl. pwd change and recovery), user authentication (incl. authorisation), and some logging and monitoring. But I can assist with pen-test (security testing).
I think to start with personal info in all rescue records/cases that are currently closed or inactive can be redacted?

Guidance on user authentication is

[2018-08-23 06:59] kurianbenoy commented on #891
Can I take up this issue?

[2018-08-23 07:39] naveenpf commented on #889
Yes

[2018-08-23 07:40] #843 closed

[2018-08-23 07:40] naveenpf commented on #891
Yes

[2018-08-23 07:41] namboodiri commented on #889
working on it

[2018-08-23 08:20] biswaz opened #895 "[Internal] Make person finder visible and change datasource of stats"
1. Add a card pointing to https://keralarescue.in/find_people/ in https://keralarescue.in/relief_camps/

2. The total people on https://keralarescue.in/relief_camps_list and all stats in here are fetched from
the fields on RescueCamp model
Now that amble camp inamte data is added, the data should be fetched from Person model

Create enough test camps and person to test your fix.

@vigneshhari is a

[2018-08-23 09:10] naveencode commented on #895
working on this

[2018-08-23 10:20] thejeshgn opened #898 "[Feature request] Add Disha Helpline"
Its a government project and mental health toll free line

http://disha1056.com/

[2018-08-23 10:25] ad6190 commented on #895
enabled card for people. opening PR.

[2018-08-23 10:40] #546 closed

[2018-08-23 10:46] #895 closed

[2018-08-23 11:31] TribeAsteraea commented on #789
The same problem now occurs in Private Relief camps & collection center as well
![image](https://user-images.githubusercontent.com/42574806/44523056-d6b2f800-a6d8-11e8-8834-4eba721c8522.png)

[2018-08-23 11:32] biswaz commented on #841
Gov gateway. (sorry for the late reply)

[2018-08-23 11:46] naveenpf commented on #890
No

[2018-08-23 11:51] naveenpf commented on #891
Total no is showing phone no
Contact is total no

[2018-08-23 11:53] naveenpf commented on #889
Filters are not updated properly.
Drop down filters required similar to register page for inside kerala

[2018-08-23 12:21] namboodiri opened #902 "Collection center in Trivandrum showing up in Outside Kerala"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-23 12:25] #902 closed, assigned to nobody

[2018-08-23 12:27] namboodiri opened #903 "Collection center in Trivandrum showing up in Outside Kerala"
### Subject of the issue
The Collection center (Id: 4, Name: Nishagandhi), is showing up in 'Outside Kerala' list.

### Your environment
* version of your python NA
* which browser and its version NA
* OS Type (iOS/Android/Linux/Windows) NA

### Steps to reproduce
Goto link https://keralarescue.in/collection_centers/outside_kerala/ and click Search

### Expected behaviour
Places outside Kerala sho

[2018-08-23 12:39] naveenpf commented on #903
Please check after refreshing your cache

[2018-08-23 14:54] dsamanmishra commented on #889
@naveenpf Can you please share the link to register page for inside kerala which you are referring to?

[2018-08-23 15:06] naveenpf commented on #889
https://keralarescue.in/collection_center/

[2018-08-23 15:20] TribeAsteraea opened #905 "[Feature request] Grievance Posting"
### Subject of the issue
There should be a tile in the rescue portal for the people to express the various grievance in the ground situation, or even suggestions for improvement.

I can see the Google docs here https://docs.google.com/forms/d/e/1FAIpQLSfbh2Zj1z9UGNdZQclSIS6YzBTQtxLIniU7_EFkdg37bdtw-A/viewform

Any attempt to integrate it into the portal?

[2018-08-23 15:35] namboodiri commented on #889
am working on this

[2018-08-23 16:15] kurianbenoy commented on #888
Can I take up this issue ?

[2018-08-23 16:42] naveenpf commented on #888
yes

[2018-08-23 17:48] namboodiri commented on #903
All good now. 👍

[2018-08-23 17:48] #903 closed

[2018-08-23 18:56] vjayakumar commented on #892
Yes please. Asap given this tragic fallout.

https://indianexpress.com/article/india/kerala-floods-seeing-school-certificate-in-tatters-teen-allegedly-commits-suicide-5315655/

[2018-08-23 18:59] vjayakumar commented on #898
Yes. Every day brings news of one more death by suicide as a direct consequence of the floods.
https://bangaloremirror.indiatimes.com/bangalore/others/kerala-floods-deluge-ravaged-state-on-the-verge-of-nervous-breakdown-three-suicides-reported/articleshow/65504951.cms

[2018-08-23 19:03] hemanth7787 opened #911 "Urgent, Site broken / Taking too long to load"
### Subject of the issue
Site is taking too long to load,  shows application error screen

### Your environment
Firefox 61.0.1
Kubuntu 18.04 - 64bit

### Steps to reproduce
Visit  https://keralarescue.in/
![screenshot_20180824_003227](https://user-images.githubusercontent.com/2316704/44546363-4eaf0b80-a735-11e8-9fec-2fc824b0b5f4.png)

[2018-08-23 19:04] vjayakumar commented on #794
Can a column be added for people with disability?

[2018-08-23 19:13] rakemen commented on #911
Can confirm. It's down!

Chrome on Windows 10

![image](https://user-images.githubusercontent.com/6099915/44546803-184a9f80-a6e7-11e8-9639-170d98358af9.png)

[2018-08-23 19:36] ja8zyjits opened #913 "broken query"
### Subject of the issue
for `/relief_camps/data` endpoint using `RescueCamp.objects.latest('id')` will throw error, if the model is empty. Though such cases are rare but it fails the test.

### Steps to reproduce
try to run that query in any empty model
`mainapp.models.RescueCamp.DoesNotExist: RescueCamp matching query does not exist.`
The same goes for `request/data` though we removed that endpo

[2018-08-23 19:39] vigneshhari commented on #911
We are looking into it

[2018-08-23 19:48] vigneshhari commented on #911
This Issue is fixed now

[2018-08-23 19:48] #911 closed

[2018-08-23 19:48] #243 closed

[2018-08-23 19:50] #174 closed

[2018-08-23 20:09] #256 closed

[2018-08-23 21:19] ja8zyjits opened #914 "Query optimization"
### Subject of the issue
We faced some glitches #911

### Steps to reproduce
Occasionally few pages take too much time to load

### Expected behaviour
It should load faster

### Actual behaviour
Some pages take > 4s to load.

### Issue as understood with preliminary analysis:
It is understood that few queries are taking too long. eg `/find_people` is taking hell lot of time. The reason when invest

[2018-08-24 01:48] kurianbenoy commented on #891
@naveenpf , can you mention which page are you referring to? Can you share the URL?

[2018-08-24 01:57] naveenpf commented on #891
https://keralarescue.in/pcamp/?district=&name__icontains=

[2018-08-24 06:49] bobinson opened #917 "define Ushahidi ACL"
### Subject of the issue
UShahidi can support a permission structure as follows

- super admins
- users
- volunteers

The forms should be either public or private based on who is collecting the data

eg:

- missing person form should be public
- damage assessment should be  assigned to only volunteers and government officials
- various groups like the one should be accessible to officials

![image

[2018-08-24 06:52] naveenpf opened #918 "[Deploy] Missing person"
Missing person

1. Add a missing link person page in  https://keralarescue.in/relief_camps/.
2. Rearrange such a way that people finder and missing person are together.
3. Once link is click it should go to an intro page
4. Intro page should have button with text "Report Missing Person"  linked to http://help.keralarescue.in

Missing person page

Kerala Flood: Report Missing persons
കേരളം പ്രളയം:

[2018-08-24 06:55] bobinson commented on #917
#918  - related.

[2018-08-24 07:00] bobinson commented on #918
1. Add a missing link person page in https://keralarescue.in/relief_camps/.
    2. Rearrange such a way that people finder and missing person are together.
    3. Once link is click it should go to an intro page
    4. Intro page should have button with text "Report Missing Person" linked to     http://help.keralarescue.in
    5. http://help.keralarescue.in will provide a form where any one can en

[2018-08-24 07:11] pkrajanand opened #919 "relief-camps "Search by District" page-next option picks the previously entered district name"
### Subject of the issue
"Search by District" page-next clicks seemed to operate on previously selected districts when using the "Search by District" option across multiple districts.

### Your environment
Google Chrome  with Android 8.0
Google Pixel phone

### Steps to reproduce
I searched relief camps under Alappuzha first. Since I was checking for a particular camp, I had to traverse through mu

[2018-08-24 07:34] #889 closed

[2018-08-24 07:57] #888 closed

[2018-08-24 08:38] sriduth commented on #919
Hi Guys,

I think this is because &district= is missing in `relief_camps_list.html` Pagination :
      <li><a href="?page={{ relief_camps_pag.next_page_number }}">&raquo;</a></li>

[2018-08-24 09:05] naveenpf opened #922 "[Feature Request] Improve contribute section"
In the contribute section , people are to be given specific areas to contribute;
https://keralarescue.in/reg_contrib/

does it make sense for us to add options (drop down) for them to choose options and then give explanations?(say food, medicines,shelter,clothing,sanitary materials, and others as option) and people explain it in detail(if it is shelter, let them say for how many people ).

This he

[2018-08-24 09:07] biswaz commented on #851
Approved., By akshai. Accepting PRs.
May be a button on the main page like the donation button? But the existing buttons should have more importance

[2018-08-24 09:13] bobinson opened #923 "embedd ushahidi forms to HTML pages"
### Subject of the issue
We should be able to embedd ushahidi forms to web pages.

### Your environment
all OSes and browsers

### Expected behaviour
various pages like missing persons should have ushahidi forms embedded. Please test and confirm this.

Sample code to test:

`<iframe width="560" height="315" src="https://keralarescuemap.ushahidi.io/posts/create/4" frameborder="0" allowfullscreen></

[2018-08-24 09:27] subinamathew commented on #923
can test on MacOS (firefox/chrome/safari), Android(Chrome/firefox). VM(Win 10 - Edge)

[2018-08-24 09:38] bobinson commented on #923
please do

[2018-08-24 09:50] subinamathew commented on #923
Errors Detected:
MacOS - Chrome:  Last known Location - "Use Current Location" - not allowed (by default) ( need to add allow="geolocation"  to iframe tag)

[2018-08-24 09:55] MansoorMajeed opened #925 "Fix the template errors found in the logs"
There are lots of exceptions with template rendering. These are the logs

[code]

Please take a look

[2018-08-24 10:29] ja8zyjits commented on #925
@MansoorMajeed they are just debug INFO not critical errors, generally you dont see them in production, they are for the development purposes only.

[2018-08-24 10:29] #918 closed

[2018-08-24 10:30] ja8zyjits commented on #925
a fix would be to change `DEBUG` --> `INFO` in production in `floodrelief/settings.py`
[code]

[2018-08-24 10:42] #919 closed

[2018-08-24 10:44] #891 closed

[2018-08-24 11:39] naveenpf opened #930 "[Feature request] NGO/Company/Service listing"

[2018-08-24 12:37] #914 closed

[2018-08-24 13:57] #890 closed

[2018-08-24 14:14] #913 closed

[2018-08-24 16:09] subinamathew commented on #923
Apart from Errors working normally as expected on Chrome/ Safari/ Firefox (MacOS)

**Errors Detected:**
- MacOS - Chrome: Both Form - Last known Location - "Use Current Location" - not allowed (by default) ( need to add allow="geolocation"  to iframe tag)

- Android devices: Website **Not** responsive.
 - Firefox : Website **Not** responsive.
 - Chrome : Geolocation needs https:// (Android securit

[2018-08-24 16:37] #922 closed

[2018-08-24 17:14] ALonelyTower opened #934 "Mismatching Text on Request Help Page"
### Subject of the issue
A browser test I had written had failed because the text for one of the links had been modified.  I don't understand Malayalam, so I'm uncertain if the former or latter translation is correct, incorrect, more(?) correct.

Home Page
![homepage_requesthelp_text_link](https://user-images.githubusercontent.com/42524361/44598112-cce7ce00-a786-11e8-8e37-e1b7efdf6fa2.PNG)

Reques

[2018-08-25 04:50] vmwsree opened #937 "500 ERROR On Requests Update API"
### Subject of the issue
We are trying to push the update through api whenever a person answers via our IVR, Could you check this endpoint, I think the error is with requests being a foreign key.

[2018-08-25 05:34] bobinson commented on #923
Cannot be done due to issues with a certain API.

Good point and will look into this. Also the form is getting changed etc. so not sure at this point this is relevant or not.

I am told that this is to support zero and plus !

looks to be a way the app behaves. needs close inspection. Also we need support for multiple images to be uploaded together.

ie no check test for the media type ?

[2018-08-25 05:34] bobinson commented on #934
Ok, please confirm whether this is still an issue or not.

[2018-08-25 05:37] bobinson commented on #905
It can be integrated very quickly but there is no official request to the volunteers regarding the same. If there is a request from any government bodies, we can implement and roll out this in 30 minutes.

In general we just need to follow the model of missing persons report. Refer #926

Please re-open this if any govt department needs this.

[2018-08-25 05:37] #905 closed

[2018-08-25 05:52] #934 closed

[2018-08-25 07:03] #930 closed

[2018-08-25 08:11] kaippally opened #938 "Embed map UI"
### Subject of the issue
embed openstreetmaps or similar map UI to calture coordinates. UI shiuld also provide reverse addrsss Lookup, and quick links to suggest  possible locations based on previously capturered entries.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

[2018-08-25 08:36] camaheshv commented on #887
@naveenpf  still data is available in bulk at https://keralarescue.in/data/ and also district wise data available in bulk. Now, is it not the time to restrict bulk data availability ?

[2018-08-25 09:59] biswaz commented on #887
https://github.com/IEEEKeralaSection/rescuekerala/commit/26cd1804fc82e8d870367d35cdfbac4e0fdd072f

Removed /data. @camaheshv I agree with you
Hides phone numbers for requests older than 2 days @securitydaemon

[2018-08-25 10:14] syam3526 opened #939 "disable all outgoing data dumps and api requests"

[2018-08-25 10:41] biswaz commented on #939
26cd180 removed /data
and hides phone numbers for requests older than 2 days

[2018-08-25 11:43] #939 closed

[2018-08-25 12:10] ladvine opened #940 "Email feature for website"
### Email Notifications
It will be better to give an email notification containing information about the supplies available, when any requests are logged in the website. It will help the person to identify and approach immediately.

[2018-08-25 12:25] biswaz commented on #938
We had some PRs for this, but only when we were at the relief stage. Nevertheless, I'd like to have a reliable place picker feature using OSM/GMaps for perfecting the site

[2018-08-25 13:03] #22 closed

[2018-08-25 13:15] bobinson opened #942 "SMS volunteers for damage assessment"
### Subject of the issue

New feature - Massive survey for damage assessment will start shortly

### Expected behaviour

Form to seggreate volunteers into groups based on block panchayath

1. Send SMS to volunteers and collect:

   - Personal Details ( Name, Phone, email )

   - District , Local Body Name
   - Available timings for survey (date, time in IST )

2. Form behavior

   - District name

[2018-08-25 13:57] ALonelyTower commented on #934
As a non-native speaker, I don't know which one is more appropriate.

[2018-08-25 14:06] kurianbenoy opened #943 "Remove District column from NGO list"
### Subject of the issue
District of NGO has not been asked during the creation. So that information is not required in list view

### Your environment

* Firefox 61
*Linux

### Steps to reproduce
![screenshot from 2018-08-25 19-33-40](https://user-images.githubusercontent.com/24592806/44619028-0fe89500-a89e-11e8-9e5e-e020d8089bfa.png)

Check the URL:

 https://keralarescue.in/ngoview/?page=2&dist

[2018-08-25 15:12] camaheshv commented on #887
@biswaz thanks for the swift response.
Also, please hide phone number from bulk display of data in https://keralarescue.in/requests/?district=

[2018-08-25 15:18] biswaz commented on #887
@camaheshv As I said "Hides phone numbers for requests older than 2 days"

[2018-08-25 16:04] bobinson opened #944 "secuirty and privacy guidelines for damage-assessment survey"
Related #942

1. The data collected by volunteers should be transferred from the hand held devices to the servers over an SSL encrypted connection. Guidelines : https://www.nist.gov/news-events/news/2014/04/nist-revises-guide-use-transport-layer-security-tls-networks

2. connectivity between web app / API and db should be encrypted or it should be inside a VLAN

3. Make sure which all info / data

[2018-08-25 16:39] amiteshP commented on #940
@ladvine where can we get the supplies available information?
Also, this step needs to be implemented after someone registers themselves for a request for help? Right?
I can help with this. Any starter tips to start work on this issue?

[2018-08-25 17:59] namboodiri commented on #943
Should we remove it from the list or add it to the registration form?

[2018-08-25 18:04] bobinson opened #946 "damage assessment form - fields"
### Subject of the issue
Describe your issue here.

### Your environment
iOS (version to be defined)
Android Kitkat+

### Expected behaviour

Changes requested by KSITM on Disaster Assessment form.

1. move the ward no before house no

2. XLS containing village taluk etc, shared can it be added in a drop-down fashion
Add village and taluk fields as drop-downs
3. Local body along with district, tal

[2018-08-25 18:17] namboodiri commented on #943
Am making two separate PRs with both cases. Merge whichever seems right.

[2018-08-25 18:25] namboodiri opened #949 "Filter arguments in NGO list view is wrong in pagination buttons."
### Subject of the issue
When to click the pages in pagination button, the filters are removed and other invalid filters are added.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Go to https://keralarescue.in/ngoview/ and click any page.

### Expected behaviour
The new page should include the current sear

[2018-08-25 18:27] namboodiri commented on #949
Am working on this

[2018-08-25 18:41] muneebkattody commented on #940
I'm Ready

[2018-08-25 18:53] jinojossy93 commented on #676
Please close this issue
@biswaz @bobinson

[2018-08-25 19:29] #676 closed

[2018-08-25 19:44] muneebkattody opened #952 "Scrolling issue in missing persons form"
### Subject of the issue
Can’t scroll the ushahidi form in missing persons page.

[2018-08-25 19:56] bobinson commented on #946
1.  ~move the ward no before house no~

![image](https://user-images.githubusercontent.com/18070249/44622035-79809780-a8ce-11e8-8c73-1242195c36ab.png)

Add village and taluk fields as drop-downs

Adding the dropdown completion is not going to be a possibility without affecting offline and performance of the app, that is too many fields.

3. TODO

4. ~in the secondary category add one more option g

[2018-08-26 03:16] ntsreejith commented on #946
Date and Time is by default pointing to GMT and then need to scroll to IST

![screenshot_2018-08-26-08-43-01-099_com ushahidi mobile](https://user-images.githubusercontent.com/42038063/44624435-75736a80-a90c-11e8-8c76-5fbca3193719.png)

[2018-08-26 04:03] naveenpf opened #956 "[New request] Need a icon in homepage"
We need to a new home page icon
"Missing Person/Find Person"

Move "Missing Person/Find Person" from relief campus to this link.

Currently,  "Missing Person/Find Person" are at relief camps.
https://keralarescue.in/relief_camps/

[2018-08-26 04:09] naveenpf commented on #946
Adding the dropdown completion is not going to be a possibility without affecting offline and performance of the app, that is too many fields.

This is very for govt @bobinson
We need taluk and village, lsg type(if type) , LSG Name and Ward to be drop down.
Otherwise pulling report will be ugly.

We didnt implement in govt relief camps. See what happened. tcr has only 7 taluk.
https://keralarescue

[2018-08-26 04:25] bobinson opened #957 "Implementing predictive search to fill in LSB"
### Subject of the issue

**LSB** = Local Self Governing Body

We have large list that contains the names of Local Self Governing Bodies. We need a mechanism in Ushahidi forms to auto fill the form items as opposed to using a drop down menu.

ideas :

- use ushahidi API and trigger a backend action when someone clicks in the text area of LSB in the data collection form
- The backend should quickly

[2018-08-26 04:27] naveenpf commented on #957
+ Administrative boundaries - Taluk and Village

[2018-08-26 05:00] naveenpf commented on #956
Muneeb kattody is working on this

[2018-08-26 06:41] k0Lm4ch commented on #815
Already working on setting up pipeline in heroku for keralarescue-test app.Once we have beta tested that, can implement the same for prod

[2018-08-26 06:51] namboodiri commented on #949
@ja8zyjits issue #943 addresses this. I have made two possible solutions to this issue. Check PR #947 and #948

[2018-08-26 06:57] ntsreejith commented on #956
![report missing persons details kerala rescue in 1](https://user-images.githubusercontent.com/42038063/44625624-4fa98e00-a92b-11e8-868e-8baf43cafd80.png)
![report missing persons details kerala rescue in](https://user-images.githubusercontent.com/42038063/44625625-50422480-a92b-11e8-8f88-2c57a2822cc3.png)
Please see these will suffice

[2018-08-26 07:01] biswaz commented on #956
LGTM

[2018-08-26 07:21] #949 closed, assigned to namboodiri

[2018-08-26 07:34] ja8zyjits commented on #957
where do we update ushahidi code base for our instance? like where do write code that will modify the behavior of any fields in our ushahidi?

[2018-08-26 07:53] muneebkattody commented on #956
Completed.

[2018-08-26 08:06] biswaz commented on #956
I don't see a new icon on homepage or the person page? Point me to the change pls

[2018-08-26 08:09] #815 closed

[2018-08-26 08:41] muneebkattody commented on #956
new Icon Means New Link To Missing Persons And Finding Persons.

[2018-08-26 09:01] muneebkattody commented on #956
![img_e3835](https://user-images.githubusercontent.com/31755549/44626463-876c0200-a93a-11e8-8602-0bc83ec9cc55.JPG)

[2018-08-26 10:09] #956 closed

[2018-08-27 00:06] ansudhir opened #971 "Relief Material Planning - making material requisitions from camps visible to the donors"
### Subject of the issue
Problem Statement:
There is a lot of awareness on the Kerala floods and small groups of people are accumulating donations to be sent to Kerala in various cities and towns of the country, particularly from the states of Tamil Nadu, Karnataka, Andhra Pradesh, Telangana, Goa and Maharashtra. They are not in touch with the current situation and not sure how they can send relie

[2018-08-27 08:26] syam3526 opened #972 "form for blood donation."
form for collecting blood donor info.
protect info like contact info and address for people with admin or special access only.
dashboard entry for blood donor registrations

[2018-08-27 08:30] #133 closed

[2018-08-27 08:32] #147 closed

[2018-08-27 08:35] biswaz opened #973 "Add malayalam support to streaming csv downloads"
### Subject of the issue
Streaming csv download from admin->inmates do not show malayalam characters

### Steps to reproduce
Using the "Stream csv" option on Camp inmates in admin do not have malayalam support.

Writing the UTF BOM from codecs package at the beginning of the file will fix it, like it did on the "download csv option"

[2018-08-27 08:40] biswaz opened #974 "Data cleansing"
Clean duplicate Person/RescueCamp and redundant LSB data

[2018-08-27 08:45] naveenpf commented on #974
Issue taluk was entered free text in registration of Camps.
Same taluk was entered in different ways.
Clean taluk from backend too.
https://keralarescue.in/dmotal/?district=all

[2018-08-27 09:13] subinamathew commented on #923
`ie no check test for the media type ?`
True 👍  no check for media type.

[2018-08-27 17:06] kurianbenoy commented on #942
@bobinson  are you planning to make this form to inform volunteers for Damage assessment mission?
I couldn't properly understand the feature request mentioned here, can you please elaborate?

[2018-08-27 18:37] namboodiri commented on #952
It's working for me.

[2018-08-27 18:45] muneebkattody commented on #952
not working on ios

[2018-08-28 02:41] sreenadh commented on #83
@naveenpf Not implemented. pls check again.

[2018-08-28 07:45] biswaz commented on #83
We have a text based placepicker now. @sreenadh 's suggestion is better. #695 is for this

[2018-08-28 08:18] #83 closed

[2018-08-28 13:31] bobinson commented on #942
@kurianbenoy  - requirements are changing. Once its frozen, I will update here. Current work is happening in slack

[2018-08-28 13:38] bobinson commented on #845
please submit a PR

[2018-08-28 16:08] #170 closed

[2018-08-28 16:25] bobinson commented on #170
Thanking everyone for the inputs.

[2018-08-28 16:29] #297 closed

[2018-08-28 16:30] naveenpf commented on #783
Already added

[2018-08-28 16:30] #783 closed

[2018-08-28 16:33] #759 closed

[2018-08-28 16:59] #284 closed

[2018-08-29 09:50] #789 closed

[2018-08-29 10:27] #212 closed

[2018-08-29 11:02] biswaz commented on #851
Added

[2018-08-29 11:15] biswaz opened #980 "Update all hardcoded urls to url names from urls.py"
We use hardcoded links nearly on all templates and views. Even though all urls are named in urls.py, it was not used till now.
This issue can be solved by replacing links using their names from urls.py.
For templates refer - https://docs.djangoproject.com/en/2.1/ref/templates/builtins/#url
For views refer - https://docs.djangoproject.com/en/2.1/topics/http/urls/#reverse-resolution-of-urls

[2018-08-29 11:17] biswaz commented on #973
Note: If any one is taking up this issue, please create a generator, like the one passed here:
https://github.com/IEEEKeralaSection/rescuekerala/blob/c8dcd961fa3d8436dd20ccf59164dba320929dbd/mainapp/admin.py#L25

[2018-08-29 11:18] #240 closed

[2018-08-29 11:25] biswaz commented on #642
@ntsreejith I'm sorry that we made this mistake at the first place and also could not integrate the data collected by you.

[2018-08-29 11:27] #590 closed

[2018-08-29 11:29] biswaz commented on #760
Fixed in #695

[2018-08-29 11:29] #760 closed

[2018-08-29 11:30] #530 closed

[2018-08-29 11:30] #644 closed

[2018-08-29 11:42] #474 closed

[2018-08-30 16:17] bobinson commented on #971
PRs welcome ...

[2018-08-30 17:54] ntsreejith commented on #642
@biswaz No worries.    Data was put there so that in case any need is there, can be used. But there was  workaround and other high priority items in hand.  Many many thanks for the great work.

[2018-08-31 03:48] bobinson opened #983 "HTTP Parameter Override"
### Subject of the issue
HTTP Parameter Override

https://www.keralarescue.in/find_people/?address__icontains&camped_at&district&gender&name__icontains&notes__icontains&page=396&phone__icontains

Unspecified form action: HTTP parameter override attack potentially possible. This is a known problem with Java Servlets but other platforms may also be

### Steps to reproduce
https://www.acunetix.com/bl

[2018-08-31 14:41] #715 closed

[2018-09-01 07:26] bobinson opened #984 "Validations needed for liason officer creation"
### Subject of the issue
Describe your issue here.

### Your environment
Chrome/FF

### Steps to reproduce
- login as admin to volunteers.keralarescue.in
- create liason officers
- officer name accepts blank

![image](https://user-images.githubusercontent.com/18070249/44943586-554d1b00-ade6-11e8-9521-8175015b7b81.png)

### Expected behaviour
Officer name field must have validations

[2018-09-01 07:31] bobinson commented on #984
@giju "this is taken care and pushed to prod now"

[2018-09-01 08:09] muneebkattody commented on #946
Completed?

[2018-09-01 08:25] pkrajanand opened #985 "Docker-compose on OS X does not start Postgres instance"
### Subject of the issue
docker-compose, from the cloned environment at 3477f74, do not open network connection for Postgres instance, if port(even the default one) is not explicitly specified in the yaml file. However, start log do not indicate any false step.
### Your environment
* OS-X 10.13.6

### Steps to reproduce
1. As is given in the ReadMe, run ``` sudo sh docker.sh ```
2. Monitor the ope

[2018-09-01 15:36] #980 closed

[2018-09-01 16:02] biswaz commented on #305
Hi, we have implemented something similar. But if someone could implement the above design, that will be perfect and it will fit perfectly into our current plan, make KR perfect as possible, so that someone else can easily deploy at the time of crisis

[2018-09-01 16:26] #985 closed

[2018-09-01 16:39] bobinson commented on #984
fixed and verified

![image](https://user-images.githubusercontent.com/18070249/44948006-a46d6d00-ae33-11e8-9d33-0c54726697a3.png)

cc: @biswaz @naveenpf @syam3526

[2018-09-01 16:39] #984 closed

[2018-09-01 16:44] bobinson commented on #957
This is implemented cc @giju

![image](https://user-images.githubusercontent.com/18070249/44948044-2fe6fe00-ae34-11e8-9dee-8dc8068a2a16.png)

@biswaz  - please publish the code via github

[2018-09-01 16:45] vigneshhari commented on #983
The forms are created by Django dynamically and is not hardcoded , In this case the same URL endpoint is used for the form as well as rendering the initial page which is why the action is left unspecified

[2018-09-01 16:45] bobinson commented on #942
cc @giju

[2018-09-01 16:48] vigneshhari commented on #925
The errors were caused due to a large number of elements in dropdowns , the issue is known and the fix is being implemented

[2018-09-01 16:49] #191 closed

[2018-09-01 16:50] #233 closed

[2018-09-01 16:52] #350 closed

[2018-09-01 16:52] #275 closed

[2018-09-01 16:54] #580 closed

[2018-09-01 16:55] bobinson commented on #838
We will mostly be going to OTP based verification - fyi

[2018-09-01 17:11] bobinson commented on #305
@biswaz  - there is a request for clarification on about a similar feature on #general in slack

[2018-09-01 18:52] bobinson commented on #983
ok, understood.

closing as false positive.

[2018-09-01 18:52] #983 closed

[2018-09-02 09:36] naveenpf commented on #887
Close. Feature implemented

[2018-09-02 09:36] #887 closed

[2018-09-02 10:00] biswaz commented on #974
Progress: All duplicate person entries marked with is_dup flag. Change yet not reflected on frontend.
Since csvimports brought in some dups, save function of model was overrided to reject dups universally, on save()

[2018-09-02 10:31] biswaz commented on #838
We're using a time stamp based verification. It was a one time hack. Any (security) issues in this?

[2018-09-02 11:40] bobinson commented on #838
I think we can fix any issues expire the token etc - this one time hack can be used in scenarios like ours when the OTP/SMS will not be available.

[2018-09-02 11:44] bobinson commented on #326
/data is no more active

[2018-09-02 11:44] #326 closed

[2018-09-02 12:01] bobinson commented on #985
@pkrajanand  - do you mind sharing steps starting docker in the wiki ?

1. https://github.com/IEEEKeralaSection/rescuekerala/wiki

2. quick steps here also can help

[2018-09-02 14:49] pkrajanand commented on #985
There is a section "Docker" already within the Readme (https://github.com/IEEEKeralaSection/rescuekerala#requirements) which I found quite sufficient content-wise.

[2018-09-02 15:53] pkrajanand commented on #985
@bobinson Moved info to "wiki" (https://github.com/IEEEKeralaSection/rescuekerala/wiki/Using-Docker) and hyperlinked in Readme through pull-request https://github.com/IEEEKeralaSection/rescuekerala/pull/991.

[2018-09-02 18:36] vigneshhari commented on #974
Closing this issue since data Cleansing is over and csv issues are fixed

[2018-09-02 18:36] #974 closed

[2018-09-02 18:45] vigneshhari commented on #316
This feature has been implemented hence closing the issue

[2018-09-02 18:45] #316 closed

[2018-09-02 18:47] #314 closed

[2018-09-02 18:49] vigneshhari commented on #472
The issue has been resolved and hence we are closing this issue

[2018-09-02 18:49] #472 closed

[2018-09-02 18:49] vigneshhari commented on #476
We have integrated the flood map hence we are closing the issue

[2018-09-02 18:49] #476 closed

[2018-09-02 18:51] vigneshhari commented on #395
The data is now inserted as batches , the issue is resolved

[2018-09-02 18:51] #395 closed

[2018-09-02 18:52] vigneshhari commented on #393
The relief camps are listed properly now hence closing this issue

[2018-09-02 18:52] #393 closed

[2018-09-02 18:53] #348 closed

[2018-09-02 18:54] vigneshhari commented on #352
You can use google translate plugin to translate all the text to Malayalam, Hence closing this issue

[2018-09-02 18:54] #352 closed

[2018-09-02 18:54] biswaz commented on #561
Relief camps (active) ones were always shown. This issue may be raised when no data was added to the db

[2018-09-02 18:54] #561 closed

[2018-09-02 18:59] vigneshhari commented on #416
There is a wiki on generating the dummy data

[2018-09-02 18:59] #416 closed

[2018-09-02 19:03] vigneshhari commented on #673
Volunteer Duplicates , Requests duplicates and Person Duplicates are removed

[2018-09-02 19:32] riverspirit opened #993 "Implement provision to remove publicly available personal data"
### Subject of the issue
Please implement a feature where people can remove data from the website.

Or better yet, purge all the personal data from the website now that the rescue phase is over and the data no longer needs to be in the website and publicly accessible.

### Steps to reproduce
See [registered help requests](https://keralarescue.in/requests/?district=) or [registered volunteers](http

[2018-09-03 07:15] bobinson commented on #993
will it be possible for you to submit a PR ?

[2018-09-03 09:39] bobinson opened #994 "Docker on MacOS - documentation"
### Subject of the issue
Need  documentation on setting up docker based development environment on MacOS

### Your environment
MacOS

[2018-09-03 12:38] joeldeleep commented on #838
it would be better to update with csrf token expiration , if you are planning for a time based verification , consider to make the link after the first use , the main issue that arise during time based verification is  if 24 hours is the provided limit , token can be used n number of times during the limit .

[2018-09-03 14:05] Neonkraft commented on #993
@bobinson @riverspirit do we need to authenticate using SMS in order to remove the data from website?

[2018-09-03 17:37] riverspirit commented on #993
@bobinson, I'm not familiar with the stack to make this change. Hopefully someone who can will take it up, else if it stays open for too long without any takers, I'll give it a try.
<br/>

@Neonkraft, I think that'll be an overkill here. Truecaller has a similar [unlisting feature](https://www.truecaller.com/unlisting) where anyone could remove any entry from the database without verification. Als

[2018-09-03 17:39] riverspirit commented on #993
Also, I think the possibility of all personal data being made private should be discussed too. Is there any merit in all this private data being publicly available at this point? Making all data private will be beneficial for all the users even if they don't specifically request for deletion.

[2018-09-03 18:16] bobinson commented on #994
Method 1 : using brew
Method 2: using custom docker install

Method 1:

brew cask install docker
cd ~/hack/rescuekerala
docker-compose up

[2018-09-04 15:10] #898 closed

[2018-09-05 03:11] bobinson opened #996 "survey application - status"
### Subject of the issue

Which is the current survey application ?

Ionic based custom application.

## Applications tested

1. Ushahdi
2. KoboToolbox
3. Ionic based custom application

## Evaluation Criteria

The GO below is used for  evaluation criteria & final selection criteria can be defined based on the same.

[GO Ms No 18 2017 DMD.pdf](https://github.com/IEEEKeralaSection/rescuekerala/file

[2018-09-05 03:28] bobinson commented on #996
cc: @akshaim

[2018-09-05 03:33] syam3526 commented on #996
Do we need the hosted ushahidi since they are asking for way too much money. When we can self host it

[2018-09-05 03:35] bobinson commented on #996
We can self host it In India & thus the issue data migration is not there.

[2018-09-06 04:11] bobinson commented on #996
1.3  Offline Capacity : Tested and verified by volunteers across Kerala

![img_7196](https://user-images.githubusercontent.com/18070249/45134529-9794a480-b1b8-11e8-8f8e-7d6e608b727d.PNG)

![img_7195](https://user-images.githubusercontent.com/18070249/45134537-9bc0c200-b1b8-11e8-8c59-d57d545c3ac5.jpg)

[2018-09-06 11:59] bobinson opened #997 "user manual for survey app"
### Subject of the issue
Need a user manual which explains the usage of the volunteer registration and survey application to volunteers and officials.

## Sample user manual is here

https://docs.google.com/document/d/1bV95fUJ4Twb15epX03Ep7X1Wa5ppGz3Wf6PwZ5bg1cc/edit

[2018-09-06 12:36] aravindkrishnanmit commented on #801
@laxman954 The design seems good enough !

[2018-09-10 10:18] #845 closed

[2018-09-10 10:20] #838 closed

[2018-09-10 10:32] #245 closed

[2018-09-10 10:32] biswaz commented on #245
GPS location and map picker is added

[2018-09-12 16:54] #621 closed

[2018-09-12 16:54] #917 closed

[2018-09-12 16:54] #923 closed

[2018-09-12 16:54] #942 closed

[2018-09-12 16:54] #944 closed

[2018-09-12 16:54] #946 closed

[2018-09-12 16:54] #957 closed

[2018-09-12 16:54] #996 closed

[2018-09-12 16:54] #997 closed

[2018-09-12 17:02] biswaz opened #998 "Make KR futureproof"
Give your feedback on the features that KR needs for a future deploy.
My opinion:
1. Streamlining request UX (Request for rescue and request for others should have a manual placepicker due gps location deficiencies ?)
2.  Better data import exports in admin (use plugins? ), using existing redis worker

[2018-09-12 17:04] #313 closed

[2018-09-12 17:05] #952 closed

[2018-09-12 17:05] #647 closed

[2018-09-12 17:05] #173 closed

[2018-09-12 17:07] biswaz opened #999 "Better unique constraints"
Add unique together to Request model fields to avoid duplicates created by multiple POST requests.

[2018-09-17 02:47] ansudhir commented on #971
I now hear from the relief team that there is material getting wasted because of lack of planning. It will be great if someone can look into this business case. Please let me know if you need further inputs.

[2018-09-19 18:18] #526 closed

[2018-09-19 18:18] #108 closed

[2018-09-19 18:38] #774 closed

[2018-09-19 18:39] #794 closed

[2018-09-23 14:09] vigneshhari commented on #998
We can use the existing data importing script, but we should check for all data inconsistencies and show an error if any of the data cannot be added to the DB.

[2018-09-23 21:02] remedcu commented on #456
This can be closed as it is already solved @syam3526 @biswaz @vigneshhari

'<a href="{%url 'report_find_person' %}" class="home-button card" role="button">
        {% bootstrap_icon "user" %}
        <span class="text">
            Missing Person/<br />Find Person<br/>
                <span class="ml small notranslate">വ്യക്തിയെ തിരയുക/<br/>കാണാതായ വ്യക്തികളെ <br/>റിപ്പോർട്ട് ചെയ്യുക</span>

[2018-09-23 21:06] remedcu commented on #693
This can be closed @syam3526 @biswaz @vigneshhari

[2018-09-24 06:45] #693 closed

[2018-09-25 17:23] #569 closed, assigned to bobinson

[2018-09-25 17:24] #482 closed, assigned to nobody

[2018-10-27 10:43] prnvdixit commented on #861
Hey! Since this issue doesn't seem like having any recent activity - Can I send a PR accomodating changes from review?

[2018-11-19 18:14] PrinceShaji commented on #993
Couldn't find an option to request for data deletion (on the website). Also, could you tell me who is storing the database at the moment or have access to it? Asking this because I got marketing calls a few days after registering my name and tend to get them periodically. So I am sure the database got leaked somehow. Nothing can be done about that now, but I just want my personal details removed f

[2019-05-16 15:51] #925 closed

[2019-05-16 15:54] #311 closed

[2019-07-01 10:07] Erioldoesdesign commented on #940
Hey there folks, Eriol from Ushahidi here. Were you looking at this feature in relation to your Ushahidi OSS instance? We have a few issues related to email notifications in the pipeline and also some existing features.

[2019-07-01 11:18] bobinson commented on #940
@Erioldoesdesign - The email notifications were for the supply chain module of the custom platform that was built during the flood time. We had supplies available and then people looking for items/supplies. So here we were talking about related email feature.

[2019-07-01 12:18] Erioldoesdesign commented on #940
@bobinson got you 👍 I'm looking around to see how I can support :)

[2019-08-09 09:33] shamseena-dev opened #1009 "Wrong title for 3rd column in registerd volunteers list -issue only in Mobile version"
### Subject of the issue

The 3rd column's title for "registered volunteers " list is shown as "Location-sthalam". please replace this with "Area of volunteering -sannadha sevanam" or something appropriate. The issue exists in mobile version. In desktop version ,  it works fine.. Not sure about other screens though.

### Your environment
* OS Type -Android

## Steps to reproduce
in mobile version,

[2019-08-09 09:42] shamseena-dev opened #1010 "(1)Please add an option for registration of online volunteers(2) Please add a new field to enter by user when clicked on "other" in "Register as a volunteer > area of volunteering> other"
### Subject of the issue
(1)Please add an option for registration of  online volunteers
(2) Please add a new field to enter by user when clicked on "other" in steps: "Register as a volunteer > area of volunteering> other
### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Register as a volunteer > area of volun

[2019-08-09 10:27] nuhman commented on #1010
Online volunteering mainly comprises of verifying rescue requests. This can be done by registering yourself as a volunteer on [Ushahidi volunteer portal](https://volunteers.keralarescue.in/) which is unfortunately unavailable now. Maybe this thread can be used to address this issue since it's related
![VolunteersKeralaRescuePortalError1016](https://user-images.githubusercontent.com/15177381/627728

[2019-08-09 11:13] rejuls opened #1014 "HospitalView needs a search bar."
The Hospital page needs a search bar as there are 400 entries which are not sorted district wise.

[2019-08-09 12:23] shamseena-dev commented on #1014
In the hospital view, it would be better to sort out ,  if added one more column - "District" for the table.

Adding this comment here , since this issue seems to be similar.

[2019-08-09 13:22] R-Aravind commented on #1014
@shamseena-dev 	or it would be better to have dropdown of districts and on selecting the district, we can view the hospitals in that district.
Similiar to the View registered voluteers page.

[2019-08-09 14:08] #1009 closed

[2019-08-09 15:18] kaiiyer opened #1016 "Could not resolve DNS to find Ushahidi volunteer portal"
### Subject of the issue
DNS Error 1016

Do not have a matching DNS record inside the Cloudflare DNS settings. So cannot resolve the address which should direct to Ushahidi volunteer portal.

https://volunteers.keralarescue.in/
### Your environment
* Firefox 65
* Linux

### Steps to reproduce
Visit https://volunteers.keralarescue.in/

[2019-08-09 15:30] shamseena-dev opened #1017 "Give More Exposure to Announcements"
### Subject of the issue
The "Announcement section" in the Home page  needs to be given more exposure.
Rather than listing it among the other sections in the Home page, would be better if displayed on top of the page as a badge or using some highlighter.
And within the Announcement page , the each  announcement listing could be given a heading ,or use some hashtags on top (for eg: #Ernakulam #reli

[2019-08-09 16:31] tomahawk-pilot commented on #1016
that site is decommissioned.  and now redirected to https://help.keralarescue.in

[2019-08-09 16:32] #1016 closed

[2019-08-09 16:33] Aswinpookkatt commented on #1017
I will work on the issue.

[2019-08-09 16:35] abhiramr commented on #1017
@Aswinpookkatt  Do you need help with this?

[2019-08-09 16:40] R-Aravind opened #1019 "Contact Info Page is empty"
### Subject of the issue
Contact Info page is empty
![image](https://user-images.githubusercontent.com/44097855/62794658-442a8500-baf2-11e9-8813-3d7523c6674a.png)

### Your environment
* Chrome
* Ubuntu

### Steps to reproduce
	Contact info > Select District

### Expected behaviour
	Display Contact info of volunteers/NGOs in that district

### Actual behaviour
	The table is empty.

[2019-08-09 16:41] Aswinpookkatt commented on #1017
@abhiramr sure any help is welcome.

[2019-08-09 16:47] abhiramr commented on #1017
@Aswinpookkatt  Can you ping me on the Slack group? - Abhiram Ramesh

[2019-08-09 17:01] tomahawk-pilot commented on #1019
we are updating it

[2019-08-09 17:02] athul opened #1021 "Removing unused Data placeholders in the Announcement Page"
### Subject of the issue
Some Rows in the Announcements tab is empty
-------------
This maybe due to some discrepancy in the data in the db and should be removed as more priority announcements will be added in the near future.
![Screenshot_20190809_222642_com android chrome](https://user-images.githubusercontent.com/40897573/62795862-52c66b80-baf5-11e9-9bfb-b43a7d73ab15.jpg)
If these are still lef

[2019-08-09 17:02] #1019 closed

[2019-08-09 17:16] jerinisready commented on #1017
am at slack now. do you want any help over that?

[2019-08-09 17:21] jerinisready commented on #1014
@biswaz  are you doing this or could I start this?

[2019-08-09 17:24] biswaz commented on #1014
doing

[2019-08-09 17:25] subins2000 commented on #1021
This has been done.

[2019-08-09 17:29] athul commented on #1021
Cool.. Closing this

[2019-08-09 17:29] #1021 closed

[2019-08-09 17:36] subins2000 commented on #1017
@Aswinpookkatt I can add a noticeable header banner in the home page. Meanwhile you can work on the tags and stuff ?

[2019-08-09 17:36] #1014 closed

[2019-08-09 18:05] bobinson commented on #1010
Please try https://help.keralarescue.in

[2019-08-09 18:28] tomahawk-pilot opened #1024 "pagination and filter district wise"
please add a filter and pagination for hospital data

[2019-08-09 18:39] subins2000 commented on #1024
I'll work on this

[2019-08-09 19:05] mankidavu commented on #1017
Is this done or still waiting for more testing before merge?

[2019-08-09 19:06] subins2000 commented on #1017
@mankidavu #1022 & #1023 fixes a part of the issue. More work needs to be done for fixing this.

[2019-08-09 19:07] mankidavu commented on #1017
As this is a top priority item, can we get few more volunteers with necessary skills to fix it quickly and merge?

[2019-08-09 19:09] subins2000 commented on #1017
@mankidavu @abhiramr is working on it at the moment (the tags for each announcement)

[2019-08-09 19:12] abhiramr commented on #1017
@mankidavu Working on tags right now. Will ask asap if extra hands are needed.
It will help if you can provide more info on what sort of announcements are required in addition to what the above two PRs have + description in this issue?

WRT

Any thoughts on how this can be announced better?

[2019-08-09 19:20] mankidavu commented on #1017
<snip>...</snip>

Earlier today I saw a gif file created by someone indicating the excess waterflow towards CIAL airport. It happened almost exactly as it is at a later stage. I'm sure we can create such 3D models over map data easily and make a simple gif file. That will make people understand it better, once shared through our announcement area. Let me dig that particular gif.

[2019-08-09 19:48] vishnubvinod0602 commented on #1017
A dedicated team has to be assigned to contact the kseb officials inorder to confirm the opening of dams and they should be able to report us through a online tab there by it could be added to the announcement area inorder to reduce the fake news

[2019-08-09 20:07] vishnubvinod0602 opened #1026 "add one more option in area of interest n register as volunteer"
### Subject of the issue
Inorder to start online volunteer there should another option in register as volunteer ,where volunteer from other districts  could verify the current status of  dams in every district so that we could alert people

### Your environment
* version of your python
* any browser
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Introduce a new option in the registe

[2019-08-09 20:10] rejuls commented on #1024
The raw data did not have district info. The model needs to be changed and the location of 100+ hospitals need to be found.

[2019-08-09 21:24] AnandBaburajan opened #1028 "[Feature Request] A page with status of bus and train routes"
### Subject of the issue
It'd be helpful if there's a page with a tool to check whether bus/train routes are okay or not.
People with information can verify and update the status of the routes and add remarks too.

Something similar to:
[TO dropdown] - [FROM dropdown] - [Select BUS / TRAIN]
[CHECK STATUS button]
=>
[Status: OKAY / NOT OKAY] - [As of: TIME + DATE] - [REMARKS]
[UPDATE STATUS button]

[2019-08-09 22:02] abhiramr commented on #1017
The PR https://github.com/IEEEKeralaSection/rescuekerala/pull/1022/commits/4650f7dd0d5537428d7f8a314851e044e8267b9c

now has code for Hashtags as well.

Comments with GIFs here - https://github.com/IEEEKeralaSection/rescuekerala/pull/1022

[2019-08-10 02:48] unnikrishnan-r opened #1029 "Ability to search by Thalukk or Village for camps"
### Subject of the issue
The current camp search has the option to search by District alone. When number of camps are large (eg Ernakulam with ~150), navigating pages is difficult especially with no sort option as well.

Since our data entry has Thalukk and Village, can we add a filter for atleast one of these fields

### Your environment
Windows 7, Chrome

### Expected behaviour
When a district i

[2019-08-10 05:05] tomahawk-pilot opened #1030 "Display volunteer count"
Display total registered volunteers count in the home page or sub pages will be goood

[2019-08-10 05:48] jerinisready commented on #1030
Am working over it

[2019-08-10 05:56] tomahawk-pilot commented on #1030
https://keralarescue.in/dmodash/ .. has the stats but a volunteers count in the main page would be nice

[2019-08-10 06:22] vigneshhari commented on #1030
Make sure it's not db intensive, if its on the main page

[2019-08-10 06:27] vigneshhari commented on #1029
The thaluk based search is experiencing some issues, I am looking into it

[2019-08-10 06:29] vigneshhari commented on #1028
I believe it will be better to give the status of routes that are canceled in the announcements, we will soon have tag-based announcements and we can tag travel announcements, Adding all bus routes and train routes and managing them separately will be quite a task now.

[2019-08-10 06:33] tomahawk-pilot opened #1032 "Relief Camp"
Form to add relief camp data with privacy setting enabled for moble numbers  similar to one in volunteers portal.
district wise sorting.
fields to collect all basic info fields

[2019-08-10 06:55] #1032 closed

[2019-08-10 07:21] subins2000 commented on #1024
@rejuls yeah, need a new district field or perhaps filter by Name or email ?

[2019-08-10 07:35] sreenadh commented on #1030
The total count is calculating in the below page for pagination purpose. Show the total there.  One more thing, make the search filter "district" mandatory, otherwise, it will count the entire 75600 records from DB which is not necessary.

https://keralarescue.in/volunteerdata

[2019-08-10 07:46] sreenadh opened #1033 "<title> tag"
### Subject of the issue
Proper <title> tag

### Steps to reproduce
Visit https://keralarescue.in/volunteerdata
See <title> tag in page source

### Expected behaviour
<title>Volunteers Registered - Kerala Rescue</title>

### Actual behaviour
<title>Kerala Rescue</title>

I know this is not a high priority task. But creating an issue for future reference.

[2019-08-10 07:53] jerinisready commented on #1030
Is this okey?  Everything is cached!

![Screenshot from 2019-08-10 13-23-09](https://user-images.githubusercontent.com/19725964/62819372-04a37d80-bb72-11e9-8b30-a6ddda1fc940.png)

[2019-08-10 07:55] sreenadh commented on #1030
@jerinisready How is the cache invalidated?

[2019-08-10 07:56] jerinisready commented on #1030
what about applying view caching accross this data?

[2019-08-10 07:57] jerinisready commented on #1030
with default timeout! should i manually invalidate with updation on creation of records??

[2019-08-10 07:58] sreenadh commented on #1030
Yes. The cache should be invalidated on every update/creation of records.

Does showing the count on the home page really useful?

[2019-08-10 08:02] jerinisready commented on #1030
@sreenadh  Probably this will take a lot of public interest. what about continuing communication at slack? share handles here @sreenadh @vigneshhari @tomahawk-pilot. so that we can take care of more issues now! including optimization.

[2019-08-10 08:09] sreenadh commented on #1030
@jerinisready which channel?

[2019-08-10 08:12] jerinisready commented on #1030
'issue1017'   its a locked channel,

[2019-08-10 08:14] jerinisready commented on #1030
started a new one issue1030

[2019-08-10 08:18] sreenadh opened #1034 "Remove individuals from https://keralarescue.in/NGO/"
### Subject of the issue
https://keralarescue.in/NGO/ contains unnecessary records.

### Expected behaviour
Only NGOs, companies no individual volunteers

Need a moderation feature here. or delete unnecessary records or move individual volunteers to the respective section. #data-cleanup

[2019-08-10 09:00] Ajuajmal commented on #1033
I will work on this issue

[2019-08-10 09:12] jerinisready commented on #1030
started a new one issue1030

[2019-08-10 09:17] tomahawk-pilot commented on #1030
@syam in slack

[2019-08-10 09:18] tomahawk-pilot commented on #1030
@sreenadh all we need is a volunteer count somewhere in the main site. just to boost morale and more people will signup

[2019-08-10 09:19] tomahawk-pilot commented on #1034
noted . passed along to data management team

[2019-08-10 09:33] #1024 closed

[2019-08-10 09:37] jojurajan commented on #1029
@vigneshhari Need help with this one?

[2019-08-10 09:38] jerinisready commented on #1033
@Ajuajmal, am sorry, I already had updated it with issue #1030

[2019-08-10 09:46] jojurajan commented on #1033
@Ajuajmal Would you like to discuss the implementation if not already done? Slack me **@Joju** if interested.

[2019-08-10 10:50] naveenpf opened #1037 "Taluk in Relief camp should be drop down"
Taluk in Relief camp should be drop down

![image](https://user-images.githubusercontent.com/12662835/62820996-afc03100-bb8a-11e9-9650-a81b87dc5411.png)

[2019-08-10 10:52] fasalmbt opened #1038 "Server error (500) in private collection center section"
The private collection and relief center section is experiencing a server error (500)

![Screenshot from 2019-08-10 16-18-41](https://user-images.githubusercontent.com/20360708/62821014-0299e880-bb8b-11e9-93ab-03327949abfb.png)

[2019-08-10 10:52] Ajuajmal commented on #1033
@jojurajan just checkout the implementation

[2019-08-10 10:58] Ajuajmal commented on #1033
![title-updates](https://user-images.githubusercontent.com/28041916/62821043-d6cb3280-bb8b-11e9-88c1-ff5083bfb5e1.PNG)

[2019-08-10 11:09] jojurajan commented on #1038
@tomahawk-pilot Could we get the logs for this crash?

[2019-08-10 11:11] naveenpf commented on #1037
It is important for supply-chain management of  required resources .

[2019-08-10 11:12] naveenpf opened #1040 "Talukwise relief camps are broken"
https://keralarescue.in/dmotal/?district=tvm

[2019-08-10 11:15] jojurajan commented on #1037
We'll need the list of taluks for this one. Could you provide the list of taluks district-wise?

[2019-08-10 11:15] naveenpf commented on #1037
Check here
https://www.wikidata.org/wiki/Wikidata:WikiProject_Kerala/Lists/Taluks

[2019-08-10 11:16] tomahawk-pilot commented on #1038
link of this page

[2019-08-10 11:18] tomahawk-pilot commented on #1038
https://keralarescue.in/collection_centers/inside_kerala/

[2019-08-10 11:19] fasalmbt commented on #1038
In both sections (out side kerala too )  . This error is happening

https://www.keralarescue.in/collection_centers/outside_kerala

[2019-08-10 11:30] jinojossy93 commented on #1040
Shall I pick it up?

[2019-08-10 11:33] naveenpf commented on #1040
@vigneshhari

[2019-08-10 11:36] rakeshkr22 opened #1041 "View Status By Taluk Server Error 500"
### View Status By Taluk Server Error 500
In view Status By Taluk Page, After selecting District dropdown getting Server Error 500.

### Your environment
* Chrome Browser
* Windows OX

### Screen Shots
![image](https://user-images.githubusercontent.com/10681753/62821359-23653c80-bb91-11e9-9313-c5c7d90b5638.png)

First page

![image](https://user-images.githubusercontent.com/10681753/62821371-3ed04

[2019-08-10 11:49] naveenpf opened #1042 "Taluk drop down in public view"
1. https://keralarescue.in/relief_camps_list/
2. https://keralarescue.in/camp_requirements/

![image](https://user-images.githubusercontent.com/12662835/62821460-d7b39280-bb92-11e9-9400-a3bce8efc540.png)

![image](https://user-images.githubusercontent.com/12662835/62821463-e4d08180-bb92-11e9-8ef7-acf25f5f7764.png)

[2019-08-10 11:49] naveenpf commented on #1040
closing. fixed

[2019-08-10 11:50] naveenpf commented on #1041
it is fixed . Can you check and close ?

[2019-08-10 12:03] #1041 closed

[2019-08-10 12:03] #1040 closed

[2019-08-10 12:20] rakeshkr22 opened #1043 "Map link - Open in new tab"
### Map link - Open in new tab
it will be fine if map link will open in new tab, instead of opening in current tab.

![image](https://user-images.githubusercontent.com/10681753/62821734-3b3fbf00-bb97-11e9-8160-12bdbcad9938.png)

[2019-08-10 12:41] vigneshhari commented on #1038
The error is solved, The solution isn't deployed yet

[2019-08-10 12:45] #1038 closed

[2019-08-10 12:52] vigneshhari commented on #1043
Feature Added, Will be available after next deployment

[2019-08-10 12:52] #1043 closed

[2019-08-10 13:10] jojyva opened #1046 "[Feature Request] Add back to 'home' button to go back to keralarescue.in home page from Individual links."
###  Add back to 'home' button to go back to keralarescue.in home page from Individual links
There is no home button for volunteers entering data in Individual links of Kerala Rescue home page. Its confusing for folks (like volunteers) who have to enter multiple requests.
### Your environment
Prod - all Browsers.

[2019-08-10 13:12] ladvine opened #1047 "WhatsApp integration for keralarescue.in"
### Integrate whatsapp to keralarescue.in
Directly send rescue/resource requests as whatsapp message. It will be processed and submitted to keralarescue.in

### Expected behaviour
1. Register as volunteer in keralarescue.in
2. Create WhatsApp groups adding the keralarescue.in whatsapp contact.
3. All whatsapp message received in keralarescue.in whatsapp contact should be processed, checked for any

[2019-08-10 13:49] tomahawk-pilot commented on #1047
cannot be implemented due to privacy issues .

[2019-08-10 13:49] #1047 closed

[2019-08-10 13:49] tomahawk-pilot opened #1048 "change slack joinig link"
update slack link in homepage to http://bit.ly/rescuechat

[2019-08-10 14:04] jerinisready commented on #1048
earlier link is still working no?

[2019-08-10 14:06] tomahawk-pilot commented on #1048
the link expired

[2019-08-10 14:06] tomahawk-pilot commented on #1048
this is the new one

[2019-08-10 14:11] jerinisready commented on #1048
https://github.com/IEEEKeralaSection/rescuekerala/pull/1049

[2019-08-10 14:16] rejuls opened #1051 "Add district filtering to admin for hospital models."
Can someone with deploy access add a district filter to the admin of hospitals?   Also, it needs to have null in the filter to show only those that don't have a district yet. There are 400+ entries and new being added and the old data doesn't have districts added to it.

[2019-08-10 14:16] #1048 closed

[2019-08-10 14:30] vhawk19 commented on #1030
Is this done? or is work required?

[2019-08-10 14:30] jerinisready commented on #1030
https://github.com/IEEEKeralaSection/rescuekerala/pull/1036

[2019-08-10 15:13] #1051 closed

[2019-08-10 15:15] vigneshhari commented on #1046
could you give me a link ? as in a url where you seem to have this issue

[2019-08-10 15:15] #1028 closed

[2019-08-10 15:28] muneebkattody opened #1052 "Want better analytics in admin panel"
### Analytics Page
Having an analytical page in admin panel will be very help full to monitor. Like increasing in camps respect top time, etc. Using graphs and more.

[2019-08-10 15:31] R-Aravind commented on #1046
the kerala rescue logo at the top serves as a home button

[2019-08-10 15:45] jojyva commented on #1046
1) Open the URL - https://keralarescue.in/
2) Click on "Request for Rescue" link which will take you to https://keralarescuemap.ushahidi.io/posts/create/17
3) Once you enter the data and click submit, or before submitting if you need to go back to the home page (https://keralarescue.in/) there is no 'Back to home" button

[2019-08-10 16:13] AnandBaburajan commented on #1028
Perhaps this can help in some way: https://www.gizmolead.com/keralaroutes/
Code: https://github.com/AnandBaburajan/route-status-for-kerala-floods

It uses PHP with JSON files and is fully functional. It's currently hosted on a test site (my blog).
Would this be helpful if used as an iframe on a page at keralarescue.in?

Thanks.

[2019-08-10 16:34] gaiusgdcruz opened #1055 "Add Index to the Relief camp list"
### Subject of the issue
The sorted list of relief camps by districts is not Indexed.

### Steps to reproduce
Sort the list by districts.

### Expected behaviour
The output must be a list of camps with a index.
### Actual behaviour
The output list is displayed without an Index

[2019-08-10 16:54] gaiusgdcruz opened #1056 "Display Taluk details for District sorted list."
### Subject of the issue
Display Taluk details for District sorted list of Relief camps in Mainapp

### Steps to reproduce
Sort the list by Districts for relief camps in Mainapp
### Expected behaviour
Display the taluk details also from database

### Actual behaviour
The taluk details is missing from the output view.

[2019-08-10 17:00] bobinson opened #1057 "Sharing feature for annoucements"
### Subject of the issue
Right now its not possible to share individual announcements. If we can provide a link with unique time stamp, the URL can be shared.

### Expected behaviour
The time stamp should be a unique URL

![image](https://user-images.githubusercontent.com/18070249/62824615-5671f500-bbbe-11e9-85e2-497eec43001d.png)

[2019-08-10 17:09] tomahawk-pilot commented on #1057
#1054 solves this

[2019-08-10 17:10] tomahawk-pilot commented on #1052
its there in https://keralarescue.in/dmodash

[2019-08-10 17:15] sreenadh commented on #971
This is a high priority ticket. Lack of proper inventory management is affecting the relief operations. Don't know how much collection centers collected, how much they sent.

[2019-08-10 17:22] sreenadh commented on #1057
Create a view for share buttons and include it both in announcements.html and view.html

[2019-08-10 17:23] tomahawk-pilot commented on #1046
@jojyva we cant implement it as Ushahidi is a saas platform. and we don't have access to the code there.

[2019-08-10 17:23] #1046 closed

[2019-08-10 17:47] dileepkp3112 opened #1058 "Better to have a navigation tab to move the Announcements acording to the priority"
### Subject of the issue: Better to have a navigation tab to move the Announcements acording to the priority
Describe your issue here.:For user friendliness better to have a navigation tab to move the Announcements acording to the priority

### Your environment
* version of your python
* which browser and its version : Firfox
* OS Type (iOS/Android/Linux/Windows): Linux

### Steps to reproduce
Tel

[2019-08-10 18:17] edwnmnl commented on #1052
Wouldn't be useful if we added a link to this page on the homepage?

[2019-08-10 18:25] muneebkattody commented on #1052
https://keralarescue.in/dmodash is not sufficient. I think implementing graphs will be usefull

[2019-08-10 18:29] jinadcruz opened #1059 "Add health and mental health helplines"
Add health and mental health related helpline numbers

DIAL A DOCTOR(Toll free Tele Health Helpline) | BSNL Toll free No: 10560471- 2552056 (Other connections)For more information: www.disha1056.com
-- | --

Other helpline numbers
https://www.facebook.com/mhsgkeralaflood/photos/a.484401678692615/490838704715579/?type=3&theater

[2019-08-10 18:33] tomahawk-pilot opened #1060 "announcement api broken"
announcement api is broken.
https://keralarescue.in/announcements/api
please fix it or move it something generic . like .in/api/announcements

[2019-08-10 18:53] jino-qb opened #1061 "Dynamic Meta Description for Sub Pages"
### Subject of the issue
Describe your issue here.

When we share pages online it might be better to have a matching description which fits that page. Like for this URL: https://keralarescue.in/announcements/

It should be something like the following:
"Important Announcements regarding Kerala Rescue Operations"

### Your environment
* version of your python
* which browser and its version
* OS Ty

[2019-08-10 19:09] bobinson commented on #1057
Share buttons of fb etc?

[2019-08-10 19:09] sreenadh commented on #1057
Yes

[2019-08-10 19:10] sreenadh commented on #1057
FB and WhatsApp

[2019-08-10 19:16] jino-qb commented on #1061
Hi Team,
I have started on this and raised [PR#1062](https://github.com/IEEEKeralaSection/rescuekerala/pull/1062)

Please suggest the where all we need description changes

[2019-08-10 21:42] neerajmohan96 commented on #1060
I believe the issue is with the url. It seems  /announcements/api is clashing  with /announcements/`<string:filter>` in mainapp/urls.py

[2019-08-11 02:33] bobinson commented on #1060
fixed via https://github.com/neerajmohan96/rescuekerala/pull/1

[2019-08-11 02:34] bobinson commented on #1058
@dileepkp3112 - ie from the existing tags to buttons or links are suggested ?

[2019-08-11 02:36] bobinson commented on #938
handled via ushahidi for now

[2019-08-11 02:47] bobinson commented on #1060
closed by mistake.

[2019-08-11 03:11] sreenadh opened #1064 "Some tables are missing table-responsive div"
### Subject of the issue
A few tables are missing table-responsive div. Please check tables on mobile.

### Steps to reproduce
https://keralarescue.in/relief_camps_list/?district=alp

[2019-08-11 03:18] sreenadh opened #1065 "Pagination links as drop down on mobile"
### Subject of the issue
On mobil, the pagination links doesn't look good

### Expected behaviour
For small screens
First, Previous, Drop down page numbers, Next, last

[2019-08-11 03:55] dileepkp3112 commented on #1058
According to priority tag. We can navigate different type of information easily.

[2019-08-11 06:00] sebinbenjamin opened #1067 "No information regarding docker setup"
### Missing docs on using docker-compose
No docs on instructions regarding the use of the docker-compose setup.

[2019-08-11 06:07] #1042 closed

[2019-08-11 07:20] vigneshhari commented on #1060
https://keralarescue.in/api/announcements/api  Its still there working without any issues

[2019-08-11 07:20] #1060 closed

[2019-08-11 08:42] #1067 closed

[2019-08-11 08:59] AnandBaburajan opened #1071 "[Feature Request] Check status of bus routes"
### Subject of the issue
This addresses the feature request issue: https://github.com/IEEEKeralaSection/rescuekerala/issues/1028, for checking status of routes.

Perhaps this can help in some way: https://www.gizmolead.com/keralaroutes/
Code: https://github.com/AnandBaburajan/route-status-for-kerala-floods
The routes are updated by the people, for the people.

It uses PHP with JSON files and is fu

[2019-08-11 09:52] tomahawk-pilot commented on #1071
the sites need more data. can you update the contents

[2019-08-11 10:08] AnandBaburajan commented on #1071
Yes, I'll add some more affected routes connecting prominent locations.

[2019-08-11 10:12] naveenpf opened #1072 "Correct App link"
Correct App link
https://cdn.keralarescue.in/app/keralarescuecamp.apk

![image](https://user-images.githubusercontent.com/12662835/62832578-7224dc00-bc4e-11e9-9d3b-bd19f87d8c3d.png)

[2019-08-11 10:35] #1017 closed

[2019-08-11 10:40] justinjohnymathew commented on #1072
Is there any direct playstore link?

[2019-08-11 10:43] naveenpf commented on #1072
no

[2019-08-11 10:46] justinjohnymathew commented on #1072
shall I update the link ?

[2019-08-11 10:48] naveenpf commented on #1072
yes

[2019-08-11 11:15] #1072 closed

[2019-08-11 11:37] AnandBaburajan commented on #1071
I've updated around 15 affected routes and a few good routes.
The rest of the routes can be voluntarily updated by people with info.
Is this good to go?

[2019-08-11 14:28] adityarpai843 commented on #1064
Is the issue solved?

[2019-08-11 14:45] jinoytommanjaly opened #1077 "Map Added KeralaRescue Dashboard"
Added filters of Maps and GPS coordinates Tabs in KeralaRescue Dashboard Portal.
It can be easy to add the missing Map and Cords details.

Since the above details are not visible in the filter page, we need to open each page to check whether the details are added or not.

[2019-08-11 14:45] bobinson commented on #1064
Please test from your end too. We all need to test, verify, fix :)

[2019-08-11 15:07] adityarpai843 commented on #1064
actually i've added table-responsive class

[2019-08-11 15:07] adityarpai843 commented on #1064
and im testing it

[2019-08-11 15:08] bobinson commented on #1064
Ok, once tested, do send a PR. We can merge it.

[2019-08-11 15:22] tomahawk-pilot commented on #851
@biswaz
@vigneshhari

[2019-08-11 16:28] rejuls commented on #1071
The idea is nice and if we could set this up for bus and train routes, get enough publicity, it can help a lot of people. Most routes are okay now. For the future.

[2019-08-11 17:19] AnandBaburajan commented on #1071
Can we at least try to get it up and running?

[2019-08-11 17:51] farisshajahan opened #1079 "Update django-redis version"
The current version of django-redis in the requirements.txt leads to a Invalid type: CacheKey error during CI checks as well as in the dev environment because Django passes the CacheKey object to redis. This is fixed in the newer version.

### Environment
* python3
* Linux (Ubuntu 18.04)

[2019-08-11 18:18] bobinson commented on #1079
It will be a good idea to share exact versions, OS flavors like Ubuntu etc to give more context.

[2019-08-11 18:23] farisshajahan commented on #1079
@bobinson
Added. But it d doesn't matter for this scenario though.

[2019-08-11 18:29] naveenpf opened #1081 "Taluk page is broken"
https://keralarescue.in/dmotal/?district=ptm

[2019-08-11 18:30] naveenpf commented on #1081
![image](https://user-images.githubusercontent.com/12662835/62838013-2137d680-bc94-11e9-8983-c485e3056e5a.png)

[2019-08-11 19:08] farisshajahan commented on #1081
There is also an issue when selecting "All districts" as filter.

[2019-08-12 04:02] bodhish commented on #851
@R-Aravind what happened to PR?

[2019-08-12 05:15] austinejoy opened #1084 "Tags in announcement section"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2019-08-12 05:19] #1084 closed

[2019-08-12 05:23] #1081 closed

[2019-08-12 05:27] austinejoy opened #1085 "Predefined tags in announcement section"
### Subject of the issue
The tags feature in the announcement section is not used properly. Many announcements are district wise ones and they all appear as general ones for a person visiting the site. Please try to add a mandatory tag section which has predefined tags like general, district names, rehabilitation, etc. These predefined tags should be shown at the beginning as it is shown currently

[2019-08-12 06:15] R-Aravind commented on #851
@bodhish I talked with @vigneshhari and he pointed out that they didnt have govt. approval for it.

[2019-08-12 06:24] R-Aravind commented on #1064
Is this what you meant?
There is a horizontal scroll for the rest of the table
![image](https://user-images.githubusercontent.com/44097855/62848158-c8018e80-bcf7-11e9-9a64-1eb12b0eb373.png)

or is it something else?

[2019-08-12 07:24] #851 closed

[2019-08-12 09:23] tomahawk-pilot opened #1087 "bring back https://keralarescue.in/missing_and_finding_persons/"
bring back this link in home page. since we have data https://keralarescue.in/missing_and_finding_persons/

[2019-08-12 10:35] riginoommen commented on #1087
@tomahawk-pilot this link is active now

[2019-08-12 11:18] adityarpai843 commented on #1064
i think that's it
is it @sreenadh

[2019-08-12 11:28] vmwsree opened #1088 "Bring back Classic Issue raise form"
### New Ushahidi Form is too complex for a simple user
There is a significant difference in the volume of issues raised from the ground via website compared to last year. Yes the calamity is less but 120 is not a number we can trust. My assumption is either we are dropping users at the lead form, a user should be able to report the issue with very simple and fast process, which the older form was

[2019-08-12 11:46] sreenadh commented on #1064
Yes

On Mon, 12 Aug 2019, 16:48 Aditya R Pai, <notifications@github.com> wrote:

[2019-08-12 12:41] sreenadh commented on #1088
Data from the form can be pushed to Ushahidi using their API.

[2019-08-12 12:55] biswaz commented on #1088
Ushahidi forms were used because our forms had UX problems that lead to wrong location information. But the learning from using ushahidi is that, it isn't perfect too..

[2019-08-12 13:11] Gotham13121997 opened #1089 "copy/share option in district wise requirements"
### Subject of the issue
No copy/share option in district wise requirements

[2019-08-12 13:20] justinjohnymathew commented on #1087
Its not there on the home page.

[2019-08-12 14:35] vmwsree commented on #1088
@biswaz I am glad that other developers are also thinking same.Does this need a pr ? Please discuss this internally I believe that would make a significant change.If user has difficulty in a location we can ask for their pin code.

[2019-08-12 14:57] rejuls commented on #1088
Ushahidi has a lot of issues but serves the purpose for now. For the future, we should build something ourselves and use the google maps API (maybe?).

[2019-08-12 15:55] biswaz commented on #1088
@vmwsree Ushahidi's flaws and pros are being studied. We are not in a position to switch right now. More over, it aint that bad and it works better in some cases.

[2019-08-12 16:03] #1089 closed

[2019-08-12 16:25] sreenadh opened #1091 "Announcement section enhancement"
1. Move tags to left side on bigger screens and to top on smaller screens.
2. Sort tags by recent posts.
3. Hide clear filter button if no tag has been clicked
4. Show high priority announcements in the past 24 hrs, on top.
5. Use a taggable input for tag instead of text area.

[2019-08-12 17:04] rejuls commented on #1061
#1062 is merged and hence this can be closed. @jino-qb @tomahawk-pilot @biswaz

[2019-08-12 17:08] #1061 closed

[2019-08-12 17:39] #1088 closed

[2019-08-13 14:05] jinojossy93 opened #1096 "Manage Item collected at Collections Center's and Add Edit option for the collection centerntre"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2019-08-13 14:08] jinojossy93 commented on #1096
@all
I have already started on it.

[2019-08-13 19:21] sreenadh opened #1098 "Add an alert or a flash message saying "copied" in District wise requirements"
Add an alert or a flash message saying "copied". The user doesn't understand what has happened after clicking the share/copy button from a desktop browser.

[2019-08-14 13:34] sreenadh opened #1100 "Add signature "www.keralarescue.in" to share/copy feature in District needs"
### Subject of the issue
Add signature "www.keralarescue.in" or something which looks meaningful to share/copy function in district needs

[2019-08-14 13:36] sreenadh opened #1101 "Add URL to share/copy feature in District needs to know the present status"
### Subject of the issue
Add URL to of share/copy feature in District needs to know the present status.

[2019-08-14 13:46] sreenadh opened #1102 "Social media share buttons for announcements"
Add FB, twitter, email, Navigator.share, copy to clipboard for announcements. Link share or content share or both.

[2019-08-15 01:36] naveenpf opened #1104 "In district needs page have date and time of submission or edited"
https://keralarescue.in/district_needs/

Each row needs date and time at which entry is made.

Example
updated on Aug 15, 2018 - 8.00 am

[2019-08-15 03:08] sabarishtvm opened #1105 "Flood map button click"
When the flood map button is clicked redirecting to windy.com

[2019-08-15 06:17] #1098 closed

[2019-08-15 07:09] biswaz commented on #1105
Renamed it to weather map. Flood map is not available now.

[2019-08-15 07:09] #1105 closed

[2019-08-15 07:18] biswaz commented on #1104
Fixed in https://github.com/IEEEKeralaSection/rescuekerala/commit/d13e0ebbc68e8d857416c4b6cf99eb5f43729f16

[2019-08-15 07:18] #1104 closed

[2019-08-15 07:18] biswaz commented on #1100
Added

[2019-08-15 07:18] #1100 closed

[2019-08-15 08:05] #1079 closed

[2019-08-15 08:08] biswaz commented on #1028
@AnandBaburajan Thank you for making this website. But it doesn't have enough data to be used by the public. It feels more like a beta website to me. You can try to onboard people  from our slack channels.

[2019-08-15 08:08] biswaz commented on #1071
@AnandBaburajan Thank you for making this website. But it doesn't have enough data to be used by the public. It feels more like a beta website to me. You can try to onboard people  from our slack channels.

[2019-08-15 08:08] #1071 closed

[2019-08-15 12:17] #180 closed

[2019-08-15 12:39] #218 closed

[2019-08-15 12:47] #489 closed

[2019-08-15 12:47] #216 closed

[2019-08-16 01:51] naveenpf opened #1107 "Add KSDI maps under maps"
Add KSDI map under

http://www.ksdiportal.kerala.gov.in/asset/assetflood/index.php

[2019-08-16 16:48] ganeshgk opened #1108 "Incorrect Text on view volunteers page"
### Subject of the issue
Incorrect text on view volunteers page

### Steps to reproduce
visit https://keralarescue.in/volunteerdata/ & check the Tab Name

### Expected behaviour
It should be
Name - പേര്
### Actual behaviour
It shows Name - പേര ,
![rescue](https://user-images.githubusercontent.com/783154/63183850-4d69a380-c056-11e9-92a9-c5a71d0d1bf9.PNG)
so when translated, it changes literally to

[2019-08-16 17:02] ganeshgk commented on #1108
This is the line , https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/templates/mainapp/volunteerview.html#L54

[2019-08-17 06:54] #1108 closed

[2019-08-19 00:48] naveenpf opened #1110 "Checkin camp summary code and link camp summary app in dmo dashboard"
https://cookbook.ai/kerala/camps2019.php

[2019-08-19 06:01] vigneshhari commented on #1029
The exact taluk is not being entered which causes a lot of inconsistencies, We have to first maintain a fixed list of taluks before implementing the search, I'm sorry I didn't reply earlier.

[2019-08-19 10:10] bobinson commented on #1029
@vigneshhari  - Giju and Naveen may be able to provide us with the fixed list that was prepared last year.

[2019-08-19 10:55] biswaz commented on #1029
List is available as a python list in one of the merges. Only thing is
we'll have to find a way to deal with the existing taluks with different
spellings

On Mon, 19 Aug, 2019, 3:40 PM Bobinson K B, <notifications@github.com>
wrote:

[2019-08-25 02:40] naveenpf commented on #1037
Village also as drop dowm

[2019-08-25 02:40] naveenpf commented on #1037
@biswaz

[2019-08-25 02:42] naveenpf opened #1111 "Need a map of all relief camps"
Generate map of relief camp from lan/long provided
https://keralarescue.in/relief_camps/

[2019-08-25 02:48] naveenpf opened #1112 "Add details of essential services (Fire and Rescue stations and Police stations)"
Add local info Fire and Rescue stations and Police stations like hospitals.

[2019-09-02 02:25] naveenpf opened #1113 "New link for relief camp app"
https://play.google.com/store/apps/details?id=xyz.appmaker.keralarescue.v2

![image](https://user-images.githubusercontent.com/12662835/64086604-de2ec780-cd56-11e9-9ddb-d3f5f65f23b2.png)

[2019-10-08 18:25] tomahawk-pilot opened #1115 "change slack URL"
change slack link to https://bit.ly/rebuildearth

[2019-10-10 09:54] #1115 closed

[2020-05-26 10:28] biswaz opened #1119 "Upgrade packages and ensure compatibility"
Ideally, Minor and patch version numbers should be the only change. No major version bumps for now.

[2020-06-08 05:39] naveenpf opened #1121 "registered request linked to ushahidi"
![image](https://user-images.githubusercontent.com/12662835/83995942-70b06700-a978-11ea-9383-b2c04cb0f10f.png)

[2020-06-08 05:40] naveenpf opened #1122 "gmaps dev version"
![image](https://user-images.githubusercontent.com/12662835/83995989-a0f80580-a978-11ea-9a0a-e3a6695de96b.png)

[2020-06-08 12:51] biswaz commented on #1122
We need to look at alternatives. Gmaps is very expensive. Unless we have a chance to get credits, we should explore OSM based options. @naveenpf What are you thoughts on mapbox ?

[2020-06-09 12:17] bobinson commented on #1121
@naveenpf  - can we use a toplevel project management repo where we report the issues ? ie like this https://github.com/raksha-life/Project-Management/

- So all issues across multiple repos will be in one location
- Further when we add more micro-services, it will make our life easier

suggestions welcome ...

[2020-06-20 05:11] naveenpf commented on #1122
My preference would be Malayalam rendering of HOT Maps.
(https://github.com/hotosm/HDM-CartoCSS)

http://map.hotosm.org/#15/9.9840/76.2897

[2020-06-24 15:03] biswaz opened #1124 "Fix remaining pep8 issues"
I have formatted all the files using black. From now all pep8 directives except `E501` must be respected.

Adding the remaining ones below:

- [ ] ./mainapp/views.py:189:5: E722 do not use bare 'except'
- [ ] ./mainapp/views.py:478:5: E722 do not use bare 'except'
- [ ] ./mainapp/views.py:515:5: E722 do not use bare 'except'
- [ ] ./mainapp/views.py:542:5: E722 do not use bare 'except'
- [ ] ./mai

[2020-06-25 12:25] bobinson commented on #1124
looks good

[2020-06-27 11:04] #1124 closed

[2020-06-27 11:10] biswaz opened #1127 "Add documentation for pre-commit hooks"
Precommit hooks with plugins:
Black
isort
and other smaller trivial ones from https://github.com/pre-commit/pre-commit-hooks are added

TODO
- [ ] Add documentation about installing precommit hooks on local
- [ ] Documentation about using them and how to handle a failed git commit
- [ ] Potential conflict between plugins has to be tested out ( I have fixed isort and black's conflicts, didnt not en

[2020-06-27 11:13] biswaz opened #1128 "Update circleci pipeline"
- [ ] Update circleci pipeline to run flake8

[2020-08-01 03:21] naveenpf opened #1129 "Add taluks for requests"
https://keralarescue.in/request/

decentralized information will help for quick action.

[2020-08-08 09:32] naveenpf opened #1130 "scarp ward data in malayalam"
mainapp/management/commands/get_kerala_local_bodies.py

[2020-08-08 09:33] naveenpf commented on #1130
current data available is in english
https://github.com/raksha-life/rescuekerala/blob/master/static/js/kerala_local_bodies.json

[2020-08-08 11:29] biswaz commented on #1130
@naveenpf Do you know of a reliable source of malayalam ward data?

[2020-08-08 12:20] naveenpf commented on #1130
use the same script . english was taken from there .

http://lsgelection.kerala.gov.in/voters/view drop down malayalam

[2021-06-24 08:57] bobinson opened #1132 "docker.sh is missing"
The docker.sh mentioned in https://github.com/raksha-life/rescuekerala/wiki/Using-Docker is not to be found.

So is the docker-compose steps in the README

[2021-06-28 18:00] bobinson opened #1133 "ASCII to UTF-8 conversion"
### There are multiple files in the repository with ASCII encoding.

Better to have them all converted to UTF-8

https://stackoverflow.com/questions/28380191/how-to-convert-a-file-from-ascii-to-utf-8

### Your environment
* version of your python : Pyhton3.x

### Steps to reproduce
`SyntaxError: Non-UTF-8 code starting with '\xcf' in file /user/hack/anaconda3/bin/python on line 1, but no encoding

[2021-10-17 03:23] riginoommen opened #1134 "Can we deploy this app for the disaster management"

[2021-10-17 14:43] bobinson commented on #1134
@riginoommen  - if needed this can be brought up quickly. (messaged a SDMA member)

[2021-10-20 15:03] bodhish opened #1135 "Celan up for Oct 2021"
- [ ] Hide the logos from the top nav. (We will need to get permission to add those back - Kerala State, IEEE, IT mission)
- [ ] Hide the tag line below KRP logo. (Both English and Malayalam)
- [ ] Hide Medical Information block.(The data needs to be updated)
- [ ] Recheck state and District control room numbers

[2021-10-20 15:05] bodhish commented on #1134
@riginoommen @bobinson
@vigneshhari turned on the old app and it looks like we need to clean up the data a bit.

What do you recommend? Should we point the domain to old or just keep the current static site?

[2021-10-20 15:15] bobinson commented on #1134
Better to keep the KRP.in show only the information right now. Collecting the data at this point will not be the decision that we volunteers must make.