[2018-08-16 06:39] naveenfrancis opened #20 "Implement a ticketing system."
- [ ] Have id for each case.

- [ ] Able close each case id.

- [ ]

[2018-08-16 06:41] kira0204 commented on #20
Hi @naveenfrancis, apologies, I couldn't understand what you meant here.

Github already has a ticketing system implemented as `Issues` and gives a unique ID to them as well.

[2018-08-16 06:44] dnivra opened #21 "Load balancing and other aspects with website"
I'm here from social media posts such as [this](https://old.reddit.com/r/india/comments/97p5qn).

What is current situation like? I see cloudflare being used. What's the current plan? Where are things being hosted in backend and what database is being used?

Also, what is feature wise status of the website? Is there much more to be done? I think it might be best to [use Eden from the Sahana Founda

[2018-08-16 06:44] shaheenkdr opened #22 "Need an API end point"
We are working on an app to fetch all the data of people who need help with click of a single button, thinking of merging with the rescue kerala website, Can we get an API end point for the same , in case if we are pushing details to this server from the mobile app ?

[2018-08-16 06:45] naveenfrancis commented on #20
Each request should have a ticket id like PTM0001. We need able to call the requestor and close the case.
Request are piling up. Now it looks like 5500 requests. Many are calling the same requestor called bt volunteers again and again.
Not ticketing for github.

Sample ticket PTM0001, TCR0020

[2018-08-16 06:47] akhilerm opened #25 "Include UPI option in contribute page"
If possible include UPI codes in the page [To Contribute](https://www.keralarescue.in/reg_contrib/)

- cmdrf@fbl

- keralacmdrf@sib

- keralacmdrf@sbi

[2018-08-16 06:48] jinut2 opened #27 "The income help requests can have location (google maps)."
This could help the volunteers to pinpoint the area requesting help and make the process faster.

[2018-08-16 06:51] theryecatcher opened #28 "Are we in need of the district column in the lists page?"
Anyways the user selects their districts in the dropdown. It can save some data loads.

[2018-08-16 06:54] irshadshalu opened #31 "[New] GPS Location picking"
Add ability to automatically detect user's location when a request is being made.

[2018-08-16 06:54] dnivra commented on #20
Hijacking/piggybacking this discussion. Can we move to an already well developed system specifically for this purpose? I think it might be best to use [Eden from the Sahana Foundation projects](https://sahanafoundation.org/eden/) because [it is well tested in disaster scenarios](https://sahanafoundation.org/eden/deployments/) and [provides lots of features](https://sahanafoundation.org/eden/featur

[2018-08-16 06:54] kira0204 opened #32 "Contributions"
Hi guys,

It's great that we all are coming together to help this website, every helping hand is required and appreciated, but before you make any contribution, below are some points that you should keep in mind.

* Select an issue that you want to work upon and comment on the same so that no other person takes up the same issue
* If the issue your PR is solving is not mentioned in the `issues` ta

[2018-08-16 06:54] biswaz commented on #31
Workin on an app

[2018-08-16 06:54] #31 closed

[2018-08-16 06:56] eldhoabe commented on #28
The request are already by districts

![image](https://user-images.githubusercontent.com/4771705/44193151-fb402a80-a142-11e8-9cf9-a7fe972a9ddf.png)

[2018-08-16 06:56] ginigangadharan commented on #27
that's valid point.
Location data is critical for any help.
Ask to include coordinates or a direct option to choose it on page

[2018-08-16 06:57] irshadshalu commented on #31
Great!!

I have added this for web in #29 , do merge it and mark this as closed :)

[2018-08-16 06:57] sanjuwdr commented on #28
I agree.

[2018-08-16 06:57] theryecatcher commented on #28
My point was to avoid loading of the districts column in the page.

[2018-08-16 06:57] naveenfrancis commented on #31
People may not be installing an app now. Webform also needs rough geolocation.

[2018-08-16 06:59] ajmaln commented on #25
On it

[2018-08-16 06:59] eldhoabe commented on #28
yes, that a point.
Which would save more space to load the view

[2018-08-16 06:59] naveenfrancis commented on #20
Any ticketing mechanism would fine now. If it is tested well good. Let's use that.

[2018-08-16 07:02] rahulkrishnanfs commented on #20
@dnivra @naveenfrancis if  it is good then we can test and move  to it

[2018-08-16 07:02] dnivra commented on #20
I have not used Eden and from a brief glance, it seems to have good features. We might have to investigate what features it offers and then perhaps implement additional features we need. Sahana Foundation might also offer some volunteers for this purpose: experienced developers who could help.

[2018-08-16 07:04] dnivra commented on #20
Demo site if anyone wants to check it out: demo.sahanafoundation.org

[2018-08-16 07:06] vigneshhari commented on #27
We already have a team working for the same.

[2018-08-16 07:07] naveenfrancis commented on #27
Same as #31. Can we close this ? And have one request open

[2018-08-16 07:08] kira0204 commented on #21
This looks amazing @dnivra . I would wait for the maintainer of this repo to reply, I just had a cursory read and it would be great if you could list any cons(if there are)

[2018-08-16 07:08] #27 closed

[2018-08-16 07:09] vigneshhari commented on #28
You can just hit view requests without selecting any districts, which is why we have a districts column

[2018-08-16 07:10] shahidhk commented on #22
https://www.django-rest-framework.org/ Can be used to create API

[2018-08-16 07:13] joicemjoseph commented on #21
@smc is ready to help with scaling and load balancing.

[2018-08-16 07:14] shahidhk commented on #21
It will be difficult at this point to implement another system. Let us focus on scaling the current setup.

If the maintainers could point out issues with the current deployment setup, we can work on fixing them.

[2018-08-16 07:14] theryecatcher commented on #28
Ok makes sense, Thanks!

[2018-08-16 07:14] #28 closed

[2018-08-16 07:14] rahulkrishnanfs commented on #20
@dnivra  it looks goods, Location tracking is also available

[2018-08-16 07:17] nithin-vijayan opened #39 "Hyperlinking contact numbers in view requests page"
Since people might access the site from mobile devices mostly, how about making the phone number a hyperlink which opens the dialer on clicking ?

[2018-08-16 07:18] Gotham13121997 opened #40 "Add links to prerequisites in readme"

[2018-08-16 07:18] dnivra commented on #21
@shahidhk I would say depends. If we have too many features to implement, then not spending time on it might be wise. If there aren't many, then no need to move. Otherwise, it might be better to move?

But yes, it would be good to know what is current deployment setup and requirements so a better decision can be made.

[2018-08-16 07:18] adamshamsudeen opened #41 "Option to mark if the registered requests are handled and if they are safe."
We need volunteers to call these numbers and verify if they are safe and an option to mark them as safe.
Suggestions?

[2018-08-16 07:19] ajaykanayil opened #42 "Tables are not showing properly in mobile"
Guys, tables not showing properly in mobile - check these pages...

https://keralarescue.in/district_needs/
https://keralarescue.in/requests/

![img_9676](https://user-images.githubusercontent.com/7960725/44194291-2d598880-a153-11e8-8481-2a88b5ba813a.PNG)

[2018-08-16 07:19] sadu opened #43 "Include a link to this repo on the website"

[2018-08-16 07:22] joicemjoseph opened #46 "validation for phone number"

[2018-08-16 07:23] codeslord opened #47 "Enhancement with Google maps location services"
If people can mark their locations via google maps, it would be easier for the rescue teams to help them.
If possible kindly add a widget for the same. [Link]((https://github.com/erdem/django-map-widgets)

[2018-08-16 07:28] rahulkrishnanfs commented on #21
@shahidhk I too be in the same page, we can work on the scaling part  but as now there is no ticketing system to track. Another issue opened for that. If we can implement the location tracking system then it would be better

[2018-08-16 07:29] #41 closed

[2018-08-16 07:29] rahulkrishnanfs commented on #43
@sadu that it good option, I will work on it

[2018-08-16 07:32] naveenfrancis commented on #47
Same as #31

[2018-08-16 07:34] sadu commented on #43
I have made a PR for this, @rahulkrishnanfs #45

[2018-08-16 07:34] MansoorMajeed opened #50 "Where is the infrastructure related code hosted?"
For example, setting up proper caching server (varnish/redis) can make sure that the site doesn't go down on high load.

[2018-08-16 07:35] nithin-vijayan commented on #39
Raised pull request for the same.

[2018-08-16 07:39] codeslord commented on #47
@naveenfrancis  👍  Hope the above repo will speed up the process.

[2018-08-16 07:40] tachyons opened #56 "Make website available offline"
Internet connection can be unreliable in flood affected areas. So making static pages offline may help in such cases

It is easy with libraries like this https://github.com/TalAter/UpUp

[2018-08-16 07:43] anroopak opened #57 "Include 1077 number in home page"
Include 1077 number in home page.
1077 number has the technology to identify the location of the caller, which will be helpful to the rescue team.

[2018-08-16 07:44] vinu commented on #21
any idea on the current deployment strategy? using heroku ?

[2018-08-16 07:44] MansoorMajeed opened #58 "Caching on pages"
It looks like some pages do not have caching enabled.

For example `https://www.keralarescue.in/requests/?district=alp`. It takes a second or two to load the page. And I do not see any proper cache control headers on the response.

It will be better if we can cache these pages for a minute so that sudden spike in traffic won't fry the servers.

[2018-08-16 07:47] salmanulfarzy commented on #46
It currently only allows only 10 characters, But **any character** is allowed. We could restrict that to only numbers.

[2018-08-16 07:47] vigneshhari commented on #58
We'll implement the cache servers and better load management as soon as we move out of heroku

[2018-08-16 07:48] ahumblenerd commented on #57
Is anyone working on this ?

[2018-08-16 07:48] naveenfrancis opened #60 "Site is down @ 1:18 pm"

[2018-08-16 07:48] #60 closed

[2018-08-16 07:51] anroopak commented on #57
I am working on this.

[2018-08-16 07:52] JijinJayakumar commented on #42
Fixed, #55 and #59 PR

[2018-08-16 07:52] ahumblenerd commented on #57
Ok

[2018-08-16 07:54] ahumblenerd commented on #25
Is this issue closed ?

[2018-08-16 07:55] JESWINKNINAN commented on #21
Please let me know if anyone need help from DevOps kind of activities: ping me here jeswinjkn@gmail.com

[2018-08-16 07:55] nevinvalsaraj commented on #57
This was removed in 84b95ea

[2018-08-16 07:55] ahumblenerd commented on #22
@jerinpetergeorge how much have you progressed ?

[2018-08-16 07:55] agzuniverse commented on #50
https://github.com/IEEEKeralaSection/rescuekerala/issues/58#issuecomment-413456904

[2018-08-16 07:56] JESWINKNINAN commented on #20
Please let me know if anyone need help from DevOps kind of activities: ping me here jeswinjkn@gmail.com

[2018-08-16 07:56] sprajosh commented on #25
PR submitted

[2018-08-16 07:57] sprajosh commented on #25
couldn't find cmdrf@fbl .. so didn't add that

[2018-08-16 08:00] PSNAppz commented on #46
I'm working on it.

[2018-08-16 08:01] MansoorMajeed commented on #58
Let me know if you guys need any help with the migration. Do we have a architecture planned?

[2018-08-16 08:01] JESWINKNINAN commented on #21
Is this completed?

[2018-08-16 08:04] MansoorMajeed opened #63 "Write tests so that it doesn't break with new merges"
There should be tests written that makes sure that the core functionalities are unaffected. Ideally, a CI should be setup which will run all tests on open PRs to make sure that the merge doesn't break the app

[2018-08-16 08:04] hemanth7787 commented on #22
I am also started working on it.    Hope we need authentication for the same.   Any suggestion into which auth type we should use ?
http://www.django-rest-framework.org/api-guide/authentication/

[2018-08-16 08:06] sreecodeslayer commented on #32
As a follow up to this, would be helpful for devs to help on issues, if you guys can label them.

Currently most of the issues include feature requests, so marking them with help wanted labels and status labels of the issues.

[2018-08-16 08:07] tachyons commented on #63
https://github.com/IEEEKeralaSection/rescuekerala/pull/13 CI config is here, But we have 0 tests for now

[2018-08-16 08:07] anroopak commented on #57
Any reason why this was removed?

[2018-08-16 08:09] officialshaheer opened #64 "Add emergency helpline number [ 1077 ] in the page with respective STD codes."

[2018-08-16 08:11] anroopak commented on #64
Duplicate of  #57

[2018-08-16 08:12] ninostephen opened #67 "CSS style issue on district help page"
Guys we have a problem. The text on the district help page for mobile browser....look at the screenshot

![screenshot_2018-08-16-13-37-53](https://user-images.githubusercontent.com/16770117/44196686-3f8af500-a15a-11e8-806f-9da8f3ac65f2.png)

[2018-08-16 08:13] agzuniverse commented on #46
I'm almost done with this, pls do not duplicate

[2018-08-16 08:14] tachyons commented on #67
Duplicate of #42

[2018-08-16 08:14] ahumblenerd opened #68 "Log request ip and request id."
Saw this post regarding spammy requests. We could log the ips and issue a warning to deter people from such activities.

[2018-08-16 08:17] PSNAppz commented on #46
Ok @joicemjoseph

[2018-08-16 08:19] ahumblenerd commented on #22
@hemanth7787 Please go with token based auth.

[2018-08-16 08:28] jose2007kj commented on #56
https://medium.com/beginners-guide-to-mobile-web-development/convert-django-website-to-a-progressive-web-app-3536bc4f2862

[2018-08-16 08:29] akhulbe opened #69 "Immediate short-term fix, and related questions"
I read that the site is currently hosted on Heroku. As we work on optimizing the site, here are some suggestions for immediate fix:

1. Dial up the numbers of hosts/dynos on Heroku
2. Dial up the numbers of processes per dyno, via the WEB_CONCURRENCY param. We need to be careful and look at CPU and memory usage metrics before increasing WEB_CONCURRENCY
https://devcenter.heroku.com/articles/python-

[2018-08-16 08:29] sreeramvenkitesh commented on #56
wont it be better to have a csv downloaded when clicked on a  button and thus helping them ?

[2018-08-16 08:33] old-M0nk commented on #69
+1
Is there a place where we can monitor health of servers and errors?
Have you set up New Relic on the servers? We can use that for the same. I can provide a few licences of New Relic.

[2018-08-16 08:36] tachyons commented on #56
@jose2007kj Above linked library also does the same internally, I think it is better to have a simple implementation to begin with. So that it won't break rest of the code

@sreeramvenkitesh CSV files are relatively difficult to open and read from mobile, having an html page is much better

[2018-08-16 08:36] naveenfrancis opened #72 "Flood reporting map"
Add flood reporting tool. @geohacker
http://osm-in.github.io/flood-map/

[2018-08-16 08:39] jerinpetergeorge commented on #22
I made an PR #73 . Suggestions pls

[2018-08-16 08:46] vigneshhari commented on #69
We are currently hosted in the free Heroku Tier so we have very limited resources and customisability, we will migrate from Heroku to the state data center soon

[2018-08-16 08:47] akhulbe commented on #21
Agree that scaling up the current deployment would most likely be faster than moving to a different platform. I have experience with scaling up and performance tuning. I need access to traffic and performance metrics.

Is anyone working on this? I have a few suggestions that I've added on issue #69

[2018-08-16 08:48] akhulbe commented on #69
@vigneshhari instead of migrating to another data center, why are we not upgrading to a higher Tier in Heroku? That will be faster than migrating.

[2018-08-16 08:49] jeslyvarghese commented on #72
Can waze or something similar be used to help rescue workers reach locations required?

[2018-08-16 08:49] jsrunner opened #78 "Infrastructure"
Our team has a 3000 dollar credit in our google cloud, so we are ready to help with hosting, effective caching using cloud flare, Nginx hosting and scaling of the application if needed.

[2018-08-16 08:49] vigneshhari commented on #72
We have a team building a custom flood map right now

[2018-08-16 08:50] 141984 commented on #21
If you guys need help moving to AWS, I can help

[2018-08-16 08:50] vmwsree opened #79 "Some Kind of session Management,For Live update of Status"
So that people can live update their status once they visit back the site.

[2018-08-16 08:51] jose2007kj commented on #56
you are right @tachyons ......

[2018-08-16 08:51] naveenfrancis commented on #79
Same as #20

[2018-08-16 08:52] akhulbe commented on #21
@141984 last I heard, the plan is to migrate it to state data center (based on the comment by vigneshhari  on issue #69). I think scaling up the current stack on Heroku would be faster. I don't know why it's being migrated. I don't have enough visibility into those reasons.

[2018-08-16 08:53] alokbabu commented on #21
Deploy this to Azure Webapp which is scalable rather than spending time on load balancing it to multiple VMs. Or if the chocking point is database someone add message brokering for requests like RabbitMQ or AzureBus.

[2018-08-16 08:54] vmwsree opened #80 "Database should Support to Feed in GPS Coordinates"
Kindly update GPS Coordinates to be feed into the database via API or Form. Postgis should be implemented. For scaling it for proximity tracking.

[2018-08-16 08:55] old-M0nk commented on #21
The state data center would mean that we would have to set up our own load balancer.
I have experience using ElasticBeanstalk on AWS. Deploying a Django App there shouldn't take much time.

Also, where do we get visibility on server load?

[2018-08-16 08:56] naveenfrancis commented on #80
Same as #31

[2018-08-16 08:56] sreenadh opened #81 "Database of people in relief camps"
We also need a database of people/family name in relief camps to let people staying away from family know if their family/relatives are safe or not.

Here is a case
http://www.marunadanmalayali.com/news/special-report/dr-neethu-seeks-help-118475

[2018-08-16 08:57] JESWINKNINAN commented on #21
@akhulbe I have experienced in running high scalable apps, Beanstalk is a nice option for fast launch. @old-M0nk server load can be identified by getting into the instance which launched by the Beanstalk.
and using cloudwatch

[2018-08-16 09:00] hemanth7787 commented on #22
@jerinpetergeorge  Good, are you working on auth as well ?

[2018-08-16 09:03] sreenadh opened #83 "Change location textbox to Google maps places searchbox. GPS co-ordinates"
Change location textbox to Google maps places searchbox.  We can find GPS coordinates from that. https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

#31  #29 #47

[2018-08-16 09:05] jerinpetergeorge commented on #22
yeah

[2018-08-16 09:05] visakhsuku commented on #42
is this issue still there?

[2018-08-16 09:06] sreeramvenkitesh commented on #56
@tachyons  fair point, what about having an option to download an image with all the details so that users dont even have to open the browers in these cases  ?

[2018-08-16 09:07] go2hyder commented on #42
![capture](https://user-images.githubusercontent.com/10498709/44199455-406d5800-a155-11e8-8d0c-7b9e2900f4d7.PNG)

change white-space to normal

`@media screen and (max-width: 767px)
.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>the

[2018-08-16 09:09] PSNAppz commented on #22
Please do provide a page for API Documentation.

[2018-08-16 09:11] sreenadh opened #84 "Change phone number field type to number"
Change phone number field type to "number" to open numkeypad in Mobile browsers.

[2018-08-16 09:11] JijinJayakumar commented on #42
ya im on it and merged, removed the unwanted class, table-responsive in div, instead of editing BS

[2018-08-16 09:12] naveenfrancis commented on #83
+ #80

[2018-08-16 09:12] sreenadh opened #85 "Frontend changes for faster page loading"
1. Avoid all other CSS files except bootstrap
2. Use standard browser font. Remove 'raleway'
3. Put request for help in home page and give other links on right side. two column layout
4. Load logos on top asynchronously.
5. If possible remove bootstrap and use table layout for faster loading.

#83 #84

[2018-08-16 09:16] vigneshhari opened #86 "Need Help in Django Rest API"
We need to setup Django REST API in the branch "app" in our repo,
We need to disable CORS and CSRF in order for the API to work,
The base model is written, please test and verify the code before submitting a pull request

[2018-08-16 09:18] geohacker commented on #72
Great, let us know if anyone can help. Also tagging the previous flood map team @planemad @batpad @arunasank @rub21

[2018-08-16 09:18] sreeramvenkitesh commented on #86
https://github.com/IEEEKeralaSection/rescuekerala/pull/73

DRF is already set up . now what is it that you need to do here ? could you elaborate on your requirements a bit  ?

[2018-08-16 09:25] biswaz commented on #86
Creating an app in parallel just for the rescue requests

[2018-08-16 09:25] prajinprakash4u commented on #86
from django.views.decorators.csrf import csrf_exempt

@method_decorator(csrf_exempt)

[2018-08-16 09:25] sreecodeslayer commented on #86
@sreenadh Related to this #22

[2018-08-16 09:26] nevinvalsaraj commented on #42
Is this issue fixed? Pulled latest, still looks compressed and overlapping to me.

[2018-08-16 09:28] sidharthv96 commented on #86
Add "*" to allowed_hosts in settings.py, that should help with CORS.

[2018-08-16 09:29] kurianbenoy commented on #86
@prajinprakash4u  your proposed solution won't work for a class based views.
https://github.com/IEEEKeralaSection/rescuekerala/blob/app/restendpoint/views.py
https://github.com/IEEEKeralaSection/rescuekerala/blob/app/restendpoint/serializers.py
Check out the following files for having a better idea of the issue

[2018-08-16 09:29] biswaz commented on #86
@all Take a lot at the app branch

[2018-08-16 09:29] sidharthv96 commented on #86
Instead of an android app, please make a PWA. It can be loaded in any phone, and also can be updated easily and shared too.

[2018-08-16 09:31] sidharthv96 commented on #86
https://github.com/ottoyiu/django-cors-headers/

CORS fix

[2018-08-16 09:31] prajinprakash4u commented on #86
this is some portion of my code ,Can i get the api codes?.

@method_decorator(csrf_exempt, name='dispatch')
class SkinnerGit(LoginRequiredMixin,View):
    login_url = '/api/auth/login'
    redirect_field_name = 'redirect_to'
    def post(self, request, *args, **kwargs):
        post_data = request.body.decode()
        if(post_data):
            post_data = jsonpickle.decode(post_data)
        if

[2018-08-16 09:31] jerinpetergeorge commented on #22
@hemanth7787
I think you could add pagination and filtering

[2018-08-16 09:31] sreenadh commented on #86
@biswaz  Install an app just for creating a request!! nobody will do it it seems.

[2018-08-16 09:32] sidharthv96 commented on #86
@prajinprakash4u  Please paste formatted code for easy viewing

[2018-08-16 09:33] biswaz opened #92 "Hi all"
Hello, the number of PRs and issues just exploded. And we're running short of time.
Please list below, how us the devs can improve the communication with the community and improve the workflow

Please mention super important PR's issues too

[2018-08-16 09:34] sidharthv96 commented on #86
PWA is the best choice for our situation. You can't even get past google play verification quickly. That will take atleast a few hours. And every subsequent update also will be slow. App is not the optimal solution.

[2018-08-16 09:34] biswaz commented on #86
@sreenadh Just merged geo location from web itself

[2018-08-16 09:34] biswaz commented on #86
Our only concern was accuracy

[2018-08-16 09:34] SpEcHiDe commented on #86
Maybe create a WhatsCRApp or Telegram bot, that will allow the user to share location.

[2018-08-16 09:35] sreenadh commented on #86
please see #85 Simple changes.
@sidharthv96 since the data is online and if there are no external CSS/JS PWA is not required.

[2018-08-16 09:36] rakesh-gopal commented on #92
It would be great if you create issues for each feature you are planning on and let us request you to assign us.
So, we could work on that feature and request a pull from our fork.

[2018-08-16 09:36] sreenadh commented on #92
create a slack channel.

[2018-08-16 09:37] sidharthv96 commented on #86
https://medium.com/@onejohi/introducing-geolocation-in-your-pwas-65713faba51a

[2018-08-16 09:37] adamshamsudeen commented on #92
Assign proper labels for each issue so can work with priority!

[2018-08-16 09:39] jerinpetergeorge commented on #22
@hemanth7787 anyway i made a [PR](https://github.com/hemanth7787/rescuekerala/pull/1) to your repo

[2018-08-16 09:39] irshadshalu commented on #92
* Add labels and mandate every Issue/PR needs to follow a template.
* A telegram group would be easier to join/get started up as well than Slack.

[2018-08-16 09:42] sidharthv96 commented on #86
Can't we add a map with pointer to get the precise location. People will actually mark that, but very few will install an app for this specific purpose. I think the bigger issue is sharing the app. Wonder if anyone here have any workarounds to speed up playstore verification procedure.

[2018-08-16 09:43] visakhsuku commented on #85
i could help with 2nd one

[2018-08-16 09:43] sreenadh commented on #85
Remove the district column in 'view requests'. not necessary @biswaz

[2018-08-16 09:45] JijinJayakumar commented on #81
ya, but the campu is already crouded and every on is busy with activites, how we can get the data ?

[2018-08-16 09:46] ShibinCo commented on #92
+1 for Telegram

[2018-08-16 09:47] Gotham13121997 commented on #86
I can spin up a telegram bot if rest api is ready

[2018-08-16 09:47] naveenfrancis commented on #92
1. Define workflow #20
What after logging the request ? How it is handled ? Whether the requester got the help or not ?
I talked to few journalists they stopped giving this link. Saying no clue who is taking care.
2. Create a map of cases which can be shared with open/close status

[2018-08-16 09:48] hemanth7787 commented on #22
@jerinpetergeorge Thanks,  I have merged and created PR #94

[2018-08-16 09:49] naveenfrancis opened #96 "Create a Map layer of Rescue requests."
- [ ] Use the geolocation and create a map.

- [ ] Map should have only open requests.

[2018-08-16 09:49] shabinGravitum commented on #85
5. If possible remove bootstrap and use table layout for faster loading.

The design is responsive and looks well on mobile, do you really want to do this?

[2018-08-16 09:50] JijinJayakumar commented on #92
@naveenfrancis ya, I think the 1st point is priority no 1

[2018-08-16 09:51] sreenadh opened #97 "Feature request - 'Update request' for 'requestee'"
After creating request store the request IDs in cookie (ID hashed with salt)
Provide an interface to list out the requests by using this cookie and also an edit button to mark as accomplished/close.

[2018-08-16 09:52] sreenadh commented on #85
@shabinGravitum to reduce page load time. not for responsiveness.

[2018-08-16 09:52] naveenfrancis commented on #92
3. Communication channels for dev community
4. Communication channels for volunteers [should be very simple one]

[2018-08-16 09:54] sreenadh commented on #81
@JijinJayakumar provide an option. "Mark as safe"
enter name/phone/family name

Interface 2: search by phone/email/name

[2018-08-16 09:56] alokbabu commented on #92
Create slack channeles - developement, infrastructure/scaling, testing & data. Please tag all issues like feature, ui, bug, improvement etc.

[2018-08-16 09:56] prathyvsh commented on #39
Added a .json file of helpline numbers here: https://github.com/studiobofa/kf2018/blob/master/helplines.json

[2018-08-16 09:58] bodhish commented on #85
Use tailwind, only styles which are used will be loaded to production

[2018-08-16 09:58] nevinvalsaraj commented on #42
Updated PR re-adding `table-responsive` class to tables to keep bootstrap responsive features.
Refer to [PR](https://github.com/IEEEKeralaSection/rescuekerala/pull/93) for more information.

[2018-08-16 10:00] sreecodeslayer opened #99 "Issue and PR templates"
Relating this to the idea of issue and PR template from discussion #92

Any criteria you guys wish to  have or mandate on the template.
Am currently preparing a template, let me know what you guys have in mind

[2018-08-16 10:00] sreenadh commented on #85
Use single external CSS file or use inline style.

[2018-08-16 10:00] JijinJayakumar commented on #81
@sreenadh i think  that's not possible, someone from camp told that they don't have charge in mobile, generators are not functional,
else we need a volunteer from campus to collect and upload the data

[2018-08-16 10:01] alokbabu opened #101 "Implement message queue/broker for high volume requests"
We need message queuing for high volume requests like "request for help".

[2018-08-16 10:01] prajinprakash4u commented on #86
https://github.com/IEEEKeralaSection/rescuekerala/blob/app/restendpoint/models.py
mobile no is integer field.

[2018-08-16 10:06] rahulkrishnanfs commented on #92
slack channel we can create

[2018-08-16 10:06] rahulkrishnanfs commented on #92
I will create a slack channel for our discussion

[2018-08-16 10:07] prajinprakash4u commented on #86
The issue with csrf soleved?. if not take a look at, https://stackoverflow.com/questions/30871033/django-rest-framework-remove-csrf

[2018-08-16 10:08] geohacker commented on #96
Most straightforward approach:

* add an API end point to return requests in GeoJSON format something like GET `/help-requests/geojson`
* then plugin in Mapbox GL JS to the view. Example https://www.mapbox.com/mapbox-gl-js/example/geojson-markers/

[2018-08-16 10:11] prajinprakash4u opened #102 "Mobile no is integer field make it regex field or simply character"
https://github.com/IEEEKeralaSection/rescuekerala/blob/app/restendpoint/models.py
mobile no is integer field.

[2018-08-16 10:12] rahulkrishnanfs commented on #92
@aktsbot cool, then we will got with it

[2018-08-16 10:15] sreenadh commented on #81
@JijinJayakumar  yup

[2018-08-16 10:16] prajinprakash4u commented on #85
reduce the use of images and styles. move images and assets to s3bucket or cdn.

[2018-08-16 10:17] bobinson commented on #92
@biswaz

1. Create Telegram Group as it can help a lot of people
2. For the server back ends - Make sure that the DB has enough memory allocated. We can't afford the db to go down. Whatever db is being used, run only the db on it.
3. API - front end everything should be on different servers.

I can help with load balancing, db optimizations etc. Provided I have power and internet.

[2018-08-16 10:18] bobinson commented on #102
While testing keep in mind that people will be panicking and entering wrong numbers. Validations should not prevent people from entering numbers.

[2018-08-16 10:19] sreenadh commented on #102
@bobinson how about #84

[2018-08-16 10:19] prajinprakash4u commented on #83
Sample template from google.
[aa.zip](https://github.com/IEEEKeralaSection/rescuekerala/files/2293310/aa.zip)

[2018-08-16 10:20] agzuniverse commented on #46
This can be closed as #84 subsumes it.

[2018-08-16 10:25] bobinson commented on #99
List of Browsers:

Android browsers : UC Browser, Android Default Webview (which will be opened from Whatsapp etc), Google Chrome, Opera flavours

iOS - iOS default web view, Safari

[2018-08-16 10:27] nishadhka commented on #96
How about using https://www.ushahidi.com, it has good use cases in emergency response situation, gives an comprehensive web map utility with SMS and other tools

[2018-08-16 10:28] abhijithanilkumar commented on #86
Can someone update what the exact requirement is? Is it just getting the API to work?

[2018-08-16 10:28] mjzac commented on #86
CSRF issue can be resolved if the authentication is done using `TokenAuthentication`. DRF already provides mechanism for it.

https://www.django-rest-framework.org/api-guide/authentication/#tokenauthentication

[2018-08-16 10:29] prajinprakash4u commented on #102
regex is best at all take a look at
https://stackoverflow.com/questions/19130942/whats-the-best-way-to-store-phone-number-in-django-models

[2018-08-16 10:29] bobinson commented on #84
With water on the touch screen, hard to say whether its a good idea. This is not a regular scenario where we are talking about Usability. Also this will cause few additional CPU cycles from a perhaps about to die mobile phone. So, I would suggest to keep the options given to the end users.

So let people enter details without doing additional checks. Let the users enter.

Also, I would suggest to

[2018-08-16 10:31] ivalsaraj commented on #85
@shabinGravitum Table is messed up. See the mobile view.
![capture1](https://user-images.githubusercontent.com/42429710/44203707-91894600-a16d-11e8-8b6c-1964fa6bb543.PNG)

[2018-08-16 10:33] prajinprakash4u commented on #86
If this issue is resolved please close it

[2018-08-16 10:34] visakhsuku commented on #85
#105 for 2nd one

[2018-08-16 10:35] nithinjos opened #106 "Wrong location co-ordinates"
Guys, noticed that many of the request raised are by friends or family of the affected and not by themselves, and hence the co-ordinates might not help. If passing the coordinates to the rescue team, please verify the co-ordinates and mentioned location.

In this case, features like #96 could slow the rescue process down. Please double check.

[2018-08-16 10:36] #86 closed

[2018-08-16 10:36] vvishakhp commented on #102
All browsers now support an input type 'tel' which is used to enter telephone numbers.

<input type="tel" placeholder="9876543210" pattern="\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" >

[2018-08-16 10:37] bobinson commented on #81
good intentions - but at the same time keep in mind about elements which will misuse the information. So even if its getting implemented it should not be a list-all feature. May querying for info should be done after an OTP verification or so.

[2018-08-16 10:38] vvishakhp commented on #102
`<input type="tel" placeholder="9876543210" pattern="\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$" >`

You can use this.

This validates all major phone number formats even if it includes 'spaces' or '-'

[2018-08-16 10:38] visakhsuku commented on #42
#82 could revert back for mobile phones. I am thinking it's due to my last request. lets find a better solution?
https://css-tricks.com/responsive-data-tables/

[2018-08-16 10:39] rakesh-gopal commented on #20
Can you assign this to me?
I'm planning to implement something like this:
![image](https://user-images.githubusercontent.com/1679290/44204021-add9b280-a16e-11e8-9ec4-8455969b1ae3.png)

[2018-08-16 10:39] bobinson commented on #96
Please don't make the location info mandatory as friends or family may be requesting the information and those who are requesting information may not be having exact location information.

[2018-08-16 10:43] jinut2 opened #107 "Can we use pipenv?"
I guess pipenv would facilitate development environment setup.

[2018-08-16 10:46] nishadhka commented on #96
It is basically for volunteers to enter the location details getting from SOS, to have a "Flooding and inundation collaborative mapping", it gives imporved perspective and visualisation of ground situation

[2018-08-16 10:48] prajinprakash4u commented on #85
Please use it https://github.com/django-compressor/django-compressor

[2018-08-16 10:49] bobinson opened #108 "remove irrelvant information from the top of the landing page"
![image](https://user-images.githubusercontent.com/18070249/44204302-af57aa80-a16f-11e8-8bbc-89b7609c9bcf.png)

**Issue Description:** The text content being loaded on the top of the page is irrelvant to any one trying to request rescue. Note that Even I don't have network coverage. Those unwanted text can be moved to a about link to not to hurt anyone feelings.

**Severity:** High

**Accepted beh

[2018-08-16 10:49] rakesh-gopal opened #109 "Feature: Volunteers should be able to see requests near them"
**You can assign it to me if nobody else is working on this.**
Something like this.
![image](https://user-images.githubusercontent.com/1679290/44204412-11b0ab00-a170-11e8-987c-2bfe788eaa7d.png)

[2018-08-16 10:50] irshadshalu commented on #106
Add a dialog asking whether user is requesting for self or another person before loading GPS?

This can be done in JS, but a BooleanField will be more effective in this case.

[2018-08-16 10:51] vvishakhp opened #110 "Making the app a PWA so that it can load much faster on devices"
Hello, I was thinking that we could add a service worker to cache all static assets and some dynamic pages so that everyone will be able to load the web page faster and the rescue operators can view the content even if they are offline.

[2018-08-16 10:51] #107 closed

[2018-08-16 10:53] Dhanya-Abhirami opened #111 "Request for resources : Mandatory field"
Make resource needed (water ,food, etc) a mandatory field.

[2018-08-16 10:55] nithinjos commented on #106
That would be better. I'll open a child issue.

[2018-08-16 10:56] dileep-p commented on #92
@bobinson let me know if you need any help on the same. since i am not in india, i dont issue with power and connectivity.

[2018-08-16 10:57] naveenfrancis opened #113 "[Slack] Have checkbox for Evacuate/രക്ഷപ്പെടുത്തുക in request page."
https://keralarescue.in/request/

[2018-08-16 10:58] bobinson commented on #111
Please don't make this mandatory as people in emergency situation may not be able to understand what is going on and will prevent submitting quickly.

Only mobile number should be mandatory and all other details can be made optional. Location etc can be fetched using device capabilities if available.

[2018-08-16 10:58] biswaz opened #114 "Add download csv option to Contributors, Requests, Volunteers"

[2018-08-16 10:59] bobinson commented on #113
Please refer #108 too.

Also which is the slack channel ?

[2018-08-16 11:02] bobinson commented on #92
@biswaz  - @dileep-p  can help with infra if needed. And don't hesitate to contact him.

[2018-08-16 11:02] naveenfrancis commented on #113
thanks https://keralarescue.slack.com
I will ask to merge

[2018-08-16 11:03] nithinjos opened #115 "Check box to ask whether the user is in the affected location."
Child to #106

[2018-08-16 11:04] nithinjos commented on #115
This is to avoid the wrong co ordinates getting attached with the requests.

[2018-08-16 11:07] bobinson commented on #113
thanks.

Slack is not accessible.

![image](https://user-images.githubusercontent.com/18070249/44205019-9997b480-a172-11e8-9d8f-54c3fd9e4ffd.png)

[2018-08-16 11:10] clasick commented on #108
Done with this issue. Just tidying up the code a bit and will initiate pull request.

[2018-08-16 11:11] alokbabu opened #117 "Need malayalam instructions on how to turn on "Allow location" access in browser."
GPS Coordinates - GPS നിർദ്ദേശാങ്കങ്ങൾ is one of the top priority features used at the moment. But many aren't using this as people ignores browser popups. Need instructions on how to allow "Location access"  in browsers in Malayalam.

Please refer a gif is recommended.
https://pasteboard.co/Hzqzsvs.png

[2018-08-16 11:12] hemanth7787 commented on #92
@biswaz  Is there a dev/staging server ?

[2018-08-16 11:13] kuism commented on #101
Is anyone working on this?

[2018-08-16 11:13] sidharthv96 commented on #115
It is being done

[2018-08-16 11:14] alokbabu commented on #101
I dont think so. Heard the scaling is under control at the moment. So might not be necessary at the moment. But can kept this open and watched.

[2018-08-16 11:16] cooliscool commented on #113
https://join.slack.com/t/keralarescue/shared_invite/enQtNDE2ODU1NDAxNDI0LWNjMTBjYWJhZmUxYjY5NjY1NjU5YmFlODE2NGZhNTUzNzMxYTRjZTRkNWViZTE2NTQ4MDhmNzhmMTIxNmUxN2M

Use this link

[2018-08-16 11:17] jobinlawrance opened #119 "Rescue Request Heat Map"
Will adding a heat map of the where the majority of rescue operations will be useful for the Disaster management team ?

[2018-08-16 11:18] kuism commented on #101
Let me know if there are any high priority issues

[2018-08-16 11:19] sidharthv96 commented on #84
Phone number field to number will automatically pop up the numeric keypad. Which facilitates entry of numbers easily. We can let them enter all the other details freely, but don't you think mobile should be numbers only and validated.

[2018-08-16 11:24] naveenfrancis opened #120 "A Facility to add details of Camps in each district ( District, location, address, Contact no )"

[2018-08-16 11:26] amruth27m commented on #120
WIP

[2018-08-16 11:27] gauthams09 opened #121 "Text overlap on mobile in contact info/ registered requests page"
Seeing issue on mobile page due to text going outside the columns on contact info/ registered requests page. Fix is to wrap them inside the column itself

[2018-08-16 11:28] irshadshalu commented on #115
This is done in #122

Requestee can select whether they are requesting for someone else (default set to false and previous entries will be having value as false.

[2018-08-16 11:29] abhaikollara commented on #113
The slack invite link is no longer active

[2018-08-16 11:29] bobinson commented on #117
GPS നിർദ്ദേശാങ്കങ്ങൾ

1.  ബ്രൗസറിൽ https://www.keralarescue.in/ തുറക്കുക
2.  ബ്രൗസർ എന്ന ഒരു  സന്ദേശം  കാണിക്കും

[2018-08-16 11:30] irshadshalu commented on #106
Done in #122

[2018-08-16 11:31] naharp commented on #120
I can take this

[2018-08-16 11:34] abhaikollara commented on #92
Why is the slack invite no longer active ?

[2018-08-16 11:34] meain commented on #121
Duplicate of https://github.com/IEEEKeralaSection/rescuekerala/issues/42
Fixed with https://github.com/IEEEKeralaSection/rescuekerala/pull/93

[2018-08-16 11:34] hemanth7787 commented on #78
I am guessing it will be difficult for them to migrate under this situation, especially when people in distress are actively using it.

[2018-08-16 11:37] irshadshalu commented on #117
How are we planning to display this message?,
A simple modal dialog on clicking which GPS fetch starts?.

Is anyone working on it already or should I?

[2018-08-16 11:38] biswaz commented on #114
Request and Volunteer done, Contributor to be done..
@vigneshhari update here pls

[2018-08-16 11:39] bobinson commented on #117
Go ahead and implement in anyway that you can. Its fine even if someone else is working. I don't have an Android so please feel free to make the translation better too.

[2018-08-16 11:39] vigneshhari commented on #114
I'll update once its done

[2018-08-16 11:40] biswaz commented on #92
@aktsbot Please add the slack to readme and PR

[2018-08-16 11:41] alokbabu commented on #117
This should be short and small as most of the people would be accessing the page on mobile phones. I would recommend something like a tooltip.

[2018-08-16 11:42] prajinprakash4u commented on #121
[code]

this will solve overlap otherwise we need to set a width for the container

[2018-08-16 11:46] irshadshalu commented on #117
As of now, the location will be requested as soon as the user opens keralarescue.in/request.

Do we need to change it so that it only requests location after the user reads a modal/dialog with instructions?

[2018-08-16 11:47] bodhish commented on #121
Simple fix
In `@media screen and (max-width: 767px)`
use `white-space: normal` insted of `white-space: nowrap`

[2018-08-16 11:48] naveenpf commented on #47
Already implemented

[2018-08-16 11:48] #47 closed

[2018-08-16 11:49] naveenpf commented on #80
Already implemented

[2018-08-16 11:49] #80 closed

[2018-08-16 11:49] naveenpf commented on #83
Already implemented

[2018-08-16 11:49] alokbabu commented on #117
Yes please. Which make more sense.

[2018-08-16 11:49] naveenpf commented on #119
Already implemented

[2018-08-16 11:49] #119 closed

[2018-08-16 11:50] naveenpf commented on #39
already implemented

[2018-08-16 11:50] #39 closed

[2018-08-16 11:51] msrshahrukh100 commented on #96
will adding something like - https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete to the field solve this issue, so that those making requests can enter the location?

[2018-08-16 11:51] naveenpf commented on #25
Fixed

[2018-08-16 11:51] #25 closed

[2018-08-16 11:52] alokbabu commented on #113
Duplicate if #98 Please merge #98. Closing this issue.

[2018-08-16 11:53] aswinmohanme commented on #120
This would be nice as it can be visualized on the Map

[2018-08-16 11:53] bobinson commented on #113
@aktsbot  - you have enabled "Team Signup Mode" as for me, no worries. :) keep up the good work

[2018-08-16 11:54] aswinmohanme commented on #117
@irshadshalu I think asking on page load is better because the user would be overwhelmed by the forms at the end.

[2018-08-16 11:54] bobinson opened #125 "URGENT fix needed - unable edit location info"
**SEVERITY : HIGHEST SEVERITY AND PRIORITY**

**Issue:** Unable to manually edit the location information. I was trying to enter information of someone's parents and not able to edit.

Environment: Firefox on mac os  and Chrome : both tested on macos.

![image](https://user-images.githubusercontent.com/18070249/44206870-d49ce680-a178-11e8-99ee-7c7b0d7b2306.png)

![image](https://user-images.github

[2018-08-16 11:55] alokbabu commented on #117
People woudn't notice that little pop up in panic. They will be probing to fill up the fields first.

[2018-08-16 11:56] bobinson commented on #117
please fix #125 on highest priority if anyone can

[2018-08-16 11:56] sidharthv96 commented on #125
You can edit the Location in top. This is auto fetched GPS location.

[2018-08-16 11:57] aswinmohanme commented on #125
Yeah, this is an a show stopper. On the map were getting other countries as the source.

If the form is edited we need to calculate the gps location from the address

[2018-08-16 11:57] naveenpf commented on #64
Already ticket is there

[2018-08-16 11:57] #64 closed

[2018-08-16 11:57] sidharthv96 commented on #125
Maybe we should hide the GPS location boxes as it might cause confusion.

[2018-08-16 11:58] aswinmohanme commented on #125
Yeah that seems nice there is no need to display that.

[2018-08-16 11:58] naveenpf commented on #79
Already issue open

[2018-08-16 11:58] #79 closed

[2018-08-16 11:59] aswinmohanme opened #127 "Change Location Form Field to Address to Avoid Confusion in Request"

[2018-08-16 11:59] littlestar642 commented on #125
@sidharthv96 Rather a better idea would be if we just remove the focus from the form field and add a disabled cursor over it. This way it will be seen to the user but at the same time do not give appearance to be editable.

[2018-08-16 11:59] #92 closed

[2018-08-16 12:00] naveenpf commented on #78
Thank you. Closing now.

[2018-08-16 12:00] #78 closed

[2018-08-16 12:00] bobinson commented on #125
Steps to reproduce:

**scenario 1:**

1. Allow browser to Access GPU location
2. The location details are auto filled

3. Unable to edit to the location

This is the case in Chrome and FF

**Scenario2:**

1. Don't allow browser to access location
2. The location details are hidden

![image](https://user-images.githubusercontent.com/18070249/44207217-04002300-a17a-11e8-95d1-ed77762d3719.png)

[2018-08-16 12:00] naveenpf commented on #58
Closing now.

[2018-08-16 12:00] #58 closed

[2018-08-16 12:00] naveenpf commented on #50
Closing now

[2018-08-16 12:00] #50 closed

[2018-08-16 12:01] naveenpf commented on #40
Already done

[2018-08-16 12:01] #40 closed

[2018-08-16 12:02] alokbabu commented on #127
Goes along with #125  Please refer.

[2018-08-16 12:03] alokbabu commented on #125
Please refer #127 as well.

[2018-08-16 12:05] naveenpf commented on #42
Another issue is open

[2018-08-16 12:05] #42 closed

[2018-08-16 12:05] naveenpf commented on #127
similar issue logged

[2018-08-16 12:05] #127 closed

[2018-08-16 12:06] naveenpf commented on #69
Closing now.

[2018-08-16 12:06] #69 closed

[2018-08-16 12:07] naveenpf commented on #96
https://keralarescue.in/map

[2018-08-16 12:07] #96 closed

[2018-08-16 12:07] biswaz commented on #20
If you're aim for something like:
Volunteer calls existing requests, confirms request is fullfilled, marks as fullfilled
Then we already have it, it is only given to District Project Managers  of KSITMand Volunteer POCs

We shall seek how to optimize the work flow.

[2018-08-16 12:07] naveenpf commented on #84
Needs merge

[2018-08-16 12:11] syam3526 commented on #113
We're is the new link ???

[2018-08-16 12:13] naveenpf commented on #32
Closing now.

[2018-08-16 12:13] #32 closed

[2018-08-16 12:13] thezillion opened #129 "Extract relevant information from Whatsapp messages etc"
People are sending help requests via WhatsApp to their friends etc. What if they could copy paste those messages, and we could extract details like location, things needed, contact details etc from these messages?

[2018-08-16 12:14] naveenpf commented on #81
Same as #120

[2018-08-16 12:14] #81 closed

[2018-08-16 12:15] bobinson commented on #125
<img width="375" alt="image" src="https://user-images.githubusercontent.com/18070249/44207763-ef248f00-a17b-11e8-94ad-06e02cb0156a.png">
People are using to report others, so please take care of this in priority. Thanks volunteers.

[2018-08-16 12:15] naveenpf commented on #102
Duplicate #84

[2018-08-16 12:15] #102 closed

[2018-08-16 12:15] naveenpf commented on #46
Duplicate #84

[2018-08-16 12:15] #46 closed

[2018-08-16 12:15] irshadshalu commented on #125
#122 already hides the input field for Geo co-ordinates when user is requesting for others.

Should we add the ability to fill in location data manually?

[2018-08-16 12:16] bobinson commented on #129
Not easy unless exact geo-location is available - use of GSM and GPS is the best way.

[2018-08-16 12:17] irshadshalu commented on #117
![screen shot 2018-08-16 at 5 46 29 pm](https://user-images.githubusercontent.com/8298478/44207894-62c69c00-a17c-11e8-9fc1-10b9b8d11dc5.png)

Here is the working screenshot. Should we load it as and when the user enters the page?

[2018-08-16 12:17] #114 closed

[2018-08-16 12:25] naveenpf commented on #117
Should be handled in #125

[2018-08-16 12:25] #117 closed

[2018-08-16 12:25] biswaz commented on #121
I fixed this manually. Please check

[2018-08-16 12:26] ashikmuhammedpa opened #131 "How do we make sure all the requests are being served ?"

[2018-08-16 12:26] gauthams09 commented on #121
Thanks biswas, pls close this

[2018-08-16 12:26] naveenpf commented on #111
Closing this

[2018-08-16 12:26] #111 closed

[2018-08-16 12:27] naveenpf commented on #131
Working on it #20

[2018-08-16 12:27] #131 closed

[2018-08-16 12:29] naveenpf commented on #121
Fixed

[2018-08-16 12:29] #121 closed

[2018-08-16 12:29] bobinson commented on #117
there is a second scenario : This is applicable only when the browser is asking for location.  If the browser is not asking for the location it will be confusing. So we must address the second scenario too. Also for #125

GPS നിർദ്ദേശാങ്കങ്ങൾ

1. ബ്രൗസർ "www.keralaresue.in wants to know your location" എന്ന ഒരു സന്ദേശം കാണിക്കുകയാണെങ്കിൽ സന്ദേശത്തിൽ നിന്നും  Allow തിരഞ്ഞെടുക്കുക

2. ഇല്ലെങ്കിൽ, സഹാ

[2018-08-16 12:31] naveenpf commented on #109
Same as #20

[2018-08-16 12:31] #109 closed

[2018-08-16 12:31] aswinmohanme commented on #129
Yeah, we can ask them to lodge a request via the request form

[2018-08-16 12:34] #106 closed

[2018-08-16 12:34] ashikmuhammedpa commented on #131
@naveenpf  can i get access to the backend ? list of volunteers based on district and the reqeusts ( i can already see it). I am in CEST hours so can help even in odd hours

[2018-08-16 12:35] shamonshan opened #132 "scroll issue in request details page"
Steps to reproduce
----------------------------

1)Open the page https://keralarescue.in/requests/.

2) Select a district and click the submit button.

Actual behavior
---------------------
Listed data in a table but the horizontal scroll is not visible

Expected
-------------------
Should list the data with proper scroll

[2018-08-16 12:35] jinut2 opened #133 "Can we also fetch geo location of the volunteers?"
If we could have geo location of volunteers, we could geo-fence them and show their details to the people in need nearby when they put on a request.

[2018-08-16 12:38] bobinson opened #134 "Translation : Malayalm of Districts (enhancement)"
![image](https://user-images.githubusercontent.com/18070249/44208737-e4b7c480-a17e-11e8-9ace-ad2b11a8bb74.png)

**Issue Description:**  Malayalam translation for the district names will be helpful.

Severity: Normal

Accepted behavior:  Show district names in Malayalam in bracket along with English names

Optional : Sorting based on the locations with highest issues could be helpful. Say Ekm, Waya

[2018-08-16 12:39] bobinson commented on #133
A simple page can do this - but at a later point as this  may be needed only later points.

[2018-08-16 12:40] gauthams09 commented on #132
This might have come up after fixing #121

[2018-08-16 12:42] #113 closed

[2018-08-16 12:42] biswaz commented on #113
mered #98

[2018-08-16 12:43] bobinson commented on #132
Few additional thoughts:

![image](https://user-images.githubusercontent.com/18070249/44209086-f9488c80-a17f-11e8-9fa4-b65b2aac4aa4.png)

[2018-08-16 12:43] littlestar642 commented on #125
I have solved the issue but facing problem creating the PR. Please someone help me with this  @bobinson

[2018-08-16 12:43] bobinson commented on #121
Please refer to some changes requested in #132

[2018-08-16 12:45] aswinmohanme commented on #72
Here's the repo link https://github.com/aswinmohanme/kerala-flood-map

[2018-08-16 12:45] kiranparakkalkalam commented on #125
@littlestar642: What's the issue you are facing?

[2018-08-16 12:46] littlestar642 commented on #125
Made a PR. Please review.

[2018-08-16 12:50] ashikmuhammedpa commented on #20
@biswaz @naveenpf  Can we get access to the volunteers list on the field asap ? that will help us to route the request manually for the time being. please share your whatsapp number.

[2018-08-16 12:58] bodhish commented on #134
Fixed in `https://github.com/IEEEKeralaSection/rescuekerala/pull/136`

[2018-08-16 13:10] ArpanSamariya opened #137 "Lost People"
What about the people who have been lost? Can we provide an option at rescue centers or others to upload image and details of the lost people?

[2018-08-16 13:10] vrthra commented on #125
@littlestar642 I have commented in your issue. For others, If you make it editable, please add the required location format for GPS in the label, and also validate it.

[2018-08-16 13:11] bobinson commented on #20
better to just use a paginated listing and assigning to volunteer leaders based on location can help.

[2018-08-16 13:11] alokbabu opened #138 "Allow "requesting for someone" users to enter coordinates manually."
There would be cases when someone requesting help on behalf of someone and let these users to enter coordinates manually. This is important..

[2018-08-16 13:12] panickervinod opened #139 "https://www.keralarescue.in/requests/?district=ekm"
Returns Server 500.

Can this be redirected to a  google sheet.

https://docs.google.com/spreadsheets/d/1gRu1p7RpJ3qFr4gQpS3oSafBDvMxeR4umQaVgDSgZbc/edit?usp=sharing

[2018-08-16 13:13] jose2007kj commented on #138
please see this https://github.com/IEEEKeralaSection/rescuekerala/issues/125

[2018-08-16 13:14] naveenpf commented on #139
Dev is on it

[2018-08-16 13:14] naveenpf commented on #138
Please discuss in #125

[2018-08-16 13:14] #138 closed

[2018-08-16 13:16] ashikmuhammedpa commented on #20
right @bobinson , i am trying it with a cloud based app. if it works we can integrate that with this website.

[2018-08-16 13:16] georgytheboss opened #140 "Coordinates issue in Google Maps"
Add the functionality for **Manual entry of GPS coordinates** in the maps page. This is essential since many of the people might entering the website through personal computers/laptops which doesn't have enough gps accuracy.
Also for a third person to enter the gps coordinates, this feature is highly essential.

[2018-08-16 13:18] nithin-vijayan commented on #39
i see this was not merged

[2018-08-16 13:19] sauravchandra1 opened #141 "Add UPI option to Contribute Page"
We can add UPI option on the contribute page. The people has online services can contribute directly.

[2018-08-16 13:25] naveenpf commented on #141
Not priority now.

[2018-08-16 13:25] #141 closed

[2018-08-16 13:27] kiranparakkalkalam opened #143 "Feature to add multiple phone number for the requestee."
Additional fields to add extra phone numbers. This will better aid the rescue team.

[2018-08-16 13:30] kevin-madhu commented on #143
Will a fixed number of extra fields do? Or it needs to be dynamic?

[2018-08-16 13:30] littlestar642 commented on #139
Why is it needed to redirect the page to a google sheet, when there is already a table that shows the requests? @panickervinod

[2018-08-16 13:32] venupai commented on #139
Site is down again. If this is due to deployment suggestion tk use a symlink based system to reduce downtime.

[2018-08-16 13:32] naveenpf commented on #132
Is this issue still seen ?

[2018-08-16 13:33] naveenpf commented on #129
Closing this .. to complex.
Volunteers should able to log issues.

[2018-08-16 13:33] #129 closed

[2018-08-16 13:34] naveenpf commented on #110
Closing now. Not priority

[2018-08-16 13:34] #110 closed

[2018-08-16 13:35] naveenpf commented on #108
Wont fix

[2018-08-16 13:36] gauthams09 opened #144 "Add filtering options to "view requests" page"
Lets add filtering to "view requests" page to filter out the results from specific district. Also search option if possible to see if someone has raised a help request.

[2018-08-16 13:37] naveenpf commented on #84
Fixed

[2018-08-16 13:37] #84 closed

[2018-08-16 13:40] mevinbabuc commented on #125
@naveenpf the popup map with draggable marker is a good for this as others usually use this..

[2018-08-16 13:41] viggi-v commented on #144
District based filtering is already available in the requests page. Working on the search option.

[2018-08-16 13:42] alokbabu commented on #125
@mevinbabuc How convenient is this for mobile phones users?

[2018-08-16 13:44] naveenpf commented on #21
Closing this .

[2018-08-16 13:44] #21 closed

[2018-08-16 13:45] naveenpf commented on #56
Complex to take up

[2018-08-16 13:47] naveenpf commented on #67
Already fixed. If it is still there please report

[2018-08-16 13:47] #67 closed

[2018-08-16 13:47] naveenpf commented on #68
Not required now.

[2018-08-16 13:47] #68 closed

[2018-08-16 13:47] ashikmuhammedpa commented on #20
@naveenpf

userid: naveenpf
pwd:12345

https://dev58610.service-now.com/login.do

Try this

also availble as mobile application.so easy for eveyone. we can ask international volunteers to input the whatsapp or facebook help msg here

@bobinson @biswaz

[2018-08-16 13:47] JintoAntony commented on #143
Dynamic will be good. But, since this is an emergency add as option to additional 3 numbers.

[2018-08-16 13:48] naveenpf commented on #85
Many issues reported in one ticket. Please log separate one

[2018-08-16 13:48] #85 closed

[2018-08-16 13:48] kevin-madhu commented on #143
Okay. Working on it.

[2018-08-16 13:50] naveenpf commented on #144
Closing thit

[2018-08-16 13:50] #144 closed

[2018-08-16 13:52] naveenpf commented on #99
Not required

[2018-08-16 13:52] #99 closed

[2018-08-16 13:52] naveenpf commented on #101
Already implemented

[2018-08-16 13:52] #101 closed

[2018-08-16 13:54] bobinson commented on #20
1. Created a Telegram group here : https://t.me/RescueKerala

@biswaz - please join and will give the admin access.

[2018-08-16 13:55] bobinson commented on #143
For quick fix this can be also handled by making the address field as a Text area so that people can enter more info.

[2018-08-16 13:58] gauthams09 commented on #132
yep

[2018-08-16 13:59] bobinson commented on #125
First step for fix is to get a basic text area working with editable option. Other things like exact GPS co-ordinates is not something people in emergency can do.

[2018-08-16 14:01] sengar23 commented on #85
Couple of fixes I used and managed to bring down the website size from 172 kb to 105 kb, which will definitely help in reducing the load time of the site on weaker connections.
The fixes are listed below:
1. Don't use an external font (very important). Use default font provided by bootstrap.css. Removed the loading of font.css file in base.html.
2. Did the optimization the images, retaining the or

[2018-08-16 14:03] JintoAntony commented on #143
I have added additional two fields as requestee_phone_2, requestee_phone_3. If that's ok, can I publish ..?

[2018-08-16 14:06] naveenpf commented on #20
Already District officials are taking the requests and updating.
If the status update is given public, officials are worried about wrong updates.
Still discussions are going.
Please wait for update

[2018-08-16 14:07] kevin-madhu commented on #143
Go ahead. Create a PR then.

[2018-08-16 14:08] clasick opened #147 "tables are messed up on mobile and desktop"
The date column on Desktop is barely readable.

![Desktop](https://screenshotscdn.firefoxusercontent.com/images/9480e38a-3d8b-478b-a079-09a71a31734f.png)

On mobile, all the useful information other than the location is hidden.

![Mobile](https://screenshotscdn.firefoxusercontent.com/images/32eb75db-1157-40c5-b4b7-4c231bd42d79.png)

[2018-08-16 14:10] JintoAntony commented on #143
Ok..Wait a minute.

[2018-08-16 14:11] bobinson commented on #137
May for issues that cannot be handled now, report them in a group like - https://t.me/RescueKerala

[2018-08-16 14:11] agzuniverse commented on #139
Server is back up, this is not a problem as of now.

[2018-08-16 14:13] biswaz commented on #125
Please rebase everyone

[2018-08-16 14:14] venupai commented on #139
Verified. Server is back up. Thanks

[2018-08-16 14:16] naveenpf commented on #139
fixed

[2018-08-16 14:16] #139 closed

[2018-08-16 14:16] kevin-madhu commented on #143
@JintoAntony You need to fork the repo. And then work on your fork(clone of the repo). Make the commit and make a PR request.

[2018-08-16 14:16] amalshehu commented on #147
Anyone started working on this issue ?

[2018-08-16 14:17] abhaga commented on #132
This is being caused by very long URLs in the "Summary of request" column. A quick fix is to set `overflow-x: visible` on the top `div.table-responsive`.

[2018-08-16 14:27] abhaga commented on #147
A quick fix is to set `overflow-x: visible` on the top `div.table-responsive`. Here: https://github.com/IEEEKeralaSection/rescuekerala/blob/master/mainapp/templates/mainapp/request_list.html#L10

[2018-08-16 14:27] ABHISHEKVALSAN commented on #147
when people add extremely long strings without spaces (eg. URL), then  word wrap fails.
The instance below is the reason for the problem

"""
Phone not reachable <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.4205920297554!2d76.33523201434568!3d10.308185492640298!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b08026b9eb3dd15%3A0xf8972735ad5efcf9!2sHotel+Sidha
"""
adm

[2018-08-16 14:29] JintoAntony commented on #143
Yes. I have created a PR. Please check and update.

[2018-08-16 14:30] #43 closed

[2018-08-16 14:31] naveenpf commented on #125
Which pull request we should take ?

[2018-08-16 14:32] namboodiri commented on #147
I've made the container margin to 0 and width 100%, So that no space is wasted there.
I've made a PR. #153

[2018-08-16 14:33] bobinson commented on #147
additional info : view in iOS Safari (iPhone7)

<img width="375" alt="image" src="https://user-images.githubusercontent.com/18070249/44215041-28b2c580-a18f-11e8-8c86-674d58f5e4ac.png">

[2018-08-16 14:38] latheefts commented on #143
@JintoAntony  Please put your PR link also here

[2018-08-16 14:39] JintoAntony commented on #143
PR Link : https://github.com/IEEEKeralaSection/rescuekerala/pull/152

[2018-08-16 14:41] naveenpf commented on #120
Rebase is required

[2018-08-16 14:42] abhaga commented on #147
Fixing it in the frontend will only help so much. I propose that we convert long links to linked text thus solving the primary issue. So a very long link like `https://google.com/map/asdsdasdsdasd....` will be rendered as `<a href="https://google.com/map/....">Link to https://google.com/map</a>` with the visible text only showing the domain. If this sounds ok, I can work on this.

[2018-08-16 14:43] kevin-madhu commented on #143
@JintoAntony looks good. So, we can drop dynamic field idea right? We'll need to migrate data if implemented later on.

[2018-08-16 14:44] panickervinod opened #157 "Request to add few Additional Fields while listing requests status."
Please do consider adding few additional fields to the request status.  Some of them could be also part of the summary

| Request Id
| Reference ID ( to sync up with any system updating the  Recent status details or tracked elsewhere.)
| Timestamp
| Name
| Phone Number
| # Of People Stuck
| Any Kids/Elderly/Pregnant
| Drinking Water/Food Available
| District
| Locality   
| Email Address
| Any Oth

[2018-08-16 14:44] kracekumar commented on #133
Does adding geo-location information field in the page, https://keralarescue.in/volunteer/ work?

[2018-08-16 14:52] naveenpf commented on #157
Similar to #20

[2018-08-16 14:52] #157 closed

[2018-08-16 14:54] nithin-vijayan opened #158 "Added hyperlink for phone numbers in view request PR #49 not merged"
Hi
Added hyperlink for phone numbers in view request PR #49 was not merged i think. It deals with the view requests request_list.html template.

[2018-08-16 14:56] kracekumar commented on #132
this is how @abhaga changes look

![Uploading original.png…](In site
![Uploading modified.png…](After CSS changes)
)

[2018-08-16 14:57] naveenpf commented on #158
Thank you will be merged

[2018-08-16 14:57] bobinson commented on #20
agree.

And also if there is someway for the authorities to prioritize areas that will be good I believe. The context is some one stuck in area is asked to wait for 1.5 hours as the rescue is happening in an emergency basis. Which means prioritization of locations can be helpful for authorities. (wishlist)

[2018-08-16 14:59] vinyasmusic commented on #143
Added a PR with a solution which can store 9 phone numbers at least.
Uses Postgresql Arrayfield to achieve this.

[2018-08-16 14:59] jinut2 commented on #133
I guess it would require a migration. Have to store the co-ordinates into the db.

[2018-08-16 15:00] bobinson commented on #132
@kracekumar - what about smaller screens ? perhaps you can test with responsiveness.

[2018-08-16 15:00] alokbabu opened #159 "Trim down request detail table."
District shouldn't be shown in the table when it is already filtered by District. Timestamps can be moved under Requestee as **Requested by "John Doe" on "Aug 16 hh:mm:ss"**. A seperate table for each case is also requested which shows location details. Can autogen case numbers for each requests and when clicking on case number a more detailed view for each case. Also display Status of each case.

[2018-08-16 15:01] #159 closed

[2018-08-16 15:01] alokbabu commented on #147
District shouldn't be shown in the table when it is already filtered by District. Timestamps can be moved under Requestee as Requested by "John Doe" on "Aug 16 hh:mm:ss". A seperate table for each case is also requested which shows location details. Can autogen case numbers for each requests and when clicking on case number a more detailed view for each case. Also display Status of each case.

[2018-08-16 15:02] agzuniverse commented on #57
@biswaz why was the helpline number removed?

[2018-08-16 15:04] asimqt commented on #147
Can we show different format in mobile instead of the table? Like a list like:
[code]

[2018-08-16 15:05] irshadshalu commented on #133
If anyone is working on it, refer #29 for easier integration.

[2018-08-16 15:07] xaneem opened #161 "Database of people at relief camps"
A lot of people have been moved to relief camps. Currently, registrations are taken mostly in paper and it's becoming difficult to search the list to locate someone.

We're trying to build this. Will post updates here. Suggestions / help appreciated.
(via Abdullah)

[2018-08-16 15:08] bobinson commented on #147
[code]
This will increase the space required on the page where the listing is shown and perhaps can be done in the detail page -- if at all such a thing is implemented.

[2018-08-16 15:09] viggi-v commented on #161
It involves writing a whole new part of the application including new routes and templates, right?

[2018-08-16 15:10] bobinson commented on #161
same as #81 @120

[2018-08-16 15:12] bobinson commented on #125
@littlestar642 - please check this.

[2018-08-16 15:12] alokbabu commented on #20
Is there an admin interface for Changing status for each case ("help requests")?

[2018-08-16 15:13] ahumblenerd commented on #161
@xaneem are you working on this ?

[2018-08-16 15:13] binu456m commented on #161
Will take care of creating the forms. Have done earlier, so can share the code

[2018-08-16 15:13] kracekumar commented on #132
With my limited understanding of responsiveness, it seems to work @bobinson

Original

![512_original](https://user-images.githubusercontent.com/311929/44217367-ed1afa00-a194-11e8-8ffc-53c12aab1165.png)
 to work.

Modified

![512_modified](https://user-images.githubusercontent.com/311929/44217393-f60bcb80-a194-11e8-84fb-32fea52760d6.png)

[2018-08-16 15:14] bobinson commented on #161
@binu456m - share whatever you can via github. You can just create a repo and share the details here.

[2018-08-16 15:14] xaneem commented on #161
@viggi-v Yes, it's a new part of the app.

First, I'm preparing a list of minimum features for this to be useful. Will post it here.

@ahumblenerd Working on this. Might be stuck if I lose internet access.

[2018-08-16 15:15] alokbabu commented on #20
Is anyone working on this?

[2018-08-16 15:17] vjMagar commented on #20
Hi please assign this to me. Will be working on it

[2018-08-16 15:17] binu456m commented on #161
Any help needed for coding? Or forms?

On Thu, 16 Aug 2018, 20:45 Saneem, <notifications@github.com> wrote:

[2018-08-16 15:17] alokbabu commented on #20
@naveen could we get some insight on this issue please.

[2018-08-16 15:18] abhaga commented on #147
We can clean up the `Other Needs` input to strip out html links and URLs if there is no use case for those.

[2018-08-16 15:18] naveenpf commented on #161
I have marked working on it. Please ping once done.

[2018-08-16 15:19] naveenpf commented on #161
Please see this #120

[2018-08-16 15:19] xaneem commented on #161
Relief Camps
    - Name of place
    - Location
    - District
    - Capacity

People
    - Name
    - Age
    - Gender
    - Location
    - Phone Number (not public)

Workflow:
- Admin/Coordinator can create relief camp
- Relief camp coordinators / volunteers can enter information of people.
- Public can search for people with name / phone number / location / age / relief camp name.

[2018-08-16 15:19] #158 closed

[2018-08-16 15:25] sidhu18 opened #164 "Status for registered requests?"
Adding a status for registered request , so that we can see who has been rescued and who needs help.

[2018-08-16 15:26] viggi-v commented on #161
Any possibility of linking each entry to the already existing data about requests? that way once a person marks himself as safe and staying in a camp, his data can be removed from the requests list?
(just suggesting a feature)

[2018-08-16 15:26] kurianbenoy commented on #22
I had earlier worked on this issue and is now merged on branch app.
check my PR on #65

[2018-08-16 15:27] JintoAntony commented on #133
@jinut2 @irshadshalu Working on this one.

[2018-08-16 15:27] naveenpf commented on #164
Implementing #20

[2018-08-16 15:27] #164 closed

[2018-08-16 15:28] ahumblenerd commented on #161
Keep pushing. If you loose internet i shall take over. [ If i dont also loose power ].

[2018-08-16 15:28] kurianbenoy commented on #22
@naveenpf @jerinpetergeorge @hemanth7787
We need to add authentication as well as CORS and csrf excemption

[2018-08-16 15:29] vjMagar commented on #20
@alokbabu I have just started looking at this and yes will be working on this. Shall upload the pr asap.

[2018-08-16 15:31] panickervinod commented on #20
@naveenpf @vjMagar @alokbabu There should be an admin view to update status as well as sync up reference from any other tracking sheet. #157

[2018-08-16 15:34] viggi-v commented on #161
@xaneem  do you have a fork on which you are adding new features? which repo should be watched?

[2018-08-16 15:34] naveenpf commented on #20
We are planning to implement.

-Each rescuecase once logged, has to create a ticket. (external app)
-Volunteers can only update tickets.
-Only Districts officials will close the ticket.

Currently District officials handling the requests.

[2018-08-16 15:35] naveenpf commented on #132
Who is working this issue now ?

[2018-08-16 15:38] jerinpetergeorge commented on #22
@kurianbenoy  is [this DB configs](https://github.com/IEEEKeralaSection/rescuekerala/pull/65/files#diff-83251527a15f0d908d24fb8adb8fac90R109) are required ?? Seems like local DB settings

[2018-08-16 15:40] vjMagar commented on #20
So here is the base idea.

We create new app, naming it ticket management.

Model shall have FK to request

[2018-08-16 15:41] clasick commented on #108
@naveenpf Seems like a valid issue. Your reasons for "won't fix" labeling?

[2018-08-16 15:41] binu456m opened #167 "Column width in "view request" form has to adjust"
Column width in the view district wise request section has to adjust. Some lines are exceeded the page window.

[2018-08-16 15:42] binu456m opened #168 "Column width in "view request" form has to adjust"
Column width in the view district wise request section has to adjust. Some lines are exceeded the page window.

[2018-08-16 15:42] naveenpf commented on #167
Already logged  #132 and #147

[2018-08-16 15:42] #167 closed

[2018-08-16 15:42] #168 closed

[2018-08-16 15:43] naveenpf commented on #168
#132 and #147

[2018-08-16 15:44] panickervinod commented on #20
Sound good

[2018-08-16 15:44] binu456m commented on #167
Do you guys need any help on this?

On Thu, 16 Aug 2018, 21:13 naveenpf, <notifications@github.com> wrote:

[2018-08-16 15:51] vjMagar commented on #20
We make new app naming it ticket management

It's shall have one model,

Ticket -> FK to request model.

Assuming that only district office have access they are the admin stuff, using this logic to restrict the status option on can see and update.

Now on views we shall have different two panel one showing details of tickets, and then second panel to update the status and all.

And display on seco

[2018-08-16 15:52] vineethkartha commented on #63
Can some one add the list of the core functionalities that need to be tested.

[2018-08-16 15:53] kurianbenoy commented on #22
@jerinpetergeorge its  not required @biswaz rectified it in the subsequent commits.
@jerinpetergeorge  are you currently working on this issue?

[2018-08-16 15:54] naveenpf commented on #22
Closing it

[2018-08-16 15:55] jerinpetergeorge commented on #22
@kurianbenoy not yet started. I have some power supply issues here :(

[2018-08-16 16:00] bobinson opened #170 "[DISCUSSION] Strategy to merge PRs"
Right now there are 12 Open issues and 50 PRs. That means 4 fixes per issue.

1. How are we going to merge these PRs?
2. Will there be still PRs open after closing all the issues?

**Request to those who are submitting PRs:**

Before starting to work on an issue, claim the issue by saying "I am working on this". This will help duplication of effort.

**Request to those who are handling the repo**

[2018-08-16 16:01] manu-codes commented on #72
@aswinmohanme I can work with it ( https://github.com/aswinmohanme/kerala-flood-map) since react if required

[2018-08-16 16:03] naveenpf commented on #72
Revathi Kannan is working on it

[2018-08-16 16:03] asimqt commented on #63
Can we start with Request for help Form? It's the most important feature. (Validation, Submit, Edge cases)

[2018-08-16 16:07] naveenpf commented on #120
Please merge #172

[2018-08-16 16:08] naveenpf commented on #22
Working on it

[2018-08-16 16:09] manuvakery1 commented on #170
#### Describe the bug :bug:
A clear and concise description of what the bug is.

#### Checklist
Put an `x` in the boxes that apply.
- [ ] I searched or browsed the repo’s other issues to ensure this is not a duplicate.
- [ ] I have assigned a `Label` for the issue (if applicable)

#### To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See e

[2018-08-16 16:10] manuvakery1 commented on #170
we could use the above template for raising issues

[2018-08-16 16:10] biswaz opened #173 "Duplicate requests"
TODO: Remove duplicate requests
Use unique together in model field
Take db backup before fixing
Ensure regular backups via aws

[2018-08-16 16:10] ananthuma opened #174 "[Enhancement] No link to mapview of rescue needed people from main page"
No link to the mapview https://keralarescue.in/map/  from main page.Its very easy to find rescue needed people from mapview rather than scrolling the entire list.

[2018-08-16 16:11] bobinson commented on #173
Fixing what ?

[2018-08-16 16:13] jishnunand commented on #173
@biswaz Can you give us more detail over here?

[2018-08-16 16:14] naveenpf commented on #133
Please rebase

[2018-08-16 16:15] naharp commented on #161
The registry must be seachable with Mobile number or name. Mobile number need not be displayed but just searchable considering privacy of people.
Maybe show phone numbers as 98xxxx4321

[2018-08-16 16:17] vigneshhari commented on #174
We were using Gmaps API till now and it had a request limit, that's why we didn't make it public, now we have switched to free alternatives and will make it public after a short test

[2018-08-16 16:19] JintoAntony commented on #133
@naveenpf https://github.com/IEEEKeralaSection/rescuekerala/pull/175.

[2018-08-16 16:20] bobinson opened #177 "map shows incorrect location information"
URL: https://keralarescue.in/map/

![image](https://user-images.githubusercontent.com/18070249/44221133-2310ac00-a19e-11e8-929a-cd276c0bc5c8.png)

**Issue:**

Since we are taking the current GPS location of the one who is requesting information, the map is showing wrong locations.

This can be avoided by making the following check box more promiment and moving it closer to the Requestee check box.

[2018-08-16 16:25] adamshamsudeen commented on #177
Chalakudy and Aluva seems to be affected more and hence needed more priority said the minister.

[2018-08-16 16:25] vigneshhari commented on #174
@ananthuma will fix that
@bobinson Thanks but we'll stay with the current Map since it actually performs better.

[2018-08-16 16:27] naveenpf commented on #133
@biswaz please merge

[2018-08-16 16:27] naveenpf commented on #177
Issue with #125

[2018-08-16 16:27] #177 closed

[2018-08-16 16:30] AbhijithKonnayil opened #178 "feature to upload images of landmark/location in "Request for help""
option to upload images of the landmark may help the rescue team to find the place more easily

[2018-08-16 16:30] shabinGravitum commented on #132
Quick Fix

Add this css to the table element

display: block;
overflow: scroll;
height: 60vh;

[2018-08-16 16:31] irshadshalu commented on #92
How do I register for the slack channel?..

[2018-08-16 16:31] naveenpf commented on #178
Feature for #72.
Please discuss there

[2018-08-16 16:31] #178 closed

[2018-08-16 16:32] irshadshalu commented on #117
We can check if the browser permission is already given or not and then decide whether to show the modal.

[2018-08-16 16:33] bodhish commented on #170
@manuvakery1 this looks great, would be good to have template for raising issues.

[2018-08-16 16:33] xaneem commented on #161
@viggi-v Haven't pushed. Will post here in a while. Working with @ajnas and @jaseemkm
@naharp Yes, doing it that way.

[2018-08-16 16:35] vrthra opened #179 "Slack is down. Do we have a better way to communicate?"
keralarescue.slack.com is no longer accessible, and the slack [status](https://status.slack.com/) page says they are having problems. If there is a different way to communicate, please list on this issue.

[2018-08-16 16:35] manuvakery1 commented on #170
@bodhish you mean for PR ?

[2018-08-16 16:35] ragsagar commented on #147
So who is working on this? We might need this quickly. Requests page is not very useful now.

[2018-08-16 16:36] littlestar642 opened #180 "Button to add new request on request success page"
Observed Behaviour:-

Presently, there is no button on the request success page that may take a user back to generate a new request.

Expected Behaviour:-

A button below the "successfully registered" message that may be used to submit a new request.

[2018-08-16 16:36] ragsagar commented on #179
Yeah, slack failed at most required time. Let use IRC

[2018-08-16 16:36] bodhish commented on #179
Flock is an alternative for slack
'https://flock.com'

[2018-08-16 16:36] JintoAntony commented on #133
@biswaz Updated.

[2018-08-16 16:37] naveenpf commented on #179
irc will be fine

[2018-08-16 16:37] vrthra commented on #179
+1 for IRC #keralarescue?

[2018-08-16 16:37] vigneshhari commented on #179
Telegram would be fine right ?

[2018-08-16 16:37] biswaz commented on #179
Telegram ?

[2018-08-16 16:37] midhunkrishna commented on #170
@bobinson We can also do a integration with Heroku [https://devcenter.heroku.com/articles/github-integration], for `auto-deploy` to test instances so that it would become easier to QA the PRs before merge.
Anyone with a admin access to the main repo can do it.

cc: @biswaz @manuvakery1

[2018-08-16 16:38] JintoAntony commented on #180
@littlestar642 Working on it.

[2018-08-16 16:38] naveenpf commented on #180
Are you working on this ?

[2018-08-16 16:38] biswaz commented on #179
Will suit our purpose. Lets hope slack will be online soon

[2018-08-16 16:38] jishnunand commented on #179
@biswaz can you tell me wts the issue with slack I can help you with that.

[2018-08-16 16:39] biswaz commented on #179
It's their server issue

[2018-08-16 16:39] ragsagar commented on #179
https://webchat.freenode.net/?url=irc://irc.freenode.net/keralarescue

[2018-08-16 16:39] jishnunand commented on #179
There is no issue with their server. Because I am using slack now too.

[2018-08-16 16:40] ragsagar commented on #179
I registered a channel `#keralarescue` in freenode. Let's use that for till slack comes back.

[2018-08-16 16:40] vigneshhari commented on #179
slack is back up

[2018-08-16 16:40] biswaz commented on #179
@jishnunand your location?

[2018-08-16 16:40] vigneshhari commented on #179
Slack is Active now. I'm closing this Issue

[2018-08-16 16:40] #179 closed

[2018-08-16 16:40] ragsagar commented on #179
Great, Slack is back 👍

[2018-08-16 16:41] jishnunand commented on #179
Bangalore

[2018-08-16 16:41] abdullatheef commented on #173
Do we need db unique constraint for this? Or just blocking in ui is fine, right ?

[2018-08-16 16:41] bodhish commented on #179
Check this 'https://status.slack.com' @jishnunand

[2018-08-16 16:43] bobinson commented on #173
Best practice is to have constraints and thus validations at every level - ie frontend , back-end logic as well as db.

[2018-08-16 16:43] nishadhka commented on #174
This is an instance of [Ushahidi](https://www.ushahidi.com/) for flood mapping http://35.200.234.24/posts/create/2, it has csv import facility, if there is an data dump of the website, it is easy to import into it provided having geocoding API conversion on the non lat long entries. It is better to use tested and field deployed app than a custom developed one at present.
![data entry page](https:/

[2018-08-16 16:43] manuvakery1 commented on #170
@bobinson @bodhish   we can use this template for PRs
#### Description
Describe the big picture of your changes

#### Related Issue
Fixes #issue_no

#### Types of changes
Put an `x` in the boxes that apply. You can also fill these out after creating the PR.
- [ ] :bug: Bug fix (non-breaking change which fixes an issue).
- [ ] :rocket: New feature (non-breaking change which adds functionality).
- [

[2018-08-16 16:44] sidhu18 commented on #174
Also add available or nearby camps in map view.

[2018-08-16 16:47] biswaz commented on #72
Please note that @aswinmohanme implemented a map for locating rescue requestee.
Flood map maps the flooded roads and paths right?

[2018-08-16 16:48] bobinson commented on #99
Why ?

[2018-08-16 16:48] bobinson commented on #170
@manuvakery1 midhunkrishna - there was a previous issue specific for the template but it was closed  (IDK why!).  Refer #99

CI is a good idea @midhunkrishna

[2018-08-16 16:49] jishnunand commented on #179
@biswaz can you invite me to keralarescue.slack.com channel?
jishnunand@gmail.com

[2018-08-16 16:50] AbhijithKonnayil commented on #72
will it be helpful, if the one who is requesting the help have an option to upload an image of the landmark near to the building they are trapped? So that the rescue team/volunteers can spot the building more easily

[2018-08-16 16:50] vigneshhari commented on #174
We can have existing data present in Ushahidi but updating it in real time would be hard, however, we can use this for mapping camps, supply posts and such.

[2018-08-16 16:50] irshadshalu commented on #179
I can't create an account on slack. Any help is appreciated.

[2018-08-16 16:51] salmanulfarzy commented on #170
#62 and #104 proposed issue and PR templates with related issue on #99, But was closed on https://github.com/IEEEKeralaSection/rescuekerala/issues/99#issuecomment-413552836 by @naveenpf with

Hope @naveenpf reconsiders the decision to control and channel issues and PRs.

[2018-08-16 16:52] nishadhka commented on #174
Is there any dump of existing data, will work on geo referencing it

[2018-08-16 16:53] kracekumar commented on #132
@naveenpf I was playing around to get the sense of the issue if the modified screen shared is fine, I can send a PR.

[2018-08-16 16:55] jishnunand commented on #20
@naveenpf which external system you are going to use over here?

[2018-08-16 16:55] nirmalvp opened #181 "Browser doesn't prompt for location access if the "How to Allow Location" guide popup is closed using "X" button"
The browser will only ask for location access if the "How to Allow Location"  popup is closed by clicking the OK button. On clicking the "X" button, there is no location prompt.

![screenshot from 2018-08-16 18-50-21](https://user-images.githubusercontent.com/10485277/44222790-f8b2f480-a185-11e8-8884-3d227433b73c.png)

[2018-08-16 16:57] vigneshhari commented on #174
You can get the live map data from keralarescue.in/data as JSON

[2018-08-16 16:58] ragsagar commented on #63
@vineethkartha Are you working on this?

[2018-08-16 16:58] bobinson commented on #181
@nirmalvp  - which is the browser and OS that you used to test this ?

[2018-08-16 16:59] ashikmuhammedpa commented on #20
@naveenpf  Is there any way we can get the volunteer list ? so that we can manually assist the request for the time being ?

[2018-08-16 16:59] biswaz opened #182 "#165 might increase db load and heroku usage"
#165 deployed. Should watch out for usage spikes

[2018-08-16 17:00] jishnunand commented on #181
@nirmalvp it's working fine..

[2018-08-16 17:01] clasick commented on #181
I can replicate this issue on Firefox 61.

[2018-08-16 17:01] nirmalvp commented on #181
@bobinson Chrome on an Ubuntu

[2018-08-16 17:02] JintoAntony commented on #180
https://github.com/IEEEKeralaSection/rescuekerala/pull/175 Updated.

[2018-08-16 17:03] bobinson commented on #181
@nirmalvp @clasick @jishnunand - What about mobile browsers ? I think most people will be using mobiles.

[2018-08-16 17:04] vmwsree opened #183 "Update Rescue Status with otp"
Using the phone field in the request the owner of the request should be able to update his situation,If he is rescued or not.

[2018-08-16 17:04] midhunkrishna commented on #170
In the case of DDOS @bobinson, these are the ones we usually follow:
1. Throttle the requests say with something like https://github.com/jsocol/django-ratelimit
2. Combine the one with geolocation based limiting, can help (Cloudflare offers a free tier I suppose)

thinking out loud here.

[2018-08-16 17:04] bobinson commented on #182
@biswaz  - whats the db config ? Do you have auto scaling enabled ?

[2018-08-16 17:05] dileep-p commented on #182
@bobinson if i am right, @biswaz  using AWS RDS.  not sure what instance type.

[2018-08-16 17:05] clasick commented on #181
@bobinson Issue replicated in Firefox for Android.

[2018-08-16 17:06] jishnunand commented on #183
@vmwsree is it required with otp? why can't we use some popup box for updating the status?

[2018-08-16 17:06] vinoth44 commented on #147
We can fix the maximum width of the column to 200px and user word-break: break-all for now.

May I can help for mobile responsive. Like the below image:
https://res.cloudinary.com/css-tricks/image/upload/c_scale,w_1000,f_auto,q_auto/v1528559934/responsive-table-on-iphone-1_ftg6oh.png

[2018-08-16 17:07] #125 closed

[2018-08-16 17:07] abdullatheef commented on #181
Yes this can be fix by changing

[code]
to
[code]

[2018-08-16 17:08] irshadshalu commented on #182
I thought we already moved to state data center from heroku?.. what's causing the delay?

[2018-08-16 17:09] kannankumar commented on #183
@jishnunand Without OTP, anyone can update status(accidentally/otherwise) of any other request. Do we want that?
As a start we can have a basic popup with status options and add in OTP when that is ready.

[2018-08-16 17:12] jishnunand commented on #181
@bobinson it's working fine in mobile version i have tested just now. But, in safari (Iphone users) not popup the location access.

[2018-08-16 17:13] kracekumar commented on #182
You need to add the indexes on `district, requestee_phone, requestee `, `db_index=True`

[2018-08-16 17:14] venupai commented on #183
OTP is not much reliable during these circumstances. It might be delivered really late.

[2018-08-16 17:15] JithinPavithran commented on #183
@kannankumar
I think we shouldn't add the overhead of OTP at this emergency situation.

[2018-08-16 17:15] krishnanunnir opened #186 "Add details for all relief camps across different districts"
People should be able to look up the locations of different rellief camps across the state

[2018-08-16 17:16] jishnunand commented on #183
@venupai correct +1. For now we can keep a popup box for updating their status

[2018-08-16 17:16] naveenpf commented on #186
Same as #120

[2018-08-16 17:16] #186 closed

[2018-08-16 17:16] abdullatheef commented on #181
@jishnunand https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition#Browser_compatibility

[2018-08-16 17:16] asjadnabeel commented on #63
Kindly somebody configure RestAPI for "help request" models in the server (i'm not good in that, i am trying now ).

i will develope an Android app for registering and viewing help requests and other basic facilities. Tomorrow

[2018-08-16 17:17] shamonshan commented on #132
Is this fixed?? In mobile view  i am able to see lot of white spaces in summary of request field

[2018-08-16 17:17] jishnunand commented on #183
@biswaz can we bring this up?

[2018-08-16 17:17] clasick commented on #181
@abdullatheef Please give pull request after fixing this issue.

[2018-08-16 17:18] Gotham13121997 opened #189 "can submit negative integers as phone number"
.attr('type', 'number');

is causing negative integers to be submitted as phone numbers.
.attr({'type':'tel', 'pattern':'[0-9]{10}'}) will be better option

[2018-08-16 17:18] batman-nair opened #190 "[enhancement] Option to mark rescue requests as satisfied/rescued? Would clean/clear up the database a lot."

[2018-08-16 17:21] Neonkraft opened #191 "Phone number validation is still broken"
Phone numbers of length less than 10 is being accepted.

The front end validation ensures that the text box accepts only digits 0-9 (as well as + - and . )
The phone field in the models have max_length = 10, so it addresses the concern of the upper limit.

The problem can be fixed by adding a RegexValidator on the phone.CharField. The regex can be ^[0-9]{10}$

I've tried this and it works. However

[2018-08-16 17:26] biswaz commented on #92
Use the link from readme

[2018-08-16 17:26] ashikmuhammedpa commented on #20
@naveenpf  can you pls ping me in whatsapp ? I m on +919745653615.  or pls share yours I shall reach out to you

[2018-08-16 17:27] kannankumar commented on #183
Alright I agree with you. OTP might be unreliable now.
We can go with the alternative option suggested by @jishnunand.

[2018-08-16 17:27] asjadnabeel opened #193 "API Configuration expecting"
We are currently working on a app.
If somebody can configure API (RestAPI ) especially for the "help request " model un the server... then the app also can reach the people over smartphone .

[2018-08-16 17:28] salmanulfarzy commented on #191
Working on it with Django Validators.

[2018-08-16 17:28] cibingeorge commented on #170
@bobinson do you hve infrastructure scaling issues?

[2018-08-16 17:28] jishnunand commented on #193
@asjadnabeel if required we can enable API's for existing apps.

[2018-08-16 17:29] bobinson commented on #193
@asjadnabeel - why don't just use the browser as its available in every phone ? Would humbly request to test what we have make it better.

[2018-08-16 17:30] clasick opened #195 "Don't try validation attempts on live site!"
Many GitHub users are trying out validation attempts on the deployed site! Try out on your local site if you want to check something...

![](https://screenshotscdn.firefoxusercontent.com/images/cebdd21f-0c1b-464e-a356-dd83bc43e1aa.png)

I've seen tens of examples like this so far today.

This will need to be stopped and fixed from the backend. :anger:

[2018-08-16 17:30] abdullatheef commented on #181
@clasick created PR for this fix

[2018-08-16 17:31] answerquest commented on #174
Hi, thanks for moving to leaflet/OSM!
There's clearly mis-located markers in the data. But people have typed in their locations.

Suggestions:
1. Add a "corrected_latlng" field to schema. Keep blank, have a trusted team fill that. On the map, use that field for location if not blank, and, put a different marker on it.
2. Add satellite imagery layer. (is there a latest-tiles-source for the Kerala r

[2018-08-16 17:32] bobinson commented on #182
Just put up the db on a server / instance with approx 16 GB RAM and add enough cache. If AWS, put it on RDS. If Heroku, @biswaz  might be on auto-scalable solution.

[2018-08-16 17:32] jishnunand commented on #195
@clasick is there any test server available?

[2018-08-16 17:34] gauthams09 commented on #132
I'm getting this fixed with two things:
1. Reduce content on main requests page by having link to detailed view . Vertical collapse will be added for mobile screen sizes.
2. One detailed view for each request which shows all the details of that specific request

[2018-08-16 17:37] vmwsree commented on #22
https://github.com/IEEEKeralaSection/rescuekerala/pull/149 this is graphql auto documtation included

[2018-08-16 17:37] ajish99 commented on #147
Use word break and set table td to nowrap=nowrap

[2018-08-16 17:38] asjadnabeel commented on #193
@bobinson : No problem, it is working so well in browser. Suggested a different method wherein i can give some help also people(both affected and volunteers) will have easy access to website also. We can provide some features like, auto location detection,  update about requests,  ..etc ...

[2018-08-16 17:38] lunaroyster opened #198 "Adding Open Graph tags (Makes social media sharing easier)"
When you enter a URL on Social Media, and WhatsApp, OG tags are used to display a picture and description.

PR: https://github.com/IEEEKeralaSection/rescuekerala/pull/184

[2018-08-16 17:38] jishnunand commented on #20
what's the status of this?

[2018-08-16 17:39] naveenpf commented on #193
Same as #22

[2018-08-16 17:39] #193 closed

[2018-08-16 17:39] salmanulfarzy commented on #195
Not yet, For now we coudld rely on local server for development to prevent polluting production data.

[2018-08-16 17:40] vjMagar commented on #20
hi i have just reached home and have started with it. @jishnunand would you like to join in so that we can complete this faster?

[2018-08-16 17:40] naveenpf commented on #195
No fix planned now.

[2018-08-16 17:40] #195 closed

[2018-08-16 17:41] ashikmuhammedpa commented on #20
Guys, Please look at this

dev58610

userid: test_user

password:12345

also , mobile application available

Playstore -> ServiceNow (Download the application) and use the same credentials .

Its quite easier and already available in app. Volunteers and other people who is abroad also can work as it is on cloud. Request you all to try and deploy it faster rather than coding it from scratch

[2018-08-16 17:41] kracekumar commented on #182
I'm not sure whether the cache can help filter queries, then when new query matching term is entered, the cache needs an update. The first query will have to go to DB. It's better to look for slow queries using HTTP Requests logs and optimize the queries.

[2018-08-16 17:42] scanalkara commented on #198
https://github.com/fcurella/django-social-share
https://github.com/lettertwo/django-socialsharing
This links might help

[2018-08-16 17:42] asjadnabeel commented on #193
@jishnuanand: i am happy to work if API is enabled, but don't want to conflict intrest of people who are contributing on this project.

[2018-08-16 17:43] naharp commented on #161
I have power back, any link to your fork will be appreciated, I have some code done on camps and rescued.

[2018-08-16 17:45] naveenpf commented on #20
GOK officials internal requirements on this. It will be developed by internal team.
If help is needed I will update.

[2018-08-16 17:45] appunnicer13 opened #200 "unnessary to see entire data from Kerala"
Endpoint for location wise data, having input longitude latitude in data endpoint.

[2018-08-16 17:46] vigneshhari commented on #174
We have updated the map with some features now, we are looking into misentered data, we have added an option for users to enter lat and long by their own now.
I'll look into getting the satellite image data

[2018-08-16 17:48] bobinson commented on #198
@lunaroyster - this is good. Please followup and ensure the merge!

@biswaz @naveenpf : Please merge this PR as many people from US etc are waiting to help.

[2018-08-16 17:48] naveenpf commented on #200
option there for districtwise

[2018-08-16 17:48] #200 closed

[2018-08-16 17:49] naveenpf commented on #183
Wait for #20

[2018-08-16 17:49] #183 closed

[2018-08-16 17:49] appunnicer13 commented on #200
Then can you tell me the endpoint to get that data @naveenpf

[2018-08-16 17:49] appunnicer13 commented on #200
This is for showing in Map

[2018-08-16 17:50] xaneem commented on #161
@naharp Working with @ajnas on the initial structure. Once it's ready, will post here.

[2018-08-16 17:51] bobinson commented on #170
@cibingeorge - sluggish. @biswaz @naveenpf  : please talk to either @dileep-p or @cibingeorge  on infra. They have tons of experience with large scale infrastructure.

[2018-08-16 17:55] lunaroyster commented on #198
@bobinson Awesome.

#184 looks good to me in code.

If someone could test it by pasting the dev URL into WhatsApp or Twitter, we could see how it looks.

[2018-08-16 17:55] clasick commented on #147
@vinoth44 @ajish99 this used to be there but it was taken out in this commit 87bdccb

[2018-08-16 18:01] abhn commented on #170
It already seems to be using Cloudflare @midhunkrishna Maybe set rate limiting/security level on the Cloudflare admin. At this point, even basic Cloudflare protection should prevent ddos at the expense of displaying random captchas to unsuspecting users.

[2018-08-16 18:02] abhn commented on #63
Looping myself into this thread.

[2018-08-16 18:03] asimqt commented on #110
@naveenpf I think making the site PWA is a good idea. Since the network is not stable in the flooded area and most volunteers are registering for help. If we can make it a PWA, that'll help them. What do you think?

[2018-08-16 18:05] nishadhka commented on #174
@vigneshhari the points outside state boundary needs attention for correcting it, can be filtered by geometry intersect, is this data different from keralarescue.in/data, looking for the categories of points such as [Red: Needs Rescue,Green: Request Made For Other,Blue: Generic Request]

[2018-08-16 18:05] vmwsree commented on #183
OTP will be reliable since it also shows that the person has reached a safe location, But Giving a pop means anyone can mess up our data. you can ask the user if the otp is not available then give a one line feedback on his situation+ recaptcha. or once the status is updated we can send the person your status is updated if its wrong that person can re-raise the issue.

[2018-08-16 18:06] mkurian commented on #143
Duplicate issues and relevant PRs. Ref:
https://github.com/IEEEKeralaSection/rescuekerala/pull/166
https://github.com/IEEEKeralaSection/rescuekerala/pull/152
https://github.com/IEEEKeralaSection/rescuekerala/issues/143

[2018-08-16 18:07] cibingeorge commented on #182
Find out what queries are choking the db..and optimize the indexes for those queries. Dont build random multi column indexes pls. It wont help much.

[2018-08-16 18:08] vigneshhari commented on #174
I'll ask the team to give a different color for pins outside the boundary.

[2018-08-16 18:13] syamsmudavandoor opened #204 "pip3 install -r requirements.txt will fail if you don't have required libraries"
To install dependancies , README specifies as pip3 install -r requirements.txt . If the system doesn't have proper libraries the above command will fail. To fix that update README of  Install dependancies part like below

sudo -H pip3 install -r requirements.txt

[2018-08-16 18:13] asimqt commented on #85
Anybody working on rewriting CSS? (Remove bootstrap)

[2018-08-16 18:15] naveenpf opened #205 "Rearrange car"
Rearrange the menu with the top portions for user updates (request, volunteer, contribute) and the second row for system data display ? that way there is clear segregation

[2018-08-16 18:15] imismailpe commented on #181
'getCurrenPosition' call can be taken out of the click event. so that it will be called in all cases.
//--------remove this line->-- $('#modal_ok_button').click(function(event) {
      navigator.geolocation.getCurrentPosition(success, error, options);
//----------remove this line->--});

[2018-08-16 18:18] answerquest commented on #161
1. How about using a field to hold ANY unique identifier? (email id, mobile, landline, aadhar, pan..)
2. Photo to identify person? (in case of unaccompanied minor or mentally disabled this might be the only thing that can help)

If there's trouble like no network in information collection at relief camps then I'll suggest ODK Collect hooked to google drive. It can store photos too, and data collec

[2018-08-16 18:19] #134 closed

[2018-08-16 18:19] adamshamsudeen opened #206 "Add location filter to the requests"
Since the requests are growing location-based filtering is necessary, eg: chalakudy etc
PR #202

[2018-08-16 18:25] linson007 opened #209 "Interactive voice response to call requestee mobile number"
Hi,

Can anyone /company can send a IVR call to all the request mobile number to check whether they are rescued or not .?

[2018-08-16 18:26] asimqt commented on #147
If we have a detail page, show only Name, Location - Dist Shortcode, and mobile on this table. And clicking on cell should goto detail page. Because the vertical scrollbar is not visible in mobile and some desktop browsers.

[2018-08-16 18:27] naveenpf opened #210 "Add document and message from IT Mission"

[2018-08-16 18:27] salmanulfarzy commented on #204
Don't use `pip` with `sudo`. There are multiple blocked PRs to update the documentation with different dependency management solutions. Please wait for any of them to be merged or follow the open PRs.

[2018-08-16 18:28] naveenpf commented on #209
not planned

[2018-08-16 18:28] #209 closed

[2018-08-16 18:28] vigneshhari commented on #210
Could you provide the document and the message?

[2018-08-16 18:29] naveenpf commented on #210
Kerala is reeling under the biggest disaster ever witnessed in many decades which took away many precious lives and left thousands of people stranded and homeless. In these trying times we solicit support from all the kind hearts across the world to handle the crisis and help us recuperate from the damage. We request all especially from the neighbouring states to join hands by contributing in kind

[2018-08-16 18:29] naveenpf commented on #210
mention DPM is using the data

[2018-08-16 18:30] naveenpf commented on #204
documentation

[2018-08-16 18:30] #204 closed

[2018-08-16 18:30] alokbabu commented on #147
@asimqt But there is not CaseID for "requested helps yet" someone who has access to db shall add a new case_id column and add autogenerated caseids.

[2018-08-16 18:31] biswaz commented on #210
Where should we add this. Dont want to spam the whole page. Maybe a link, including message from cm(?)

[2018-08-16 18:31] linson007 commented on #209
Ok.

At least send a message to all numbers periodically (which are not  marked as rescued)  and ask them to call to a toll free number with IVR capability to handle whether they are still in trouble or not .  This may reduce number of request .

I dont this this is too tedious since a lot of company are providing  bulk SMS and IVR functionality .
Hope some company will come forward .

[2018-08-16 18:34] biswaz commented on #182
Our devops guy just said its doing fine. I'll update more details. We shall inspect different solutions in the shortly

[2018-08-16 18:34] jobinlawrance opened #212 "Google person finder integration"
Any possuof utilizing Google's person finder to provide or extract information from google will be beneficial for both parties.

http://google.org/personfinder/2018-kerala-flooding

[2018-08-16 18:34] vigneshhari commented on #210
We can say that DPM is using the data on the main page and maybe the other data somewhere else

[2018-08-16 18:35] biswaz commented on #212
Discussion needed

[2018-08-16 18:36] answerquest commented on #174
Suggesting using Leaflet's L.divIcon. Reduces performance issues, enables much higher number of points on map (several thousands or more). Can assign it classes based on metadata and use CSS to give it any shape/color. Sharing a snippet. (If I can know where's the code that generates the markers, I can create a PR)

[code]

[2018-08-16 18:36] jobinlawrance commented on #212
They have an API endpoint for it
https://github.com/google/personfinder/wiki/DataAPI

Check this out guys

[2018-08-16 18:36] #206 closed

[2018-08-16 18:37] jobinlawrance commented on #212
They currently have around 4500 records last I checked

[2018-08-16 18:40] justinsyatnam commented on #147
@asimqt Please check the last comments in https://github.com/IEEEKeralaSection/rescuekerala/issues/132. Looks like a possible duplicate

[2018-08-16 18:40] aswinmohanme commented on #174
@answerquest we use react-leaflet for adding those markers. You can find the code at https://github.com/aswinmohanme/kerala-flood-map

[2018-08-16 18:41] namboodiri opened #213 "Re-order districts based on geography"
Might be a small change, but it can help people locate the option faster when filling out the form.

[2018-08-16 18:41] namboodiri commented on #213
Am working on it

[2018-08-16 18:41] sideffect0 opened #214 "Integrating any SMS/USSD gatway"
It will help people to send request even offline

[2018-08-16 18:42] irshadshalu commented on #213
Lexicographical ordering makes more sense. This has already been discussed before.

[2018-08-16 18:43] naveenpf commented on #213
Discussed before

[2018-08-16 18:43] #213 closed

[2018-08-16 18:45] naveenpf commented on #210
Add that in view request also . Tell District collectors are co-ordinating the efforts

[2018-08-16 18:46] bobinson commented on #212
Sharing private data to google even if in this crisis situation should be done ONLY after the checking the privacy implications.

@jobinlawrance - Can you confirm

1. This data will not be used for targetted ads ?
2. Can we PURGE this data - where is the APIs or method to PURGE the data ?
3. Which countries data protection laws are applicable ?

[2018-08-16 18:47] namboodiri commented on #213
Ok cool..

[2018-08-16 18:47] asimqt opened #216 "Extract bootstrap styles used to different file and use vanilla JS."
We're loading the whole Bootstrap and jQuery. We could extract these styles to a different file as we don't need every style coming with BS. Similarly we could use jqLite or vanilla JS instead of whole jQuery.

[2018-08-16 18:47] jobinlawrance commented on #212
I doubt if Google will stoop that low, but given its Google I will get back on this.

[2018-08-16 18:48] emamdev commented on #212
some of the Malayalee organizations are already pushing this... in other words , this is a problem too because now itself there are no central place for information gathering.

[2018-08-16 18:49] jobinlawrance commented on #212
But given Google's reach it is a given that people have a lot of trust when it comes with Google. Let's use it to out benefit.

[2018-08-16 18:50] naveenpf commented on #216
Are you planning to work on this ?

[2018-08-16 18:50] biswaz commented on #210
@naveenpf Should contact Santhosh sir before doing the last

[2018-08-16 18:51] irshadshalu commented on #216
Bootstrap will already be cached on most browsers. Extracting styles from it is a hectic task compared to the small decrease in load size.

We need to build stuff faster and jQuery helps the cause. jqLite is considerable, but is it worth the effort is to be analysed.

[2018-08-16 18:51] vmwsree opened #218 "Kindly use prefetch related and select related"
### Subject of the issue
They could fastup the queries

[2018-08-16 18:51] #198 closed

[2018-08-16 18:51] ajitsen opened #219 "Add Google Maps for better location picker."
Use Googles map-based location picker

[2018-08-16 18:52] kannankumar commented on #212
Which is the central place that government rescue  officials are using now?? Is it keralarescue.in or google people finder or some other platform?
Won't it add to the chaos if there are multiple portals doing the same thing?

[2018-08-16 18:52] asimqt opened #220 "Remove unwanted call to the font"
We're calling to the Monteserrat font on this https://github.com/IEEEKeralaSection/rescuekerala/blob/master/templates/base.html#L74 line. remove it since it affects performance.

[2018-08-16 18:52] crsharat opened #221 "Stock Details that we collect from different camps"
A section provide detail information about the items that we collect from different camps
Like how many items are available and what more items are needed in the camps.
In this way we can control the stock items that people are providing to flood affected regions.

The volunteers in the camps update the stock details on the site and we can share this info with other camps and in other districts.

[2018-08-16 18:52] vrthra commented on #212
Perhaps link it with #161? (The database of people at relief camps?)

[2018-08-16 18:52] lunaroyster commented on #198
![image](https://user-images.githubusercontent.com/6189367/44228753-aab4e580-a1b3-11e8-9be7-53a239cf47e4.png)

[2018-08-16 18:53] biswaz commented on #212
keralarescue.in is the most used. It is used by Kerala State IT Mission. But we've come to know some officials are forming their own spreadsheets

[2018-08-16 18:53] naveenpf commented on #219
Cost issues.

[2018-08-16 18:53] #219 closed

[2018-08-16 18:54] biswaz commented on #191
@clasick Like?

[2018-08-16 18:54] jobinlawrance commented on #212
@bobinson check this out https://github.com/google/personfinder/wiki/TermsOfService

[2018-08-16 18:57] ajitsen commented on #219
Issue:
1. Reverse lookup of lat, lon to address not very close to what we can get in Google.
2. A visual google map can be used to pinpoint the location on the map easily.

[2018-08-16 18:57] emamdev commented on #212
The reason I am here because there is no central coordination... that is a big problem. My intention is to make a graphical reporting interface so that intensity of the issues in specific areas can be projected... share that info with all available whatsapp groups , coordinating MLAs, local teams etc,

[2018-08-16 18:57] Neonkraft opened #223 "[Needs Input] Add Malayalam string for Request Maps"
### Subject of the issue
The home page has no Malayalam description for Request Maps

[2018-08-16 18:58] emamdev commented on #212
Now this message is spreading in all WhatsApp groups and organization groups...
"https://google.org/personfinder/2018-kerala-flooding
 Google has launched in partnership with the government to locate those  who need rescue , please share this link or fill it for someone you know needs rescue." If this is fake info, it should be reported to cyber crime

[2018-08-16 18:58] emamdev commented on #212
if it is the right info, we should integrate

[2018-08-16 18:58] answerquest commented on #174
@aswinmohanme thanks, looking it up.
@nishadhka @vigneshhari the JSON data converts very easily into CSV here: https://konklone.io/json/ . One could also make a script to update latest id's at a place. Zapier is a possible tool for that. Suggesting: put on shared spreadsheet for location correction, or put into a CRM so each request can be tracked, etc. I'm focussing on map right now so just putti

[2018-08-16 18:59] kannankumar commented on #212
With the number of requests pouring in at keralarescue.in, we have to ensure they get the attention of rescue officials. [PRIMARY OBJECTIVE]
We need a single source of truth for Central coordination.

[2018-08-16 18:59] Archu-S-M commented on #182
Hi,
To add some performance please use asynchronous task managing systems like CELERY with Django. For form submission and all, So it wont affect the normal traffic.
And must need pagination for RDS queries with LIMIT and OFFSET. I don't know about DB configurations in this, but i think it will help. Thank u and leave it if you have better methods

[2018-08-16 19:00] emamdev commented on #212
last 48 hours I was struggling to dial the numbers circulating in WhatsApp to rescue my family members... all those numbers are not working or busy.

[2018-08-16 19:00] kannankumar commented on #212
To integrate with Google Person Finder, what details does GPF have that helps rescue officials?
It looks like a crowdsourced platform to ask and add information about missing people and if they have been found. Not sure how it would help rescue officials.

[2018-08-16 19:02] vigneshhari commented on #223
Please provide the correct translation and i'll update it

[2018-08-16 19:04] ananthuma commented on #223
maybe സഹായം ലഭിക്കേണ്ട സ്ഥലങ്ങൾ

[2018-08-16 19:07] vigneshhari commented on #223
Will Update ASAP

[2018-08-16 19:07] sajeeshor commented on #223
"സഹായം ലഭിക്കേണ്ട സ്ഥലo " will be  more precise.

[2018-08-16 19:07] irshadshalu opened #225 "Editable GPS Field Causing issues"
### Subject of the issue
As warned, making GPS field as editable is causing havoc as many users are entering random URLs/addresses to the location. Refer the screenshot for more information
![screenshot_2018-08-17-00-30-58-204_com android chrome](https://user-images.githubusercontent.com/8298478/44229408-9b369c00-a1b5-11e8-9e6e-cbbd75a08186.png)
This is caused by  #160

### Steps to reproduce
Open

[2018-08-16 19:07] kannankumar commented on #212
@aswinmohanme and few others are working on a cluster view for the help requests that allows rescue officials to plan and get to severely hit areas.
[https://github.com/aswinmohanme/kerala-flood-map/issues/6
](https://github.com/aswinmohanme/kerala-flood-map/issues/6)

[2018-08-16 19:08] ajitsen commented on #219
Let me figure out a feasible solution. one thing I see is https://support.google.com/crisismaps/?hl=en

As per the policy, they do allow.

[2018-08-16 19:09] jobinlawrance commented on #212
At this point I think crowdsourcing is the only source, even officials are depending on that. It would be really helpful if we can channel it correctly instead of what the media is doing right now. @kannankumar

[2018-08-16 19:09] Neonkraft commented on #223
I'll get this done

[2018-08-16 19:09] biswaz commented on #223
avashymaya is better than labikenda right?

[2018-08-16 19:10] Neonkraft commented on #223
Ok, let's decide on the string first.

[2018-08-16 19:12] emamdev commented on #212
in my opinion ongoing situation in Puthencavu, chengannur, Arattupuzha, mangalam, etc can be solved only with experienced fishermen/Army help and that should be coordinated through the government.
If the govt agreed to use person finder use it. people to people interaction is not helping much for last two days on the rescue operations... (not other aspects...)
There should be enough data to the go

[2018-08-16 19:12] abhaikollara commented on #223
സഹായം ആവശ്യമായ സ്ഥലങ്ങൾ ?

[2018-08-16 19:13] Neonkraft commented on #223
I second സഹായം ആവശ്യമായ സ്ഥലങ്ങൾ

[2018-08-16 19:13] iamvajid commented on #214
Is this possible ? Deepak Ravindran was running a service 55444.in earlier, but seems this not that easy. Is there any APIs ?

[2018-08-16 19:13] bharathramh92 opened #228 "admin end point should be limited to admins"
https://www.keralarescue.in/admin/login/?next=/admin/ is exposed. It should be turned off.

[2018-08-16 19:13] nishadhka commented on #174
Got 1391 rows of data from json file, after making a Kerala state boundary geomerty intersection, 783 rows stayed, imported into Ushahidi, the visualisation is as follows, all the points are not imported, it has issue in bulk import, have to do batch wise batch
![screenshot_2018-08-17_00-35-37](https://user-images.githubusercontent.com/3928997/44229475-cfaa5800-a1b5-11e8-8f6a-003aef1d526c.png), th

[2018-08-16 19:14] abhaikollara commented on #223
Push it, we can always change it later 🤷‍♂️

[2018-08-16 19:14] Archu-S-M commented on #214
https://www.twilio.com/blog/2017/10/how-to-receive-and-respond-to-text-messages-in-python-with-django-and-twilio.html
please check this

[2018-08-16 19:17] ajitsen commented on #225
Currently the code is requesting openmaps to do the reverse lookup.
Could  disabling reverse lookup could be the solution ?

[code]

[2018-08-16 19:17] iamvajid commented on #214
SMS is possible, i was mentioning about USSD service

[2018-08-16 19:17] adamshamsudeen opened #229 "Update for location filter in requests."
![screen shot 2018-08-17 at 12 45 36 am](https://user-images.githubusercontent.com/13180406/44229869-0634a280-a1b7-11e8-9144-c875910e7c04.png)

Search for chalakudy won't show this type of values.
PR : #227

[2018-08-16 19:26] adamshamsudeen commented on #229
@shan-vm  Did a PR with icontains.

[2018-08-16 19:27] iamvajid opened #233 "Current map may cause loading issues very soon"
### Subject of the issue
Current mapping implementation may face bottlenecks if more data comes in. Either we should filter to reduce the data size or put data to tile-based mapping solutions, for eg, cartoDB is a quick one and has free tier. Let me know if you need any help. The map aggregation and heatmap feature will help to identify the intensity and various other visualizations. It wil be rea

[2018-08-16 19:27] irshadshalu commented on #225
No, it will only cause more confusion as layman would not be familiar with concept of GPS co-ordinates. The best way is to

* Implement auto detection when requesting for self.
* Implement Place Picker when requesting for others

#232  disables input if requesting for others which is a temporary fix until a PlacePicker is created.

[2018-08-16 19:29] irshadshalu commented on #225
@naveenpf , please do merge #232 .

[2018-08-16 19:36] Neonkraft commented on #223
Have updated to സഹായം ആവശ്യമായ സ്ഥലങ്ങൾ

[2018-08-16 19:37] shaunthomas999 opened #234 "Store and show date and time of requests"
We need to store date and time when a request is raised. Then show that in request list and also in map. We need it for tracking and providing support.

[2018-08-16 19:39] naveenpf commented on #234
Implementing #20

[2018-08-16 19:39] #234 closed

[2018-08-16 19:43] Neonkraft opened #237 "Need a page with contact info about officers in charge for rescue ops"
There are currently a lot of Whatsapp forwards going about with information about the officers in charge for rescue ops. I don't know about the authenticity of these messages. If there are any trusted sources we can rely on, then we can put up the contact details for the officers on the site.

Here's an example of a Whatsapp forward. I DO NOT KNOW if they're authentic.

![image](https://user-image

[2018-08-16 19:45] jinadcruz commented on #72
There are some previously used disaster management technology options that maybe useful https://sahanafoundation.org/sambro/
https://sahanafoundation.org/pictographs/

[2018-08-16 19:49] rojinphilip commented on #72
Crowed sourced flood map: https://www.microid.in/keralaflood/

[2018-08-16 19:51] vigneshhari commented on #233
we are  trying to reduce the number of pins , we have a different repo for detailed map related queries

[2018-08-16 19:51] vigneshhari commented on #233
https://github.com/aswinmohanme/kerala-flood-map

[2018-08-16 19:52] jinut2 commented on #214
Gupshup provides USSD. https://www.gupshup.io/developer/ent-apis

[2018-08-16 20:05] biswaz commented on #56
Will the library overhead increase bandwidth noticeably?

No promises on implementing

[2018-08-16 20:05] nishadhka commented on #214
Regarding the USSD, here is an description of [using it in crowd sourcing](https://www.ushahidi.com/blog/2013/10/03/ushahidi-via-ussd), I guess this can be ported for Django, the source code is [here](https://github.com/smn/go-ushahidi). Regarding the SMS, [SMSsync](https://github.com/ushahidi/SMSSync/releases) has much simple integration for web services. it is defacto for Ushahidi

[2018-08-16 20:09] imismailpe commented on #223
സഹായം ആവശ്യപെട്ടവരുടെ സ്ഥലങ്ങൾ
സഹായം ആവശ്യപെട്ടവർ
സഹായം വേണ്ട സ്ഥലങ്ങൾ

[2018-08-16 20:09] irshadshalu commented on #225
This is temporarily solved as of now, but a placepicker is of urgent requirement.

[2018-08-16 20:11] ajitsen commented on #233
We might have to show critial ones at zoomed out level

[2018-08-16 20:12] alokbabu commented on #223
സഹായം വേണ്ട സ്ഥലങ്ങൾ please

[2018-08-16 20:12] rabeesh opened #239 "Add a option for multiple phone number"
The power is not available, it can be happen to mobile is switched off for main requestee

### Expected behaviour
First phone will be required field, also user can one more phone number ( optional )

[2018-08-16 20:13] alokbabu commented on #223
സഹായം ആവശ്യമായ സ്ഥലങ്ങൾ. Is anyone on it?

[2018-08-16 20:13] naveenpf commented on #239
Same as #143

[2018-08-16 20:13] #239 closed

[2018-08-16 20:15] tachyons commented on #56
Less than 3kb

[2018-08-16 20:17] iamvajid commented on #233
hi @vigneshhari , reducing the number pins means compromising on the data right ? I have a map on carto which loads in 2-3 seconds with 50k+ data. Tile-based maps seems the way to go, until unless there is a better solution.

[2018-08-16 20:17] itssujeeth commented on #228
turnoff or use honeypot?

[2018-08-16 20:17] biswaz opened #240 "[Discussion] Making sense of the data"
We have the largest dataset of the flood. We should be able analyse it to make a find information like
What kind of needs are more for a district
Where are the most number of rescue requests coming from
Which district have volunteers registered with medical expertise
etc...

[2018-08-16 20:20] Neonkraft opened #242 "Header aligned left in Request Registered page"
The header "Request successfully registered" is not center-aligned in the page.

[2018-08-16 20:23] kishorv06 opened #243 "Integrating Flood Map"
Can we integrate flood map from https://www.microid.in/keralaflood/ ?

[2018-08-16 20:27] R3x commented on #243
This should help us in having Real-time updates on routes for faster and better evacuation process. Also possibly for better transportation inside the state.

[2018-08-16 20:27] Neonkraft commented on #237
My bad. Closing this.

[2018-08-16 20:27] #237 closed

[2018-08-16 20:30] vibhoothiiaanand commented on #243
Also, the google maps also have "Kerala Flood" in areas where it's affected
So if we make that also link in this it will be beneficial for all people in more dynamic way i feel.

[2018-08-16 20:31] aswinmohanme commented on #243
I think we should add it to the header of the existing map ? so users can navigate from there

[2018-08-16 20:31] JikaMarley commented on #173
It would be great if a duplicate request is identified and the already saved details load up, so if a user can add more info and update the request

[2018-08-16 20:31] irshadshalu commented on #240
Wasn't there a CSV export option being developed?.

[2018-08-16 20:33] sajeeshor opened #244 "Requests page - Location field is looking for an exact match of the location value during search"
### Subject of the issue
Location field will return the result only if  it find an exact match in location field. And performing a case sensitive search, this will be difficult unless the person searching knows the exact string entered in the location field. Will be more useful if this can be extended to enable case insensitive like search, this may create some slowness but will be very useful.

#

[2018-08-16 20:33] grsridhar opened #245 "Precise Landmark To reach the place soon"
### Precise Landmark on the Rescue Submission form
Landmark has to be added in precise manner for local volunteers/forces to reach that place as soon as possible.

[2018-08-16 20:33] bharathramh92 commented on #228
turn it off for the production. That is the quick and easy way.

[2018-08-16 20:35] officialshaheer commented on #64
not fixed it yet. :-1:

[2018-08-16 20:38] kevin-madhu commented on #214
What kind of integration are we talking about? If requests are to be filed using SMS/USSD, in my opinion, we can't go for a full-fledged data collection like that in the online version. So, what all information is to be collected? The lesser the better IMHO. But at the same time we should have enough information about the situation.

[2018-08-16 20:38] irshadshalu commented on #244
I think #227 solves this.

[2018-08-16 20:38] akshaya9 commented on #214
[http://wiki.txtnation.com/wiki/Gateway_HTTP_XML#USSD_Messages](url)
This api can be used I think.

[2018-08-16 20:39] biswaz commented on #240
you can find a subset on /data

[2018-08-16 20:39] kannankumar commented on #240
I used the data at https://keralarescue.in/data/ to analyze the data.
Things i tried to answer:
1) Where are most requests coming from?
![image](https://user-images.githubusercontent.com/711743/44233688-36357300-a1c2-11e8-8265-4092a7b0f5ca.png)
2) What kinds of needs are most per district
![image](https://user-images.githubusercontent.com/711743/44233722-4a797000-a1c2-11e8-98e1-ce9a3fa4c042.png)

[2018-08-16 20:39] aashiks commented on #72
The guy who raised the request is the author of that. @arunasank was helping with it
@geohacker  Can you coordinate this in the morning ?

[2018-08-16 20:40] biswaz commented on #240
This is the rescue request subset

[2018-08-16 20:40] hari03 opened #246 "Spotting Highly Important Requests and Alerting Rescue Team heads"
Request for help is being populated from various sources and listed in the site. One major source is this [KeralaFloods2018 FB Page Help Requests Sheet](https://docs.google.com/spreadsheets/d/1sBOM5sZB3M60Jiz-SXw51ZZmlQaOhRyiZiitIcPAr7s/edit#gid=2092866803).

There is a request made by father asking to help his daughter who is suffering from labour pain , few minutes before. We need to append our

[2018-08-16 20:41] biswaz commented on #223
#217 will merge now

[2018-08-16 20:41] #223 closed

[2018-08-16 20:42] Neonkraft commented on #240
How are we planning on filtering out stale data?

[2018-08-16 20:42] kannankumar commented on #240
alright, could you point me to the volunteer details if available?
It would be useful to proportionately map volunteers counts to requests or urge for more volunteers in districts which lack volunteers.

[2018-08-16 20:43] #244 closed

[2018-08-16 20:45] rabeesh commented on #143
PR #152  has one issue in data migration, please fix it.

FYI @JintoAntony

[2018-08-16 20:46] kannankumar commented on #240
Im filtering Requests with "New" status.
As of now, I see only "New" Status in the data.

<img src="https://user-images.githubusercontent.com/711743/44234042-3124f380-a1c3-11e8-8440-9346918f9007.png" width="300px"/>

[2018-08-16 20:51] jobinlawrance commented on #212
Yes thank you, we need to do both actually, both data are little different.

[2018-08-16 20:53] lunaroyster commented on #246
I suggested on slack that we could figure out which help requests are more immediate by voting on them.

One issue is that we've got multiple sources of data for volunteers to deal with. If we could gather all requests made on keralarescue.in, and the spreadsheet you mentioned, we can let people figure out which ones are the most immediate by voting upon them, and notify the rescuers in the area.

[2018-08-16 20:56] irshadshalu commented on #225
L:
If anyone's working on it, preferred workflow would be

**User clicks on the GPS field -> modal opens -> types address -> co-ordinates are stored.**

(Ability to mark the location on map itself would be a plus)

If you're having API restriction issues, Do look into

http://wiki.openstreetmap.org/wiki/Nominatim by Openstreetmap.

[2018-08-16 20:56] #229 closed

[2018-08-16 20:56] grsridhar opened #247 "Capturing the Volunteer Form added with selection for Doctor"
### Capturing the Doctors as a Volunteer
Capturing rescue help team with their professional, Say for example, he/she is a doctor , can volunteer for the group of people in the respective area.

It would be helpful for sending the volunteer for First Aid operations.

[2018-08-16 20:59] pranavashok commented on #20
It might make sense to integrate #246 in this system.

[2018-08-16 21:00] drtechie commented on #225
Not sure if making read only is the ideal solution.
I recieved a request in WhatsApp with location but I couldn't enter the location coordinates.

May be a warning to edit this field only if the user knows what he/she is doing will be better?

[2018-08-16 21:05] irshadshalu commented on #225
Making it readonly is never intended as a working solution, few people are already working on implementing the PlacePicker.

[2018-08-16 21:06] biswaz opened #248 "Requesting for others still sends GPS coords of user"
### Subject of the issue
Selecting requesting for others still sends the current users GPS coordinates to the server

### Steps to reproduce
Goto /requests and select requesting for others. Fill other details and send.

### Expected behaviour
Should not send any gps coordinates

### Actual behaviour
DB will have the gps coordinate of the current user

[2018-08-16 21:07] camaheshv opened #249 "GPS coordinates when request made by third party"
### GPS coordinates option to be enabled when the request is raised by relatives/friends. Latitude,longitude format to be given with validation. (Not directly picking from phone)
This will help to have better mapping of people who got trapped.

As I see, requests are also largely made by relatives from outside Kerala.  They will be able to find coordinates and paste here correctly

[2018-08-16 21:09] irshadshalu commented on #249
#235 addresses the same issue with proposed solution as a placepicker.

[2018-08-16 21:11] lunaroyster commented on #240
There's a problem, and I'm not sure where to write about it. As of right now, there are 2746 requests for help on this: https://keralarescue.in/data/

It's obvious that they are of varying urgency. I'm currently looking through random submissions, and occasionally I find something like this:
![image](https://user-images.githubusercontent.com/6189367/44235168-39caf900-a1c6-11e8-811e-90d4c6310015.pn

[2018-08-16 21:13] visakhsuku opened #250 "add malayalam translation wherever possible"
### Subject of the issue
Describe your issue here.

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happ

[2018-08-16 21:13] #250 closed

[2018-08-16 21:14] visakhsuku opened #251 "add malayalam translation wherever possible for better readability."

[2018-08-16 21:16] irshadshalu commented on #248
Can be solved by

[code]

[2018-08-16 21:16] aniledappal opened #252 "Location Issue"
### Subject of the issue
Capturing wrong location due to auto detection of location settings.
May be the people who needs help they don't have internet access , so others are requesting help for the victims and it is capturing the GPS location of the requestor .

### Expected behaviour
Enable manual and auto deduction of GPS location.

### Actual behaviour
As of now automatically deducting the loc

[2018-08-16 21:25] emamdev commented on #252
I think, this is a major issue. People in different countries are trying to enter the information for their family members it is all over the map..
![image](https://user-images.githubusercontent.com/7717754/44235920-45440300-a179-11e8-991f-5781f17bdda9.png)

[2018-08-16 21:25] rabeesh opened #254 "Allow user to mark as ticket is resolved, so it's easy for rescue team"
### Allow user ( who created the request ) to mark as ticket is resolved, once they are safe zone.

Eg:
1. when user requested for urgent help, and they got escaped by other alternative. Allow user to mark as ticket is "closed",  so it will remove the burden for rescue team.

2. Someone requested for food, they got food from other alternative. Let me mark as ticket as "closed".

[2018-08-16 21:29] visakhsuku commented on #251
table headers of /district-needs, /contactus and /requests views also need translation, but is it necessary?

[2018-08-16 21:29] arjun-pp commented on #212
So a lot of requests are being added in GPF(presently around 8400 records) A lot of requests with lat long being posted there with similar formats. An import of their data with basic deduplication would be beneficial IMO.

[2018-08-16 21:29] hari03 commented on #254
Can be merged with issue #20

[2018-08-16 21:30] emamdev commented on #252
Instead of location, including Address, City (District is already a drop down) can help some extend to map the area without the coordinates. Also, a landmark field can help the rescue process.

[2018-08-16 21:32] hari03 commented on #254
#20

[2018-08-16 21:36] gokulan97 commented on #254
So issue a request ID whenever someone requests something, and another form to close request, which accepts request ID and mobile number, used while issuing the request to close the request?

[2018-08-16 21:38] lunaroyster opened #256 "Crowdsourcing urgency for requests."
There are 2781 (and counting) requests at https://keralarescue.in/data/

Reading through these, it's obvious that some are very urgent. They involve pregnant women, infants, old and ill people.

We need a way to determine the urgency of these requests.

1. We could try looking for keywords like 'Urgent', 'Pregnant', 'Trapped', 'Infant' et cetera, and use those to determine urgency.
2. Another idea

[2018-08-16 21:39] kannankumar commented on #240
1) One way to do Idea 1  automatically would be tokenize the free text strings like "detailRescue" to search for keywords like "Urgent", "Pregnant", "Baby","Elderly", "Medical help", etc and give it a higher priority based on the count of people in those strings.

2) Alternatively, If we have people available to sift through the requests and vote/flag them that would be fine for now. The flag shou

[2018-08-16 21:40] lunaroyster commented on #256
This is perhaps a distraction to have on the same platform. It might make sense to have a separate service to crowdsource urgency, and return the urgency values to rescuekerela.in

I'd love to try building out the urgency system, if it makes sense. Thoughts?

[2018-08-16 21:44] gokulan97 commented on #256
I'm no NLP expert, but think there should be APIs to detect urgencies and can we categorize it accordingly?

[2018-08-16 21:46] kannankumar commented on #240
Hourly breakdown of requests coming in from different districts gives an idea of where situation got worse first or is getting worse.
<img src="https://user-images.githubusercontent.com/711743/44236761-bdd3af80-a1cb-11e8-920b-7942aaf3ec51.png" width="700px"/>

[2018-08-16 21:46] rabeesh commented on #254
@gokulan97

Yeah something like that. We have currently around 15000 request in the database. So you can close the request ID or mobile number would be helpful for rescue team.

Also we need to "information  text" on request form page about this.

[2018-08-16 21:47] gvmani commented on #252
Looks like related to #248

[2018-08-16 21:48] SaifurRahmanMohsin commented on #256
Yep. Dumping the data in a single end point isn't the best practice. As more data enters this will take a hit on the app.

[2018-08-16 21:49] lunaroyster commented on #256
I feel the data is somewhat chaotic:
![image](https://user-images.githubusercontent.com/6189367/44236843-09865900-a1cc-11e8-80a0-e22a2b4d22e6.png)

Some of it is in Malayalam, and I'm not sure how useful NLP APIs are for regional languages.

I think it'd make sense for humans to do it.

[2018-08-16 21:52] a-thomas-ny commented on #248
What about existing data. Anyway to cleat outside Kerala coordinates?

[2018-08-16 21:52] hari03 commented on #256
If NLP approach is taken, then malayalam should be translated to english using Google Translate APIs before it can be processed to identify keywords.

[2018-08-16 21:54] gokulan97 commented on #256
One min, using sentiment analysis, as for what I've tried, everything is categorized as negative. Not sure if we;ll be able to filter out urgent ones.

[2018-08-16 21:56] itssujeeth commented on #256
+1 for people based solution; as matured application of translation and nlp based classification can take time.

[2018-08-16 21:57] camaheshv commented on #256
Rescue requests to have first priority, over other requirements, especially in night times... Crowdsourcing appears to be a good idea to rank based on prority.

[2018-08-16 21:58] hari03 commented on #246
Linking this issue with #256 and closing this issue.

[2018-08-16 22:09] gvmani opened #257 "Removing Duplicate records"
### Subject of the issue
Duplicate Records
![image](https://user-images.githubusercontent.com/920089/44237689-148eb880-a1cf-11e8-9bf9-2244a5d3eaad.png)

### Expected behaviour
Should not have duplicate records

### Actual behaviour
Duplicate requests exist

[2018-08-16 22:09] bobinv001 commented on #248
Tested it locally by ticking and unticking the "id_is_request_for_others" field, can confirm that the inputs are cleared

[2018-08-16 22:13] lunaroyster commented on #256
@gokulan97 Yeah, I feared the same. NLP solutions will take a while.

So I've started working on a site for crowdsourcing urgency. It'll use data from keralarescue.in/data, but I'll make sure to use a cache so I don't burden the site receiving heavy traffic.

[2018-08-16 22:18] adamshamsudeen commented on #256
Can I get more keywords like this 'Urgent', 'Pregnant', 'Trapped', 'Infant' ? I'm working on something

[2018-08-16 22:22] bobinv001 opened #259 "Duplicated jquery import"
### Duplicated Jquery import

Jquery package seems to be imported again in the request_form.html file. It is included already as part of the base.html

[2018-08-16 22:28] bobinv001 opened #260 "Sprite for logos"
### Logo sprite
We can save KBs by using sprite for the logos,
kerala-government.jpg,
it-mission.png,
ieeelogo.png.

### Expected behaviour
Use single logos sprite

### Actual behaviour
Multiple image HTTP calls made

[2018-08-16 22:34] Neonkraft opened #261 "Users who are requesting on behalf of others should be able to pick the location on the map"
As of now, users who request on behalf of others have no way of picking the location. Considering that there is shortage of electricity everywhere now, it makes sense to give this feature to allow non-resident keralites the ability to mark their family/friends who are in need of help.

[2018-08-16 22:34] bodhish commented on #256
Add a new flag `Extremely Urgent`
Give the description as `Only for sick and ..., ... , ...`

[2018-08-16 22:36] gokulan97 commented on #254
I have zero prior experience in Django, it's taking some time for me. If anyone has expertise, please take this forward.

[2018-08-16 22:37] xaneem commented on #161
Please refer #262. It has to be thoroughly tested and reviewed.

[2018-08-16 22:38] bobinv001 opened #263 "Enable gzip compression"
### Enable gzip compression
It reduces the time it takes for a website to transfer the page files and style sheets which ultimately reduces the load time of the website.

[2018-08-16 22:43] #263 closed

[2018-08-16 22:44] bobinv001 commented on #263
Current compression is Brotli and according to Google it is better than Gzip

[2018-08-16 22:47] lunaroyster commented on #256
Alright. Some details:

I'm using firebase's firestore to quickly get this up. My data looks like this:

requests/[request id*]/{reports:[]}

* (same as the id from data)

A report can be a value from 0 to 3, and -1, where 0 is not urgent, and 3 is very urgent. -1 is for spam. I'm saving firestore data by being super brief.

I expect to get several reports per request (Perhaps bias towards new req

[2018-08-16 22:57] anandkp92 opened #264 "Cannot include GPS coordinates"
### Subject of the issue
Cannnot include GPS Coordinates and GPS accuracy

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

MAC OS/Firefox

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

Go the the website https://keralarescue.in/request/ and try to add GPS coordin

[2018-08-16 23:18] aniledappal commented on #264
Looks like related to #248

[2018-08-16 23:19] aniledappal commented on #261
Looks like related to #248

[2018-08-16 23:26] atmb4u commented on #256
Guys - Quick update here on the ```geolocation deduplication```
**NB: Please use the below logic to implement deduplication of requests based on location**

[code]

Its implemented in scala Spark.

This is how it would look in a python context (not as efficient as the above one, but works for 1-to-1 cases

[code]

**Results**

On the sample set given
Total request count - `2842`
Matched to a forma

[2018-08-16 23:28] ashwinkjoseph commented on #225
This should be fixed in PR #266

[2018-08-16 23:28] anandkp92 commented on #264
Ok. closing this issue then

[2018-08-16 23:28] #264 closed

[2018-08-16 23:46] ragsagar commented on #63
I am adding some tests for views

[2018-08-17 00:03] xaneem commented on #161
Would love some feedback.

Home
<img width="1012" alt="screen shot 2018-08-17 at 05 25 25" src="https://user-images.githubusercontent.com/4448331/44240971-a05c1100-a1de-11e8-9d49-1c67bfa7f170.png">

List of Relief Camps
<img width="1181" alt="screen shot 2018-08-17 at 05 28 42" src="https://user-images.githubusercontent.com/4448331/44240977-a6ea8880-a1de-11e8-8b74-f5fcc28a4234.png">

Person Regist

[2018-08-17 00:18] naveenpf commented on #246
Closing this now.

[2018-08-17 00:18] #246 closed

[2018-08-17 00:22] #259 closed, assigned to nobody

[2018-08-17 00:27] naveenpf commented on #261
already discussed.

[2018-08-17 00:27] #261 closed

[2018-08-17 00:28] naveenpf commented on #249
Same as #248

[2018-08-17 00:28] #249 closed

[2018-08-17 00:28] naveenpf commented on #252
Same as #248

[2018-08-17 00:28] #252 closed

[2018-08-17 00:28] nazeeronline opened #269 "Performance Optimization for Django App"
### Subject of the issue
Performance Optimization and Caching

For your project please implement HAProxy(Load Balancer) + Varnish (caching) so that the load is balanced and the application never caches as the major access pages of content will be served from the Varnish cache.

Ref : https://blog.disqus.com/scaling-django-to-8-billion-page-views

[2018-08-17 00:33] JayadeepSasikumar commented on #218
Hi. There are no ForeignKeys used as of now in models.py. Are you suggesting changing the models as well? District seems to be an obvious candidate to be made a model and be pointed to from all the existing models. Would be more than glad to help out.

[2018-08-17 00:39] anandkp92 commented on #240
Adding the code and the csv files for "Urgent", "Pregnant", "Baby","Elderly","medic".

[separated-based-on-urgent-pregnant-etc.zip](https://github.com/IEEEKeralaSection/rescuekerala/files/2295625/separated-based-on-urgent-pregnant-etc.zip)

[2018-08-17 00:44] anandkp92 commented on #256
I have a basic script that separates requests based on the following strings
"Urgent", "Pregnant", "Baby","Elderly","medic".

Attaching the code and the csv files for the same.

[separated-based-on-urgent-pregnant-etc.zip](https://github.com/IEEEKeralaSection/rescuekerala/files/2295630/separated-based-on-urgent-pregnant-etc.zip)

Let me know if you need me to modify the code or add it else where.

[2018-08-17 00:45] sanpra1989 opened #270 "Add Mahe as a district"
### Subject of the issue
I am guessing Mahe is also affected.

[2018-08-17 00:46] naveenpf commented on #243
Is there any pull request for this now ?

[2018-08-17 00:46] naveenpf commented on #270
Are you planning work on this ?

[2018-08-17 00:47] naveenpf commented on #269
Closing this now. Now under control

[2018-08-17 00:47] #269 closed

[2018-08-17 00:47] anandkp92 opened #271 "Allow international numbers too."
### Subject of the issue
People from outside Kerala are adding info of their relatives and friends. Currently ISD codes aren't allowed. Make a separate textbox for adding that.

under Requestee Phone, add one more data field: ISD Code and keep +91 as default.

[2018-08-17 00:50] naveenpf commented on #271
Anyone planning to take up ?

[2018-08-17 00:54] sanpra1989 opened #272 "Search should be robust to handle different spellings of malayalam words"
### Subject of the issue
Malayalam words may often be spelled in different ways, meenakshi/minakshi, Aaluva/aluva, etc.

A quick hacky solution is to define some simple variants that cover common alternative spellings.

[2018-08-17 00:55] naveenpf commented on #272
help required

[2018-08-17 00:56] ajitsen commented on #272
I can take this up,  how is this implemented now, I was planning to setup a Solr instance on AWS.

[2018-08-17 01:03] lunaroyster commented on #256
Should newer requests be prioritized over older ones?

[2018-08-17 01:08] SaifurRahmanMohsin commented on #256
@lunaroyster The earlier ones would be in more trouble since they are stuck in their situation for a longer time without it being resolved, which reduces their chance percentage should they be in severe trouble. When this is all over, we'll get together and watch I, Robot and I'll show you the "Save the girl" scene to explain what I mean.

[2018-08-17 01:12] sanpra1989 commented on #270
I am unfamiliar with Django unfortunately, I think I'll be of better help testing.

[2018-08-17 01:18] Kavit900 commented on #270
I think, it's something we need to add in the database right ?

[2018-08-17 01:20] naveenpf opened #275 "Need csv for urgent issues in dmodashboad"
### Subject of the issue
Need csv for urgent issues in dmodashboad

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
T

[2018-08-17 01:21] naveenpf opened #276 "Api endpoint"
### Subject of the issue
Api endpoint

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happens instead o

[2018-08-17 01:27] #271 closed

[2018-08-17 01:28] naveenpf commented on #276
#273

[2018-08-17 01:41] naveenpf commented on #210
We need details on how the requests are handled and how volunteers can help

[2018-08-17 01:42] msrajesh commented on #240
Could see  duplicate  in the above csv .  Is   the duplicate  requests  handled manually  by  the rescue team ?

[2018-08-17 01:50] bodhish commented on #270
Done, Opening a PR

[2018-08-17 01:52] naveenpf commented on #210
Action on Santhosh @ IT Mission

[2018-08-17 01:53] adamshamsudeen commented on #256
I have written a script to fetch and prioritize things:
 https://github.com/adamshamsudeen/Kerala-flood-priority
Priority cases after running on /data https://docs.google.com/spreadsheets/d/1QF1H5g7kXiZSGzal9zNYdreY_kqEuOBakkqlBmWJ_hs/edit?usp=sharing

[2018-08-17 02:08] josecherian commented on #256
@adamshamsudeen , I think paralysed, paralyzed   should be  in urgency vocabulary as well. Saw many requests mentioning this.

[2018-08-17 02:11] msrshahrukh100 commented on #225
is anyone working on adding a place picker? - I can add this one - https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete

[2018-08-17 02:28] naveenpf opened #279 "[Intertnal]Need a page for announcement from homepage"
### Subject of the issue
Need a page for announcement from homepage

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour

[2018-08-17 02:41] bobinson commented on #248
I haven't tested this but, something like the following is apt.

We should not be disabling the GPS when someone else is entering the data. We should just prevent it from fetching the current location. This is because in multiple cases we are getting GPS locations of people to be rescued.

![image](https://user-images.githubusercontent.com/18070249/44245138-ede37880-a1f4-11e8-94fd-807ffbb3df80.png

[2018-08-17 02:46] bobinson commented on #225
please check #248 as well.

[2018-08-17 02:51] bobinson commented on #248
#236 #232  - there are multiple fixes.

[2018-08-17 03:05] vinyasmusic commented on #245
Will adding a Landmark field to the request form do the trick ?

[2018-08-17 03:10] zahlekhan commented on #216
https://getbootstrap.com/docs/3.3/customize/
This allows you to remove certain components from BS. Downside is we need to host it.

[2018-08-17 03:24] imatefx opened #280 "Use a simple webpage to get location at high accuracy from mobile device"
### Subject of the issue
User has to just open the link and their location will be reterived at high accuracy , they can select some options,
select box with range for number of people with them
check box for
1. Pregnant People
2. Children below 5
etc..

https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/getCurrentPosition

### Your environment
* version of your python
* which browser an

[2018-08-17 03:26] bobinson commented on #280
addressed in  Please take a look at the PR #266

if possible please test the PR

[2018-08-17 03:27] actuallyKasi opened #281 "Error trace shown on homepage"
### Subject of the issue
Error trace shown on homepage

### Your environment
* Chrome
* Mac OS
### Steps to reproduce
Can't reproduce

### Expected behaviour

### Actual behaviour
PFA
<img width="1661" alt="screen shot 2018-08-17 at 11 24 23 am" src="https://user-images.githubusercontent.com/5820155/44246361-70c5fc80-a210-11e8-8c6f-53f0f9ba78a8.png">

[2018-08-17 03:30] tachyons commented on #281
Wait, a PHP app mapped to this domain ?

[2018-08-17 03:30] imatefx commented on #280
ok closing as it is a duplicate

[2018-08-17 03:30] #280 closed

[2018-08-17 03:34] PSNAppz commented on #220
#282 Fixes this

[2018-08-17 03:36] cibingeorge opened #284 "Database performance tuning"
### Subject of the issue
Database queries are not optimized.

- There are a lot of queries which are jst select * on table.. they need some sort of server side pagenation
- some of them do ORDER BY dateadded DESC.. i cldnt see indexes on the dateadded.. so we cld change them to do order by id desc
or create index on dateadded desc
- https://keralarescue.in/contactus/?district=<district> for eg is

[2018-08-17 03:38] theryecatcher commented on #279
Could you verify if this is what's required.

Main Page

![image](https://user-images.githubusercontent.com/16442416/44246645-38410700-a1ad-11e8-8d8f-4ce9e460dbca.png)

Announcements are maintained in the database so that they can be updated in the backend.
The announcements page

![image](https://user-images.githubusercontent.com/16442416/44246681-6de5f000-a1ad-11e8-8dbc-0a0ff5ddf766.png)

[2018-08-17 03:43] PSNAppz commented on #279
@theryecatcher The main page looks good. No need to put announcements inside a table. You can put the heading as the link and when we click on it, the announcement expands to show the rest of the content.

[2018-08-17 03:44] itssujeeth commented on #279
Announcements can be shown similar to blog-summaries

[2018-08-17 03:47] PSNAppz commented on #281
@actuallyKasi This is not the actual domain of this app.

https://www.keralarescue.in is the right domain.

[2018-08-17 03:48] answerquest commented on #225
suggestion for the location picker : Do like ola/uber. Keep a crosshairs/marker fixed, centered over the map. Take the map's center as the lat-long.User only has to move the map around and position it below the marker/crosshairs. Much easier to use on mobiles.

[2018-08-17 03:50] theryecatcher commented on #279
@PSNAppz Thanks will look into the collapsible part. The idea of a table was to avoid editing the page for each new entry of and when they are to be added.

[2018-08-17 04:00] namboodiri commented on #279
I think @PSNAppz was talking about the front-end table.
The backend table should stay.

[2018-08-17 04:00] rparjun commented on #281
@actuallyKasi  Please close this PR.

[2018-08-17 04:01] mojogeorge commented on #279
Yes, I believe.

[2018-08-17 04:05] labtocat opened #286 "`/contactus/`info column phone number overlaps email"
### Steps to reproduce
`https://keralarescue.in/contactus/?district=ekm`
![screen shot 2018-08-17 at 9 30 49 am](https://user-images.githubusercontent.com/2720972/44247280-dca06900-a200-11e8-8156-5c1658f9f935.png)

[2018-08-17 04:06] labtocat commented on #286
Please provide a db dump.

[2018-08-17 04:07] actuallyKasi opened #287 "IMP: Tweak CF CDN and fix redirects for speed"
**Issue 1: HTML is not cached**
fetching HTML doc alone take ~1s (location SG) and it is because CF cache by default contents with extensions like .html.

<img width="775" alt="screen shot 2018-08-17 at 11 54 08 am" src="https://user-images.githubusercontent.com/5820155/44247181-1d09e200-a215-11e8-9f9b-9e6d508ce4ee.png">

**FIx: Create page rule to cache everything**
Follow this guide >> https://s

[2018-08-17 04:07] binu456m commented on #279
Annoucements can show as Headlines in the top of the Page. we can show as moving one (sliders) - from Left to right

[2018-08-17 04:08] msrajesh opened #288 "NGO LIst , supplies received , supply distribution pattern ( district wise ) , relief camp wise requirements"
### Subject of the issue
List  of the NGOs ,
inventory   received item wise by NGOs
districts  at  which  they (NGOs) distribute .

Requirement   of supplies  in each district ( rough  #  of camps ,  #  persons )

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please pr

[2018-08-17 04:08] bobinson commented on #284
#165 - adding for reference.

[2018-08-17 04:11] bobinson commented on #225
will be fixed with #266

[2018-08-17 04:12] bobinson commented on #288
can be considered as part of #20

[2018-08-17 04:15] PSNAppz commented on #279
@namboodiri Yes, I was talking about the front-end only.

[2018-08-17 04:16] bobinson commented on #287
@actuallyKasi - please submit a PR ( https://help.github.com/articles/about-pull-requests/)

[2018-08-17 04:30] naveenpf commented on #161
Change Relief Camps to Camp Name

[2018-08-17 04:31] irshadshalu commented on #125
Someone look into both #266 and #286. One of these should be selected based on usability and after testing and merged sooner.

[2018-08-17 04:31] #161 closed

[2018-08-17 04:34] #288 closed

[2018-08-17 04:37] jishnunand commented on #279
can't implement this as CMS??? data in the front-end keeps moving as a slider?

[2018-08-17 04:37] actuallyKasi commented on #287
Also note that issue 1 can be fixed by someone with Cloudflare control panel access.

[2018-08-17 04:40] answerquest commented on #233
Can change to using leaflet's circleMarker (SVG) instead of the traditional icon, then you can have as many markers as you want. See: https://github.com/aswinmohanme/kerala-flood-map/issues/10#issuecomment-413660368 (pls ignore my first post there, was saying divicon by mistake) . I've shared snippets of how to make it work in vanilla leaflet js. I can't get my head around the react-leaflet framew

[2018-08-17 04:41] jishnunand commented on #270
@naveenpf seems PR open for this. Need any help other this?

[2018-08-17 04:41] ajitsen opened #290 "Provide a easy search interface for Rescue Data"
### Subject of the issue
Provide advanced search on Rescue data using Solr.

### Your environment
SOLR on  AWS

### Steps to reproduce

### Expected behaviour
![selection_098](https://user-images.githubusercontent.com/1100651/44247960-7d912300-a205-11e8-8b7e-3d5c06b0aa0e.png)

### Actual behaviour
![selection_099](https://user-images.githubusercontent.com/1100651/44248026-d2349e00-a205-11e8-9491-b

[2018-08-17 04:43] bobinson commented on #20
## Ticketing System - Usecases

1. UA1: How to prioritise requets ?
2. UB1: How to get geo-location?
3. UB3: How to track a request is handled ?
4. UA2: We need to avoid duplicate requests -- this is an important issue as people requesting help are requesting help via multiple methods using social media, whatsapp etc as well via TV/Radio channels etc. This creates dupicate requests.
5. UA3: Schedu

[2018-08-17 04:44] mevinbabuc commented on #125
@alokbabu works great on mobile!

[2018-08-17 04:46] bobinson commented on #290
@ajitsen - will you be able to submit a PR ? We first need to take care of the db though. Check slack.

[2018-08-17 04:50] gauthams09 commented on #290
It would be a nice addition unless it doesnt have much load on db. Pls keep in mind the scale of data we are having while adding any new features. Also test it for mobile. we have users on both mobile n desktop

[2018-08-17 04:50] aswinmohanme commented on #233
Currently we have a production build waiting merge with MarkerCluster and client side filtering, it has improved the performance very much, and when the circle marker fix lands it would improve

[2018-08-17 04:53] theryecatcher commented on #279
Yes a ticker seems to be a better option connected with the backend table. Am trying to implement that right now let me know if anyone else wants to take it up if they can do it faster.

[2018-08-17 04:56] rjdp commented on #284
Have you guys tried Varnish? I can help. https://buggydebugger.com/2017/03/05/configuring-varnish-django-nginx/

[2018-08-17 04:57] ajitsen commented on #290
Sure, planning to fetch data from db say after every 15mins. and All search queries this can handle

[2018-08-17 04:58] gauthams09 commented on #279
May I know who all are working on this currently? Is there any PR currently raised? This would be a really good feature addition. Also, test it on mobile also guys, you can use chrome dev tools for this

[2018-08-17 04:58] rjdp commented on #284
currently using Heroku for hosting right ? I dont think heroku has it.

[2018-08-17 04:59] galahad commented on #212
I think this is a great idea.

[2018-08-17 05:02] theryecatcher commented on #279
I am trying to implement a ticker feed to the homepage.

[2018-08-17 05:08] rjdp commented on #284
https://devcenter.heroku.com/articles/django-memcache , thoughts ?

[2018-08-17 05:09] rjdp commented on #284
https://devcenter.heroku.com/articles/django-memcache , Thoughts?

[2018-08-17 05:10] shintojoseph1234 opened #293 "Map location data is wrong"
### Subject of the issue
some of the location is showing in not correct places
the filtering parameter is causing the issue.  some of the district data is in malayalam.

[2018-08-17 05:17] yeaske commented on #284
Since the target data is relatively smaller, the easier option is to set up a local memory cache backend rather than a memcached backend. Or at least until someone can set up a memcached one, this will provide comparatively efficient caching for static content. Thougths?

[2018-08-17 05:18] vaishnavsm commented on #287
PR for (2) made at pull #294

Admins, please fix (1)

[2018-08-17 05:18] naveenpf commented on #120
closing now

[2018-08-17 05:18] #120 closed

[2018-08-17 05:18] naveenpf commented on #293
taking off feature now

[2018-08-17 05:18] #293 closed

[2018-08-17 05:27] gladiatorvarg commented on #181
@nirmalvp is this not expected behaviour? If close button is clicked, then it probably means they are registering for someone else. we need to provide an interface to those people to enter GPS coordinates.

[2018-08-17 05:29] asimqt commented on #216
@irshadshalu Since this is a small site, rewriting CSS is not a very big task, I think. I'll try to work on it. Caching will only help repetitive visitors, not new visitors. (The small increase in total weight of the site affects the UX marginally since most of them will use 3G/4G in Kerala with a mobile phone.)
If someone has time, working on this will have its own advantage. I looked at the code

[2018-08-17 05:31] naharp opened #295 "Map: unresponsive due to too much data"
Problem (https://keralarescue.in/map):
As of now 4k+ request data points are directly displayed on map which renders the map unresponsive and unusable.

Solution:
Adding filters to constrain the request by time, district and requirement.

[2018-08-17 05:32] naharp commented on #295
working on this issue

[2018-08-17 05:34] rjdp commented on #284
@yeaske local memory us fine I think, but needs to be profiled that its fills the performance issue else use memcached

[2018-08-17 05:37] gvmani commented on #290
@ajitsen if you are planning to schedule and fetch data, why don't we dump it in S3 so other apps can alos make use of it.

[2018-08-17 05:38] shajith commented on #20
Talked this through with @naveenfrancis in slack, this is the current requirements/plan:

Requirements: volunteers need to be able to update the status of a request, to indicate if it's being handled or already handled.

Plan:

1. Add a descriptive request ID to the request (Eg: EKM1234)
2. Add a page that accepts a request ID and allows looking up and updating the status of that request. Collect

[2018-08-17 05:42] rjdp commented on #275
where is the specification of this issue/task ?

[2018-08-17 05:44] bobinson commented on #290
giving an option to search for emergencies like medical emergency can be helpful @ajitsen

[2018-08-17 05:51] gvmani opened #297 "Request List : Columns needs to be wrapped"
### Subject of the issue
Columns is not getting wrapped, not fitting in one view

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.
![image](https://user-images.githubusercontent.com/920089/44249876-8d156980-a20f-11e8-8f

[2018-08-17 05:51] kennethbp commented on #119
Would definitely work. Are the maps down though?

[2018-08-17 05:55] kennethbp commented on #295
The page has been pulled ?

[2018-08-17 05:57] bobinson commented on #284
db is on AWS. I believe @biswaz and @cibingeorge  are taking care of it.

Lets keep this thread clean as this is taken care of.

[2018-08-17 05:58] bobinson commented on #287
@naveenpf   - #294  can be merged.

[2018-08-17 06:04] bobinson commented on #279
We need the home page to load really fast - so no JS etc please.

[2018-08-17 06:09] #281 closed

[2018-08-17 06:09] kannankumar commented on #240
@anandkp92 - I had a look at your notebook. It works well to give a filtered list based on category.However count of people in a single msg is also an important information that I feel determines urgency.
(Eg - A hospital near Aluva with 26 Bed ridden  patients, 15 kids, and 20 nuns)

Idea: We can flag urgency based on category(Adults, Kids, Elderly, etc) and Counts of people.

Parsing the detailr

[2018-08-17 06:09] theryecatcher commented on #279
I have submitted a PR [#296](https://github.com/IEEEKeralaSection/rescuekerala/pull/296) with the basic infra. Would need to populate the DB though with the links.

[2018-08-17 06:11] bobinson commented on #279
Anurag [11:41 AM]
Working on it.

[2018-08-17 06:15] ajitsen commented on #290
Thanks for chiming in.

sure,  getting json to csv first.
then shema of solr
then ui update to new data.

[2018-08-17 06:20] camaheshv opened #300 "a database for relief camp location is required for volunteer mobilisation"
Unable to locate any database across internet where we can find details of relief camps opened.  can we have a database for that ?

A bare minimum requirement is address of the Camp and estimated number of people sheltered there..

[2018-08-17 06:27] anuragashok000 commented on #279
@cyberjithu working on this now.

[2018-08-17 06:27] #132 closed

[2018-08-17 06:34] vabhijith02 commented on #286
Is DB dump available ?

[2018-08-17 06:39] MansoorMajeed commented on #287
@biswaz Can you ask someone with Cloudflare access to setup html caching? That can save a lot in terms of latency

[2018-08-17 06:41] Augustine-Charly opened #302 "Sort help request list based on distance."
I think it'd be easier for volunteers to attend a help request if they can sort the list of help requests based on distance from them. That means nearest help request goes to top of the list.

[2018-08-17 06:42] vabhijith02 opened #303 "Tick Marking needed for Completed Requests with Updates"
A Lot of Requests are in the list.
Don't know whether it was succesfully solved or Not.
So better to keep a track on that.

[2018-08-17 06:42] irshadshalu commented on #225
Automatic location picking is already done in #29 and is still supported in #289. If possible, test and verify #289 for faster merging.

[2018-08-17 06:43] iamsreeju opened #304 "Manually adding gps cordinates not working"
### Subject of the issue
Describe your issue here.
I tried the portal to register for rescuing my parents and relatives stuck in first floor. They don't have network, only incoming works. Portal supposed to allow adding their coordinates instead of mine. It tries to read mine and set it into readonly field. Then I had to open same in desktop and add cordinates by removing readonly attribute by usi

[2018-08-17 06:46] irshadshalu commented on #304
Same as #225 . Solved in #289 . Will be merged soon after testing!

[2018-08-17 06:46] ajaykanayil opened #305 "Implement a filter system according to type of need."
**Expected behaviour**

Help requests can be filtered by the needs/ or combination of needs

Check the image below... Something like this will be helpful...
Thank you.

![artboard](https://user-images.githubusercontent.com/7960725/44251729-0d8b9880-a217-11e8-8552-4401230fc6d0.png)

[2018-08-17 06:48] zahlekhan commented on #302
The map has a near me sorting option.

[2018-08-17 06:49] ajaykanayil commented on #305
Filter status:

![artboard copy](https://user-images.githubusercontent.com/7960725/44251885-bdf99c80-a217-11e8-901b-75988c90a947.png)

[2018-08-17 06:50] sravan-s commented on #295
Also its wiser to show  heat map when user is too far away view and show the individual points later, as the user zooms in

[2018-08-17 06:53] naveenpf commented on #303
Same as #20
join #ticketingsystem slack channel

[2018-08-17 06:53] #303 closed

[2018-08-17 06:53] zahlekhan commented on #303
Issue #20

[2018-08-17 06:53] indrajith23 opened #307 "remove the "more details " button"
### Subject of the issue
1. we can' t see the problem directly.  its consumes more time and work.....  show that directly with out opening in a new window.

2 while rescue option is used in the request form, blank data is getting in the request output.
please solve that bug

[2018-08-17 06:59] MansoorMajeed opened #308 "How will we deal with potential misuse of personal information"
### Subject of the issue
The site is filled with personal information including address, phone number etc. We need to seriously think about how we will prevent the misuse of these information. Right now it is accessible to anyone.

We can only hope that no one will misuse this, but that won't be the reality

[2018-08-17 07:01] bobinson opened #309 "DB indexing needed"
1. we need indexes to optimize the query behind this: https://keralarescue.in/requests/?district=&requestee__icontains=&requestee_phone=&location__icontains= (edited)

2. Hide a certain URL

3. Pagination

[2018-08-17 07:02] answerquest commented on #225
Hi I've made a simple location picker / placepicker on ola/uber model : move the map, the marker is in the center. I don't think I can build a PR for this as I don't understand the rest of the code and how to push mine in.
Live: https://answerquest.github.io/leaflet-center-location-picker.html
Code: https://github.com/answerquest/answerquest.github.io/blob/master/leaflet-center-location-picker.htm

[2018-08-17 07:05] ashwinkjoseph commented on #225
@answerquest I have made the changes you requested in #266  itself, it behaves like how you described here now, the marker moves with center of the map

[2018-08-17 07:06] sachu92 commented on #309
#290 will take care of indexing?

[2018-08-17 07:06] answerquest commented on #225
@ashwinkjoseph that's great! Thanks!

[2018-08-17 07:09] bobinson commented on #309
no  - its search index. not table index.

[2018-08-17 07:10] ashwinkjoseph commented on #295
Hi, I'd like to work on the flood map, but the javascript for it has been minified. Could you please add me to the loop for map? which APIs are you guys using?

[2018-08-17 07:12] ashwinkjoseph commented on #286
@jishnunand while what you mentioned is true, I think that the author of this issue meant was talking about the two columns overlapping on mobile

[2018-08-17 07:13] remedcu commented on #286
I just wrote a simple solution for the problem by changing the "Email" label to "Other Contacts" as well as adding malayalam translation for the same.

[2018-08-17 07:13] galahad opened #311 "mechanism to sort the requests by rescuerequests, foodrequests, medicalrequests etc"
mechanism to sort the requests by rescuerequests, foodrequests, medicalrequests etc

### Expected behaviour
Rescue requests could be tagged with tags to indicate what type of requests we are looking for. Are you looking to be rescued 2. Are you looking for food 3. Are you looking for supplies. etc. This way
Rescue operators could prepare themselves when reaching out.

[2018-08-17 07:15] ashwinkjoseph commented on #248
Guys can you take a look at #266

[2018-08-17 07:16] ashwinkjoseph commented on #248
@bobinson this is exactly whats being done in #266

[2018-08-17 07:19] bobinson commented on #225
need to test #266 : please test and report so that this can be merged.

[2018-08-17 07:23] galahad opened #312 "Mobile app for rescue operators"
Mobile app for rescue operators

### Expected behaviour
Have a mobile application that rescue operators could use for
1. finding people to be rescued nearest them
2. finding resources needed for people nearest them

[2018-08-17 07:27] galahad opened #313 "Mobile app for people to be rescued"
Mobile application for people to be rescued

## Expected behaviour
1. Quickly post rescue request
2. Post what supplies are needed
3. Find out the status of rescue - how far, how much time
4. Find out if there are any new warnings - more water coming etc.

[2018-08-17 07:30] sanjuwdr opened #314 "Most of the latest requests had no summary."
### Subject of the issue
Describe your issue here.
Most of the latest requests I checked was blank. We should do something to verify the details and to validate the data entered.

@biswaz @naveenpf

check these requests
https://keralarescue.in/request_details/20097/
https://keralarescue.in/request_details/19552/
https://keralarescue.in/request_details/18967/
https://keralarescue.in/request_details

[2018-08-17 07:30] var23rav commented on #307
Can you share the screenshot, for more clarity.

[2018-08-17 07:32] sanjuwdr commented on #313
We can work on that. The website should provide APIs.

[2018-08-17 07:34] RevathiKannanGithub commented on #312
Hi, there is an official mobile app released at the latest. Are we thinking about integrating it?

https://twitter.com/drthomasisaac/status/1030188799089725440

[2018-08-17 07:37] bobinson commented on #313
We need to a wait bit as db needs to be tuned. Refer #309

[2018-08-17 07:38] biswaz commented on #279
Need internal review @naveenpf

[2018-08-17 07:38] iamakidilam commented on #286
@ashwinkjoseph The columns aren't overlapping on mobile as far as I've tested.
![keralarescue in_contactus__district ekm iphone 5_se](https://user-images.githubusercontent.com/17932700/44253856-91954e80-a21e-11e8-9fb6-6938031613a1.png)

Issue is with the DB I think.

[2018-08-17 07:39] rasinansar commented on #308
Wouldn't that slow down the rescue operations?

[2018-08-17 07:39] bobinson commented on #279
@biswaz also from @vigneshhari

I am skeptical about the db change involved. Please make sure that  the changes are not major.

Also the PR is under testing

[2018-08-17 07:44] harisankarh commented on #309
@bobinson  is the table schema available somewhere?

[2018-08-17 07:47] indrajith23 opened #316 "need an option to remove/ edit successful rescue works"
### A button for modify the request

1 to edit  or change or remove their request

2 mark a status as completed or still waiting .. etc.

[2018-08-17 07:48] var23rav opened #317 "New: Check whether someone has been rescued !"
1. Provide a feature to check on people whether they have been rescued or not !
Kind of people register books.
It will help to avoid duplicate request.

2. And if possible **add status to the request**, whether its already been taken care of.
eg: Resolved, Under Process, Yet to taken care of

[2018-08-17 07:48] MansoorMajeed commented on #308
@rasinansar We need to think it through. How to handle it without slowing down the rescue operation

[2018-08-17 07:49] faisalnksaif opened #318 "Need an option to delete/report spam"
### Subject of the issue
When I went through the requests, I faced that there are lot of spam requests

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is it suppose

[2018-08-17 07:52] #286 closed

[2018-08-17 07:52] godwinjoseph-wisilica commented on #313
Mention me, if starting any mobile aplication?

[2018-08-17 07:52] galahad commented on #312
Thats great. Saw your reply to Thomas Issac @RevathiKannanGithub  lets wait for the reply to figure out where the source code is

[2018-08-17 07:52] p5yph3r commented on #308
elif we could make a form, of details of whoever wants to access data with email/sms-verification, and once verified , we could send them the password.

[2018-08-17 07:58] rjdp commented on #295
@ashwinkjoseph here's the map repo https://github.com/aswinmohanme/kerala-flood-map ,they build that to generate min file.  Also we have some discussion going on regarding optimisation on map API on the slack channel

[2018-08-17 08:06] galahad commented on #313
https://play.google.com/store/apps/details?id=in.keralarescue.keralarescue is another app

[2018-08-17 08:06] galahad commented on #312
https://play.google.com/store/apps/details?id=in.keralarescue.keralarescue is another app

[2018-08-17 08:06] galahad commented on #313
https://github.com/IEEEKeralaSection/rescuekerala/issues/312 is the app for rescuers

[2018-08-17 08:07] galahad commented on #312
https://github.com/IEEEKeralaSection/rescuekerala/issues/313 is the app for people to be rescued

[2018-08-17 08:09] godwinjoseph-wisilica commented on #312
Where is the repo/branch ?

[2018-08-17 08:17] nabilnalakath opened #320 "The requests list table fields is not completely visible."
### Subject of the issue
The horizontal scrolling bar at the bottom is not immediately visible.

### Your environment
*Chrome
* Windows

### Steps to reproduce
Go to this link-
https://keralarescue.in/requests/?district=ekm&requestee__icontains=&requestee_phone=&location__icontains=

### Expected behavior
The table should be responsive and all fields should be properly shown.  Adjusting Date colum

[2018-08-17 08:20] bohemianjock opened #321 "To see the Status of issued requests"
### Subject of the issue
The people who have issued a request are not able to see the status of the issue.

### Your environment
*  Python3
* Chrome 68
* Linux

### Steps to reproduce
A message showing the updated information about the actions taken to the raised issue and also provide a message if the raised issue is closed successfully.

### Expected behaviour
NO such functionality seems availab

[2018-08-17 08:23] rauswarn opened #322 "API endpoints for https://keralarescue.in/requests/"
### Subject of the issue
Requesting API endpoints to access requests dataset

### Your environment
python 3
chrome
windows

[2018-08-17 08:25] pranavashok commented on #321
Issue #20 will take care of this.

[2018-08-17 08:27] sanjuwdr commented on #307
at least we can make the details show as a modal rather than a new window.

[2018-08-17 08:27] pranavashok commented on #322
What about https://keralarescue.in/data?

[2018-08-17 08:29] justusrk commented on #320
A quick fix would be to set a max-width. But wouldnt be a good fix.

[2018-08-17 08:31] sanjuwdr commented on #322
@pranavashok the filters available?

[2018-08-17 08:31] bobinson commented on #322
please don't use this for now @pranavashok  - we are seeing db issues. Trying to cache this URL.

[2018-08-17 08:33] agzuniverse opened #323 "Provide english instructions also in modal"
Fixed whenever #150 is merged.

[2018-08-17 08:34] bohemianjock commented on #321
OK. Cool

[2018-08-17 08:35] vigneshhari commented on #307
Could you make the model and show a gif or a screenshot, If it works for Mobile and PC Effectively then we'll merge

[2018-08-17 08:35] athultuttu opened #324 "Add regex support to filter links in Location column in request list view page"
### Subject of the issue
Adding location links from google maps will increase the width of column. Use regex in view itself to remove the entire link from text and display it as an actual hyperlink in one word "Location"

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Display registered requests for any di

[2018-08-17 08:36] rauswarn commented on #322
Any api endpoint headers to request data from a particular district?

[2018-08-17 08:37] pranavashok commented on #321
Could you please close this issue @bohemianjock ?

[2018-08-17 08:37] rauswarn commented on #322
Due to pagination, I am getting a limited number of records.

[2018-08-17 08:37] athultuttu commented on #320
I would suggest to hide the actual google maps link. The link is a string w/o spaces and this is causing increased width in column. Hide link text and make it an actual hyperlink.

[2018-08-17 08:38] naveenpf opened #325 "CAMP requirements"
We need to add another page where we can view information about a camp.

- Need taluk and village options in camp registering.
- Click on a camp name to view additional details
- Text field for "Requirements in Camp"
- Number of people for each gender

Edit: Taluk and village was added

[2018-08-17 08:41] sanjuwdr commented on #314
Need to take care of these too
We should validate it with regex.

https://keralarescue.in/request_details/20390/
https://keralarescue.in/request_details/20387/

![image](https://user-images.githubusercontent.com/36788451/44256630-5cd9c500-a227-11e8-8174-1c897962bf99.png)

[2018-08-17 08:42] sanjuwdr commented on #320
#324 can solve this.

[2018-08-17 08:42] pranavashok commented on #324
I'm unable to reproduce this. There are no google map links coming up when I try it. Screenshot below.

![req](https://user-images.githubusercontent.com/930537/44256657-1c1f8300-a20a-11e8-8655-b97f33b6ca92.png)

[2018-08-17 08:44] salmanulfarzy commented on #320
Screenshot of mentioned issue, Tables with large number of rows are really difficult to navigate.

![image](https://user-images.githubusercontent.com/10276208/44256704-95799e80-a227-11e8-9768-3f162d4975c1.png)

[2018-08-17 08:45] athultuttu commented on #324
![image](https://user-images.githubusercontent.com/6278992/44256821-ea1d1980-a227-11e8-85d6-2d7fa1199a8d.png)

[2018-08-17 08:45] gvmani commented on #320
Same as #297 & #226

[2018-08-17 08:47] galahad commented on #312
@godwinjoseph-wisilica  no clue about the source code.  we have the source code for  https://play.google.com/store/apps/details?id=in.keralarescue.keralarescue join the #mobile-app channel

[2018-08-17 08:48] galahad commented on #313
https://github.com/vmwsree/keralarescueapp source code from Vivek

[2018-08-17 08:48] galahad commented on #312
https://github.com/vmwsree/keralarescueapp source code from Vivek

[2018-08-17 08:48] sanjuwdr commented on #324
There are many links which are affecting the width of the Location field

[2018-08-17 08:48] alokbabu opened #326 "Enable JWT authorization on /data/ API Endpoint."
Could we please authorize /data API endpoint please. This is gonna be hammered when everyone starts using this endpoint to create their own version of map and all other stuff.

[2018-08-17 08:49] gvmani commented on #322
Can we add a scheduler to regularly dump data in AWS S3 or other cheaper blob stores ? Others can then use this for further processing. It will decrease the load on the servers. The blob stores will be able to support the volume/scale of requests.

[2018-08-17 08:49] sanjuwdr commented on #324
@pranavashok  Check the Ernakulam District.

[2018-08-17 08:51] ajitsen commented on #290
Still on it.

[2018-08-17 08:51] #321 closed

[2018-08-17 08:51] galahad opened #329 "Update readme to add information for developers to get started - architecture etc"
Update readme to add information for developers to get started - architecture etc

### Expected behaviour
Readme could list information that new developers joining the github could use to understand the architecture, maintainers etc.

[2018-08-17 08:55] nithinjos commented on #325
Anyone working on it?

[2018-08-17 08:56] storiesbyjerry commented on #320
[code]

[2018-08-17 08:57] Sheikh-Aman commented on #313
Unfortunately, I don't know anything in Fluttr, but only native Android SDK.
If there's a place I can help with my Android SDK programming knowledge, I'd jump in.
I am watching this thread.

[2018-08-17 08:58] gvmani commented on #326
Are you proposing this for throttling the api usage ? Otherwise on what basis will we authorize/deny access to data.

[2018-08-17 09:00] alokbabu opened #331 "URGENT: Search by location does not retain keyword value for paginated pages."
Steps to reproduce:

Search by Location: Chengannur

Click on page 2 (It shows 2 page of all results not chengannur related.)

Steps to take
Add ?district=&requestee__icontains=&requestee_phone=&location__icontains=
parameters on paginated pages.

[2018-08-17 09:00] Sheikh-Aman commented on #312
Native Android Engineer here. Watching this thread for if my skills are needed.
I see the rescue request app's source but it's in Fluttr so I can't help much

[2018-08-17 09:00] galahad commented on #313
#mobile-app is the slack channel for this

[2018-08-17 09:01] galahad commented on #312
#mobile-app is the slack channel for this

[2018-08-17 09:02] lijoantony commented on #309
I will work on this.

[2018-08-17 09:05] Sheikh-Aman commented on #313
The address of the Slack team to join, please?
I am from Bangalore and represent a big Android developer community, I can spread the message there

[2018-08-17 09:07] akshaim opened #333 "Eliminate render-blocking JavaScript and CSS [Helps Mobileview]"
### Subject of the issue
Describe your issue here.
Optimise CSS Delivery.
https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
https://keralarescue.in/static/css/style.16b379ee0f25.css
Inline critical avoid CSS attributes

Reference: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery

### Your environment
* version of your python
* which browser and its version

[2018-08-17 09:07] alokbabu commented on #326
/data endpoint is public now. So literally anyone who has internet access can access this. Since it is pulling all the data at the same time it is gonna eat our dataserver. I am proposing this should be authorized by putting a bearer token on the header to accesss the api. Only flood map and other official sites should use it. This shouldn't be public. And this is vulnerable to DDos attacks as wel

[2018-08-17 09:07] naveenpf commented on #325
join slack for this

[2018-08-17 09:09] biswaz commented on #325
Taluk and village added by me earlier

[2018-08-17 09:10] namboodiri commented on #331
I can work on that.

[2018-08-17 09:11] alokbabu commented on #331
Thanks @namboodiri

[2018-08-17 09:15] sengar23 commented on #85
If we remove bootstrap then the 'Glyphicons Halflings' will also be gone and there won't be any icons. Is that okay?
I suggest to let go of the icons, it will reduce 18kb of total website size.

[2018-08-17 09:15] sanjuwdr commented on #307
@vigneshhari I check  this repo. https://github.com/keaukraine/bootstrap4-fs-modal

[2018-08-17 09:17] godwinjoseph-wisilica commented on #313
Can you provide skype/slack or any other channel or group to interact?

[2018-08-17 09:32] namboodiri commented on #331
I've fixed the issue and made a PR. Please check #334

[2018-08-17 09:36] gvmani commented on #326
@alokbabu, then it should be allowed only to be used by a few apps. Giving out keys to few individuals will cause more issues.  We will need a moderators to decide on permitting access.

[2018-08-17 09:37] sanjuwdr commented on #314
We can use this regex.
@vigneshhari Can we add this?

[2018-08-17 09:38] gvmani commented on #318
There should be a voting/flagging mechanism to address this. Otherwise arbitrarily closing/flagging issues will cause trouble.

[2018-08-17 09:39] vigneshhari commented on #314
The Request was made with no other input by the user hence there is no summary

[2018-08-17 09:39] vigneshhari commented on #314
@sanjuwdr i believe there is a PR for this

[2018-08-17 09:41] jinojossy93 commented on #325
Hi @nithinjos , @biswaz ,

I have started on this.

If anyone started on this other than me. Please DM at slack *_jinojossy93_*

[2018-08-17 09:43] bhavin192 commented on #314
@vigneshhari you are right, here is it, just mentioning it for reference #196

[2018-08-17 09:45] faisalnksaif commented on #318
Yes, we can set a flag, if many people hit it as spam, atleast admin can hide them from the view

[2018-08-17 09:52] rabeesh opened #336 "Migration error in latest master"
Running error on local setup, in Mac (Operating system)

### Steps to reproduce
$ python3 manage.py migrate

[code]

### Expected behaviour
Should run migration on local setup

[2018-08-17 09:52] josephsebk opened #337 "Map Geocoding Errors"
### The Geocoding on the Map seems to be wrong
Locations shown in bangalore, USA and many other places

### Your environment
using on the map

### Steps to reproduce
![image](https://user-images.githubusercontent.com/42460900/44260205-56504b00-a231-11e8-9c7c-e8365f70cec5.png)

### Expected behaviour
Tell us what and how exactly is it supposed to  happen

### Actual behaviour
Tell us what happens i

[2018-08-17 09:55] faisalnksaif opened #338 "No validation for mobile number in request for help page"
There is no any validations given for mobile numbers, lot of spams coming due to this..

[2018-08-17 09:56] naveenpf commented on #325
can you check slack before doing

[2018-08-17 09:57] vinodxyz opened #339 "Is the data on Kerala Rescue updated?"
Guys,

Trying to work with the data from kerala rescue.
Have an urgent question.

I've been checking the data at
https://keralarescue.in/data/

At the time I'm posting this, the latest record is of: 9:53 am IST

But, as I keep refreshing the page, the data gets updated. Is this data getting synchronized?
Would it take time to sync to latest data?

Need urgent advise.
Thanks!

[2018-08-17 09:58] camaheshv commented on #300
@alexmathew sorry for delay in reply. Yes it's required and guess you've added it. I'll check and reply.

Once water is getting under control next important thing is to give support to camps

[2018-08-17 09:58] drtechie commented on #338
#191 #207 #196

[2018-08-17 09:59] lunaroyster commented on #256
Site's live. GUI work needs to be done, but it works. People can start rating requests based on urgency. I'm now working on the endpoint that displays data. At some point, it'd make sense for rescuekerala.in to download the results and show crowdsourced urgency, if it works out.

[2018-08-17 10:00] AlexMathew commented on #300
No, I actually haven't added anything about it. Wanted to know what exactly the requirement is.

[2018-08-17 10:00] msrajesh opened #340 "handling requests for food and other items supply in camps"
### Subject of the issue
How  to   add location of new  relief  camp (  not  sure if all locations  are added  )
How  to ask  for supplies   for a relief camp  ( getting  messages saying large number of people camps  and less supply )
How to add  a camp contact person .

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps t

[2018-08-17 10:01] #340 closed

[2018-08-17 10:03] msrajesh commented on #340
could see  it already handled

[2018-08-17 10:03] #338 closed

[2018-08-17 10:04] faisalnksaif commented on #338
Closing the issue as it is duplicate

[2018-08-17 10:05] camaheshv commented on #300
Thanks for the new link. Who has authority to add details of camp ?

[2018-08-17 10:10] biswaz commented on #336
Rebase

[2018-08-17 10:10] biswaz commented on #336
https://github.com/IEEEKeralaSection/rescuekerala/commit/c2b099ef5b0ad21d83637238c205ea4755a56a4a fixed

[2018-08-17 10:10] #336 closed

[2018-08-17 10:11] rabeesh commented on #336
@biswaz can I retry now ?

[2018-08-17 10:12] abhilal007 commented on #320
the issue seems to be a duplicate wrt #324 requesting to close this

[2018-08-17 10:13] #331 closed

[2018-08-17 10:13] AlexMathew commented on #300
I am not sure about this.

Could you please explain why specifically you require this information? It'll help figure out who is responsible for it.

[2018-08-17 10:14] sachu92 commented on #309
@bobinson Can you please elaborate on '2. Hide a certain URL'?

[2018-08-17 10:14] camaheshv commented on #300
I'll update very soon . Meanwhile https://m.facebook.com/story.php?story_fbid=10156613281332640&id=690677639

[2018-08-17 10:15] ragsagar commented on #339
Feel free to ask around and make a PR with these details.

[2018-08-17 10:16] ragsagar commented on #339
Afaik @biswaz and @vigneshhari can merge and deploy. Can you guys confirm?

[2018-08-17 10:16] camaheshv commented on #300
Name of Camp, Location coordinates, Number of People, Co ordinator name and contact info (could be ward member or so)

[2018-08-17 10:17] vinodxyz commented on #339
We're trying to visualize the areas around kerala where the requests are coming from.
Latest data would be of a lot of help!
Thanks a lot!

[2018-08-17 10:22] lunaroyster opened #343 "I finished the crowdsourced urgency tool. I'll be sharing the data shortly."
Website: https://kerala-crowdsource.itsarnavb.me/

Last thread #256

How it works: You rate reports on the basis of urgency. You can also vote as spam, or skip (if you don't understand the language)

The data is based on submissions on keralarescue.in. I'm caching the data on my side to save bandwidth.

The results look like this:
![image](https://user-images.githubusercontent.com/6189367/44261177

[2018-08-17 10:25] AlexMathew commented on #300
I'll find out about this and let you know.

[2018-08-17 10:27] camaheshv commented on #300
I've list of places in and around Kochi and Thrippunithura in an image. Planning to convert it to a database with gps cordinates.

[2018-08-17 10:28] vigneshhari commented on #339
The Data is updated and The JSON contains all the requests

[2018-08-17 10:28] adamshamsudeen opened #346 "[PRIORITY] I have created a sheet with priority info"
The below sheet has all the info with their status. How can we make use of this info?
This was generated from the /data using https://github.com/adamshamsudeen/Kerala-flood-priority

https://docs.google.com/spreadsheets/d/1GgGKcRBW-9iVTd8KzxK6lgcKIhTE1wflMAAIEhx9wlA/edit#gid=0

[2018-08-17 10:28] vigneshhari commented on #339
The Load on our Servers are Extremely High so please limit the use of our API endpoints

[2018-08-17 10:31] adamshamsudeen commented on #256
Please check #346

[2018-08-17 10:32] Gotham13121997 commented on #346
We can sort the request_details according to this list. Phone number can be used as the key for identification.

[2018-08-17 10:33] adamshamsudeen commented on #346
This sheet does not have have all the info, just the ones that need urgent attention.

[2018-08-17 10:34] Gotham13121997 commented on #346
Then a separate section having only the urgent requests would be a better way

[2018-08-17 10:38] sengar23 commented on #85
We are loading 'Montserrat' font in templates/base.html. Are we loading that external font for any reason? Because I can't find it being used anywhere. Please let me know. Thank you.

[2018-08-17 10:40] criscod commented on #240
I just realised that the values in column 'latlng_accuracy' vary in their format. It can contain, for example:
* A float or integer and the word "Meters" (e.g., ``` 2400 Meters``` or ```98.4000015258789 Meters````
* The word "accurate"
* A new coordinate with parentheses (e.g., ```(10.1099392,76.3286127)```)
* A Google Maps URL

In the last two cases, should this field be used for the position rat

[2018-08-17 10:41] vikramnr commented on #346
@adamshamsudeen  has this been shared with nearby camps or volunteers

[2018-08-17 10:44] kurianbenoy commented on #325
Duplicate of #300

[2018-08-17 10:44] kurianbenoy commented on #325
I am starting work on this issue

[2018-08-17 10:45] camaheshv commented on #343
whats the indication of each ranking. ? A part of request alone is displayed in screen.

example:
"Rescue needed: Close to 100 individuals trapped in the rising waters of the Periyar river..
Other needs:
Request for others"

NB: I'm using a PC

[2018-08-17 10:45] sivaramesh commented on #305
Working on this. Will be adding filters for the following boolean fields in the Request model:
- Need Rescue
- Water
- Food
- Clothing
- Medicine
- Kitchen utensil
- Toiletries.

Choosing the filters based on the checkboxes in the form at https://www.keralarescue.in/request/

[2018-08-17 10:45] prajinprakash4u commented on #85
I think it is better to remove all external fonts. also remove the references.

[2018-08-17 10:47] camaheshv commented on #300
@AlexMathew  naveen got a seperate thread.. can i close this and join there ?

[2018-08-17 10:48] adamshamsudeen commented on #346
@Gotham13121997 It has all the information now, the one with different priorities!

[2018-08-17 10:48] adamshamsudeen commented on #346
@vikramnr No I havent shared it with anyone, please pass this on to the officials.

[2018-08-17 10:49] AlexMathew commented on #300
Yes, absolutely!

[2018-08-17 10:51] camaheshv commented on #300
please proceed and join us on #325  thanks a lot

[2018-08-17 10:51] #300 closed

[2018-08-17 10:52] lunaroyster commented on #343
![image](https://user-images.githubusercontent.com/6189367/44262680-88fe4180-a239-11e8-8ed6-f88b2474fdfd.png)
Do you mean these?

The last four are for the urgency. If you don't understand a request, you can skip it. If you think a request is spam (If the fields contain words like 'testing'), you hit the second button.

[2018-08-17 10:56] tusharpl commented on #343
What if the fields are blank should I put it as spam or skip it.

[2018-08-17 10:59] devvb opened #348 "Relief Camps list does not seem to work"
### Subject of the issue
https://keralarescue.in/relief_camps does not return any results.

### Your environment
Environment independent issue.

### Steps to reproduce
Just go to https://keralarescue.in/relief_camps and select any district.

### Expected behaviour
The up-to-date list of relief camps in each district should be shown.

### Actual behaviour
Nothing is displayed.

[2018-08-17 11:01] bobinson commented on #329
1. architecture :

PostgreSQL RDS instance on AWS on T2.X2Large Instance (Availability region, zone : to be identified)
Django App on Heroku
Web Server, Caching etc - to be documented

Heroku URL : https://keralarescue.herokuapp.com/

2. Python Version 3

3. Caching and CDN - mostly cloudflare and CSS/JS etc from various CDNs

[2018-08-17 11:01] realslimshanky commented on #333
I've fixed this issue in #349. Please review.

[2018-08-17 11:03] #339 closed

[2018-08-17 11:05] lunaroyster commented on #343
Skip. Spam's for stuff that explicitly looks like spam

[2018-08-17 11:06] saifali40 opened #350 "donation options - Request for a change."
### Subject of the issue
Please add the CM relief fund options if possible, will be helpful if you add the tezID

### Your environment
* version of your python
* which browser and its version
* OS Type (iOS/Android/Linux/Windows)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo as a GIF, if possible.

### Expected behaviour
Tell us what and how exactly is